
{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item " id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Forgot password</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
             {% if user is defined and  user.email is defined %}
                <span class="kt-subheader__desc">{{ user.email }} </span>
            {% endif %}

        </div>
    </div>
    <!-- end:: Content Head -->


    {% set error  = 0 %}
    {% if fgpwd is defined and fgpwd.failure is defined %}
        {% set error  = 1 %}
    {% endif %}

    <!-- begin:: Password Reset Error  -->
    <div class="alert alert-danger alert-dismissible fade {{error == '1'? "show" : "kt-hide"}}"  id="p-alert" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{error == 1? fgpwd.failure : " "}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: error -->

    {% set success  = 0 %}
    {% if fgpwd is defined and fgpwd.success is defined %}
        {% set success  = 1 %}

        <!--begin:alert -->
        <div class="alert alert-light alert-elevate fade {{success == '1'? "show" : "kt-hide"}}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{fgpwd.success}} <br><span style="color: #ff0000">Please Note :</span> Link expires in <span id="timer"></span> minutes</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!--end:alert -->
    {% endif %}


    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <div class="kt-grid__item kt-grid__item--fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Forgot Password<small>Enter Email to reset your password</small></h3>
                                </div>
                            </div>
                            <!--Begin:: Form label-->
                            <form class="kt-form kt-form--label-right" action={{ path('auth.processforgotpassword') }} method="post">
                                <input type="hidden" name="_csrf_token"  value="{{ csrf_token('fgpw') }}">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <div class="col-lg-3 col-xl-3"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="email" class="form-control" name="email"  placeholder="Email Address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Begin:: Buttons-->
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3"></div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-bold">Submit</button>&nbsp;
                                                <a href="{{ path('auth.getSigninScreen') }}"><button type="button" class="btn btn-secondary">Back to Login</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End:: Buttons-->
                            </form>
                            <!--End:: Form label-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}
    <script>
        var timer2 = "15:01";
        var interval = setInterval(function() {


            var timer = timer2.split(':');
            //by parsing integer, I avoid all extra string processing
            var minutes = parseInt(timer[0], 10);
            var seconds = parseInt(timer[1], 10);
            --seconds;
            minutes = (seconds < 0) ? --minutes : minutes;
            if (minutes < 0) clearInterval(interval);
            seconds = (seconds < 0) ? 59 : seconds;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            //minutes = (minutes < 10) ?  minutes : minutes;
            $('#timer').html(minutes + ':' + seconds);
            timer2 = minutes + ':' + seconds;
        }, 1000);
    </script>

{% endblock %}

