{% extends "app.twig" %}
{% block title %}Login{% endblock %}

{% block content %}


    <!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">

                    <div style="" class="kt-login__logo">
                        <a href="#">
                            <img src="{{ imgurl }}/cio/marketing-in-one_logo_white.svg">
                        </a>
                    </div>

                    <!-- begin:: signin -->
                    <div class="kt-login__signin" id="l-login">
                        <form class="kt-form" method="post">
                            {# User defined error. #}
                            {# fetches the error varaible from the url. #}

                            {% if user_msg is defined and user_msg is not empty %}
                                <div class="alert fade
                                     {% if (user_msg.class is defined) %}
                                        {{ user_msg.class }} show
                                     {% else %}
                                         kt-hide
                                     {% endif %}
                                     "
                                     role="alert"
                                     style="margin-top:45px">
                                    <div class="alert-icon">
                                        {% if (user_msg.status is defined and user_msg.status == "success") %}
                                            <i class="far fa-check-square"></i>
                                        {% else %}
                                            <i class="flaticon2-warning"></i>
                                        {% endif %}
                                    </div>
                                    <div class="alert-text">{{ user_msg.msg is defined ? user_msg.msg : "Login failed" }}</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}

                            {# login / logoff error #}
                            {# error from authentication utils bundle. #}
                            {# Donot modify to define user / logic defined error. #}
                            {% if error is defined and error.messageKey is defined and error.messageData is defined %}
                                <div class="alert alert-danger fade {{ ( error.messageData is defined ) ? "show" : "kt-hide" }}"
                                     role="alert"
                                     style="margin-top:45px">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    {% if error.messageKey is defined and error.messageData is defined %}
                                        <div class="alert-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}

                            {# activation error #}
                            {% if activationerror is defined %}
                                <div class="alert alert-danger fade {{ ( activationerror is defined ) ? "show" : "kt-hide" }}"
                                     role="alert"
                                     style="margin-top:45px">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    {% if activationerror %}
                                        <div class="alert-text">{{ activationerror|trans(activationerror, 'security') }}</div>
                                    {% endif %}
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}



                            {% if app.user %}
                                <div class="mb-3 alert alert-info fade {{ (app.user.username is defined)  ? "show" : "kt-hide" }}">
                                    You are logged in as {{ app.user.username }}
                                    {#<a href="{{ path('auth.signout') }}">&nbsp;Logout</a>#}
                                    <a href="{{ path('auth.signout') }}">&nbsp;Logout</a>
                                </div>
                            {% endif %}

                            <label for="inputEmail"></label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   placeholder="email address"
                                   class="form-control" required autofocus>
                            <label for="inputPassword"></label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="password" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="row kt-login__extra">
                                <div class="col">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" name="remember"> Remember me
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col kt-align-right">
                                    <a href="{{ path('auth.forgotpassword') }}" id="" class="kt-login__link">Forgot
                                        Password ?</a>
                                </div>
                            </div>

                            <div class="kt-login__actions">
                                <button id="signin" name="submit" type="submit"
                                        class="btn btn-brand btn-elevate kt-login__btn-primary">Login
                                </button>
                                <!--<button style="cursor:pointer;" class="btn btn--icon login__block__btn" id="signin" name="submit" type="submit"><i class="fas fa-sign-in-alt"></i></button>-->
                            </div>

                            <div class="kt-login__account">
                                        <span class="kt-login__account-msg">
                                            Don't have an account yet ?
                                        </span>&nbsp;&nbsp;
                                <a href="{{ absolute_url('/') }}signup" id=""
                                   class="kt-link kt-link--light kt-login__account-link">Register</a>
                            </div>

                        </form>

                    </div>
                    <br>
                    <div class="alert alert-danger d-none" role="alert" id="alert-geoLocation" style="flex-direction: column;">
                        <h4 class="alert-heading">Service not available !</h4>
                        <span> Currently this service is not available  in your country.
                            Please contact our <a href =https://treaction.atlassian.net/servicedesk/customer/portal/2">Customer Service</a> for further quires. </span>
                    </div>
                    <!-- end:: signin -->

                    {# {% if failed_login %}
                       <div class="is-invalid alert alert-primary login-alert" role="alert" style="color:#721c24; background-color: #f8d7da">
                           {{ failed_login }}
                       </div>
                   {% endif %}

                   {% if user_blocked %}
                       <div class="alert alert-primary login-alert" role="alert" style="color:#721c24; background-color:#f8d7da">
                           {{ user_blocked }}
                       </div>
                   {% endif %}

                   {% if message %}
                       <div class="alert alert-primary login-alert" role="alert" style="color:#721c24; background-color: #f8d7da">
                           {{ message }}
                       </div>
                   {% endif %}                                                 #}

                </div>

                {#
                {% set suc_flag  = 0 %}
                {% set err_flag  = 0 %}
                {% if errors|length %}
                    {% set err_flag  = 1 %}
                    {% set error_msg = error %}
                {% endif %}
    #}
                <!-- begin:: warnings  -->
                {#
                <div class="alert alert-danger fade {{ ( error is defined ) ? "show" : "kt-hide" }}" role="alert"
                     style="margin-top:45px">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    {% if error %}
                    <div class="alert-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
                #}
                <!-- end:: warnings -->
                {#
                                {% set fgpwd = [] %}
                                {% set success = [] %}

                                {% if fgpwd|length %}
                                    {% set suc_flag  = 1 %}
                                    {% set success_msg = fgpwd.success %}
                                {% endif %}
                                {% if success|length %}
                                    {% set suc_flag  = 1 %}
                                    {% set success_msg = success %}
                                {% endif %}
                                <!--begin:alert -->
                                <div class="alert alert-light alert-elevate fade {{suc_flag == '1'? "show" : "kt-hide"}}" role="alert" style="margin-top:45px">
                                    <div class="alert-icon"><i class="far fa-check-square"></i></div>
                                    <div class="alert-text">some message</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <!--end:alert -->

            </div>
            #}
            </div>
        </div>
    </div>
</div>

<div class="stars"></div>
<div class="twinkling"></div>

{% endblock %}

{% block javascripts %}
<script src="//geoip-js.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
<script type="text/javascript">
    let getGeoLocation = ( function () {
        let geoBlockingCountries = ['de', 'aut', 'che'];

        let onSuccess = function (geoipResponse) {

            /* There's no guarantee that a successful response object
             * has any particular property, so we need to code defensively. */
            if ( !geoipResponse.country.iso_code ) {
                console.log ( 'failed to get iso_code' );
                return;
            }


            /* ISO country codes are in upper case. */
            let code = geoipResponse.country.iso_code.toLowerCase ();
            if ( !geoBlockingCountries.includes ( code ) ) {
                $ ( '#inputEmail' ).prop ( "disabled", true );
                $ ( '#inputPassword' ).prop ( "disabled", true );
                $('#alert-geoLocation').removeClass('d-none');
                $('div.kt-login__account').hide();
                $('div.kt-login__extra').hide();
                $('#signin').hide();
            } else {
                $ ( '#inputEmail' ).prop ( "disabled", false );
                $ ( '#inputPassword' ).prop ( "disabled", false );
            }
        };

        /* We don't really care what the error is, we'll send them
         * to the default site. */
        const onError = function (error) {
            console.log ( 'getGetLocation error :', error );
        };

        geoip2.country ( onSuccess, onError );
    } );

    getGeoLocation ();

    console.log('{{ imgurl }}')
</script>
{% endblock %}