{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Account Registration</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            {# <span class="kt-subheader__desc">{{ usr_signup.acc_name }} </span> #}

        </div>

    </div>
    <!-- end:: Content Head -->
    <!-- begin:: Content -->

    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">

                {# {% if password_policy is defined %} #}
                <!--begin:Password Policy Alert -->
                <div class="alert alert-danger alert-elevate fade " id="p-alert" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">
                        <label class="col-xl-3 col-lg-3 col-form-label">Given password does not match with <b>Password
                                policy</b></label>
                        <div class="col-lg-9 col-xl-6">
                            <ul>
                                <li>Must have at a minimum <i>12 characters </i></li>
                                <li>Must include at least one (1) <i>uppercase character</i></li>
                                <li>Must include at least one (1) <i>lowercase character</i></li>
                                <li>Must include at least one (1) <i>number</i></li>
                                <li>Must include at least two (2) <i>special character</i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
                {# {% endif %} #}


                <!-- begin:: warnings  -->
                {% if error is defined %}
                    <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}"
                         role="alert">
                        <div class="alert-icon"><i class="flaticon-warning"></i></div>
                        <div class="alert-text">{{ error }}</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <!-- end:: warnings -->


                <!--begin:alert -->
                {% if success is defined %}
                    <div class="alert alert-light alert-elevate fade {{ success|length ? "show" : "kt-hide" }}"
                         style="background: #7abe73"
                         role="alert">
                        <div class="alert-icon"><i class="far fa-check-square" style="color: white"></i></div>
                        <div class="alert-text" style="color: white">{{ success }}</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <!--end:alert -->


                <!--end:alert -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Create your account</h3>
                                </div>
                            </div>

                            <form class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Salutation</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control" id="name3" name="salutation">
                                                        <option class="select-option" value="Mr">Mr</option>
                                                        <option class="select-option" value="Mrs">Mrs</option>
                                                        <option class="select-option" value="Mx">Mx</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" value="{# {{usr_signup.first_name}} #}"
                                                           name="first_name" pattern="(^[A-Za-z \.\-\u00c0-\u01bf]{2,50}$)" type="text" required>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" value="{# {{usr_signup.last_name}} #}"
                                                           name="last_name" pattern="(^[A-Za-z \.\-\u00c0-\u01bf]{2,50}$)" type="text" required>
                                                </div>
                                            </div>

                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('register') }}">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text">@</span>
                                                        </div>
                                                        <input class="form-control" value="{# {{usr_signup.email}} #}"
                                                               name="email" type="email" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"> </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="checkbox" id="permission" name="permission" required>
                                                    <small>&nbsp;&nbsp;Ich erkläre mich mit den <a
                                                                href="https://treaction.net/rechtliches/#agb"
                                                                target="_blank">AGB</a> und
                                                        <a href="https://treaction.net/datenschutz/"
                                                           target="_blank">Datenschutzbestimmungen</a>
                                                        der treaction AG, Kurfürstenstr. 1, 34117 Kassel, einverstanden.
                                                        Ich
                                                        bin
                                                        einverstanden, dass die treaction AG meine eingetragenen Daten
                                                        nutzt
                                                        und
                                                        mir
                                                        E-Mails
                                                        zuschickt bzw. mich anruft, um mir Angebote/Beratung zu den
                                                        Bereichen
                                                        Lead-Generierung, Marketing-Automation oder E-Mail-Marketing
                                                        zukommen zu
                                                        lassen.
                                                        Diese Einwilligung kann ich jederzeit widerrufen, etwa durch
                                                        einen
                                                        Brief
                                                        an
                                                        die oben
                                                        genannte Adresse oder durch eine E-Mail an <a
                                                                href="mailto:widerruf@treaction.net">widerruf@treaction.net</a>.
                                                        Anschließend wird jede werbliche Nutzung unterbleiben.</small>
                                                </div>
                                            </div>


                                            {# Modified due to change in the flow #}
                                            {# <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Password</label>
                                            #}{# pattern="(?=.*\d)(?=.*[^a-zA-Z0-9]{1,})(?=.*[a-z])(?=.*[A-Z]).{12,}" #}{#
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control pw" value="" name="password"
                                                       type="password"
                                                       pattern="(?=.*\d)(?=.*[^a-zA-Z0-9]{1,})(?=.*[a-z])(?=.*[A-Z]).{12,}"
                                                       title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 12 or more characters"
                                                       required>
                                                <div style="font-size: x-small">Your Password must contain at least <b>one number</b>, <b>one uppercase</b>, <b>one lowercase letter</b> and <b>one special character</b>, and at minimum 12 characters.&nbsp;<span id="pwlen" style="font-size: x-small"></span></div>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Confirm Password</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control pw" value="" name="c_password"
                                                       type="password"
                                                       pattern="(?=.*\d)(?=.*[^a-zA-Z0-9]{1,})(?=.*[a-z])(?=.*[A-Z]).{12,}"
                                                       title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 12 or more characters"
                                                       required>
                                            </div>
                                        </div> #}
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button id="register" name="submit" type="submit"
                                                        class="btn btn-brand btn-elevate kt-login__btn-primary">Register
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $ ( document ).ready ( function () {

            // check first name, last name entry
            $('input[pattern^="("]').on('blur', function(event) {
                var pattern = $(this).attr('pattern');
                var val = $(this).val();
                var customfield = new RegExp(pattern);
                $result = customfield.exec(val);
                if ($result === null || $result.indexOf(val) === -1 ) {
                    $(this).val('').text('').css('border-color', 'darkred').css('color', 'inherit');
                    $('button#register').prop('disabled', true);
                } else {
                    $(this).css('border-color', 'rgb(226, 229, 236)').css('color', 'inherit');
                    $('button#register').prop('disabled', false);
                }
            })


            $ ( '#p-alert' ).hide ()
            // Check for Submit
            $ ( "form" ).submit ( function (e) {

                let status = true;
                // convert form elements to Objects
                const f_obj = $ ( 'form' ).getForm2obj ();

                if ( !validatePassword ( f_obj.password ) ) {
                    $ ( '#p-alert' ).addClass ( "show" );
                    $ ( '#p-alert' ).show ();
                    e.preventDefault ();
                }
                //match new and verify password
                if ( status === false || !matchPassword ( f_obj.password, f_obj.c_password ) ) {
                    status = false;
                }

                // Show error
                if ( !status ) {
                    $ ( '#p-alert' ).addClass ( "show" );
                    $ ( '#p-alert' ).show ();
                    e.preventDefault ();
                }

            } );

            jQuery ( "input.pw" ).on ( 'change, keyup', function () {
                var str = jQuery ( this ).val ();
                var patternstring = jQuery ( this ).attr ( 'pattern' );
                var patt = new RegExp ( patternstring );
                var res = patt.test ( str );

                console.log ( str + '(' + str.length + ') = ' + res );
                if ( res ) {
                    jQuery ( this ).css ( 'border-color', 'green' );
                } else {
                    jQuery ( this ).css ( 'border-color', 'red' );
                }

                jQuery ( 'span#pwlen' ).text ( '(' + str.length + ' / min. 12)' );
            } );

            /**
             * validatePassword
             */
            // function validatePassword(p1) {
            //     let status = false;
            //     // let regex = new RegExp('((?=.*d)(?=.*[a-z])(?=.*[A-Z]).{8,15})');
            //     let regex = new RegExp('(?=.*\\d)(?=.*[^a-zA-Z0-9]{2,})(?=.*[a-z])(?=.*[A-Z]).{12,}');
            //     //Match 8 to 15 character string with at least one upper case letter, one lower case letter, and one digit.
            //     if(regex.test(p1)) {
            //         status = true;
            //     }
            //
            //     return status;
            // }
            /* matchPassword
             *
             * @param {string} $p1
             * @param {string} $p2
             * @returns {undefined}
             */
            function matchPassword(p1, p2) {
                let status = false;
                if ( ( p1 == '' || p1.length <= 1 ) || ( p1 == '' || p1.length <= 1 ) ) {
                    return false;
                }
                if ( p1 === p2 ) {
                    status = true;
                }
                return status;
            }

        } );
    </script>
{% endblock %}
