{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title" title="check the current status of shopdata synchronisation">Advertorials</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">{{ account }}</span>
        </div>
    </div>
    <!-- end:: Content Head -->


    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
                <!-- Begin - Advertorials - Full Text Search Input -->
                <li class="nav-item">
                    {# <input class="form-control inbox-monitor-fulltextsearch" placeholder="Search" type="text" id="advertorialsSearch">  #}
                    <button id="createAdvertorial" class="btn btn-brand btn-elevate btn-icon-sm" type="button" data-redirect="{{ path('advertorialWizard')|base64encode }}" >Create Advertorial</button>
                </li>
                <!-- End - Advertorials - Full Text Search Input -->
            </ul>
        </div>


        <!--begin:sub-control menu -->
        <div style="" class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
                    {# Search #}

                    <li class="nav-item">
                        <input class="form-control inbox-monitor-fulltextsearch" placeholder="Search" type="text" id="advertorialsSearch">
                    </li>

                    <!-- Begin - Filter SeedPool-Group -->
                    <li class="nav-item">
                        <!-- Dropdown SeedPool-Group -->
                        <select id="seedpoolgroup_select" class="btn btn-secondary dropdown-toggle form-control dropdown-advertorial filter" type="button" aria-haspopup="true" aria-expanded="true">
                            <option id="seedpoolgroup_header" class="form-control dropdown-shopqueustatus-item" value="0"  selected>SeedPool-Group</option>
                            {% for name in seedPoolGroups %}
                            <option id="seedpoolgroup_{{ name }}" class="form-control dropdown-advertorial-item" value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <!-- End - Filter SeedPool-Name -->

                    <!-- Begin - Filter Date - Year -->
                    <li class="nav-item">
                        <!-- Dropdown Filter Date - Year -->
                        <select id="year_select" class="btn btn-secondary dropdown-toggle form-control dropdown-advertorial filter" type="button" aria-haspopup="true" aria-expanded="true">
                            <option id="year_header" class="form-control dropdown-advertorial-item" value="0" selected>Year</option>
                            {% for year in updatedYear %}
                            <option id="year_{{ year }}" class="form-control dropdown-advertorial-item" value="{{ year }}">{{ year }}</option>
                            {% endfor %}

                        </select>
                    </li>
                    <!-- End - Filter Date - Year -->

                    <!-- Begin - Filter Date - Month -->
                    <li class="nav-item">
                        <!-- Dropdown Filter Date - Month -->
                        <select id="month_select" class="btn btn-secondary dropdown-toggle form-control dropdown-advertorial filter" type="button" aria-haspopup="true" aria-expanded="true">
                            <option id="month_header" class="form-control dropdown-advertorial-item" value="0"  selected>Month</option>
                            {% for month in updatedMonth %}
                                <option id="month_{{ month }}" class="form-control dropdown-advertorial-item" value="{{ month }}">{{ month }}</option>
                            {% endfor %}

                        </select>
                    </li>
                    <!-- End - Filter Date - Year -->

                    <!--begin: filter button -->
                    <button id="clearFilters" type="button" class="btn btn-brand btn-elevate btn-icon-sm">Clear Filters</button>
                    <!--end: filter button -->


                </ul>
            </div>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->



    <!-- begin:: Content -->
    <div id="kt_content" class="kt-content  kt-grid__item kt-grid__item--fluid page-advertorial-overview">

        {% if leads is defined and leads.error_leads %}
            <!-- begin:: warnings  -->
            <div class="alert alert-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.error_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!-- end:: warnings -->

        <!--begin:alert -->
        {% if leads is defined and leads.notify_leads %}
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.notify_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!--end:alert -->
        <!-- end:: warnings -->

        <!-- BEGIN "DUMMY" DESIGN EXAMPLE - Advertorials Table -->
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                {% if advertorialRecords |length > 0 %}
                <table id="advertorialTable" class="table  table-striped table-bordered table-hover table-checkable" >
                    <thead>
                    <tr class="headerrow">
                        <!-- COLUMN #1 - Object.Updated Label Updated -->
                        <th id="advertorialTableUpdated" class="standard_fields"><b>Updated</b></th>
                        <!-- COLUMN #2 - Object.Name Label Name -->
                        <th id="advertorialTableName" class="standard_fields"><b>Name</b></th>
                        <!-- COLUMN #3 - Object.Name Label SeedPool -->
                        <th id="advertorialTableID" class="standard_fields" title="Object Register ID"><b>ID</b></th>
                        <!-- COLUMN #4 - Inbox-Monitor.SenderAlias Label SenderAlias -->
                        <th id="advertorialTableSeedPoolGroup" class="standard_fields"><b>SeedPool-Group</b></th>
                        <!-- COLUMN #5 - Inbox-Monitor.SenderAddress Label SenderAddress -->
                        <th id="advertorialDescription" class="standard_fields"><b>Description</b></th>
                        <!-- COLUMN #6 - Inbox-Monitor.ReceivedEmails Label ReceivedEmails -->
                        <th id="advertorialStartDate" class="standard_fields"><b>Start Date</b>
                        <!-- COLUMN #7 - Inbox-Monitor.InboxEmails Label InboxEmails -->
                        <th id="advertorialEndDate" class="standard_fields"><b>End Date</b></th>
                        <!-- COLUMN #8 - Actions including: Preview Original, Preview Pics Extracted, Preview Clean, Download Original, Download Pics extracted, Download Clean -->
                        <th id="Actions" class="standard_fields"><b>Actions</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ad in advertorialRecords %}
                    <tr id="advertorial_{{ ad.id }}" class="filter {{ ad.seed_pool_group_name }} {{ad.updated |split(' ')[0]|split('-')[0]}} {{ad.created |split(' ')[0] |split('-')[1]}}" data-file_name_html="{{ ad.file_name_html }}" data-seed_pool_group_id="{{ ad.seed_pool_group_id }}">
                        <!-- COLUMN #1  -->
                        <td id="advertorial_name_{{ ad.id }}" class="standard_fields" title="created {{ ad.created }}">{{ ad.updated }}</td>
                        <!-- COLUMN #2  -->
                        <td id="advertorial_name_{{ ad.id }}" class="standard_fields" title="Upload-Filename: {{ ad.file_name_html }}">{{ ad.advertorial_name }}</td>
                        <!-- COLUMN #3  -->
                        <td id="id_{{ ad.id }}" class="standard_fields" title="ObjectUnique-ID: {{ ad.object_unique_id }}, Ad#{{ ad.id }}">{{ ad.objectregister_id }}</td>
                        <!-- COLUMN #4  -->
                        <td id="seed_pool_group_name_{{ ad.seed_pool_group_id }}" class="standard_fields" title="SPG#{{ ad.seed_pool_group_id }}">{{ ad.seed_pool_group_name }}</td>
                        <!-- COLUMN #5  -->
                        <td id="advertorial_description_{{ ad.id }}" class="standard_fields">{{ ad.advertorial_description }}</td>
                        <!-- COLUMN #6  -->
                        <td id="advertorial_begin_date_{{ ad.id }}" class="standard_fields">{{ (ad.advertorial_begin_date | split(' ')[0] != '0000-00-00' )? ad.advertorial_begin_date | split(' ')[0] : '' }}</td>
                        <!-- COLUMN #7  -->
                        <td id="advertorial_end_date_{{ ad.id }}" class="standard_fields">{{ (ad.advertorial_end_date | split(' ')[0] != '0000-00-00') ? ad.advertorial_end_date | split(' ')[0] : '' }}</td>
                        <!-- Begin: Actions -->
                        <td id="" class="Actions standard_fields">
							 <span class="dropdown">
								 <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
									 <i class="la la-ellipsis-h" style="font-size: 24px"></i>
								 </a>
								 <div class="dropdown-menu dropdown-menu-right">
                                     {# ACTION  - Preview ORIGINAL ADVERTORIAL   #}
									 <button id="content_uploaded_html_file_preview_{{ ad.id }}" type="button" class="dropdown-item content_uploaded_html_file preview" data-prefix="uploaded-html-file-" data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_uploaded_html_file }}"><i class="fa fa-search-plus"></i>Preview Original HTML</button>
                                     {#  ACTION - Preview PICS EXTRACTED ADVERTORIAL   #}
                                     <button id="content_extract_images_preview_{{ ad.id }}" class="dropdown-item content_extract_images preview" data-prefix="extract-images-" data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_extract_images }}"  title="was soll hier passieren:nur die Bilder anzeigen oder das HTML mit den ersetzen Image-ULRs???"><i class="fa fa-search-plus"></i>Preview Pics Extracted</button>
                                     {#  ACTION  - Preview INLINECSS  #}
                                     <button id="content_inline_css_preview_{{ ad.id }}" class="dropdown-item content_inline_css preview" data-prefix="inline-css-"  data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_inline_css }}" ><i class="fa fa-search-plus"></i>Preview Inline Css HTML</button>
                                     {#  ACTION  - Preview CLEAN ADVERTORIAL  #}
                                     <button id="content_clean_html_preview_{{ ad.id }}"class="dropdown-item content_clean_html preview" data-prefix="clean-html-"  data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_clean_html }}"  ><i class="fa fa-search-plus"></i>Preview Clean HTML</button>
                                     <hr>
                                     {#  ACTION - Download Original Advertorial   #}
                                     <button id="content_uploaded_html_file_download_{{ ad.id }}" class="dropdown-item content_uploaded_html_file_download download" data-created="{{ ad.created |split(' ')[0] }}" data-prefix="uploaded-html-file-" data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_uploaded_html_file }}"><i class="fa fa-download"></i>Download Original HTML</button>
                                     {#  ACTION - Download Pics Extracted Advertorial   #}
                                     <button id="content_extract_images_download_{{ ad.id }}" class="dropdown-item content_extract_images_download download" data-created="{{ ad.created |split(' ')[0] }}" data-prefix="extract-images-"  data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_extract_images }}"><i class="fa fa-download"></i>Download Pics extracted</button>
                                     {#  ACTION - Download Pics Extracted Advertorial   #}
                                     <button id="content_inline_css_download_{{ ad.id }}" class="dropdown-item content_inline_css_download download" data-created="{{ ad.created |split(' ')[0] }}" data-prefix="inline-css-"  data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_inline_css }}"><i class="fa fa-download"></i>Download Inline Css HTML</button>
                                     {#  ACTION  - Download Clean Advertorial   #}
                                     <button id="content_clean_html_download_{{ ad.id }}" class="dropdown-item content_clean_html_download download"  data-created="{{ ad.created |split(' ')[0] }}" data-prefix="clean-html-" data-filenamehtml="{{ ad.file_name_html }}" data-filenamezip="{{ ad.file_name_zip }}"  data-content="{{ ad.content_clean_html }}"><i class="fa fa-download"></i>Download Clean HTML</button>
                                     <hr>
                                     <button id="start_advertorial_wizard" class="dropdown-item content_clean_html_download editadvertorial"  data-route="{{ path('advertorialEdit', {'advertorial_id' : ad.id}) | base64encode }}"><i class="fa fa-wrench"></i>Start Wizard</button>
                                     <hr style="margin-bottom: 1rem">
                                     <button id="delete_advertorial" class="dropdown-item content_clean_html_download deleteadvertorial"  data-route="{{ path('advertorialDelete', {'objectregister_id': ad.objectregister_id}) | base64encode }}"><i class="fa fa-trash"></i>Delete Advertorial</button>
								 </div>
							 </span>
                        </td>
                        <!-- END: Actions -->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <table id="advertorialTable" class="table  table-striped table-bordered table-hover table-checkable" >
                    <thead>
                    <tr class="headerrow">
                        <!-- COLUMN #1 - Object.Updated Label Updated -->
                        <th id="advertorialTableUpdated" class="standard_fields"><b>No Advertorials</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>up to now there was no advertorial created</td></tr>
                    </tbody>
                </table>
                {% endif %}

                <div hidden="" id="tbody_dropdown_template">
                    <span class="dropdown">
                        <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"></div>
                    </span>
                </div>

                <div id="pagination_bar">
                    <nav  aria-label="Page navigation example" id="pagination_nav_bar">
                        <ul class="pagination pagination-shopdataqueue" id="paginationUl">
                            <li class="page-item" id="previous">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active" id="page_1"><a class="page-link" href="#">1</a></li>
                            <li class="page-item" id="next">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- END DUMMY DESIGN EXAMPLE -->

    </div>




{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {

            {#  encode a Unicode string to a string in which each 16-bit unit occupies only one byte  #}
            function uBtoa(str) {
                return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g,
                        function toSolidBytes(match, p1) {
                            return String.fromCharCode('0x' + p1);
                        }));
            }

            {#  decode a Unicode string to a string in which each 16-bit unit occupies only one byte  #}
            function uAtob(str) {
                return decodeURIComponent(atob(str).split('').map(function (c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));
            }


            {#  encodes HTML strings (or files) to HTML Entities for showing the content in correct format in code elements  #}
            String.prototype.toHtmlEntities = function () {
                return this.replace(/./gm, function (s) {
                    return (s.match(/[a-z0-9\s]+/i)) ? s : "&#" + s.charCodeAt(0) + ";";
                });
            };

            {# start advertorial wizard #}
            $('button#createAdvertorial').on('click', function() {
                let redirect = atob($(this).data('redirect'));
                console.log('redirect', redirect);
                $(location).attr('href', redirect);
            })

            {# HTML PREVIEW #}
            $('button.preview').on('click', function(){
                var newWindow = window.open("", "", "width=600,height=800");
                newWindow.document.write(uAtob($(this).data('content')));
                newWindow.focus();
            })

            {# HTML DOWNLOAD #}
            $('button.download').on('click', function() {
                let $content = uAtob($(this).data('content'));
                let $filename = $(this).data('created') + '-' + $(this).data('prefix') + $(this).data('filenamehtml');
                console.log('$filename', $filename);
                download($filename, $content);
            })

            {# HTML DOWNLOAD #}
            function download(filename, text) {
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(text));
                element.setAttribute('download', filename);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            }

            {# FILTER TEXT INPUT #}
            $("input#advertorialsSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('select.filter').removeClass('selected'); // remove class selected from all filter buttons
                $("table#advertorialTable tr.filter").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            {# PRESS THE CLEAR FILTER BUTTON #}
            $('button#clearFilters').on('click', function (){
                clearDropdownFilters();
                $('input#advertorialsSearch').val('');
                $('input#advertorialsSearch').trigger('keyup');
            })

            {#  press button start wizard in action menu #}
            $('button.editadvertorial').on('click', function (){
                let $route = atob($(this).data('route'));
                window.location.replace($route);

            })

            {#  press button delete advertorial in action menu #}
            $('button.deleteadvertorial').on('click', function (){

                let $route = atob($(this).data('route'));
                $.get( $route, function( data ) {
                    window.location.reload();
                    console.log('data', data);
                });

            })


            {# CLEAR ALL DROPDOWN SELECT FILTERS #}
            function clearDropdownFilters() {
                $( 'select.filter').each(function(i,j){
                    let $val = $(j).val();
                    if($val !== 0) {
                        $(j).val(0);
                    }
                })
            }


            {#  TODO:   check this code and hide/ show corresponding tr  #}
            $('select.filter').on('change', function () {

                {# clear input#advertorialsSearch #}
                console.log('clear input#advertorialsSearch');

                $currentSelection = $(this).val();
                console.log('current selection', $currentSelection);

                clearDropdownFilters();
                $(this).val($currentSelection);

                var $filterClass = $(this).val();
                var $displayAll = true;


                if ($filterClass === 0) {
                    $(this).removeClass('selected');
                    $displayAll = true;
                } else {
                    $('select.filter :checked').removeClass('selected'); // remove class selected from all filter buttons
                    $(this).addClass('selected');
                    $displayAll = false;
                }

                $('#advertorialTable tr').each(function (i, row) {

                    if ($displayAll) {

                        if (!$(row).hasClass('headerrow')) {
                            $(row).css('display', 'table-row');
                        }

                    } else {

                        if ($(row).hasClass($filterClass) || $(row).hasClass('headerrow')) {
                            $(row).css('display', 'table-row');
                        } else {
                            $(row).css('display', 'none');
                        }

                    }
                })

            });

        })
    </script>


{% endblock %}

