{% extends "app.twig" %}

{% block pagehead %}
    <style>
        code#fileUploadCode,
        code#imgProcessLog,
        code#newImgHtml,
        code#cleanHtml{
            max-height: 200px;
            font-size: xx-small;
        }

        code#imgProcessLog p {
            font-size: xx-small;
        }

        code#imgProcessLog p.okay,
        code#imgProcessLog p span.okay {
            color: #497245;
        }

        code#imgProcessLog p.bad,
        code#imgProcessLog p span.bad {
            color: darkred;
        }



        div.btn:hover,
        button:hover {
            border-color: #497245 !important;
            background-color: #497245 !important;
            color: white !important;
        }

        .code-wrapper {
            justify-content: left;
        }

        .cna {
            cursor: not-allowed;
        }

        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

        {# CHECKBOX STYLE #}
        .marignl30 {
            margin-left: 30%;
        }

        .marginl50 {
            margin-left: 50%;
        }

        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 35px;
            width: 35px;
            background-color: #eee;
            border-radius: 5px;
        }


        {# TAB STYLING  #}
        .tabstyle {
            flex: 0 0 calc(25% - 0.25rem) !important;
        }


        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #7abe73;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 14px;
            top: 10px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        input:invalid {
            border: red solid 3px;
        }

        .disabled-link {
            pointer-events: none;
        }
    </style>
{% endblock %}

{% block content %}
    {# begin:: Content Head #}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Advertorial Wizard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span id="company" data-company_id="{{company_id}} "class="kt-subheader__desc">Add new advertorial for {{company_name}}</span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('advertorialOverview') }}"><i class="la la-angle-left"></i>Cancel</a>
            </div>
        </div>
    </div>

    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">"Error "{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error:'' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>


    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    {#end:alert #}

    {# begin:: Content #}
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        {#begin: Form Wizard Nav #}
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable ">
                <div id="tab01" class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step" data-ktwizard-state="current">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Advertorial Settings
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab02"  class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Upload
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Upload
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab03"  class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Extract Images
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Extract Images from Advertorial
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab04"  class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            4
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Clean HTML
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Clean the HTML of the Advertorial
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#end: Form Wizard Nav #}
        {% if campaign.settings is defined %}

            {% set c_set = campaign.settings %}

        {% endif %}

        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">

                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        {#begin: Form Wizard Form#}
                        <form id="wizForm" class="kt-form" >
                            {#begin: Form Wizard Step 1#}
                            {# GENERAL SETTINGS #}
                            <div id="tabcontent01" class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Advertorial Settings.
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group validated">
                                                    <label class="form-control-label" id='campaignName'
                                                           for="advertorialName">Name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        </div>
                                                        <input id="advertorialName"
                                                               type="text"
                                                               data-urlprefix=""
                                                               data-getparams=""
                                                               class="form-control is-valid"
                                                               placeholder="advertorial name"
                                                               name="advertorialName"
                                                               aria-describedby="basic-addon1"
                                                               maxlength="40"
                                                               value=""
                                                               aria-placeholder="enter an advertorial name"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <input id="advertorialDescription"
                                                           type="text" class="form-control"
                                                           placeholder="Description of the Advertorial"
                                                           name="advertorialDescription"
                                                           maxlength="170"
                                                           value=""
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="advertorialBeginDate">
                                                    Begin Date
                                                </label>

                                                <div class="input-group date">
                                                    {# TODO @creator => that's realy shit : Use must use classes and not id's (kt_datetimepicker_3) to change element behaviour => clean that up everywhere in code #}
                                                    <input id="kt_datetimepicker_3"
                                                           name="advertorialBeginDate"
                                                           class="advertDatetimeSelector"
                                                           type="text" class="form-control"
                                                           value=""
                                                    >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                           <i class="fas fa-play"></i></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="advertorialEndDate">
                                                    End Date</label>
                                                <div class="input-group date">
                                                    {# TODO @creator => that's realy shit: Use must use classes and not id's (kt_datetimepicker_2) to change element behaviour  => clean that up everywhere in code #}
                                                    <input id="kt_datetimepicker_2"
                                                           name="advertorialEndDate"
                                                           class="advertDatetimeSelector"
                                                           type="text" class="form-control"
                                                           value=""
                                                    >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-flag-checkered"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate2"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6" style="margin-top:15px">
                                                <div class="kt-form__section kt-form__section--first">
                                                    <label for="seedPoolGroup">SeedPool-Group</label>
                                                    <select id="seedPoolGroup"
                                                            name="seedPoolGroup"
                                                            class="form-control"
                                                            required>
                                                        <option id="" class="form-control dropdown-shopqueustatus-item" value="0" selected disabled>Select SeedPool-Group</option>
                                                        {% for seed_pool_group in seed_pool_groups %}
                                                            <option id="seedPoolGroup_{{ seed_pool_group.id }}" class="form-control dropdown-shopqueustatus-item seed-pool-group-names" value="{{ seed_pool_group.id  }}" data-company_id="{{ seed_pool_group.seed_pool_company_id }}">{{ seed_pool_group.name }}</option>
                                                        {% endfor %}

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#end: Form Wizard Step 1#}

                            {#begin: Form Wizard Step 2#}
                            {# UPLOAD ADVERTORIAL #}
                            <div id="tabcontent02" class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Upload Advertorial.</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                {#begin: Upload File#}
                                                <div>
                                                    {#  <input style="padding-left:0px; border:none;" class="form-control form-control-lg" id="fileUpload" type="file" accept=".html, .zip">   TODO: add zip later #}
                                                    <input style="padding-left:0px; border:none;" class="form-control form-control-lg"
                                                           id="fileUpload"
                                                           type="file"
                                                           data-htmlFileName=""
                                                           data-zipfilename=""
                                                           data-route-processZipFile="{{ path('processZipFile') }}"
                                                           data-route-ZipFileRemovalPath="{{ path('remove_zip_advertorials') }}"
                                                           data-extension="" accept=".html, .zip">
                                                    {#  <label for="fileUpload" class="form-label"><i class="la la-info-circle"></i>Supported Files: .html / .zip</label>  TODO: add zip later  #}
                                                    <label for="fileUpload" class="form-label"><i class="la la-info-circle"></i>Supported Files: .html or .zip</label>
                                                    <textarea id="fileUploadTextarea" style="display: none; overflow: scroll; width: 100%; height: 150px; resize: both" cols="30"></textarea>
                                                </div>
                                                {#begin: Alert Failed
                                                <div class="alert alert-danger " role="alert">
                                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                                    <div class="alert-text">Upload failed</div>
                                                    <div class="alert-close">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                                        </button>
                                                    </div>
                                                </div>#}
                                                {#begin: Alert Successful
                                                <div class="alert alert-light alert-elevate " role="alert">
                                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                                    <div class="alert-text">Upload successfull. Please proceed with the next step.</div>
                                                    <div class="alert-close">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                                        </button>
                                                    </div>
                                                </div>#}
                                            </div>
                                        </div>
                                        {#begin: Preview Code #}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div id="divFileUploadCode" class="code-wrapper"> {# class="code-wrapper" #}
                                                    <code id="fileUploadCode">
                                                        uploaded html code appears here
                                                    </code>
                                                </div>
                                            </div>
                                        </div>
                                        {#begin: Preview Button #}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <a id="fileUploadPreview" href="#" target="_blank" type="button" class="btn btn-secondary preview-btn"><i class="la la-search-plus"></i>Preview Original Advertorial</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#end: Form Wizard Step 2#}

                            {#begin: Form Wizard Step 3 customfields #}
                            <div id="tabcontent03" class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Extract Images</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        {#begin: Extract Images Button #}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div id="extImages" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u preview-btn" data-route="{{path('advertorialExtractImagesFromHtml')}}" style="cursor: pointer">
                                                    <span>
                                                        Extract all images to Marketing-In-One&nbsp;&nbsp;
                                                        <img id="extractionInProgress" src="{{imgurl ~ '/cio/loading.gif'}}"  style="height:19.5px; display: none">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        {#begin: Preview Code #}
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="code-wrapper">
                                                    <code id="newImgHtml">html with replaced image urls appears here</code>
                                                </div>
                                                <textarea id="fileNewImgHtml" style="display: none; overflow: scroll; width: 100%; height: 150px; resize: both" cols="30"></textarea>
                                            </div>
                                            <div class="col-xl-6">
                                                <div id="wrapperImgProcessLog" class="code-wrapper" style="display: none">
                                                    <code id="imgProcessLog"></code>
                                                </div>
                                            </div>
                                        </div>
                                        {#begin: Preview Button #}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <a id="previewNewImgUrls" class="btn btn-secondary preview-btn"><i class="la la-search-plus"></i>Preview Advertorial</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#end: Form Wizard Step 4#}

                            {#begin: Form Wizard Tracker #}
                            <div id="tabcontent04" class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Clean HTML</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        {# CHECKBOXES #}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="runInlineCss"  class="htmlCleanUpCheckboxes" type="checkbox" name="cb-technical-fields" data-enpassusermodified="yes" checked>
                                                            Change to Inline CSS&nbsp;&nbsp;
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeScripts"  class="htmlCleanUpCheckboxes" type="checkbox" name="cb-technical-fields" data-enpassusermodified="yes" checked>
                                                            Remove Scripts&nbsp;&nbsp;
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeComments"  class="htmlCleanUpCheckboxes" type="checkbox" name="cb-ecommerce-fields" data-enpassusermodified="yes" checked>
                                                            Remove Comments&nbsp;&nbsp;
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeEmptyLines"  class="htmlCleanUpCheckboxes"  type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes" checked>
                                                            Remove empty Lines&nbsp;&nbsp;
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeTitle"  class="htmlCleanUpCheckboxes"  type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes" checked>
                                                            Remove Title in Header&nbsp;&nbsp;
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removePhoneUrl"  class="htmlCleanUpCheckboxes"  type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes" checked>
                                                            No Phone URL&nbsp;&nbsp;
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeHeaderImages"  class="htmlCleanUpCheckboxes"  type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes" checked>
                                                            Remove Images in Header &nbsp;&nbsp;
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    {# since 2022-04-28 #}
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="replaceHead"  class="htmlCleanUpCheckboxes"   type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes" id="replaceHead"  class="htmlCleanUpCheckboxes"  checked>
                                                            <spanx title="{{'replaces first lines until head-end-tag by <!DOCTYPE html><html><head></head>'|escape }}">CleanUp Header &nbsp;&nbsp;</spanx>
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeAttributes"  class="htmlCleanUpCheckboxes"  type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes"  checked>
                                                            <spanx title="{{ 'removes all aria-, role- and lang attributes' | escape  }}" >Remove useless Attributes&nbsp;&nbsp;</spanx>
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeBetweenHeadBody"  class="htmlCleanUpCheckboxes"  type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes" checked>
                                                            <spanx title="{{ 'removes all code between </head> and <body ...>' |escape  }}">Remove code between end-head begin-body &nbsp;&nbsp;</spanx>
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                    <li class="nav-item">
                                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                            <input id="removeOpenPixel"  class="htmlCleanUpCheckboxes"  type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes" checked>
                                                            <spanx title="{{ 'remove all img elements with open pixels / tracking codes' |escape  }}">Remove Open Pixels &nbsp;&nbsp;</spanx>
                                                            <span style="border:1px solid #7abe73"></span>
                                                        </label>
                                                    </li>
                                                </ul>
                                                <button id="buttonCleanupHtml" type="button" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u preview-btn">Cleanup HTML</button>
                                            </div>
                                        </div>
                                        {#begin: Preview Code #}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="code-wrapper">
                                                    <code id="cleanHtml">cleaned up html code appears here</code>
                                                    <textarea id="fileInlineCssHtml" style="display: none; overflow: scroll; width: 100%; height: 150px; resize: both" cols="30"></textarea>
                                                    <textarea id="fileCleanHtml" style="display: none; overflow: scroll; width: 100%; height: 150px; resize: both" cols="30"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        {#begin: Preview Button #}
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <button id="buttonCleanHtmlPreview" type="button" class="btn btn-secondary preview-btn"><i class="la la-search-plus"></i>Preview Advertorial</button>
                                            </div>
                                            <div class="col-xl-5">
                                                <input id="customTrackingPixel" class="form-control name-pull-image" type="text" maxlength="500" placeholder="enter custom tracking pixel" value="" style="margin: 15px 0" >
                                            </div>
                                            <div class="col-xl-2">
                                                <button id="addCustomTrackingPixel" type="button" class="btn btn-secondary preview-btn" title="add tracking pixel to code"><i class="fa fa-arrow-up"></i>Add to Html</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#end: Form Wizard Step 5#}

                            {# what for ????
                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>
                            #}
                            {#begin: Form Actions #}
                            <div class="kt-form__actions">
                                <button id="actionPrev" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button id="saveAdvertorial"
                                        type="button"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-route="{{ path('advertorialSave')|base64encode }}"
                                        data-redirect="{{ path('advertorialOverview')|base64encode}}"
                                        data-ktwizard-type="action-submit"
                                >
                                    <i id="iconSaveAdvertorial" class="fa fa-save"></i> Save Advertorial
                                </button>

                                <button id="actionNext" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <div id="formMsg" class="kt-form__actions"></div>
                            {#end: Form Actions #}
                            {# intermediate storage #}
                            <div id="advertorialSurrogateId" data-route="{{path('advertorialSurrogateId')}}" data-id="" style="display: none"></div>
                            <div id="imagesKey" data-imagesKey="" style="display: none"></div> {# data-imagesKey will be set on Extract Images Button click's ajax call #}
                        </form>
                        {#end: Form Wizard Form#}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {# end:: Content #}

{% endblock %}
{% block javascripts %}
    {#     <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script> #} {# this is not used at all and slows down the page. TODO: remove #}
    <script>
        $( document ).ready(function() {
            //const's
            let $isFileZip = false;
            let filePathInMIO = '';
            let $htmlFileName = '';
            let zipFileContent = '';
            let zipFileName = '';
            let htmlFileName = ''

            class fileUpload {

                constructor() {
                    this.contentUploadedFile = '';
                    this.contentInlineCss = '';
                    this.contentCleanHtml = '';
                    this.contentExtractImages = '';
                }

                setContentUploadedFile(content){
                    console.log('set content UploadedFile');
                    this.contentUploadedFile = content;
                }

                getContentUploadedFile() {
                    return this.contentUploadedFile;
                }

                setContentInlineCss(content){
                    console.log('set content InlineCss');
                    this.contentInlineCss = content;
                }

                getContentInlineCss() {
                    return this.contentInlineCss;
                }

                setContentCleanHtml(content){
                    console.log('set content CleanHtml');
                    this.contentCleanHtml = content;
                }

                getContentCleanHtml() {
                    return this.contentCleanHtml;
                }

                setContentExtractImages(content){
                    console.log('set Content ExtractImages');
                    this.contentExtractImages = content;
                }

                getContentExtractImages() {
                    return this.contentExtractImages;
                }

                isZipFile(){
                    return $isFileZip;
                }

                filePathInMIO(){
                    return filePathInMIO;
                }

                htmlFileNameInZip(){
                    return $htmlFileName;
                }
            }


            {#  stores users checkbox settings  #}
            class CBX {
                constructor() {
                    this.cbx = {};
                    this.cbx['removeComments'] = true;
                    this.cbx['removeEmptyLines'] = true;
                    this.cbx['removeHeaderImages'] = true;
                    this.cbx['removePhoneUrl'] = true;
                    this.cbx['removeScripts'] = true;
                    this.cbx['removeTitle'] = true;
                    this.cbx['runInlineCss'] = true;
                    this.cbx['replaceHead'] = true;
                    this.cbx['removeAttributes'] = true;
                    this.cbx['removeBetweenHeadBody'] = true;
                    this.cbx['removeOpenPixel'] = true;

                }// constructor

                /**
                 *
                 * @returns {*|{}}
                 */
                getCbxSetting() {
                    return this.cbx;
                }

                /**
                 *
                 * @param $cbx
                 */
                setCbx($cbx) {
                    this.cbx = $cbx;
                }
            }

            const cbxOjb = new CBX();
            //---------------------------------

            $('input.advertDatetimeSelector').on('change', function() {
                let dt = $(this).val();
                let tempdate = dt.split(' ')[0];
                let time = dt.split(' ')[1];
                let date = '20'+tempdate.split('/')[0] + '-' + tempdate.split('/')[1] + '-' + tempdate.split('/')[2];
                $(this).val(date);
            });


            $("#clearDate").click(function () {
                $('#advertorialBeginDate').val('').datepicker('update');
            });
            $("#clearDate2").click(function () {
                $('#advertorialEndDate').val('').datepicker('update');
            });

            const fileContentObj = new fileUpload();

            {#  encode a Unicode string to a string in which each 16-bit unit occupies only one byte  #}
            function uBtoa(str) {
                return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g,
                        function toSolidBytes(match, p1) {
                            return String.fromCharCode('0x' + p1);
                        }));
            }

            {#  decode a Unicode string to a string in which each 16-bit unit occupies only one byte  #}
            function uAtob(str) {
                return decodeURIComponent(atob(str).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));
            }


            {#  encodes HTML strings (or files) to HTML Entities for showing the content in correct format in code elements  #}
            String.prototype.toHtmlEntities = function () {
                return this.replace(/./gm, function (s) {
                    return (s.match(/[a-z0-9\s]+/i)) ? s : "&#" + s.charCodeAt(0) + ";";
                });
            };

            function getFileContent(){
            /*    var fileToLoad = document.getElementById("fileUpload").files[0]; // $('input#fileUpload').prop("files")[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent){
                    var textFromFileLoaded = fileLoadedEvent.target.result;
                    fileContentObj.setContentUploadedFile(textFromFileLoaded);
                };

                fileReader.readAsText(fileToLoad, "UTF-8");*/
                console.log('getFileContent');
            }


            {#  click next validation #}
            $('button#actionNext').on('click', function () {

                var stayOnTab = false;

                if( $('select#seedPoolGroup').val() === null ) {
                    $('select#seedPoolGroup').focus().css('border-color', 'red');
                    stayOnTab = true;
                } else {
                    $('select#seedPoolGroup').css('border-color', '#e2e5ec');
                }

                if(  $('input#advertorialName').val() === '' ) {
                    $('input#advertorialName').focus().css('border-color', 'red');
                    stayOnTab = true;
                } else {
                    $('input#advertorialName').css('border-color', '#7abe73');
                }

                if(stayOnTab) {
                    $('button#actionPrev').trigger('click');
                }
            })


            {# reset the bug icon in save advertorial button, when user klicks on previous  #}
            $('button#actionPrev').on('click', function () {
                if($('i#iconSaveAdvertorial').hasClass('fa-bug')) {
                    $('i#iconSaveAdvertorial').removeClass('fa-bug').addClass('fa-save');
                }
            });


            {#  on click of input#fileUpload  #}
            $('input#fileUpload').change(() => {
                //file html or zip
                const file = $('input#fileUpload').prop("files")[0];
                //file content
                const content = URL.createObjectURL(file);
                let extension = file.type

                $('input#fileUpload').data('htmlfilename', file.name); // set input#fileUpload data-htmlfilename
                $('input#fileUpload').data('extension', extension); // set input#fileUpload data-extension
                $('code#fileUploadCode').html('code of '+file.name+' -> click after upload');

                console.log('file', file);
                console.log('fileName', file.name);
                console.log('content', content);
                console.log('extension', extension);

                $route = $('div#advertorialSurrogateId').data('route');
                //set the ajax settings to async
                $.ajaxSetup({async: false});
                //Get the advertorial_surrogate_id $route = "/advertorial/surrogateid"
                $.post($route,
                    file.name,
                    function (data, status) {
                        // $('div#formMsg').html(data);
                        if (status == 'success' && data.status == true) {
                            $('div#advertorialSurrogateId').data('id', data.id);
                        } else {
                            console.log('ERROR: Did not receive advertorial surrogate id.')
                        }
                    });

                if (extension === 'text/html') {
                    {# if uploaded file is a HTML file, save url to content to a#fileUploadPreview  #}
                    $('a#fileUploadPreview').attr('href', content);
                    htmlFileName = file.name;
                    {# save the file content #}
                    var fileReader = new FileReader();
                    fileReader.onload = function (fileLoadedEvent) {
                        var textFromFileLoaded = fileLoadedEvent.target.result;
                        //console.log('textFromFileLoaded', textFromFileLoaded);
                        //console.log('textFromFileLoaded_type', typeof(textFromFileLoaded));

                        $('textarea#fileUploadTextarea').text(textFromFileLoaded);
                        $('code#fileUploadCode').html(textFromFileLoaded.toHtmlEntities());
                        fileContentObj.setContentUploadedFile(textFromFileLoaded);
                        //console.log('fileContentObj getContentUploadedFile A', fileContentObj.getContentUploadedFile());
                    };

                    fileReader.readAsText(file, "UTF-8");

                }else if (extension === 'application/x-zip-compressed'){
                    //set global const's
                    $isFileZip = true;
                    zipFileContent = uBtoa(file);
                    zipFileName = file.name
                    {# treat ZIP FILE UPLOADS HERE #}
                    //send file to backend and receive html file or throw error if no html found
                    let advertorialSurrogateId = $('div#advertorialSurrogateId').data('id');
                    let companyId = $('span#company').data('company_id');
                    let processZipFilePath = $('input#fileUpload').data('routeProcesszipfile');

                    console.log('advertorialSurrogateId',advertorialSurrogateId);
                    console.log('companyId',companyId);
                    console.log('processZipFilePath',processZipFilePath);

                    //init the form
                    let data = new FormData();
                    //append file and details
                    data.append('zipFile', file);
                    data.append('advertorialSurrogateId', advertorialSurrogateId);
                    data.append('companyId', companyId);
                    //send the request to upload the file in client server
                    $.ajax({
                        url: processZipFilePath,
                        type: "POST",
                        data: data,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (responseData){
                            if(responseData['status'] === true){
                                //show the html in preview and code box
                                let textFromFileLoaded = responseData['content'];
                                //console.log('textFromFileLoaded', textFromFileLoaded);
                                $('a#fileUploadPreview').attr('href', content);
                                $('textarea#fileUploadTextarea').text(textFromFileLoaded);
                                $('code#fileUploadCode').html(textFromFileLoaded.toHtmlEntities());
                                fileContentObj.setContentUploadedFile(textFromFileLoaded);
                                filePathInMIO = responseData['htmlFilePath'];
                                $htmlFileName = responseData['htmlFileName'];
                            }else if(responseData['status'] === false){
                                //show the error in preview and code box
                                let errorHtml = responseData['content'];
                                //console.log('textFromFileLoaded', textFromFileLoaded);
                                $('code#fileUploadCode').html(errorHtml);
                            }
                        }
                    });
                }
                else {
                    {# treat other FILE UPLOADS HERE z.B pdf #}
                    console.log('currently do nothing if other files are uploaded');
                    // run an ajax call to extract the zip, search for exactly one HTML-file and return the text content of the html file
                }
            });

            {# load the html entity content from hidden textarea into code#fileUploadCode (2nd tab)  #}
            $('div#divFileUploadCode').on('click', function(){
                let entities = $('textarea#fileUploadTextarea').text();
                console.log('entities', entities.toHtmlEntities());
                $('code#fileUploadCode').html(entities.toHtmlEntities());
                console.log('fileContentObj getContentUploadedFile B', fileContentObj.getContentUploadedFile());
            });


            {# load the html entity content from hidden textarea into code#fileCleanHtml (4th tab)  #}
            $('code#cleanHtml').on('click', function() {
                /*
                let entities = $('textarea#fileCleanHtml').html();
                console.log('entities', entities.toHtmlEntities());
                $(this).html(entities.toHtmlEntities());
                */
                console.log('do nothing');
            });

            {#   collect settings of .htmlCleanUpCheckboxes for later ajax request #}
            $('.htmlCleanUpCheckboxes').on('click', function(){
                var cbx ={};

                $('.htmlCleanUpCheckboxes').each(function(i,j){
                    cbx[$(j).attr('id')] = $(j).prop('checked');
                })
                cbxOjb.setCbx(cbx);
                console.log('cbxObj', cbxOjb.getCbxSetting());
            })

            $('input#runInlineCss').on('change', function (){ // turn off replaceHead when inline-css does not run
                if( false === $(this).prop('checked') ) {
                    if(true === $('input#replaceHead').prop('checked') ) {
                        $('input#replaceHead').trigger('click');
                    }
                }
            })

            $('input#replaceHead').on('change', function () { // don't replace head if inline-css does not run to keep classes
                if (true === $(this).prop('checked') &&  false === $('input#runInlineCss').prop('checked') ) {
                    $(this).trigger('click');
                }
            })

            {# show html in new browser tab for avertorial wizard tab no 4 #}
            function openNewBrowserTab(htmlContent) {
                var w = window.open();
                $(w.document.body).html(htmlContent);
            }

            {# preview clean html #}
            $('button#buttonCleanHtmlPreview').on('click', function (){
                openNewBrowserTab($('textarea#fileCleanHtml').text());
            })

            $('a#previewNewImgUrls').on('click', function(){
                openNewBrowserTab($('textarea#fileNewImgHtml').text());
            })


            {#  call internal route which runs a call to microservice "mshtmloptimiser"  #}
            $("button#buttonCleanupHtml").click(function() {
                console.log('cleanHtml');
                currentURL = $(location).attr('href');

                let protokoll = currentURL.split('/')[0];
                let domain = currentURL.split('/')[2];

                let currentCbxSetting = cbxOjb.getCbxSetting();

                if(currentCbxSetting.runInlineCss === true ) {
                    var url = protokoll + "//" + domain + '{{ path('advertorialInlineCssCleanupHtml') }}';  {# call a MIO internal route which calls the microservice mshtmloptimiser in AdvertorialController  #}
                } else {
                    var url = protokoll + "//" + domain + '{{ path('advertorialCleanupHtml') }}'; {# call a MIO internal route which calls the microservice mshtmloptimiser in AdvertorialController  #}
                }

                {# get postdata values  #}
                let seedPoolGroupId = $('select#seedPoolGroup :checked').val();
                let seedPoolGroupName = $('select#seedPoolGroup :checked').text();
                let seedPoolGroupCompanyId = $('select#seedPoolGroup :checked').data('company_id');
                let htmlFileName = $('input#fileUpload').data('htmlFileName');
                let htmlContent = $("textarea#fileNewImgHtml").text();

                {# no longer used #}
                let replaceTelNoAnkers =  $('#changeTelNoAnkers').prop('checked'); {# TODO: param can be removed in microservice #}

                console.log('htmlContent', htmlContent);
                console.log('currentURL', currentURL);
                console.log('call url', url);

                var postdata = {
                    html:uBtoa(htmlContent),
                    replaceTelNoAnkers:replaceTelNoAnkers,
                    cbxSettings:currentCbxSetting,
                    seedPoolGroupId:seedPoolGroupId,
                    seedPoolGroupName:seedPoolGroupName,
                    seedPoolGroupCompanyId:seedPoolGroupCompanyId,
                    htmlFileName:htmlFileName
                };
                var postDataJson = JSON.stringify(postdata);
                console.log('postdata', postdata, 'postDataJson', postDataJson);

                $.ajax({
                    url: url,
                    // content: "text/html",
                    content: 'application/json',
                    type: 'POST',
                    async: false,
                    // data: htmlContent,
                    data : postDataJson,
                    success: function (data) {
                        if(data.response.success === true) {
                            if (data.response.cleanhtml) {
                                let cleanHtml = uAtob(data.response.cleanhtml);
                                fileContentObj.setContentCleanHtml(cleanHtml);
                                console.log('cleanHtml', cleanHtml);
                                $('textarea#fileCleanHtml').text(cleanHtml); // is dirty
                                $("code#cleanHtml").html(cleanHtml.toHtmlEntities());
                            }

                            if (data.response.inlineCssHtml) {
                                let inlineCssHtml = atob(data.response.inlineCssHtml);
                                fileContentObj.setContentInlineCss(inlineCssHtml);
                                $('textarea#fileInlineCssHtml').html(inlineCssHtml);
                            }
                        } else {
                            console.log('message', data.response.msg);
                            $("code#cleanHtml").text('oops, something went wrong ...' + data.response.msg);
                        }
                    }
                });
            });

            $('button#addCustomTrackingPixel').on('click', function addToHtml() {
                $code = $('input#customTrackingPixel').val();
                $htmlContent = $("textarea#fileCleanHtml").text();
                console.log('$htmlContent', $htmlContent);
                console.log('$code', $code);
                $htmlContent = $htmlContent.replace('</body>', $code + "\n" + '</body>');
                $('code#cleanHtml').text($htmlContent);
                fileContentObj.setContentCleanHtml($htmlContent);

                console.log('fileContentObj.getContentCleanHtml = ', fileContentObj.getContentCleanHtml());
            })


            {# EXTRACT IMAGES #}
            $('div#extImages').on('click', function () {
                console.log('running extractImages ...');
                var url =  $(this).data('route');
                console.log('setup postData ...');
                let fileName = '';
                if($isFileZip){
                    fileName = $htmlFileName;
                }else{
                    fileName = htmlFileName;
                }
                var postData = {
                    companyId: $('span#company').data('company_id'),
                    seedPoolGroupId: $('select#seedPoolGroup :selected' ).val(),
                    advertorialSurrogateId : $('div#advertorialSurrogateId').data('id'),
                    htmlFileContent : uBtoa($("textarea#fileUploadTextarea").text()),
                    isFileTypeZip: $isFileZip,
                    filePathInMIO : filePathInMIO,
                    htmlFileName : fileName
                };

                console.log('btoa ...');
                var postDataJsonBtoa = btoa(JSON.stringify(postData));
                //console.log('postData', postData, 'postDataJson', postDataJsonBtoa);

                console.log('ajaxSetup ...');
                $.ajaxSetup(
                    {
                        async: false,
                        beforeSend: function wait() {
                            // show ciomgrcode/public/assets/img/cio/loading.gif
                            $('img#extractionInProgress').css('display', 'initial');
                            console.log('start ...');
                        },
                        complete: function done() {
                            // hide ciomgrcode/public/assets/img/cio/loading.gif
                            $('img#extractionInProgress').css('display', 'none');
                            console.log('complete ...');
                        }
                    }
                );

                console.log('post ...');
                $.post(
                    url,
                    postDataJsonBtoa,
                    function (data, status) {
                        console.log("GETTING RESPONSE DATA");
                        console.log('data.status', data.status);

                        if( status == 'success' && data.status == true) {
                            if (data.newImgHtml) {
                                let newImgHtml = uAtob(data.newImgHtml);
                                fileContentObj.setContentExtractImages(newImgHtml);
                                console.log('newImgHtml', newImgHtml);
                                $('textarea#fileNewImgHtml').text(newImgHtml); // is dirty
                                $("code#newImgHtml").html(newImgHtml.toHtmlEntities());
                                $('div#extImages').css('cursor', 'not-allowed').unbind("click");
                            }
                            if(data.imgProcessLog) {
                                console.log(data.imgProcessLog);
                                $("code#imgProcessLog").append(uAtob(data.imgProcessLog));
                                $('div#wrapperImgProcessLog').css('display', 'initial');
                            }

                            if(data.imagesKey) {
                                $('div#imagesKey').data('imagesKey', data.imagesKey);
                            }
                        } else {
                            // $("code#newImgHtml").html('Ooops, something went wrong ... contact the development guys');
                        }
                    }
                );
                console.log('post done ...');

            });

            {# SAVE ADVERTORIAL #}
            $("button#saveAdvertorial").click(function() {

                $cleanHtml = fileContentObj.getContentCleanHtml();

                console.log('$cleanHtml', $cleanHtml, $cleanHtml.length);

                if( $cleanHtml === null || $cleanHtml === undefined || $cleanHtml === '') {
                    $('i#iconSaveAdvertorial').removeClass('fa-save').addClass('fa-bug');
                    alert('You didn\'t upload and/or cleaned up an advertorial');
                    return;
                }

                {# if the uploaded file is ZIP remove the upload files from files folder #}
                if($isFileZip){
                    //Get the required params
                    let companyId = $('span#company').data('company_id');
                    let processZipFileRemovalPath = $('input#fileUpload').data('routeZipfileremovalpath');

                    console.log('companyId',companyId);
                    console.log('processZipFilePath',processZipFileRemovalPath);

                    //init the form
                    let data = new FormData();
                    //append file and details
                    data.append('companyId', companyId);
                    //send the request to upload the file in client server
                    $.ajax({
                        url: processZipFileRemovalPath,
                        type: "POST",
                        data: data,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (responseData){
                            if(responseData['status'] === true){
                                console.log('Local upload file is removed');
                            }else if(responseData['status'] === false){
                                console.log('Local upload file is not removed');
                            }
                        }
                    });
                }


                var url = atob($(this).data('route'));
                var redirect = atob($(this).data('redirect'));
                var postdata = {
                    companyId : $('select#seedPoolGroup :checked').data('company_id'),
                    imagesKey :  $('div#imagesKey').data('imagesKey'),
                    advertorialSurrogateId : $('div#advertorialSurrogateId').data('id'),
                    seedPoolGroupId : $('select#seedPoolGroup :checked').val(),
                    advertorialName : $('input#advertorialName').val(),
                    advertorialDescription : $('input#advertorialDescription').val(),
                    advertorialBeginDate : $('input[name="advertorialBeginDate"]').val(),
                    advertorialEndDate : $('input[name="advertorialEndDate"]').val(),
                    fileNameHtml : htmlFileName,
                    fileNameZip : zipFileName,
                    seedPoolGroupName : $('select#seedPoolGroup :checked').text(), {#  for objectregister  #}
                    contentUploadedFile : uBtoa(fileContentObj.getContentUploadedFile()),
                    contentExtractImages : uBtoa(fileContentObj.getContentExtractImages()),
                    contentUploadedZipFile : zipFileContent,
                    contentInlineCss : uBtoa(fileContentObj.getContentInlineCss()),
                    contentCleanHtml : uBtoa(fileContentObj.getContentCleanHtml())
                };

                var postDataJsonBtoa = btoa(JSON.stringify(postdata));
                console.log('postdata', postdata, 'postDataJson', postDataJsonBtoa);

                $.post(
                    url,
                    postDataJsonBtoa,
                    function (data, status) {
                        console.log("GETTING RESPONSE DATA");
                        console.log('data', data);
                        console.log('data.status', data.status);
                        console.log('status', status);
                        if( status == 'success' && data.success == true) {
                            $('i#iconSaveAdvertorial').removeClass('fa-save').addClass('fa-thumbs-up');
                            $('button#saveAdvertorial').prop("disabled",true);
                            $(location).attr('href', redirect);
                        } else {
                            $('i#iconSaveAdvertorial').removeClass('fa-save').addClass('fa-bug');
                        }
                    }
                );// $.post
            });

        });


    </script>



{% endblock %}
