{% block leftmenu %}

    <div class="kt-widget kt-widget--user-profile-1">

        <div class="kt-widget__body">

            <div class="kt-widget__items">

                {# removed from sidebar, since it's placed in the top menue right
                <a href="{{ path('user.getUpdateUser') }}" class="kt-widget__item ">
                                      <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <i class="fas fa-user-astronaut fa-lg">
                                          </i>
                                        </span>
                                        <span class="kt-widget__desc">
                                          &nbsp;Profile Information
                                        </span>
                                      </span>
                </a>
                #}
                {#  moved under COG WHEEL
                <a href="{{ path('acc.getupdate') }}" class="kt-widget__item ">
                                      <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <i class="fas fa-cog fa-lg">
                                          </i>
                                        </span>
                                        <span class="kt-widget__desc">
                                          &nbsp;Account information
                                        </span>
                                      </span>
                </a>
                #}

                {# MANAGE COMPANIES: turned off in the interim 2020-11-13 #}
                {#
                {% if (user_is_master_admin or user_is_super_admin) %}
                    <a href="{{ path('master.managecompanies') }}" class="kt-widget__item ">
                                      <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <i class="fas fa-city fa-lg">
                                          </i>
                                        </span>
                                        <span class="kt-widget__desc">
                                          &nbsp;Manage Companies
                                        </span>
                                      </span>
                    </a>
                {% endif %}
                #}

                {# moved under COG WHEEL
                {% if (user_is_master_admin or user_is_super_admin or user_is_admin) %}
                    <a href="{{ path('master.manageusers') }}" class="kt-widget__item ">
                                      <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <i class="fas fa-user fa-lg">
                                          </i>
                                        </span>
                                        <span class="kt-widget__desc">
                                          &nbsp;Manage Users
                                        </span>
                                      </span>
                    </a>
                {% endif %}
                #}

                {# moved to main menu
                {% if ( user_is_super_admin ) %}
                    <a href="{{ path('superadminUserOverview') }}" class="kt-widget__item ">
                        <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <i class="fas fa-user-tag fa-lg">
                                          </i>
                                        </span>
                                        <span class="kt-widget__desc">
                                          &nbsp;User Roles Overview
                                        </span>
                                      </span>
                    </a>
                {% endif %}
                #}

                {# moved to profile right top menue
                <a href="{{ path('auth.resetpassword') }}" class="kt-widget__item ">
                    <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <i class="fas fa-lock fa-lg">
                                          </i>
                                        </span>
                                        <span class="kt-widget__desc">
                                          &nbsp;Change password
                                        </span>
                                      </span>
                </a>
                #}

                {#<a href="" class="kt-widget__item " id="toogle">#}
                <a id="toogle" class="kt-widget__item">
                                      <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <i style="color: #7abe73;" class="fas fa-sitemap">
                                          </i>
                                        </span>
                                        <span class="kt-widget__desc">
                                          &nbsp;Integrations
                                        </span>
                                      </span>
                </a>
                <ul>
                    {# moved under COG WHEEL
                    <a href="{{ path('acc.getSettingsGeneral') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                          <span class="kt-widget__icon">
                                            &nbsp;
                                            <i class="fas fa-clipboard-list fa-lg">
                                            </i>
                                          </span>
                                          <span class="kt-widget__desc">
                                            &nbsp;General
                                          </span>
                                        </span>
                    </a>
                    #}
                    <a href="{{ path('acc.getSettingsEmail') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                          <span class="kt-widget__icon">
                                            &nbsp;
                                            <i class="fas fa-envelope fa-lg">
                                            </i>
                                          </span>
                                          <span class="kt-widget__desc">
                                            &nbsp;Email
                                          </span>
                                        </span>
                    </a>
                    <a href="{{ path('acc.getsettingsWebinaris') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                          <span class="kt-widget__icon">
                                            <i class="fas fa-calendar-day fa-lg">
                                            </i>
                                          </span>
                                          <span class="kt-widget__desc">
                                            &nbsp;Webinaris
                                          </span>
                                        </span>
                    </a>
                    <a href="{{ path('acc.getSettingsDigistore') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                          <span class="kt-widget__icon">
                                            <i class="fas fa-store fa-lg">
                                            </i>
                                          </span>
                                          <span class="kt-widget__desc">
                                            &nbsp;Digistore
                                          </span>
                                        </span>
                    </a>
                    {# moved under COG WHEEL
                    <a href="{{ path('acc.getSettingsFraud') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                          <span class="kt-widget__icon">
                                            <i class="fas fa-biohazard fa-lg">
                                            </i>
                                          </span>
                                          <span class="kt-widget__desc">
                                            &nbsp;Fraud
                                          </span>
                                        </span>
                    </a>
                    #}
                    <a href="{{ path('acc.getSettingsMIO') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                          <span class="kt-widget__icon">
                                            <i class="fas fa-mail-bulk fa-lg"></i>
                                          </span>
                                          <span class="kt-widget__desc">
                                            &nbsp;eMail-In-One
                                          </span>
                                        </span>
                    </a>
                    <a href="{{ path('acc.getSettingsHubspot') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                          <span class="kt-widget__icon">
                                            <i class="fab fa-hubspot fa-lg"></i>
                                          </span>
                                          <span class="kt-widget__desc">
                                            &nbsp;Hubspot
                                          </span>
                                        </span>
                    </a>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            jQuery("#toogle").click(function () {
                // Hide it but only if not hidden - hide
                $('.hide:visible').hide();

                // Later in the script - Show it but only If it's not visible.
                $('.hide:hidden').show();
            });
        });
    </script>
{% endblock %}

