{% extends "app.twig" %}

{% block content %}

    {% if marked_for_deletion_date is defined and (marked_for_deletion_date|length)>0 %}
        {% set actiontext = 'Reactivate Account' %}
    {% else %}
        {% set actiontext = 'Delete Account' %}
    {% endif %}

    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-subheader__main">
                <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

                <h3 class="kt-subheader__title">{{ actiontext }}</h3>

                {# <span class="kt-subheader__separator kt-subheader__separator--v"></span> #}

                <span class="kt-subheader__desc"> </span>

            </div>

        </div>

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            {# removed
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->

                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->
            </div>
            <!--End:: App Aside-->
            #}

            <div class="kt-grid__item kt-grid__item--fluid kt-app__content" data-ktwizard-type="step-content">
                <!--Begin:: App Aside-->
                <div class="kt-heading kt-heading--md" style="margin-left: 8%">{{ actiontext }}.</div>
                <div class="kt-form__section kt-form__section--first">

                    {% if user_is_master_admin %} {# MASTER ADMIN SECTION #}
                        <div class="form-group row">
                            <label class="col-xl-1 col-lg-1 col-form-label">

                            </label>
                            <div class="col-lg-9 col-xl-6">

                                {% if marked_for_deletion_date is defined and (marked_for_deletion_date|length)>0 %}
                                    <div style="color:#7abe73"><i class="fa  fa-redo-alt fa-lg" aria-hidden="true"></i> <b>Reactivate:</b><br>
                                        <span style="color:red">Your account will be finally deleted on {{ marked_for_deletion_date }}.</span>
                                        <div style="color:black">
                                            If you still want to use your account, you can reactivate it again! Just press the [Reactivate account] button below and your account will stay active.
                                        </div>
                                    </div>
                                {% else %}
                                    <div style="color:red"><i class="fas  fa-exclamation-triangle fa-lg" aria-hidden="true"></i> <b>WARNING:</b><br>Delete
                                        account means:
                                        <div style="color:black">You'll delete your(!) account along with <b>all</b> data.
                                            <br>Users assigned to your account, project settings, pages, webhooks and leads with all data assigned will be<br><b>finally deleted at {{ deletion_date }}!</b>
                                        </div>
                                        <br><br><i class="fas  fa-info-circle fa-lg" aria-hidden="true" style="color:#191919"></i><span class="kt-widget__desc" style="color: #191919"> <b>Delete User only:</b><br>If you just want to delete a user and keep the users account assigned data objects, goto <a href="http://ciomgrsymf.test/admintool/master/manageusers">Manage Users</a>.</span>
                                    </div>
                                {% endif %}

                                <input id="token" type="hidden" name="token" value="{{ csrf_token('masteradmin-deleteaccount') }}"/>

                                {% if marked_for_deletion_date is defined and (marked_for_deletion_date|length)>0 %}
                                    <button id="reactivateaccount" type="button" class="col-xl-3 col-lg-3 col-form-label btn btn-brand" style="background-color:#7abe73;border-color: #7abe73;margin-top: 70px" data-routeproceed="{{ path('masterReactivateAccount') |base64encode }}" data-delete="{{ current_user['email'] |base64encode }}" data-delete_at="{{ deletion_date }}" data-company_objectregister_id="{{ company_objectregister_id }}">
                                        <i id="iconreactivate" class="fa fa-redo-alt"></i>&nbsp;Reactivate account
                                    </button>
                                {% else %}
                                    <button id="delaccount" type="button" class="col-xl-3 col-lg-3 col-form-label btn btn-brand" style="background-color:red;border-color: red;margin-top: 70px" data-routeproceed="{{ path('masterMarkForDeletion') |base64encode }}" data-delete="{{ current_user['email'] |base64encode }}" data-delete_at="{{ deletion_date }}" data-company_objectregister_id="{{ company_objectregister_id }}">
                                        <i id="icontrash" class="fa fa-trash-alt"></i>&nbsp;Delete my account
                                    </button>
                                {% endif %}
                                <div id="msg_delacc" style="display: none"></div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #ff0000; color:white;">
                        <h4 class="modal-title" style="color: white" id="myModalLabel">Status</h4>
                    </div>
                    <div id="modaltext" class="modal-body" style="font-size:larger">
                    </div>
                    <div class="modal-footer">
                        Please press&nbsp;<button id='logout' type="button" class="btn btn-default" data-dismiss="modal" data-route="{{ path('acc.getupdate') }}">Okay</button>&nbsp;to proceed.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // turn off console log after debugging
        console.log = function() {};

        $(".hide").hide();
        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });

        $('#logoutModal').modal({
            keyboard: false,
            show: false
        });

        $('button#logout').on('click', function () {
            $redirectTo = $(this).data('route');
            window.location = $redirectTo;
        });


        $('button#delaccount').on('click', function deleteAccount() {
            // var $route = atob($(this).data('route'));
            var $route = atob($('button#delaccount').data('routeproceed'));
            console.log('$route', $route);

            $data = {
                'email': atob($('button#delaccount').data('delete')),
                'delete_at': $('button#delaccount').data('delete_at'),
                'company_objectregister_id': $('button#delaccount').data('company_objectregister_id'),
                'token': $('input#token').val()
            };

            // console.log($data);

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);
                    // $('div#formMsg').html(data);
                    if (status == 'success' && data.status == true) {
                        console.log(data.log);
                        $('i#icontrash').removeClass('fa-trash-alt').addClass('fa-thumbs-up');
                        $('button#delaccount').prop("disabled", true);
                        $('div#msg_delacc').text(data.msg).css('display', 'inherit');
                        $('div#modaltext').html(
                            'Your account is marked for deletion and will be finally deleted on<br>'
                            + $('button#delaccount').data('delete_at')
                            + '.<br><br>Thank you for using Marketing-In-One.'
                        );

                        $('#logoutModal').modal('show');
                    } else {
                        $('i#icontrash').removeClass('fa-trash-alt').addClass('fa-bug');
                        $('div#msg_delacc').text(data.msg).css('display', 'inherit');
                        $('div#modaltext').html('We could mark your your account for deletion. Please contact our support.');
                    }
                });
        });


        $('button#reactivateaccount').on('click', function reactivateAccount() {
            // var $route = atob($(this).data('route'));
            var $route = atob($('button#reactivateaccount').data('routeproceed'));
            console.log('$route', $route);

            $data = {
                'email': atob($('button#reactivateaccount').data('delete')),
                'company_objectregister_id': $('button#reactivateaccount').data('company_objectregister_id'),
                'token': $('input#token').val()
            };

            // console.log($data);

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);
                    // $('div#formMsg').html(data);
                    if (status == 'success' && data.status == true) {
                        console.log(data.log);
                        $('i#icontrash').removeClass('fa-trash-alt').addClass('fa-thumbs-up');
                        $('button#delaccount').prop("disabled", true);
                        $('div#msg_delacc').text(data.msg).css('display', 'inherit');
                        $('div#modaltext').html(
                            'Your Marketing-In-One account will be reactivated now.<br>'
                        );

                        $('#logoutModal').modal('show');
                    } else {
                        $('i#icontrash').removeClass('fa-trash-alt').addClass('fa-bug');
                        $('div#msg_delacc').text(data.msg).css('display', 'inherit');
                        $('div#modaltext').html('We could not reactivate your account. Please contact our support.');
                    }
                });
        });

    </script>
{% endblock %}
