{% extends "app.twig" %}

{% block content %}
    <style>
        /* jsr: added for permission handling hints WEB-3850 */
        button:disabled:hover:after {
            content: " : unsufficient privileges!";
        }
    </style>

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Manage Companies</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{#{{company.name}}#} </span>

        </div>

    </div>
    <!-- end:: Content Head -->

    <!-- begin:: warnings  -->
    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!-- end:: warnings -->
    {% endif %}


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}
    <!--end:alert -->


    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->


            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        {# Left Menu for the account level settings #}
                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->

            </div>
            <!--End:: App Aside-->

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Manage Companies
                                        <small>edit, add or delete</small></h3>
                                </div>

                            </div>

                            <form id="form_add_company" class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">


                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Manage Company:</h3>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"><b>Choose Action</b></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select id="managecompany_action" class="form-control" name="managecompany_action">
                                                        <option class="select-option" value="add_company" selected>Add new company</option>
                                                        <option class="select-option" value="update_company">Edit company</option>
                                                        {% if (user_is_super_admin or user_is_master_admin ) %}
                                                            <option class="select-option" value="del_company">Delete company with all data (users, campaigns, leads, ...)</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>


                                            <div id="company_list" class="form-group row" style="display: none">
                                                <label class="col-xl-3 col-lg-3 col-form-label"><b>Choose Company</b></label>
                                                <div class="col-lg-9 col-xl-6 input-group">
                                                    <div class="input-group-prepend">
                                                        {% if (adminstrates_companies|length) == 1 %}
                                                            {% set comp = 'company' %}
                                                        {% else %}
                                                            {% set comp = 'companies' %}
                                                        {% endif %}
                                                        <label id="labelcountcompanies" class="input-group-text" for="inputGroupSelect01">{{ adminstrates_companies|length }} {{ comp }}</label>
                                                    </div>

                                                    <select id="selected_company" class="form-control" name="selected_company" data-route="{{ (url ~'admintool/master/ajax/getcompanybyid')|base64encode }}">
                                                        {% for admin_company in adminstrates_companies %}
                                                            <option class="select-option" value="{{ admin_company.id }}" {{ (admin_company.name == user_company_name) ? 'selected':'' }}>{{ admin_company.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div id="company_action_msg" style="font-size: small"></div>
                                                </div>
                                            </div>

                                            <div id="deletecompanyhint" class="form-group row" style="display:none">
                                                <label class="col-xl-3" style="color:red">
                                                    <span class="kt-widget__icon">
                                                        <i class="fas  fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                                    </span>
                                                </label>
                                                <div class="col-lg-9 col-xl-6" style="display:inline-flex">
                                                    <span><b style="color:red">Deleteing the selected company means, you'll delete all objects like users, campaigns, campaign landing pages and leads along with all data assigned to mentioned objects of that company!</b></span>
                                                </div>
                                            </div>

                                            <div id="deletelogincompanyhint" class="form-group row" style="display:none">
                                                <label class="col-xl-3" style="color:red">
                                                    <span class="kt-widget__icon">
                                                        <i class="fas  fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                                    </span>
                                                </label>
                                                <div class="col-lg-9 col-xl-6" style="display:inline-flex">
                                                    <span><b style="color:red">You cannot delete the company you are logged in with. Please change your account (menu: top left) or contact your support.</b></span>
                                                </div>
                                            </div>

                                            <div id="mainformdata" style="display:inherit">
                                                <div class="row">
                                                    <label class="col-xl-3"></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <hr>
                                                        <br>
                                                        <h3 class="kt-section__title kt-section__title-sm">Contact Information:</h3>
                                                    </div>
                                                </div>

                                                <div id="show_only_on_edit" class="form-group row" style="display:none">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" title="{{company.id}}">Company Identifier</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="company_identifier" class="form-control border-0" value="{{company.id}}" type="text" disabled >
                                                    </div>
                                                </div>

                                                <div id="add_company_name" class="form-group row" style="display: block ruby">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Company Name</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="company_name" class="form-control" value="" name="company_name" type="text" data-oldcompanyname="{{ user_company_name }}" data-route="{{ (url ~ 'companynamecheck')|base64encode }}">
                                                        <div id="company_msg" style="font-size: small"></div>
                                                        <input id="company_id" type="hidden" name="company_id" value="{{ user_company_id }}">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="la la-phone"></i></span>
                                                            </div>
                                                            <input id="phone" type="text" class="form-control" value="" name="phone" aria-describedby="basic-addon1">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Website</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="website" class="form-control" value="" name="website" type="text">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">URL Options</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="url_option" class="form-control" name="url_option">
                                                            <option class="select-option" value="folder">Folder</option>
                                                            <option class="select-option" value="sub-domain" selected>SubDomain</option>
                                                            <option class="select-option" value="delegate-domain">Delegate Domain</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div id="input_domain" class="form-group row hide">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Delegated Domain</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="delegated_domain" class="form-control" value="" name="delegated_domain" type="text">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Street Houseno</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="street" class="form-control" value="" name="street" type="text">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Postal Code</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="postal_code" class="form-control" value="" name="postal_code" type="text">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">City</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="city" class="form-control" value="" name="city" type="text">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Country</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="country" class="form-control" value="Deutschland" name="country" type="text">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">VAT Identification Number</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="vat" class="form-control" value="" name="vat" type="text" placeholder="DExxxxxxxx">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            {% if (user_is_super_admin or user_is_master_admin) %}
                                                <div class="col-lg-9 col-xl-9">
                                                    <button id="processcompany" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary" data-route_add_company="{{ (url ~ 'admintool/master/ajax/addnewcompany')|base64encode }}" data-route_del_company="{{ (url ~ 'admintool/master/ajax/deletecompany')|base64encode }}" data-route_update_company="{{ (url ~ 'admintool/master/ajax/updatecompany')|base64encode }}"  data-route_logout="{{ (url ~ 'logout')|base64encode }}" data-route_dashboard="{{ (url ~ 'dashboard')|base64encode }}">Add Company</button>
                                                    <button id="clearform" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary">Clear Form</button>
                                                </div>
                                            {% else %}
                                                <div class="col-lg-9 col-xl-9">
                                                    <button name="donothing" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary" disabled>Add Company</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if (user_is_super_admin or user_is_master_admin) %}
                                            <div class="row">
                                                <div class="col-lg-3 col-xl-3">
                                                </div>
                                                {% if (user_is_super_admin or user_is_master_admin) %}
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div id="add_company_msg"></div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <input type="hidden" name="token" value="{{ csrf_token('company-manage') }}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var users_company =  {{ company|json_encode|raw }};
        users_company.company_name = users_company.name; // needed for js
    </script>

    {% if (user_is_super_admin or user_is_master_admin or user_is_admin) %}
        <script src="{{ jsurl }}/masteradmin/managecompanies-twig.js" type="text/javascript"></script>
    {% endif %}

    <script type="text/javascript">
        $('select#url_option').change(function () {
            if ($(this).val() == 'delegate-domain') {
                $('#input_domain').show();
                $("input#delegated_domain").focus();
            } else {
                $('#input_domain').hide();
                $("input#delegated_domain").val('');

            }
        });

        $(".hide").hide();
        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });
    </script>
{% endblock %}
