{% extends "app.twig" %}

{% block content %}
    <style>
        /* jsr: added for permission handling hints WEB-3850 */
        button:disabled:hover:after {
            content: " : action not possible for this selection!";
        }

        select#selected_user option:first-child,
        select#selected_company option:first-child {
            font-weight: bold;
            background-color: lightgray;
        }
    </style>

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Manage Users</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">invite and manage users</span>
        </div>
    </div>
    <!-- end:: Content Head -->

    <!-- begin:: warnings  -->
    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!-- end:: warnings -->
    {% endif %}


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}
    <!--end:alert -->


    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            {# removed
            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        <!--Left Menu for the account level settings -->
                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->
            </div>
            <!--End:: App Aside-->
            #}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">

                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Invite and Manage Users
                                        <small></small></h3>
                                </div>
                            </div>

                            <form id="manageusers" class="kt-form kt-form--label-right" method="post" accept-charset="UTF-8">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            {#  removed => redundant
                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Manage Users:</h3>
                                                </div>
                                            </div>
                                            #}
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"><b>Choose Action</b></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select id="manageusers_action" name="manageusers_action" class="form-control">
                                                        <option class="select-option" value="invite_user" selected>Invite User</option>
                                                        {#  {% if (administrates_users|length) > 0 %}  #}
                                                        <option class="select-option" value="edit_user">Edit User</option>
                                                        {# <option class="select-option" value="change_role">Change Role</option> #}
                                                        <option class="select-option" value="block_user">Block User</option>
                                                        <option class="select-option" value="unblock_user">Unblock User</option>
                                                        <option class="select-option" value="delete_user">Delete User</option>
                                                        {# <option class="select-option" value="change_company_membership">Change Company Membership</option> #}
                                                        {#  {% endif %} #}
                                                    </select>
                                                </div>
                                            </div>

                                            {% if (not user_is_master_admin and not user_is_super_admin and user_is_admin) %}
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label"><b>Company</b></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input class="form-control" value="{{ user_company_name }}" name="company_name" type="text" data-oldcompanyname="{{ user_company_name }}" data-route="{{ url }}companynamecheck" readonly style="cursor: not-allowed">
                                                    </div>
                                                </div>
                                                <input type="hidden" name="company_id" value="{{ user_company_id }}">
                                            {% else %}
                                                <div id="selected_company_block" class="form-group row" style="display: none">
                                                    <label class="col-xl-3 col-lg-3 col-form-label"><b>Choose Company</b></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="selected_company" class="form-control first_fat" name="selected_company" data-route="{{ (url ~ 'admintool/master/ajax/getusersbycompanyid')|base64encode }}">
                                                            <option class="select-option" value="-1" selected>Select Company</option>
                                                            {% for admin_company in adminstrates_companies %}
                                                                <option class="select-option" value="{{ admin_company.id }}">{{ admin_company.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                {% if (administrates_users|length) > 0 %}
                                                    <div id="selected_user_block" class="form-group row" style="display: none">
                                                        <label class="col-xl-3 col-lg-3 col-form-label"><b>Choose User</b></label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <select id="selected_user" class="form-control" name="selected_user" data-cu="{{ user_email|base64encode }}">
                                                                <option class="select-option" value="-1" selected>Select User</option>
                                                                {#                  id,
                                                                                    user_id,
                                                                                    invited_user_id,
                                                                                    to_company_id,
                                                                                    --------------
                                                                                    invited_user_roles,
                                                                                    invited_user_email,
                                                                                    invited_user_first_name,
                                                                                    invited_user_last_name,
                                                                                    invited_user_status,
                                                                                    invited_user_failed_logins,
                                                                                    invited_user_company_name
                                                                #}
                                                                {% for administrated_user in administrates_users %}
                                                                    <option class="select-option" value="{{ administrated_user.invited_user_id|base64encode }}" data-adminstratedby="{{ administrated_user.user_id|base64encode }}" data-company_id="{{ administrated_user.to_company_id|base64encode }}" data-roles="{{ administrated_user.invited_user_roles|base64encode }}">{{ administrated_user.invited_user_email ~' (' ~ administrated_user.invited_user_first_name ~' ' ~ administrated_user.invited_user_last_name ~')' }} </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div id="selected_user_block" class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            currently you're not administrating any user ...
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                            {#[administrates_users: id,user_id,invited_user_id,with_roles,
                                               users: invited_user_email,invited_user_status, invited_user_failed_logins,
                                               company name: invited_user_company ]#}

                                            <div id="define_details" class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Define Details:</h3>
                                                </div>
                                            </div>

                                            <div id="notmyself" style="display: initial">

                                                <div class="form-group row invite_user">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Salutation
                                                    </label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="salutation" name="salutation" type="text" value="Mr." placeholder="Mr./Ms." class="form-control">
                                                    </div>
                                                </div>


                                                <div class="form-group row invite_user">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">First Name
                                                    </label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="first_name" name="first_name" type="text" value="" class="form-control">
                                                    </div>
                                                </div>


                                                <div class="form-group row invite_user">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Last Name
                                                    </label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input id="last_name" name="last_name" type="text" value="" class="form-control">
                                                    </div>
                                                </div>


                                                <div id="email_block" class="form-group row invite_user">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Email address</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="la la-at"></i></span>
                                                            </div>
                                                            <input id="email" name="email" type="email" value="" class="form-control" aria-describedby="basic-addon1">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="role_block" class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Role</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="la la-support"></i></span>
                                                            </div>
                                                            <select id="role" class="form-control" name="role">
                                                                {% if(user_is_super_admin) %}
                                                                    <option class="select-option" value="SUPER">Super Administator (can manage everything)</option>
                                                                    <option class="select-option" value="MASTER">Master Administator (can manage companies, campaigns and users of assigned company)</option>
                                                                {% endif %}
                                                               {# <option class="select-option" value="ADMIN">Administator (can manage campaigns and users of assigned company)</option> #}
                                                                <option class="select-option" value="USER">Standard User (read only access)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div id="to_company_block" class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Assign user to company</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        {% if(user_is_admin and not user_is_master_admin) %}
                                                            {% set disabled = 'disabled' %}
                                                        {% else %}
                                                            {% set disabled = '' %}
                                                        {% endif %}

                                                        <select id="to_company" name="to_company" class="form-control" {{ disabled }}>
                                                            {% for admin_company in adminstrates_companies %}
                                                                <option class="select-option" value="{{ admin_company.id|base64encode }}">{{ admin_company.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <input type="hidden" name="token" value="{{ csrf_token('users-manage') }}"/>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            {% if (user_is_super_admin or user_is_master_admin) %}
                                                <div class="col-lg-9 col-xl-9">
                                                    <button id="processuser"
                                                            name="processuser"
                                                            type="button"
                                                            class="btn btn-brand btn-elevate kt-login__btn-primary"
                                                            data-route_invite_user="{{ (url ~ 'admintool/master/ajax/inviteuser')|base64encode }}"
                                                            data-route_edit_user="{{ (url ~ 'admintool/master/ajax/updateuser')|base64encode }}"
                                                            {# data-route_change_role="{{ (url ~ 'admintool/master/ajax/changerole')|base64encode }}" #}
                                                            data-route_block_user="{{ (url ~ 'admintool/master/ajax/blockuser')|base64encode }}"
                                                            data-route_unblock_user="{{ (url ~ 'admintool/master/ajax/unblockuser')|base64encode }}"
                                                            data-route_delete_user="{{ (url ~ 'admintool/master/ajax/deleteuser')|base64encode }}"
                                                            {# data-route_change_company_membership="{{ (url ~ 'admintool/master/ajax/changecompanymembership')|base64encode }}" #}
                                                    >Invite User
                                                    </button>
                                                    <button id="clearusersform" name="clearusersform" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary">Clear Form</button>
                                                </div>
                                            {% else %}
                                                <div class="col-lg-9 col-xl-9">
                                                    <button name="donothing" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary" disabled>Not permitted</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if (user_is_super_admin or user_is_master_admin) %}
                                            <div class="row">
                                                <div class="col-lg-3 col-xl-3">
                                                </div>
                                                <div class="col-lg-9 col-xl-9">
                                                    <div id="manage_user_msg"></div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->
{% endblock %}

{% block javascripts %}
    {% if (user_is_super_admin or user_is_master_admin or user_is_admin) %}

        <script type="text/javascript">
            $(".hide").hide();
            $("#toogle").click(function () {
                $(".hide").toggle('fast');
            });

            {% if (administrates_users|length) > 0 %}
            var administrates_users = "{{ administrates_users|json_encode|raw|base64encode }}";
            {% else %}
            var administrates_users = undefined;
            {% endif %}
        </script>
        <script src="{{ jsurl }}/masteradmin/manageusers-twig.js" type="text/javascript"></script>
    {% endif %}
{% endblock %}
