{% extends "app.twig" %}
{% block pagehead %}
    <style>
        body {
            background: url('{{ imgurl }}/bg/errorbackground.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .section-404 {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .h1-error {
            color: #78be75;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 700;
            font-size: 300px;
            letter-spacing: 20px;
        }
        .h2-error {
            color: #78be75;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 700;
            font-size: 50px;
            letter-spacing: 10px;
        }

        .span-404 {
            color: #ffffff;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 10px;
            padding: 25px;
        }

        .span-404 a {
            color: #78be75;
            letter-spacing: 5px;
            text-decoration: none;
        }

        .span-404 a:hover {
            color: #60985d;
        }

        .hr-404 {
            color: #ffffff;
            width: 50% !important;
        }
    </style>
{% endblock %}


{% block content %}
    <section class="section-404 text-center">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10"><h1 class="h1-error"> {{ code }}</h1></div>
                <div class="col-1"></div>
            </div>>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8"><h1 class="h2-error"> {{ message }}</h1></div>
                <div class="col-2"></div>
            </div>>
            <div class="row">
                <div class="col-12">
                    <p class="span-404">WE HAVE GONE OFF COURSE</p>
                    <hr style="background-color: white">
                    <p class="span-404"><a href="{{ path('auth.home')}}">RETURN TO ORBIT, HERE.</a></p>
                </div>
            </div>>
        </div>
    </section>
{% endblock %}
{% block  javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
{% endblock %}
