<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Server Configuration Successfull</title>
</head>
<body>
<h1 style="color: green"><b>Gratuations</b></h1>
<p>you successfully updated your emailserver configuration! <b style="color: green">&check;</b></p>
<img src="img/treaction-ag-logo-ohne-claim.png" alt="treaction AG">
<img src="img/marketing-in-one_icon_600px-200x200.png" alt="Marketing-In-One - a product of treaction Ag">
</body>
</html>
