<div class="kt-portlet__body">
	<div class="kt-notes">
		<div class="kt-notes__items sortable-item">
			{% set page_count =  0 %}
			<ol class="example">
				<div id="flowControlPages" class="sortableElements">
					{% if c_set.custom_pages is defined and c_set.custom_pages|length > 0 %}
						{% set page_count =  c_set.custom_pages|length %}
						<!--Begin::example survey - subpage 2-->
						{% set i = 1 %}
						{% for page in c_set.custom_pages %}
							{% if page.name is not empty %}
								<!--begin:: pages with values-->
								<li style="list-style-type: none;" class="pageFlowLi sortable-item"
									id="pageFlowList{{ i }}">
									<div class="kt-notes__item" style="padding-bottom: 20px;">
										<div class="kt-notes__media">
                                                                        <span class="kt-notes__icon"
																			  style="background-color: #7abe73; border-color: #7abe73;">
                                                                            <span class="pageValue"
																				  style="color:#fff; font-size: 18px;">#{{ i }}</span>
                                                                        </span>
										</div>
										<div class="kt-notes__content">
											<div class="kt-notes__section">
												<div class="kt-notes__info">
                                                                                <span class="kt-notes__desc pageName">
                                                                                    {{ c_set.campaign.url }}/{{ page.name }}
                                                                                </span>
												</div>
												<div class="kt-notes__dropdown">
													<a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse"
													   href="#multiCollapseExample_{{ i }}" role="button"
													   aria-expanded="false"
													   aria-controls="multiCollapseExample{{ i }}">
														<i style="color: #7abe73;" class="fas fa-cog"></i>
													</a>
													<a class="btn btn-sm btn-icon-md btn-icon" href="#">
														<i style="color: crimson;" class="fas fa-trash trash-main"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col" style="padding-top:15px;">
												<div class="collapse multi-collapse pageCollapseId"
													 id="multiCollapseExample_{{ i }}">
													<div class="form-row">
														<div class="form-group col-12">
															<label for="inputZip">title url</label>
															<div class="input-group mb-2">
																<div class="input-group-prepend">
																	<div class="input-group-text">{{ c_set.campaign.url }}
																		/
																	</div>
																</div>
																<input type="text" class="form-control PageinputValue"
																	   name="campaign[page_flow][custom_pages][{{ i }}][name]"
																	   id="inlineFormInputGroup"
																	   value="{{ page.name }}">
															</div>
														</div>
														<div class="form-group col-12 processhook_buttons_dropdown">
															<!-- dropdown with all available buttons -->
															<div class="btn-group" style="width:100%!important;">
																<button class="btn btn-secondary dropdown-toggle"
																		type="button"
																		data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
																	Select a button to configure
																</button>
																<!-- available buttons in the page -->
																<div class="dropdown-menu page_buttons_dropdown"
																	 style="width:100%!important;"
																	 aria-labelledby="page_buttons_dropdown">
																	<!-- This needs to be for each -->
																	{% if page.buttons is defined and page.buttons|length > 0 %}
																		{% for button in page.buttons %}
																			<a class="dropdown-item custom-page-buttons"
																			   id="{{ button.name }}"
																			   role="button">{{ button.name }}</a>
																		{% endfor %}
																	{% endif %}
																	<a class="dropdown-item" role="button"
																	   style="color: #22a138">Add Custom Button</a>
																</div>
															</div>
															<div class="processhook_add_button"
																 style="border: #e37b7b; border-radius: 5px;" hidden>
																<center>
																	<div style="margin-top:50px;"
																		 class="kt-heading kt-heading--md"
																		 id="button_name">[Button]Custom
																	</div>
																</center>
																<div class="row">
																	<div class="col-lg-12 text-center">
																		<div style="border:none;"
																			 class="card card-custom card-stretch gutter-b example example-compact">
																			<div class="card-body">
																				<!-- here the user can define the button value / name -->
																				<div class="form-group row pageFlowButton">
																					<label class="col-3 col-form-label">Button
																						Name:
																					</label>
																					<div class="col-7">
																						<div class="form-group validated">
																							<div class="input-group"
																								 id="show">
																								<input type="text"
																									   class="form-control button_input"
																									   value="">
																							</div>
																						</div>
																					</div>
																					<div class="col-1">
																						<button style="background-color: #7abe73;color: white"
																								class="btn btn-secondary addButton"
																								type="button"
																								aria-expanded="false">
																							Add
																						</button>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="processhook_configure_button"
																 style="border: #F5F5F5; border-radius: 5px;" hidden>
																<center>
																	<div style="margin-top:50px;"
																		 class="kt-heading kt-heading--md button_name">
																		[button]Submit
																	</div>
																</center>
																<div class="row">
																	<div class="col-lg-12 text-center">
																		<div style="border:none;"
																			 class="card card-custom card-stretch gutter-b example example-compact">
																			<div class="card-body">
																				<!-- here the user can define the button value / name -->
																				<div class="form-group row pageFlowButton">
																					<label class="col-3 col-form-label">Button
																						Name:
																					</label>
																					<div class="col-6">
																						<div class="form-group validated">
																							<div class="input-group"
																								 id="show">
																								<input type="text"
																									   class="form-control button_input"
																									   value="submit">
																							</div>
																						</div>
																					</div>
																					<div class="col-3">
																						<button style="background-color: #7abe73;color: white"
																								class="btn btn-secondary changeButton"
																								type="button"
																								aria-expanded="false">
																							Change
																						</button>
																						<a class="btn btn-sm btn-icon-md btn-icon" href="#">
																							<i style="color: crimson;" class="fas fa-2x fa-trash deleteButton"></i>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<!--end:: pages with values-->
								{% set i=i+1 %}
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<!--end::example survey - subpage 2--->

				<!--Begin::success page-->
				{% set success_page = c_set.success_page is defined ? c_set.success_page : 'success.html' %}
				<div class="kt-notes__item sortable-item" style="padding-bottom: 20px;">
					<div class="kt-notes__media">
						<span class="kt-notes__icon"
							  style="background-color: #7abe73; border-color: #7abe73;">
							<span class="" style="color:#fff; font-size: 18px;"><i
										style="color:#fff;"
										class="fas fa-flag-checkered"></i></span>
						</span>
					</div>
					<div class="kt-notes__content">
						<div class="kt-notes__section">
							<div class="kt-notes__info">
								<a href="#" class="kt-notes__title">
									Success -
								</a>
								<span class="kt-notes__desc">
                                                                        {{ c_set.campaign.url }}/{{ success_page }}
                                                                    </span>
							</div>
							<div class="kt-notes__dropdown">
								<a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse"
								   href="#multiCollapseExample4" role="button" aria-expanded="false"
								   aria-controls="multiCollapseExample4">
									<i style="color: #7abe73;" class="fas fa-cog"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col" style="padding-top:15px;">
							<div class="collapse multi-collapse" id="multiCollapseExample4">
								<div class="form-row">
									<div class="form-group col-12">
										<label for="inputZip">title url</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">{{ c_set.campaign.url }}</div>
											</div>
											<input type="text" class="form-control"
												   name="campaign[page_flow][success_page]" id="inlineFormInputGroup"
												   value="{{ success_page }}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end:: success page-->

				<!--Begin::error page-->
				{% set page_error = c_set.error_page is defined ? c_set.error_page : 'error.html' %}
				<div class="kt-notes__item sortable-item" style="padding-bottom: 20px;">
					<div class="kt-notes__media">
                                                            <span class="kt-notes__icon"
																  style="background-color: crimson; border-color: crimson;">
                                                                <span class="" style="color:#fff; font-size: 18px;"><i
																			style="color:#fff;"
																			class="fas fa-exclamation-triangle"></i></span>
                                                            </span>
					</div>
					<div class="kt-notes__content">
						<div class="kt-notes__section">
							<div class="kt-notes__info">
								<a href="#" class="kt-notes__title">
									Error -
								</a>
								<span class="kt-notes__desc">
                                                                        {{ c_set.campaign.url }}/{{ page_error }}
                                                                    </span>
							</div>
							<div class="kt-notes__dropdown">
								<a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse"
								   href="#multiCollapseExample5" role="button" aria-expanded="false"
								   aria-controls="multiCollapseExample5">
									<i style="color: #7abe73;" class="fas fa-cog"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col" style="padding-top:15px;">
							<div class="collapse multi-collapse" id="multiCollapseExample5">
								<div class="form-row">
									<div class="form-group col-12">
										<label for="inputZip">title url</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">{{ c_set.campaign.url }}</div>
											</div>
											<input type="text" class="form-control"
												   name="campaign[page_flow][error_page]" id="inlineFormInputGroup"
												   value="{{ page_error }}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end::error page-->

				<!--Begin::redirect page-->
				{% set page_redirect = c_set.redirect_page is defined ? c_set.redirect_page : 'treaction.net' %}
				<div class="kt-notes__item" style="padding-bottom: 20px;">
					<div class="kt-notes__media">
                                                    <span class="kt-notes__icon"
														  style="background-color: #7abe73; border-color: #7abe73;">
                                                        <span class="" style="color:#fff; font-size: 18px;"><i
																	style="color:#fff;"
																	class="fas fa-external-link-alt"></i></span>
                                                    </span>
					</div>
					<div class="kt-notes__content">
						<div class="kt-notes__section">
							<div class="kt-notes__info">
								<a href="#" class="kt-notes__title">
									Redirect -
								</a>
								<span class="kt-notes__desc">
                                                                    {{ page_redirect }}
                                                                </span>
							</div>
							<div class="kt-notes__dropdown">
								<a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse"
								   href="#multiCollapseExample6" role="button" aria-expanded="false"
								   aria-controls="multiCollapseExample6">
									<i style="color: #7abe73;" class="fas fa-cog"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col" style="padding-top:15px;">
							<div class="collapse multi-collapse" id="multiCollapseExample6">
								<div class="form-row">
									<div class="form-group col-8">
										<label for="inputZip">title url</label>
										<div class="input-group mb-2">
											<input type="text" class="form-control"
												   name="campaign[page_flow][redirect_page]" id="inlineFormInputGroup"
												   value="{{ page_redirect }}">
										</div>
									</div>
									<div class="form-group col-4">
										<label for="inputZip">redirection time&nbsp;</label>
										<div class="input-group mb-2">
											<input type="text" class="form-control"
												   name="campaign[page_flow][redirect_time]" id="inlineFormInputGroup"
												   value="{{ c_set.redirect_time is defined and c_set.redirect_time > 0 ? c_set.redirect_time : '3' }}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end::redirect page-->
				<input type="text" class="form-control" id="processhook_buttons"
					   name="campaign[page_flow][buttons]"
					   autocomplete="false" hidden>

				<!--Begin::create new page-->
				{% if current_user.feature.PageWizardAddSubPages %}
				<div class="kt-notes__item" style="padding-bottom: 20px" >

					<div class="kt-notes__media">
                        <span style="color: #7abe73; font-size: 16px; margin-top:20px; margin-left:20px;">
							<a data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false"
									aria-controls="collapseExample"><i class="fas fa-plus"></i> create subpage
							</a>
						</span>
					</div>

					<div class="collapse" id="collapseExample7">
						<div class="row">
							<div class="col" style="padding-top:50px;">
								<div class="collapse multi-collapse" id="collapseExample7">
									<div class="form-row">
										<div class="form-group col-10">
											<label for="inputZip">title url</label>
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">{{ c_set.campaign.url }}/</div>
												</div>
												<input type="text" class="form-control pagetext"
													   name="custom_pages[{{ page_count+1 }}][name]"
													   id="inlineFormInputGroup" value="">
												&nbsp;&nbsp;<a href="#" onclick="addPage();" class="myButton"
															   id="addPage">Add Page
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<!--end::crate new page-->
			</ol>

			<label>
				<input type="text" class="form-control"
					   value="{{ c_set.id is defined ? c_set.id : '' }}"
					   name="id" autocomplete="false" hidden>
			</label>

		</div>
	</div>
</div>
