{% extends "app.twig" %}

{% block content %}


    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

    </style>
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <style>
        /* BEGIN - DUAL LIST BOX DRAG & DROP STYLES */
        .process-hooks-list, .process-hooks-list-2 {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-right: 10px;
            background: #fff;
            padding: 5px;
            width: 100%;
            min-height: 1.5em;
            font-size: 0.85em;
            min-height: 100px;
            border-radius: 5px;
            border: 1px solid #F5f5f5;
        }

        .process-hooks-list-2 {
            border-radius: 5px;
            border: 1px solid rgba(122, 190, 115, 0.5);
        }

        .process-hooks-list li {
            margin: 10px;
            padding: 10px;
            font-size: 1.2em;
            width: 90%;
            border-radius: 3px;
            background-color: #F5f5f5;
        }

        .process-hooks-list-2 li {
            margin: 10px;
            padding: 10px;
            font-size: 1.2em;
            width: 90%;
            border-radius: 3px;
            background-color: #7abe73;
            color: #ffffff;
        }

        .process-hook {
            /*border: 1px solid #bbb;*/
            background-color: #fafafa;
            cursor: grab;
        }

        .process-hook.ui-sortable-helper {
            opacity: 0.5;
        }

        .process-hooks-list .placeholder {
            border: 1px solid #f5f5f5;
            background-color: #fffffd;
            height: 40px;
        }

        .process-hooks-list-2 .placeholder {
            border: 1px solid #7abe73;
            background-color: #fffffd;
            height: 40px;
        }

        .process-hooks-arrow {
            margin-top: 150px;
        }

        .process-hooks-arrow-icon {
            color: #ababab;
            font-size: 30px;
        }

        /* END - DUAL LIST BOX DRAG & DROP STYLES */
    </style>



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Create new Webhook</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">Webhook wizard </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/webhooks/draft"><i
                            class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>
    <!-- end:: Content Head -->
    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->



    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    <!-- begin:: Content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current"
                     style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Settings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Mapping
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure mapping fields
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Workflow
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Workflow Actions
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--end: Form Wizard Nav -->
        {% if campaign is defined %}
            {% set c_set = campaign %}
        {% endif %}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Webhook Settings.
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group validated">
                                                    <label class="form-control-label" id='campaignName'
                                                           for="inputSuccess1">Name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text"
                                                                                               id="basic-addon1">https://treaction.campaign-in-one.net/{{ campaign.company_name is defined ? campaign.company_name:'' }}/</span>
                                                        </div>
                                                        <input type="text"
                                                               data-urlprefix="{{ url }}account/campaigns/checkNameOfCampaign/"
                                                               data-getparams="{{ campaign.company_id }}"
                                                               class="form-control is-valid"
                                                               placeholder=""
                                                               id="name1"
                                                               name="campaign[settings][name]"
                                                               aria-describedby="basic-addon1"
                                                               value="{{ c_set.settings.name is defined ? c_set.settings.name : '' }}"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="This is a campaign to generate new leads."
                                                           name="campaign[settings][description]"
                                                           value="{{ c_set.settings.description is defined ? c_set.settings.description : '' }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">
                                                    Begin Date</label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.settings.beginDate is defined ? c_set.settings.beginDate : '' }}"
                                                           name="campaign[settings][beginDate]"
                                                           id="kt_datetimepicker_3">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                           <i class="fas fa-play"></i></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">
                                                    End Date</label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" readonly=""
                                                           value="{{ c_set.settings.expireDate is defined ? c_set.settings.expireDate : '' }}"
                                                           name="campaign[settings][expireDate]"
                                                           id="kt_datetimepicker_2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-flag-checkered"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate2"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6" style="margin-top:15px">
                                                <div class="kt-form__section kt-form__section--first">
                                                    {% set permission = c_set.settings.permission is defined ? c_set.settings.permission : '' %}
                                                    <label for="permission">Permission</label>
                                                    <select class="form-control" id="permission"
                                                            name="campaign[settings][permission]" id="permission"
                                                            required>
                                                        <option value="1" {{ permission == 1 ? 'selected':'' }}>No
                                                            Permission
                                                        </option>
                                                        <option value="2" {{ permission == 2 ? 'selected':'' }}>Single
                                                            Opt-In
                                                        </option>
                                                        <option value="3" {{ permission == 3 ? 'selected':'' }}>
                                                            Confirmed Opt-In
                                                        </option>
                                                        <option value="4" {{ permission == 4 ? 'selected':'' }}>Double
                                                            Opt-In
                                                        </option>
                                                        <option value="5" {{ permission == 5 ? 'selected':'' }}>Double
                                                            Opt-In Single User Tracking etc.
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->


                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure mapping for HTML fields</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <!--Here comes Mapping table for the campaign-->
                                        <div id="table" class="table-editable"
                                             data-is-test="{{ c_set.standard_fields |  json_encode() }}">

                                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><strong>Marketing-In-One</strong></th>
                                                    <th class="text-center"><strong>Data type</strong></th>
                                                    <th class="text-center"><strong>Required</strong></th>
                                                    <th class="text-center"><strong>Action</strong></th>
                                                </tr>
                                                </thead>
                                                <tbody>


                                                <!-- This is our clonable table line which will be generated automatically form script-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                            </a>
                                        </span>
                                        {# <button class="btn btn-brand btn-bold update" type="button" value="update">
                                                                                    Update
                                                                                </button> #}
                                        <label for="urlID"></label>
                                        <input type="text" class="form-control" id="urlID"
                                               name="campaign[mapping][mappingTable]"
                                               autocomplete="false" hidden>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('campaign-create') }}"/>
                            <!--end: Form Wizard Step 2-->

                            <!--begin: Form Wizard Step 3-->
                            <div style="margin-top:50px;" class="kt-wizard-v4__content"
                                 data-ktwizard-type="step-content">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        {% if campaign.processhooks is defined %}
                                            {% set processhooks = campaign.processhooks %}
                                        {% endif %}
                                        <div class="kt-heading kt-heading--md">Assign Workflow Actions to Buttons.</div>
                                        <span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle" aria-hidden="true"></i>  If you do not want any Workflow Actions on your Page, just click the Button "NEXT STEP"</span>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                                <div id="multiCollapseExample10">
                                    <center>
                                        <div style="margin-top:50px;" class="kt-heading kt-heading--md"><strong>[Button]
                                                Lead Generation Form button</strong></div>
                                    </center>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div style="border:none;"
                                                 class="card card-custom card-stretch gutter-b example example-compact">
                                                <div class="card-body">
                                                    <center>
                                                        <div class="row">
                                                            <!-- FIRST DRAG&DROP COLLUM -->
                                                            <div class="col-5">
                                                                <div class="kt-heading kt-heading--md">Defined Workflow Actions
                                                                </div>
                                                                <ul id="allFacets" class="process-hooks-list">
                                                                    {% if campaign.processhooks.inactive is defined %}
                                                                    {% for processhook in processhooks['inactive'] %}
                                                                        <li class="process-hook"
                                                                            processhookType="{{ processhook.view_name }}"
                                                                            processhookName="{{ processhook.name }}"
                                                                            userProcesshookId="{{ processhook.user_processhook_id }}">
                                                                            <strong>[{{ processhook.view_name }}
                                                                                ]</strong><br>{{ processhook.name }}
                                                                        </li>
                                                                    {% endfor %}
                                                                    {% endif %}
                                                                </ul>
                                                            </div>
                                                            <!-- ./ FIRST DRAG&DROP COLLUM -->
                                                            <div class="col-2">
                                                                <div class="process-hooks-arrow">
                                                                    <center>
                                                                        <i class="process-hooks-arrow-icon far fa-exchange-alt"></i>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                            <!-- SECOND DRAG&DROP COLLUM -->
                                                            <div class="col-5">
                                                                <div class="kt-heading kt-heading--md">Active Workflow Actions</strong></div>
                                                                <ul id="userFacets" class="process-hooks-list-2">
                                                                    {% if campaign.processhooks.active is defined %}
                                                                        {% for processhook in processhooks['active'] %}
                                                                            <li class="process-hook"
                                                                                processhookType="{{ processhook.view_name }}"
                                                                                processhookName="{{ processhook.name }}"
                                                                                userProcesshookId="{{ processhook.user_processhook_id }}">
                                                                                <strong>[{{ processhook.view_name }}
                                                                                    ]</strong><br>{{ processhook.name }}
                                                                            </li>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </ul>
                                                            </div>
                                                            <!-- ./ SECOND DRAG&DROP COLLUM -->
                                                            <input type="text" id="selectedProcesshooks"
                                                                   name="campaign[processhooks]"
                                                                   autocomplete="false" hidden>
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 3-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Create Webhook
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}
    <!-- ./JAVASCRIPT FOR DRAG AND DROP WORKFLOW ACTION CONTROL -->
    {# begin  fraud checking script #}
    <script type="text/javascript" src="{{ jsurl }}/data-local.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    {# endof fraud checking script #}


    <script>
        let campaignName = "{{ campaign.settings.name is defined ? campaign.settings.name:'undefined' }}"
        let settings = {{ campaign|json_encode|raw }}
    </script>
    <script type="text/javascript" src="{{ jsurl }}/create-page-webhook/createWebhook.js"></script>

{% endblock %}
