{% extends "app.twig" %}

{% block content %}



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Download Code</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc"></span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/webhooks/active"><i
                            class="la la-angle-left"></i>Back to webhooks</a>
                <!--end:Back to webhooks -->

            </div>
        </div>
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->


            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Integrate Webhook to your Client&nbsp;&nbsp;&nbsp;|<small>
                                            code</small></h3>
                                </div>
                            </div>
                            <form class="kt-form kt-form--label-right" method="post" autocomplete="off">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Select your Client
                                                    Language
                                                    &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                         data-toggle="popover" title=""
                                                                         data-content="Please select your client or frontEnd programing Language"><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    {% set programingLanguages = [
                                                        'JavaScript',
                                                        'PHPCURL',
                                                        'HTML/JavaScript',
                                                        'HTML/PHP',
                                                        'Json',
                                                        'Cookie Consent'
                                                    ] %}
                                                    <select required class="form-control" name="programingLanguage">
                                                        <option value="0">None</option>
                                                        {% for Language in programingLanguages %}
                                                            <option value="{{ Language }}">{{ Language }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.id is defined ?  c_set.id : '' }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-bold">Download</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}          

{% block javascripts %}

    <script>
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'
            })

            $('#menu-settings').addClass("show");
            $('#set-gen').addClass("kt-widget__item--active");

        })
    </script>

{% endblock %}