.circle{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: darkseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #fff;
    position: relative;
    right: -150px;
    top: 0px;
}
p{
    font-weight: bold;
    display:flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}