{% extends "app.twig" %}

{% block content %}

    {# ////////CSS File for Flags SVG - Where to put? in app.twig?///////////// #}
    <link href="{{ cssurl }}/flags/flag-icons.css" rel="stylesheet" type="text/css"/>

    {# begin:: Content Head - top row #}
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Languages Wizard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Define settings for your Language</span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="{# {{path('project.languages')}} #}"><i
                            class="la la-angle-left"></i>Cancel</a>
            </div>
        </div>
    </div>
    {# end:: Content Head - top row #}

    {#  begin:alert #}
    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    {#  end:alert #}

    {#  begin:: Content #}
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        {# begin: Form Wizard Nav #}
        <div class="kt-wizard-v4__nav">
            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable ">
                <div class="kt-wizard-v4__nav-item tabstyle-3-steps" data-ktwizard-type="step"
                     data-ktwizard-state="current">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Base Settings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item tabstyle-3-steps" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Variables
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Define Variables for Language
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item tabstyle-3-steps" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Text Snippets
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Define Messages for Text Snippets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end: Form Wizard Nav  #}

        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}

        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        {# begin: Form Wizard Form #}
                        <form id="projectWizForm" class="kt-form">
                            {# begin: Form Wizard Step 1 #}
                            {# BASE SETTINGS #}
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Base Settings
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label for="permission">Language</label>
                                                    <select class="filter form-control" id="" name="">
                                                        {# Selection - Language - "ISO/NAME" #}
                                                        {# Here to add Library containing the ISO Language Codes & Names (flags?) #}
                                                        <option id="" class="form-control" value="en">English</option>
                                                        <option id="" class="form-control" value="de" selected>German
                                                        </option>
                                                        <option id="" class="form-control" value="fr">French</option>
                                                        <option id="" class="form-control" value="pl">Polish</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <input id="" class="form-control" type="text"
                                                           placeholder="Description of the Language" name=""
                                                           value="German Translation for Shopware5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <label id="LanguageDefault"
                                                       class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                    <input id="" class="" name="cb-technical-fields"
                                                           data-enpassusermodified="yes" type="checkbox" checked>
                                                    Set as Default Language
                                                    <span class="checkbox-border"></span>
                                                </label>
                                            </div>
                                            <div class="col-xl-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# end: Form Wizard Step 1 #}

                            {# begin: Form Wizard Step 2 #}
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md"><b>General Terms & Conditions
                                                            (GTC):</b></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    <input id="" class="form-control" name="" type="text" placeholder=""
                                                           value="$GTC$" disabled>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Anchortext</label>
                                                    <input id="" class="form-control" name="" type="text"
                                                           placeholder="GTC Anchortext" value="">
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# URL Input #}
                                                    <label>URL</label>
                                                    <input id="" class="form-control" name="" type="text"
                                                           placeholder="GTC URL" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md"><b>Legal Notice &
                                                            Imprint:</b></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    <input id="" class="form-control" name="" type="text" placeholder=""
                                                           value="$Imprimt$" disabled>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Anchortext</label>
                                                    <input id="" class="form-control" name="" type="text"
                                                           placeholder="Imprint Anchortext" value="">
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# URL Input #}
                                                    <label>URL</label>
                                                    <input id="" class="form-control" name="" type="text"
                                                           placeholder="Imprint URL" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md"><b>Data Protection
                                                            Policy:</b></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    <input id="" class="form-control" name="" type="text" placeholder=""
                                                           value="$GTC$" disabled>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Anchortext</label>
                                                    <input id="" class="form-control" name="" type="text"
                                                           placeholder="Data Protection Anchortext" value="">
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# URL Input #}
                                                    <label>URL</label>
                                                    <input id="" class="form-control" name="" type="text"
                                                           placeholder="Data Protection URL" value="">
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    <input id="" class="form-control" name="" type="text" placeholder=""
                                                           value="$GTC-MailTo$" disabled>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Email Address</label>
                                                    <input id="" class="form-control" name="" type="text"
                                                           placeholder="Data Protection Email Address" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# end: Form Wizard Step 2 #}

                            {# begin: Form Wizard Step 3 customfields #}
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md"><b>Newsletter OptinText</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                {# TEXTAREA Newsletter Optin #}
                                                <div class="form-group">
                                                    <textarea id="" class="form-control" type="text"
                                                              placeholder="GTC Anchortext" name="" value="" rows="5">Ich stimme den $DataPolicy$ zu.</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    {# TEXTAREA Newsletter OptOut #}
                                                    <div class="kt-heading kt-heading--md"><b>eCommerce OptOut</b></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <textarea id="" class="form-control" type="text" name="" value=""
                                                              rows="5">Ich bin damit einverstanden, dass der $Imprimt$ meine E-Mail-Adresse verwendet,um mir in Zukunft per E-Mail interessante Angebote für Produkte, die zu den erworbenen Produkten ähnlich sind, zukommen zu lassen. Ich kann dieser Verwendung jederzeit widersprechen, etwa durch eine Entfernung des Häkchens,aber auch durch eine E-Mail an $GTC-MailTo$. Kosten (außer den Übermittlungskosten nach den Basistarifen) werden für einen derartigen Widerspruch nicht erhoben .Weitere Informationen finden Sie in der $DataPolicy$
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# end: Form Wizard Step 4  #}


                            <script>
								var input = document.querySelector('input[name=basic]')
								// init Tagify script on the above inputs
								new Tagify(input)
                            </script>

                            {# begin: Form Actions #}
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>
                                <button id="createProject"
                                        type="button"
                                        data-route="{{ path("projectCreate") }}"
                                        {# name="submit" type="submit" #}
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        {# data-route="{{ (url ~ createProjectRoute)|base64encode }}" #}
                                        data-ktwizard-type="action-submit"
                                >
                                    <i id="iconSaveProject" class="fa fa-save"></i> Save Advertorial
                                </button>
                                <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <div id="formMsg" class="kt-form__actions"></div>
                            {# end: Form Actions #}
                        </form>
                        {# end: Form Wizard Form #}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {#  end:: Content #}

{% endblock %}
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    {# this js block is ultra ugly and splitted up into n script-sections TODO: put all js code into ciomgrcode/public/assets/js/project/projectwizard-twig.js #}
    <!-- clean this up and put all into one template related js-file   -->
    {# begin  fraud checking script #}
    <script type="text/javascript"
            src="{{ jsurl }}/data-local.js"></script> {# TODO: this might be removed, since it does not access templates dom objects: remove #}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script> {# this is not used at all and slows down the page. TODO: remove #}
    {# endof fraud checking script #}


    <script>
        {# tracker_outbrain_seconds #}
		$('span#obsswitch').on('click', function () {
			$val = $('input#cb_tracker_outbrain_seconds').prop('checked')
			$('input#tracker_bool_outbrain_track_after_30_seconds').val(!$val)
		})

        {# URL_OPTION show info #}
        {# A-record delegation show info #}
		$('select#a-record-delegation').on('change', function () {
			if ($(this).val() === 'sub-domain') {
				$('div#a-record-domain-info').css('display', 'block')
				$('div#custom-domain-info').css('display', 'none')
			} else {
				$('div#a-record-domain-info').css('display', 'none')
				$('div#custom-domain-info').css('display', 'block')
			}
		})


    </script>

    {# CREATE PROJECT BUTTON #}
    <script type="text/javascript">
		$('div#createProject').on('mouseover', function () {
			console.log('over button', $(this).data('route'))
		})

		$('button#createProject').on('click', function createProject () {
			// var $route = atob($(this).data('route'));
			var $route = $('button#createProject').data('route')
			// console.log('$route', $route);
            {# console.log('path', {{ path('projectCreate') }} ); #}
			$data = btoa(getFormData())
			// console.log($data);

			$.post($route,
				$data,
				function (data, status) {
					console.log('GETTING RESPONSE DATA')
					console.log('data', data)
					console.log('data.status', data.status)
					console.log('status', status)
					// $('div#formMsg').html(data);
					if (status == 'success' && data.status == 'success') {
						$(location).attr('href', '/dashboard')
						$('i#iconSaveProject').removeClass('fa-save').addClass('fa-thumbs-up')
						$('button#createProject').prop('disabled', true)
					} else {
						$('i#iconSaveProject').removeClass('fa-save').addClass('fa-bug')
					}
				})
		})

        {#
        function createProject() {

            // var $route = atob($(this).data('route'));
            var $route = $('div#createProject').data('route');
            console.log('$route', $route);
            // console.log('path', {{ path('projectCreate') }} );
            $data = getFormData();
            console.log($data);

            $.post($route,
                $data,
                function (data, status) {
                    console.log("GETTING RESPONSE DATA");
                    console.debug(data);
                    console.debug(status);
                });

            // $.ajax({
            //         url: $route,
            //         type: "POST",
            //         data: getFormData(),
            //         success: function (data) {
            //             alert(data);
            //         }
            //     })
            //     .done(function (data) {
            //         console.log('DONE');
            //     })
            //     .fail(function (data, textStatus, errorThrown) {
            //         console.log("request failed", textStatus, errorThrown);
            //     });
        }
        #}

		function getFormData () {
			var $valCustomfieldlist = $('input#customfieldlist').val()
			var $valCustomfieldDelete = $('input#customfielddelete').val()

			var $customfieldlist = ( $valCustomfieldlist === '' || $valCustomfieldlist === undefined ) ? [] : JSON.parse($valCustomfieldlist)
			var $customfielddelete = ( $valCustomfieldDelete === '' || $valCustomfieldDelete === undefined ) ? [] : JSON.parse($valCustomfieldDelete)

			var $data = {
				'relation_company_id': $('input#relation_company_id').val(),
				'relation_company_name': $('input#relation_company_name').val(),
				'relation_project_object_unique_id': $('input#relation_project_object_unique_id').val(),
				'relation_project_objectregister_id': $('input#relation_project_objectregister_id').val(),
				'settings_description': $('input#settings_description').val(),
				'settings_url_option': $('select#settings_url_option').val(),
				'settings_beginDate': $('input#kt_datetimepicker_3').val(),
				'settings_expireDate': $('input#kt_datetimepicker_2').val(),
				'advancedsettings_commercial_relationships': $('input[name="advancedsettings_commercial_relationships"]:checked').val(),
				'advancedsettings_country': $('select#advancedsettings_country').val(),
				'advancedsettings_register_multiple_times': $('input[name="advancedsettings_register_multiple_times"]').prop('checked'), // INVERSE => NOT => !
				'advancedsettings_fraud_prevention_level': $('input[name="advancedsettings_fraud_prevention_level"]:checked').val(),
				// 'advancedsettings_forward_lead_by_email': $('input#advancedsettings_forward_lead_by_email').val(), // removed due to WEB-5238
				'advancedsettings_forward_lead_by_email': '',
				'advancedsettings_bool_redirect_after_registration': ( $('input[name="advancedsettings_bool_redirect_after_registration"]:checked').val() === 'true' ),
				'advancedsettings_redirect_after_registration': $('input#advancedsettings_redirect_after_registration').val(),
				'customfieldlist': $customfieldlist,
				'customfielddelete': $customfielddelete,
				'tracker_google_apikey': $('input#tracker_google_apikey').val(),
				'tracker_facebook_pixel': $('input#tracker_facebook_pixel').val(),
				'tracker_webgains_id': $('input#tracker_webgains_id').val(),
				'tracker_outbrain_id': $('input#tracker_outbrain_id').val(),
				'tracker_bool_outbrain_track_after_30_seconds': ( $('input#tracker_bool_outbrain_track_after_30_seconds').val() === 'true' ),
				'token': $('input#token').val(),
				'a_record_setting': $('select#a-record-delegation').val(),
			}
			return JSON.stringify($data)
		}
    </script>



    {# ENABLE POPOVER ANED TOOLTIP #}
    <script>
		$(function () {
			$('.cio-popover').popover({
				container: 'body',
				trigger: 'hover'
			})

			$('#menu-tracking').addClass('show')
			$('#track-web-url').addClass('kt-widget__item--active')
		})

		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
    </script>

    {# USABILITY & VALIDATION #}
    <script>

		// check all input with pattern that begins with "("
		$('input[pattern^="("]').on('keyup click blur', function (event) {
			var pattern = $(this).attr('pattern')
			var val = $(this).val()
			var customfield = new RegExp(pattern)
			console.log('PATTERN', pattern)
			console.log('VALUE', val)

			$result = customfield.exec(val)

			if ($result === null || $result.indexOf(val) === -1) {
				$(this).css('border-color', 'red').css('color', 'red')

			} else {
				$(this).css('border-color', 'green').css('color', 'inherit')
			}
		})

		// validate email input
		$('input#advancedsettings_forward_lead_by_email').on('blur', function () {

			if ($(this).val() === '') return

			var validEmails = ''
			var badEmails = ''
			var emails = this.value.split(',')
			var emailList = []

			for (let i = 0; i < emails.length; i++) {
				emailList.push(emails[i])
			}

			console.log('emailList', emailList)

			for (let i = 0; i < emailList.length; i++) {
				let isValidEmail = validateEmail(emails[i])
				console.log('isValidEmail=', isValidEmail)
				if (isValidEmail) {
					validEmails += emails[i] + ','
				} else {
					console.log('bad', emails[i])
					badEmails += emails[i] + ','
				}
			}
			validEmails = validEmails.slice(0, -1) // remove last ","

			if (badEmails.length > 0) {
				badEmails = badEmails.slice(0, -1) // remove last ","
			}

			console.log('badEmails', badEmails)

			$(this).val(validEmails)

			if (badEmails.length > 0) {
				$(this).css('border-color', 'red')
				$('input#forwardEmailRecipient').removeClass('is-valid')
				$('div#errMsgforwardEmailRecipient').text(badEmails + ' => invalid email address/es').css('display', 'initial')
				$('div#msgforwardEmailRecipient').css('display', 'none')

			} else {
				$(this).css('border-color', '#7abe73')
				$('input#forwardEmailRecipient').addClass('is-valid')
				$('div#msgforwardEmailRecipient').css('display', 'initial')
				$('div#errMsgforwardEmailRecipient').css('display', 'none')
			}

		})

		// validate url
		$('input#advancedsettings_redirect_after_registration').on('blur', function () {

			if ($(this).val() === '') {
				$(this).css('border-color', '#7abe73')
				$(this).removeClass('is-valid')
				$('div#errMsgRegistrationRedirectUrl').css('display', 'none')
				$('div#msgRegistrationRedirectUrl').css('display', 'none')

				return
			}

			var url = $(this).val()
			console.log('url', url)
			isValidUrl = validateUrl(url)

			if (!isValidUrl) {
				console.log('valid', url)
				$(this).css('border-color', 'red')
				$(this).removeClass('is-valid')
				$('div#errMsgRegistrationRedirectUrl').text('Invalid URL').css('display', 'initial')
				$('div#msgRegistrationRedirectUrl').css('display', 'none')

			} else {
				console.log('invalid', url)
				$(this).css('border-color', '#7abe73')
				$(this).addClass('is-valid')
				$('div#errMsgRegistrationRedirectUrl').css('display', 'none')
				$('div#msgRegistrationRedirectUrl').css('display', 'initial')
			}
		})

		function validateUrl (url) {
			let isValid = /^(?:(?:(?:https?):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:[/?#]\S*)?$/i.test(url)
			return isValid
		}

		function validateEmail (email) {
			let isValid = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)
			return isValid
		}

		// input registrationRedirectUrl / radio campaign[basiccontrol][re_after_registration]
		$('input[name=\'advancedsettings_bool_redirect_after_registration\']').on('change', function (e) {
			var value = $('input[name=\'advancedsettings_bool_redirect_after_registration\']').prop('checked')
			console.log('you selected: ', value)
			if (value === true) {
				$('input#advancedsettings_redirect_after_registration').prop('readonly', true).css('cursor', 'not-allowed').val('')
				$('input#advancedsettings_redirect_after_registration').removeClass('is-valid')
				$('input#advancedsettings_redirect_after_registration').css('border-color', '#e2e5ec')
				$('div#msgRegistrationRedirectUrl').css('display', 'none')
				$('div#errMsgRegistrationRedirectUrl').css('display', 'none')

			} else {
				$('input#advancedsettings_redirect_after_registration').prop('readonly', false).css('cursor', 'initial')
			}
		})
    </script>

    {# CUSTOMFIELDTABLE #}
    <script>
		class CustomFieldTable {
			constructor (initialNoOfRows) {
				$('input#customfieldlist').val('') // init on page load
				$('input#customfielddelete').val('') // init on page load
				this.customfieldList = []
				this.currentId = 0
				this.lastId = 0
				this.noOfInitiaRows = initialNoOfRows
				this.noOfCurrentRows = initialNoOfRows
				this.tbody = $('table#customfieldtable>tbody')
				this.template = $('template#customfieldrow')
				console.log('template', this.template)
				this.templateContent = this.template.toArray()[0].innerHTML
				this.customfieldsObjectRegisterId = $('table#customfieldtable').data('customfieldsObjectRegisterId')
			}

			incNoOfCurrentRows () {
				this.noOfCurrentRows++
				$('table#customfieldtable').data('noOfCurrentRows', this.noOfCurrentRows)
				return this.noOfCurrentRows
			}

			addNewRow () {

				var rowNo = this.incNoOfCurrentRows()
				console.log('in addNewRow ... #', rowNo)
				var mystring = this.templateContent
				var newRow = mystring.toString()
					.replaceAll('_new', ( '_' + rowNo ))
					.replaceAll('new_id', rowNo)

				this.tbody.append(newRow)
			}

			// triggered by click event
			save ($tableRows) {

				console.log('this.noOfInitialRows', this.noOfInitialRows)
				console.log('this.noOfInitialRows', this.noOfInitialRows)
				var $customfieldList = []
				var $noOfInitialRows = this.noOfInitiaRows
				var $noOfCurrentRows = this.noOfCurrentRows
				var $customfieldsObjectRegisterId = this.customfieldsObjectRegisterId
				console.log('$customfieldsObjectRegisterId', $customfieldsObjectRegisterId)

				$tableRows.each(function (i, row) {
					var field = {}

					var $row = $(row),
						$rowId = $row.data('index'),
						$customfieldId = $row.data('customfield_id'),
						$objectRegisterId = $row.data('objectregister_id'),
						$campaignId = $row.data('campaign_id'),
						$inputText = $row.find('input[type="text"]'),
						$inputCb = $row.find('input[type="checkbox"]'),
						$inputSelect = $row.find('select')

					console.log('$noOfCurrentRows > this.noOfInitialRows', $noOfCurrentRows, $noOfInitialRows)
					//if ($rowId >= $('table#customfieldtable').data('noofbodyrows')) {
					if ($rowId === undefined) {
						field['instruction'] = 'insert'

					} else {
						field['instruction'] = 'update'
					}

					field['id'] = $customfieldId
					field['objectregister_id'] = ( $objectRegisterId === undefined ) ? '' : $objectRegisterId
					field['campaign_id'] = ( $campaignId === undefined ) ? '' : $campaignId

					$inputText.each(function (i, e) {
						console.log('Original Text', e.value)
						// remove '.' in value.
						let dotfield = e.value.split('.')
						let evalue = ( dotfield[1] !== undefined ) ? dotfield[1] : e.value
						// remove '_' in evalue.
						let underscorefield = evalue.split('_')
						evalue = ( underscorefield[1] !== undefined ) ? underscorefield[0] : evalue
						console.log('evalue', evalue)
						//field[e.id.split('_')[0]] = 'Contact_'+evalue;
						field[e.id.split('_')[0]] = evalue
					})

					$inputSelect.each(function (i, e) {
						field[e.id.split('_')[0]] = e.value
					})

					$inputCb.each(function (i, e) {
						field[e.id.split('_')[0]] = e.checked
					})

					$customfieldList[i] = field
				})
				// update hidden input field
				$('input#customfieldlist').val(JSON.stringify($customfieldList))
				//$('input#customfieldlist').val($customfieldList);
				this.customfieldList = $customfieldList
			}

			// triggered by events
			removefromUi (id) {
				// get current deleted customfield rows
				var $customfielddelete = new Array()

				var $oldEntries = $('input#customfielddelete').val()
				console.log('1 $oldEntries', $oldEntries)

				if ($oldEntries !== '' && $oldEntries !== undefined) {
					// unpack old entries
					$oldEntries = JSON.parse($oldEntries)
					$customfielddelete = $oldEntries
				}

				if ($('div.cusfield-helptext').hasClass('kt-show')) {
					let cus_id = $('div.cusfield-helptext').attr('data-customfield_id')
					if (cus_id == id) {
						$('div.cusfield-helptext').removeClass('kt-show').addClass('kt-hide').attr('data-customfield_id', '0')
						$('span#addcustomfieldrow').removeClass('kt-hide').addClass('kt-show')
						$('button#cio-select-next').prop('disabled', false)
					}
				}

				console.log('1 $customfielddelete', $customfielddelete)

				var $cf = $('tr#customfield_' + id)

				$customfielddelete.push({
					'instruction': 'delete',
					'fieldname': $cf.data('fieldname'),
					'customfield_id': $cf.data('customfield_id'),
					'campaign_id': $cf.data('campaign_id'),
					'objectregister_id': $cf.data('objectregister_id')
				})
				console.log('2 $customfielddelete', $customfielddelete)

				$('input#customfielddelete').val(JSON.stringify($customfielddelete))

				$cf.remove() // remove from ui
			}

			// for tests
			getCustomfields () {
				return this.customfieldList
			}

		}

		var $customFieldTable = new CustomFieldTable($('table#customfieldtable').data('noofbodyrows'))

		// click on plus to add a new custom field row to custom field table
		$('span#addcustomfieldrow').on('click', function () {
			$customFieldTable.addNewRow()

			// pattern check for the custom fields input.
			// Allow only numbers and alphabets.
			$('input.newcustomfield ').change(function () {
				let value = $(this).val()
				let id = $(this).closest('tr').attr('data-customfield_id')
				console.log('new cusfield id', id)
				if ($(this).is(':invalid')) {
					$('div.cusfield-helptext').removeClass('kt-hide').addClass('kt-show').attr('data-customfield_id', id)
					$('button#cio-select-next').prop('disabled', true)
					$('span#addcustomfieldrow').removeClass('kt-show').addClass('kt-hide')
				} else {
					$('div.cusfield-helptext').removeClass('kt-show').addClass('kt-hide').attr('data-customfield_id', '0')
					$('span#addcustomfieldrow').removeClass('kt-hide').addClass('kt-show')
					$('button#cio-select-next').prop('disabled', false)
				}
			})

			let remove = $('input.newcustomfield ').parent().parent().find('td.td_remove')
			remove.on('click', function () {
				console.log('remove click event')
			})
		})

		function changedCustomfieldRow (id) {

			$tableRows = $('table#customfieldtable>tbody tr')
			$customFieldTable.save($tableRows)
			console.log(id)
			console.log('getCustomfields', $customFieldTable.getCustomfields())

		}

		// click on the remove customfield bottom
		function removeCustomfield (id) {

			$tableRows = $('table#customfieldtable>tbody tr')
			$customFieldTable.removefromUi(id)
			$customFieldTable.save($tableRows)

		}

		// --------------------------------------------------------------------------------------------------------

		const $tableID = $('#table')
		const $BTN = $('#cio-select-next')
		const $EXPORT = $('#export')
		let campaignInOneParams = $('#table').data('isTest')
		console.log(campaignInOneParams)
		//deleting unwanted keys(new requirement)

		let tmp = ''
		// make a copy of params used for appending the standard field.
		let campaignParamsBackup = Object.assign(tmp, campaignInOneParams)

		// A few jQuery helpers for exporting only
		jQuery.fn.pop = [].pop
		jQuery.fn.shift = [].shift

		$BTN.on('click', () => {

			const $rows = $tableID.find('tr:not(:hidden)')
			const headers = []
			const data = []

			// Get the headers (add special header logic here)
			$($rows.shift()).find('th:not(:empty)').each(function () {
				headers.push($(this).text().toLowerCase())
			})

			// Turn all existing rows into a loopable array
			$rows.each(function () {
				const $td = $(this).find('td')
				const h = {}

				// Use the headers from earlier to name our hash keys
				headers.forEach((header, i) => {
					i = 1

					switch (header) {
						case 'marketing-in-one':
							// Fetch the Standard Fields
							let CIOText = $('.CIO', this).find('option:selected').text()
							let CIOValue = $('.CIO', this).find('option:selected').val()
							h[header] = CIOText
							// Fetch the Custom Fields
							if (CIOText.length === 0) {
								let CIOCustomText = $(this).find('td.CIO > input').val()
								let valSplit = CIOCustomText.split('.')
								if (valSplit[1].length !== 0) {
									//CIOValue = 'Contact_' + valSplit[1];
									CIOValue = valSplit[1]
								}
								h[header] = CIOCustomText
							}
							h['html form'] = CIOValue
							break
						case 'data type':
							h[header] = $('.DataType', this).find('option:selected').text()
							break
						case 'required':
							h[header] = $('.required', this).find('option:selected').val()
							break
						case 'field type':
							h[header] = $('.FT', this).find('option:selected').text()
							break
						/*default:
                            h[header] = "";*/

					}
					if (h[header] === '') {
						h[header] = $td.eq(i).text()
					}
				})

				data.push(h)
			})
			value = JSON.stringify(data)
			encryptedValue = btoa(value)
			$('#urlID').attr('value', encryptedValue)
			$('#second').prop('disabled', true)
			$('#submit').click()
			// Output the result
			$EXPORT.text(JSON.stringify(data))
		})

		//This is to Generate html for select  to mapping table
		function generateSelect (array) {
			console.log(array)
			let innerHTML = ''

			//get mapping array from database but for now hard-coded
			$.each(array, function (key, value) {
				if (key !== 'campaign_id') {
					/*                    let label = 'Contact.'+key;
                                        let select = `<option value="Contact_` + value + `">` + label + `</option>`;*/
					let label = key
					let select = `<option value=` + value + `">` + label + `</option>`
					innerHTML += select
				}
			})

			let HTML = ` <select  class="cio-select form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `
			return HTML
		}

		function getTableLength () {
			return $('.table tr').length
		}

		function generateHTML () {
			// remove the selected option from CIO dropdown list
			removeCIOSelectedOptions()

			let i = getTableLength()
			let CIOSelect = generateSelect(campaignInOneParams)
			// TODO: @aravind => inject list from datatypes-table!!!
			let DataType = [
				'Text',
				'Decimal',
				'Integer',
				'Date',
				'DateTime',
				'Email',
				'URL',
				'Phone'
			]
			let dataTypeHtml = generateSelectForDataType(DataType)
			let requiredHtml = `
                         <select class="form-control form-control-md fieldTypeSelect" style="opacity:1">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select> `
			let fieldType = `
                         <select class="form-control form-control-md fieldTypeSelect" style="opacity:1">
                            <option value="standard">Standard</option>
                            <option value="custom">Custom</option>
                        </select> `
			return `
                <tr class="defaultTableValue" id="` + i + `">
                    <td class="pt-3-half select2 CIO">` + CIOSelect + `</td>
                    <td class="pt-3-half select2 DataType">` + dataTypeHtml + `</td>
                    <td class="pt-3-half select2 required">` + requiredHtml + `</td>
                    <td class="pt-3-half select2 FT">` + fieldType + `</td>
                    <td valign="middle">
                        <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                    </td>
                </tr>`
		}

		/**
		 *  remove the selected fields from cio select options
		 */
		function removeCIOSelectedOptions () {
			const rows = $tableID.find('tr:not(:hidden) >td >select.cio-select option:selected')
			let i = 0
			// Currently remove the used standard param from the list.
			$.each(rows, function (key, value) {
				delete campaignInOneParams[value.value]
			})
		}

		/**
		 *  This functions generate HTML for datatypes
		 */
		function generateSelectForDataType (array) {
			let innerHTML = ''

			//get mapping array from database but for now hard-coded
			$.each(array, function (key, value) {
				let select = `<option value="` + value + `">` + value + `</option>`
				innerHTML += select
			})

			let HTML = ` <select  class="form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `
			return HTML

		}
    </script>


    <script>


		$('#clearDate').click(function () {
			$('#kt_datetimepicker_3').val('').datepicker('update')
		})
		$('#clearDate2').click(function () {
			$('#kt_datetimepicker_2').val('').datepicker('update')
		})
		//when facebook and google inputs are typed they are automatically on
		$('#googleAnalyticsInput').keyup(function () {
			$('#googleAnalyticsInputChecked').prop('checked', true)
		})
		$('#facebookAnalyticsInput').keyup(function () {
			$('#facebookAnalyticsInputChecked').prop('checked', true)
		})
    </script>


{% endblock %}
