{% extends "app.twig" %}

{% block content %}

    {# ////////CSS File for Flags SVG - Where to put? in app.twig?///////////// #}
    <link href="{{ cssurl }}/flags/flag-icons.css" rel="stylesheet" type="text/css"/>

    {# begin:: Content Head - top row #}
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title" title="domain overview table">Languages</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">{{ account }}</span>
        </div>
    </div>
    {# end:: Content Head - top row #}

    {# begin:: Content Head - secondary row #}
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
                {#  begin: Add new Language #}
                <a href="{{ path('project.languages_wizard') }}" id="NewLanguage"
                   class="btn btn-brand btn-elevate btn-icon-sm">+ New Language</a>
                {# end: Add new Language #}
            </ul>
        </div>
    </div>
    {# end:: Content Head #}

    {# begin:: Content #}
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        {% if leads is defined and leads.error_leads %}
            {# begin:: warnings  #}
            <div class="alert alert-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.error_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        {# end:: warnings #}

        {# begin:alert #}
        {% if leads is defined and leads.notify_leads %}
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.notify_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        {# end:alert #}
        {# end:: warnings #}

        {# BEGIN "DUMMY" DESIGN EXAMPLE FOR LANGUAGE TABLE #}
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                {# begin: Datatable #}
                <table id="domainViewTable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        {# COLUMN #1 - Object.IsoCode   #}
                        <th id="LanguageIsoCode" class="standard_fields"><b>ISO-Code</b></th>
                        {# COLUMN #2 - Object.Language  #}
                        <th id="LanguageName" class="standard_fields"><b>Language</b></th>
                        {# COLUMN #3 - Object.LanguageDefault #}
                        <th id="LanguageDefault" class="standard_fields"><b>Default</b></th>
                        {# COLUMN #4 - Actions including: Detailview #}
                        <th id="Actions" class="standard_fields"><b>Actions</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="language-table-row">
                        <td class="standard_fields">de</td>
                        <td class="standard_fields"><span class="fi fi-de"></span> German</td>
                        <td class="standard_fields"><i class="color-green fas fa-solid fa-check"></i></td>
                        <td class="Actions standard_fields">
							 <span class="dropdown">
								 <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown"
                                    aria-expanded="true">
									 <i class="fa fa-ellipsis-h actions-icon"></i>
								 </a>
								 <div class="dropdown-menu dropdown-menu-right">
									 <a class="dropdown-item" href="{{ path('project.languages_wizard') }}"><i
                                                 class="la la-pencil-square"></i>Start Wizard</a>
                                     <a class="dropdown-item" href="#"><i class="la la-remove"></i>Delete</a>
								 </div>
							 </span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="language-table-row">
                        <td class="standard_fields">en</td>
                        <td class="standard_fields"><span class="fi fi-gb"></span> English</td>
                        <td class="standard_fields"></td>
                        <td class="Actions standard_fields">
							 <span class="dropdown">
								 <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown"
                                    aria-expanded="true">
									 <i class="fa fa-ellipsis-h actions-icon"></i>
								 </a>
								 <div class="dropdown-menu dropdown-menu-right">
                                     <a class="dropdown-item" href="#"><i class="la la-check-circle-o"></i>Set as Default</a>
									 <a class="dropdown-item" href="{{ path('project.languages_wizard') }}"><i
                                                 class="la la-pencil-square"></i>Start Wizard</a>
                                     <a class="dropdown-item" href="#"><i class="la la-remove"></i></i>Delete</a>
								 </div>
							 </span>
                        </td>
                    </tr>
                    </tbody>


                </table>


                <div id="pagination_bar">
                    <nav aria-label="Page navigation example" id="pagination_nav_bar">
                        <ul class="pagination" id="paginationUl">
                            <li class="page-item" id="previous">
                                <a aria-label="Previous" class="page-link" href="#"><span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span></a>
                            </li>
                            <li class="page-item pagination-bar active" id="page_1">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item" id="next">
                                <a aria-label="Next" class="page-link" href="#"><span aria-hidden="true">»</span> <span
                                            class="sr-only">Next</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <template id="previous_template">
                    <li class="page-item" id="previous">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                </template>
                <template id="next_template">
                    <li class="page-item" id="next">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </template>
                {# end: Datatable #}
            </div>
        </div>
        {#  END DUMMY DESIGN EXAMPLE #}

    </div>

{% endblock %}

{% block javascripts %}
    <script>
		//@internal - get the values from controller to use it in contact-overview.js
        {# TODO: @Sven subsitude with correct PARAMS or leave it out, if not needed
        // const mioStandardFields = JSON.parse('{{ standard_fields_for_view | json_encode | raw }}');
        // const mioCustomFields = JSON.parse('{{ custom_fields_for_view | json_encode | raw }}');
        #}
		const applicationURL = '{{ app.request.server.get('APPLICATION_URL') }}'
		const viewName = 'shopdataqueue'
    </script>
    <script src="{{ jsurl }}/shopdataqueue/shopdataqueue_statuslist.js" type="text/javascript"></script>
    <script type="text/javascript">
		//@internal: may be deprecated , redirect the page
		$('select#filter_by_campaign').change(function () {
			var camp_url = $(this).children('option:selected').val()
			$(location).attr('href', camp_url)
		})
		//@internal: logic for sync of contacts
		const sync_data = $('#lead-sync-button')
		let is_apikey_changed = sync_data.data('lead-sync-is-apikey-changed')
		let sync_lead_error = sync_data.data('lead-sync-error')
		let previous_sync_record = sync_data.data('lead-previous-sync-record')
		let button_agreed = $('#lead_sync_yes')
		let button_not_agreed = $('#lead_sync_no')
		let button_all_contacts = $('#lead_sync_all_contacts')
		let route = sync_data.data('route')

		button_agreed.hide()
		button_not_agreed.hide()
		button_all_contacts.hide()

		console.log('previous_sync_record', previous_sync_record)
		console.log('is_apikey_changed', is_apikey_changed)
		let payload = ''
		sync_data.click(function () {
			let title = $('span#popup-title')
			let text = $('span#message')
			let hint = '<br><br><b><u>Note</u>: The process can take a long if there are many record to Synchronize</b>'
			if (previous_sync_record === true) {
				// Previous sync record is present
				if (is_apikey_changed === true) {
					// APIKey changed ->
					title.html('Integration Key is changed from previous synchronization')
					text.html('Key is different from previous sync record' + hint)
					//button_agreed.show().html('Continue from')
					button_not_agreed.show().html('Dont Sync')
					button_all_contacts.show()
					$('#confirmation_sync_contacts').fadeIn()
				} else {
					// No change in APIKey
					title.html('Synchronize Contacts to eMail-In-One')
					text.html('Would you like to continue sync' + hint)
					// show buttons
					button_agreed.show().html('Continue Sync')
					button_not_agreed.show().html('Dont Sync')
					button_all_contacts.show().html('Sync all contacts again')
					// fade in popup
					$('#confirmation_sync_contacts').fadeIn()

				}
			} else {
				// No previous sync record, sycn all.
				title.html('Synchronize Contacts to eMail-In-One')
				text.html('No Previous Synchronization found,Would you like to synchronize all contacts?' + hint)
				//button_agreed.show()
				button_not_agreed.show().html('Dont Synchronize')
				button_all_contacts.show()
				// Sync all contacts.
				$('#confirmation_sync_contacts').fadeIn()
			}

			// Behaviour after POPUp is present
			button_agreed.click(function () {
				payload = { 'sync_all': false, 'continue_sync': true }
				postRequest(payload)
				$('#confirmation_sync_contacts').fadeOut()
			})
			button_all_contacts.click(function () {
				payload = { 'sync_all': true, 'continue_sync': false }
				postRequest(payload)
				$('#confirmation_sync_contacts').fadeOut()
			})
			button_not_agreed.click(function () {
				payload = { 'sync_all': false, 'continue_sync': false }
				//postRequest(payload);
				$('#confirmation_sync_contacts').fadeOut()
			})

			// Post request to service based on the payload
			function postRequest (payload) {
				let result = ''

				$.post(route, payload, function (data) {
					console.log(data)
					$('#confirmation_sync_contacts').fadeOut()
				})
			}

		})
    </script>
    <script>
		$('.tooltip-demo.well').tooltip({
			selector: 'a[rel=tooltip]'
		})
    </script>

{% endblock %}