{% extends "app.twig" %}

{% block content %}

    <!-- DRAFT - DESIGN QUESTIONNAIRE OVERVIEW -->

    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->

    <style>

        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }

        .kt-portlet-campaigns {
            border-left: 15px solid #7abe73;
            margin-bottom: 15px;
        }

        .fas {
            color: #7abe73!important;
        }

        .far {
            color: #7abe73!important;
        }

        .questionnaire-icons-wrapper {

        }

        .questionnaire-icons {
            color: #000000;
            font-size: 1.3rem;
            padding-top:5px;
            margin-right:20px;
        }

    </style>


    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{campaigns[0].error is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{campaigns[0].error is defined ? campaigns[0].error :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{campaigns[0].success is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{campaigns[0].success is defined ? campaigns[0].success :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>

    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Active Questionnaires</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">{#  {{ campaigns[0].account }} #} 1140</span>
        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
        <!--end::sub-control menu-->
    </div>

    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader"
         style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main">
            <!--begin:create new campaign -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('questionnaire.wizard') }}">Create
                Questionnaire</a>
            <!--end:create new campaign -->
        </div>
        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar" style="padding-top:20px;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('camp.active') }}">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('camp.draft') }}">Draft</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('camp.archive') }}">Archive</a>
                </li>
            </ul>
        </div>

        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->

{#
    {% set id = 1 %}
    {% if (campaigns is defined) and campaignHasRecords %}
        {% for campaign in campaigns %}#}

            <!-- begin:: Content -->
            <div class="campaign-list-wrapper kt-grid__item">
                <!--begin:: Portlet-->
                <div class="kt-portlet kt-portlet-campaigns MatomoCampaigns">
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-3">
                            <div class="kt-widget__top">

                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <a href="{{ campaign.preview_url is defined ? campaign.preview_url:'' }}" target="_blank"
                                           class="kt-widget__username">
                                            <span style="background-color:#7abe73;"
                                                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">
                                                <span style="color:#fff; font-size:14px;">{#  {{ id }}#}1</span>
                                            </span>
                                            {# {% if campaign.name is defined  and campaign.url is defined %} #}
                                                &nbsp;{#{{ campaign.name }}#}&nbsp;Employee Questionnaire 2021<small>-&nbsp;{#{{ campaign.url }}#}https://marketing-in-one.net/employee-questionnaire-2021<i style="font-size:10px;" class="fas fa-external-link-alt"></i></small>
                                            {# {% endif %} #}
                                        </a>
                                        <div class="kt-widget__action custom-control-inline questionnaire-icons-wrapper">
                                            <div class="questionnaire-icons"><i class="fas fa-question-square"></i>&nbsp;&nbsp;<span class="">10</span></div>
                                            <div class="questionnaire-icons"><i class="fas fas fa-users"></i>&nbsp;&nbsp;<span class="">28</span></div>
                                            <div class="questionnaire-icons"><i class="fas fa-user-clock"></i>&nbsp;&nbsp;<span class="">14</span></div>
                                            <div class="questionnaire-icons"><i class="far fa-flag-checkered"></i>&nbsp;&nbsp;<span class="">6</span></div>
                                            <div class="questionnaire-icons"><i class="fas fa-clock"></i>&nbsp;&nbsp;<span class="">03:25</span></div>
                                            <button type="button" class="showhr btn btn-secondary btn-sm btn-upper detailsButton">
                                                details
                                            </button>&nbsp;
                                            <button type="button" class="btn btn-brand btn-sm btn-upper"
                                                    data-toggle="dropdown" aria-expanded="true">action
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{#  {{ campaign.preview_url }}#}"target="_blank">Preview</a>
                                                <a class="dropdown-item" href="{#{{ campaign.copy_url }} #}">Edit</a>
                                                <a class="dropdown-item" href="{#{{ campaign.viewSettings_url }} #}">Duplicate</a>
                                                <a class="dropdown-item" href="{# {{ campaign.archive_url }} #}">Archive</a>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Analyze Results</a>
                                                {#todo: create copy #}
                                                {#<a class="dropdown-item" href="#">Copy</a>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="child-row">
                                <div class="kt-widget__bottom">
                                    <div class="kt-widget__item">
                                        <i class="fas fa-question-square fa-2x"></i>
                                        <div class="kt-widget__details impressions">
                                            <span class="kt-widget__title">QUESTIONS</span>
                                            <span class="kt-widget__value impressionsSpan"><span></span>10</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-users fa-2x"></i>
                                        <div class="kt-widget__details visitors">
                                            <span class="kt-widget__title">VISITORS</span>
                                            <span class="kt-widget__value visitorsSpan" data-url="{{ campaign.preview_url is defined ? campaign.preview_url:'' }}"><span></span>28</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-user-clock fa-2x"></i>
                                        <div class="kt-widget__details averageTime">
                                            <span class="kt-widget__title">STARTS</span>
                                            <span class="kt-widget__value averageTimeSpan"><span></span>14</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-flag-checkered fa-2x"></i>
                                        <div class="kt-widget__details averageTime">
                                            <span class="kt-widget__title">FINISHERS</span>
                                            <span class="kt-widget__value averageTimeSpan"><span></span>6</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-clock fa-2x"></i>
                                        <div class="kt-widget__details averageTime">
                                            <span class="kt-widget__title">AVERAGE DURATION</span>
                                            <span class="kt-widget__value averageTimeSpan"><span></span>03:25 min</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Activated by:</span>
                                            {# TODO : change to activation by#}
                                            <span class="kt-widget__value kt-font-brand"><small>{#{{ campaign.updated_by }}#}Admin</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Active since:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{#{{ campaign.activationdate }}#}09.03.2021</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Last Modified:</span>
                                            {# TODO : change to activation by#}
                                            <span class="kt-widget__value kt-font-brand"><small>{#{{ campaign.updated_by }}#}10.03.2021</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Version:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{#{{ campaign.version }}#}4</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Unique Object ID:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{#{{ campaign.object_unique_id }}#}123456</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Object Reference Id:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.object_register_id is defined? campaign.objectregister_idv : 'xxxx' }}</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end:: Portlet-->
                {% if campaign.splittest is defined and campaign.splittest.status is defined and campaign.splittest.status == 'on' %}
                    <div class="child-row-splitest">
                        {% set sp_config = campaign.splittest %}
                        <!--begin:: Widgets/Best Sellers-->
                        <div class="kt-portlet kt-portlet--height-fluid" style="margin-left:50px;">
                            <!-- begin :: splittest variants body -->
                            <div class="kt-portlet__body" style="padding-bottom:0px!important; padding-top:35px!important;">
                                <!-- begin :: splittest variants  -->

                                <div class="kt-widget5">
                                    {% for variant in sp_config.variants %}
                                        <div class="kt-widget5__item">
                                            <div class="kt-widget5__content">
                                                <div class="kt-widget5__pic">
                                                <span style="border: 1px solid #7abe73; background-color:#fff;"
                                                      class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-"><span
                                                            style="color:#7abe73; font-size:14px;">{{ campaign.version }}</span></span>
                                                </div>
                                                <div class="kt-widget5__section">
                                                    <a href="{{ campaign.url }}/{{ sp_config.name }}/{{ variant.variant_id }}/" class="kt-widget5__title" target="_blank">
                                                        {{ campaign.url }}/{{ sp_config.name }}/{{ variant.variant_id }}/
                                                        <i style="font-size:10px;" class="fas fa-external-link-alt"></i>
                                                    </a>
                                                    <div class="kt-widget5__info">
                                                        <span>Created:</span>
                                                        <span class="kt-widget__value kt-font-brand">{{ campaign.activationdate }}</span>
                                                        <span>Created by:</span>
                                                        <span class="kt-widget__value kt-font-brand">{{ campaign.updated_by }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-widget5__content">
                                                <span style="padding-right:60px;"><iclass="fas fa-eye fa-lg"></i>&nbsp;&nbsp;<span>0.00</span></span>
                                                <span style="padding-right:60px;"><i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;<span>0.00</span></span>
                                                <span style="padding-right:60px;"><i class="fas fa-crosshairs fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                                <span style="padding-right:60px;"><i class="fas fa-percentage fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                                <span style="padding-right:20px;"><i class="fas fa-flag-checkered fa-lg"></i>&nbsp;&nbsp;<span>00.00.0000</span></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!--end:: splittest variants -->
                            </div>
                            <!--end:: splittest variants body-->
                        </div>
                    </div>
                {% endif %}
                <!--end:: Widgets/Best Sellers-->

            </div>

    {#   {% set id = id + 1 %}#}
     {#    {% endfor %} #}
   {# {% endif %} #}


{% endblock %}

{% block javascripts %}

{% endblock %}

