{% extends "app.twig" %}

{% block content %}

    <!-- DRAFT - DESIGN QUESTIONNAIRE WIZARD -->

    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->

    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <!-- BEGIN STYLES -->
    <style>
        /* BEGIN - DESIGN QUESTIONNAIRE WIZARD */

        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {
            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }
        .btn-secondary-danger.dropdown-toggle, .btn-secondary-danger:focus, .btn-secondary-danger.active, .btn-secondary-danger:active, .btn-secondary-danger:hover {
            background-color: crimson !important;
            cursor: pointer !important;
            color: #fff !important;
        }
        .btn-brand:hover, .btn-brand:focus {
            background-color: #558550 !important;
            cursor: pointer !important;
            color: #fff !important;
            border: none!important;
        }
        .checkbox label:after, .radio label:after {
            content: '';
            display: table;
            clear: both;
        }
        .checkbox .cr, .radio .cr {
            position: relative;
            display: inline-block;
            background-color: #fff;
            border: 1px solid #d7d2d2;
            border-radius: .25em;
            width: 1.3em;
            height: 1.3em;
            float: left;
            margin-right: .5em;
        }
        .radio .cr {
            border-radius: 50%;
        }
        .checkbox .cr .cr-icon, .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
            color: #7abe73;
        }
        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }
        .checkbox label input[type="checkbox"], .radio label input[type="radio"] {
            display: none;
        }
        .checkbox label input[type="checkbox"]+.cr>.cr-icon, .radio label input[type="radio"]+.cr>.cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }
        .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon, .radio label input[type="radio"]:checked+.cr>.cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }
        .checkbox label input[type="checkbox"]:disabled+.cr, .radio label input[type="radio"]:disabled+.cr {
            opacity: .5;
        }
        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }
        .fas {
            color: #7abe73 !important;
        }
        .row-full {
            width: 100vw;
            position: relative;
            margin-left: -50vw;
            left: 50%;
            background-color: #f5f5f5;
        }
        /* END - QUESTIONNAIRE STYLES */
    </style>



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Create Questionnaire</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Questionnaire Wizard </span>
        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/pages/draft"><i
                            class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <!-- end:: Content Head -->

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->



    <!-- begin:: Content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable">
                <!--begin: Form Wizard Step 1 (General Options) -->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(33% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                General Settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Set Name, Description and Type of your Questionnaire
                            </div>
                        </div>
                    </div>
                </div>

                <!--begin: Form Wizard Step 2 (General Options) -->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="" style="flex:0 0 calc(33% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Questions
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Design & Build Questions
                            </div>
                        </div>
                    </div>
                </div>

                <!--begin: Form Wizard Step 3 (General Options) -->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="" style="flex:0 0 calc(33% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Page Layout
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure your Pages
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--end: Form Wizard Nav -->
        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}

        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">


                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Enter Name, Description, Type and select the Questionnaire Run Time
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group validated">
                                                    <label class="form-control-label" id='campaignName'
                                                           for="inputSuccess1">Name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text"
                                                                                               id="basic-addon1">https://treaction.campaign-in-one.net/</span>
                                                        </div>
                                                        <input type="text"
                                                               data-urlprefix="{{ url }}account/campaigns/checkNameOfCampaign/"
                                                               data-getparams="{#  {{ campaign.company_id }} #}"
                                                               class="form-control is-valid"
                                                               placeholder=""
                                                               id="name1"
                                                               name="campaign[name]"
                                                               aria-describedby="basic-addon1"
                                                               value="{{ c_set.name is defined ? c_set.name : '' }}"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="This is a Questionnaire to ask about Product Satisfaction"
                                                           name="campaign[description]"
                                                           value="{{ c_set.description is defined ? c_set.description : '' }}">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group validated">
                                                    <label class="form-control-label" id='campaignName'
                                                           for="inputSuccess1">Category <small>(optional)</small></label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Choose your Questionnaire Category</option>
                                                        <option>Customer Feedback</option>
                                                        <option>Community Feedback</option>
                                                        <option>Brand Tracking</option>
                                                        <option>General Market Research</option>
                                                        <option>Employee Engagement</option>
                                                        <option>Employee Performance</option>
                                                        <option>Employee Feedback</option>
                                                        <option>Event Registration</option>
                                                        <option>Event Feedback</option>
                                                        <option>Academic Research</option>
                                                        <option>Quiz</option>
                                                        <option>Vote</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label class="float-left">Questionnaire Type</label>
                                                    <!--<label class="float-right"><small>Which Type is right for me? </small><i class="grey-tooltipp fas fa-question-circle"></i></label>-->
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Anonymous Questionnaire (no User Data gathered)</option>
                                                        <option>Lead Nurturing Survey (User Data is gathered)</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">
                                                    Begin Date <small>(optional)</small></label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.general.beginDate is defined ? c_set.general.beginDate : '' }}"
                                                           name="campaign[general][beginDate]" id="kt_datetimepicker_3">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                           <i class="fas fa-play"></i></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate"><i
                                                            class="fas fa-exclamation-circle" style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">
                                                    End Date <small>(optional)</small></label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" readonly=""
                                                           value="{{ c_set.general.expireDate is defined ? c_set.general.expireDate : '' }}"
                                                           name="campaign[general][expireDate]"
                                                           id="kt_datetimepicker_2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-flag-checkered"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate2"><i
                                                            class="fas fa-exclamation-circle" style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <!--begin: Form Wizard Step 2-->
                            <div  class="row-full kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="">

                                <div style="height:40px; "></div>
                                <!-- BEGIN:QUESTION BUILDER -->
                                <div id="demo">
                                    <div style="margin-bottom:30px;" class="container" id="duplicater">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-10">
                                                <div style="border-left:5px solid #7abe73;" class="card">
                                                    <div style="background-color:#fff; height:60px;" class="card-header">
                                                        <ul class="nav nav-tabs card-header-tabs float-left" id="bologna-list" role="tablist">
                                                            <li class="nav-item">
                                                                <div style="margin-right:10px; width:40px;">
                                                                    <div style="width:100%; height:40px;background-color:#7abe73;" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">
                                                                        <span style="color:#fff; font-size:14px;"><strong>Q1</strong></span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul class="nav nav-tabs card-header-tabs float-right" id="bologna-list" role="tablist">
                                                            <li style="margin-right:10px;" class="nav-item">
                                                                <a class="btn btn-secondary active nav-link" href="#description" role="tab" aria-controls="description" aria-selected="true">Edit</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="btn btn-secondary nav-link" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Logic</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a style="color:crimson;" class="btn btn-secondary-danger nav-link" data-toggle="modal" data-target="#questionDelete">Delete</a>
                                                            </li>
                                                            <!-- BEGIN:: DELETE MODAL-->
                                                            <div class="modal fade" id="questionDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Delete Question?</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            Are you sure you want to delete the Question?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button id="cancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                            <button id="deleteBtn" type="button" class="btn btn-secondary-danger active" data-dismiss="modal">Delete</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END:: DELETE MODAL -->
                                                        </ul>
                                                    </div>

                                                    <!-- BEGIN:: QUESTION SELECTION -->
                                                    <div class="card-body tab-content">
                                                        <div class="tab-pane active" id="description" role="tabpanel">
                                                            <div id="question-content">
                                                            <div class="input-group">
                                                                <input style="border-bottom-left-radius:3px!important;border-top-left-radius:3px!important;" type="text" class="form-control" placeholder="Question1">
                                                                <div class="input-group-append">
                                                                    <button style="width:250px;" class="btn btn-questionnaire btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Question Type</button>
                                                                    <div class="dropdown-menu" style="width:250px;">
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseShortAnswer" role="button" aria-expanded="false" href="#"><i style="color:#C3C6D6; margin-top:8px;" class="far fa-comment-alt-lines"></i> Short Answer</a></li>
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseLongAnswer" role="button" aria-expanded="false"  href="#"><i style="color:#C3C6D6;margin-top:8px;" class="far fa-line-height"></i> Long Answer</a></li>
                                                                        <div role="separator" class="dropdown-divider"></div>
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseMultiplechoice" role="button" aria-expanded="false"  href="#"><i style="color:#C3C6D6!important;margin-top:8px;" class="fas fa-list-ul"></i> Multiple-Choice Question</a></li>
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseCheckboxes" role="button" aria-expanded="false"  href="#"><i style="color:#C3C6D6;margin-top:8px;" class="fal fa-square"></i> Checkboxes</a></li>
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseDropdown" role="button" aria-expanded="false"  href="#"><i style="color:#C3C6D6!important;margin-top:8px;" class="fas fa-chevron-square-down"></i> Dropdown</a></li>
                                                                        <div role="separator" class="dropdown-divider"></div>
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseSlider" role="button" aria-expanded="false" href="#"><i style="color:#C3C6D6;margin-top:8px;" class="far fa-sliders-h"></i> Slider</a></li>
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseStar" role="button" aria-expanded="false" href="#"><i style="color:#C3C6D6;margin-top:8px;" class="far fa-star"></i> Star Rating</a></li>
                                                                        <div role="separator" class="dropdown-divider"></div>
                                                                        <li><a class="dropdown-item" data-parent="#question-content" data-toggle="collapse" href="#collapseUpload" role="button" aria-expanded="false" href="#"><i style="color:#C3C6D6;margin-top:8px;" class="far fa-cloud-upload-alt"></i> Upload File</a></li>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                       <!-- END:: QUESTION SELECTION -->


                                                            <!-- BEGIN:SHORT ANSWER QUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseShortAnswer">
                                                                <div style="height:30px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <span>Label</span>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter the Label value of the Short Answer Textbox" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END:SHORTANSWER QUESTION -->

                                                            <!-- BEGIN:LONG ANSWER QUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseLongAnswer">
                                                                <div style="height:30px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <span>Label</span>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter the Label value of the Long Answer Textbox" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END:LONG ANSWER QUESTION -->

                                                            <!-- BEGIN:MULTIPLE CHOICE QUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseMultiplechoice">
                                                                <div style="height:30px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="far fa-circle"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="far fa-circle"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="far fa-circle"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- END:MULTIPLE CHOICE QUESTION -->

                                                            <!-- BEGIN:DROPDOWN QUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseDropdown">
                                                                <div style="height:30px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="fas fa-chevron-square-down"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="fas fa-chevron-square-down"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="fas fa-chevron-square-down"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- END:DROPDOWN QUESTION -->

                                                            <!-- BEGIN:CHECKBOXQUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseCheckboxes">
                                                                <div style="height:30px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="fal fa-square"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="fal fa-square"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="color:#C3C4C4;font-size: 24px;" class="fal fa-square"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="Enter an Answer Choice" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding-top:10px;" class="col-1 text-center">
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-plus-circle"></i>
                                                                        <i style="cursor:pointer; color:#C3C4C4; font-size: 24px;"class="far fa-minus-circle"></i>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- END:DROPDOWN QUESTION -->

                                                            <!-- BEGIN:SLIDER QUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseSlider">
                                                                <div style="height:30px;"></div>
                                                                <h4>Scale Range Labels</h4>
                                                                <div style="height:10px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Left Side</span>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="0" value="0">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Right Side</span>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">

                                                                                <input id="" type="text" class="form-control" name="" placeholder="100" value=100">

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Start Position Value</span>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="form-group validated">
                                                                            <div class="input-group" id="show">
                                                                                <input id="" type="text" class="form-control" name="" placeholder="0 - 100" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END:DROPDOWN QUESTION -->

                                                            <!-- BEGIN:STAR QUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseStar">
                                                                <div style="height:30px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Scale</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="form-group validated">
                                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option>4</option>
                                                                                <option>5</option>
                                                                                <option>6</option>
                                                                                <option>7</option>
                                                                                <option>8</option>
                                                                                <option>9</option>
                                                                                <option>10</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Shape</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="form-group validated">
                                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                                <option>Star</option>
                                                                                <option>Smiley</option>
                                                                                <option>Heart</option>
                                                                                <option>Thumb</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END:STAR QUESTION -->

                                                            <!-- BEGIN:UPLOAD QUESTION -->
                                                            <div data-parent="#question-content" class="collapse" id="collapseUpload">
                                                                <div style="height:30px;"></div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Only allow specific Filetype</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="form-group validated">
                                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                                <option>Any Filetype</option>
                                                                                <option>PDF</option>
                                                                                <option>Image</option>
                                                                                <option>CSV Document</option>
                                                                                <option>Video</option>
                                                                                <option>Word Document</option>
                                                                                <option>Audio File</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Max Amount of Files</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="form-group validated">
                                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                                <option>1</option>
                                                                                <option>5</option>
                                                                                <option>20</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                    <div style="padding-top:10px;" class="col-2">
                                                                        <span>Max File Size</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="form-group validated">
                                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                                <option>10 MB</option>
                                                                                <option>100 MB</option>
                                                                                <option>500 MB</option>
                                                                                <option>1 GB</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END:UPLOAD QUESTION -->

                                                        </div>
                                                        </div>

                                                        <!-- BEGIN::LOGIC TAB -->
                                                        <div class="tab-pane" id="deals" aria-labelledby="deals-tab">
                                                            <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                <div style="padding-top:10px;" class="col-3">
                                                                    <span style="color:#9a9a9a;">If the answer is...</span>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-3">
                                                                    <span style="color:#9a9a9a;">Then Skip to Question...</span>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-3">
                                                                    <span style="color:#9a9a9a;">Score Answer</span>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-2">
                                                                    <span style="color:#9a9a9a;">Set Correct or False</span>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-1">
                                                                    <span style="color:#9a9a9a;">Clear</span>
                                                                </div>
                                                            </div>
                                                            <div style="margin-bottom: 0px; margin-top: 0px" class="form-group row">
                                                                <div style="padding-top:20px;" class="col-3">
                                                                    <div class="input-group">
                                                                        <span>Answer 1</span>
                                                                    </div>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-3">
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>Question 2</option>
                                                                        <option>Question 3</option>
                                                                        <option>Question 4</option>
                                                                        <option>Question 5</option>
                                                                        <option>End of Questionnaire</option>
                                                                    </select>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-3">
                                                                    <div class="input-group">
                                                                        <span class="input-group-prepend">
                                                                            <button type="button" class="btn btn-outline-secondary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                                                <span style="color:gray; cursor:pointer;" class="fa fa-minus"></span>
                                                                            </button>
                                                                        </span>
                                                                            <input type="text" name="quant[1]" class="form-control input-number text-center" value="1" min="1" max="10">
                                                                             <span class="input-group-append">
                                                                            <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]">
                                                                                <span style="color:gray; cursor: pointer;" class="fa fa-plus"></span>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-2">
                                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                        <label class="btn btn-outline-secondary btn-secondary">
                                                                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Correct
                                                                        </label>
                                                                        <label class="btn btn-outline-secondary btn-secondary-danger">
                                                                            <input type="radio" name="options" id="option2" autocomplete="off"> False
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div style="padding-top:10px;" class="col-1">
                                                                    <button type="button" class="btn btn-outline-secondary text-center">
                                                                        <i style="padding-left:4px; color:gray; cursor:pointer;" class="fal fa-trash-alt"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="background-color:#fff;" class="card-footer">
                                                        <div class="float-left btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                                            <button type="button" id="button" onlick="duplicate()" class="btn btn-outline-secondary">+ Add Next Question</button>
                                                        </div>
                                                        <div class="float-right btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                                            <button style="margin-right:10px;"  type="button" class="btn btn-outline-secondary">Cancel</button>
                                                                <button type="button" class="btn btn-outline-secondary">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END:QUESTION BUILDER -->
                            </div>
                            <!--end: Form Wizard Step 2-->

                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v4__content" data-ktwizard-state="" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">
                                    <i class="fas fa-laptop" style="color:#7abe73;"></i>&nbsp;Select your Page Layout
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Select your Page Layout</label>
                                    <div class="col-8">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>
                                                Classic List
                                            </option>
                                            <option>
                                                One question at a time (Carousel)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="kt-heading kt-heading--md">
                                    <i class="fas fa-pencil-paintbrush" style="color:#7abe73;"></i> Configure your Page Appearance
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Upload a Logo to your Page</label>
                                            <div class="col-8">
                                                <input class="form-control-file" id="exampleFormControlFile1" type="file">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Set the Position of your Logo</label>
                                            <div class="col-8">
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-secondary active"><input autocomplete="off" checked id="fraud-level-low" name="" type="radio" value="left"> Left</label> <label class="btn btn-secondary"><input autocomplete="off" id="fraud-level-medium" name="" type="radio" value="center"> Center</label> <label class="btn btn-secondary"><input autocomplete="off" id="fraud-level-high" name="" type="radio" value="right"> Right</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-4 col-lg-4 col-form-label">Set Page Accent Color</label>
                                            <div class="col-lg-8 col-xl-6">
                                                <input autocomplete="false" class="form-control basic" id="basic" name="error_msg_color" placeholder="colour" style="display: none;" type="text" value="#7abe73">
                                                <div class="sp-replacer sp-light full-spectrum">
                                                    <div class="sp-preview">
                                                        <div class="sp-preview-inner" style="background-color: #7abe73;"></div>
                                                    </div>
                                                    <div class="sp-dd">
                                                        ▼
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="kt-heading kt-heading--md">
                                            <i class="far fa-rectangle-wide" style="color:#7abe73;"></i> Design your Questionnaire Buttons
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Finish Button Text</label>
                                            <div class="col-8">
                                                <input aria-describedby="" class="form-control" id="" name="" placeholder="" type="text" value="Finish Questionnaire">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Previous Button Text</label>
                                            <div class="col-8">
                                                <input aria-describedby="" class="form-control" id="" name="" placeholder="" type="text" value="Previous Question">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Next Button Text</label>
                                            <div class="col-8">
                                                <input aria-describedby="" class="form-control" id="" name="" placeholder="" type="text" value="Next Question">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-4 col-lg-4 col-form-label">Set Button Background Color</label>
                                            <div class="col-lg-8 col-xl-6">
                                                <input autocomplete="false" class="form-control basic" id="basic" name="error_msg_color" placeholder="colour" style="display: none;" type="text" value="#7abe73">
                                                <div class="sp-replacer sp-light full-spectrum">
                                                    <div class="sp-preview">
                                                        <div class="sp-preview-inner" style="background-color: #7abe73;"></div>
                                                    </div>
                                                    <div class="sp-dd">
                                                        ▼
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-4 col-lg-4 col-form-label">Set Button Text Color</label>
                                            <div class="col-lg-8 col-xl-6">
                                                <input autocomplete="false" class="form-control basic" id="basic" name="error_msg_color" placeholder="colour" style="display: none;" type="text" value="#7abe73">
                                                <div class="sp-replacer sp-light full-spectrum">
                                                    <div class="sp-preview">
                                                        <div class="sp-preview-inner" style="background-color: #7abe73;"></div>
                                                    </div>
                                                    <div class="sp-dd">
                                                        ▼
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="kt-heading kt-heading--md">
                                            <i class="fas fa-comment-alt-lines" style="color:#7abe73;"></i> Configure User Feedback and Customize Messages
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Define Headline</label>
                                            <div class="col-8">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Welcome to our Super Duper Questionnaire!" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Define Thankyou Message</label>
                                            <div class="col-8">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Thankyou for participating in this Questionnaire!" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Display Questionnaire Duration?</label>
                                            <div class="col-8">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>
                                                        Do not display duration time
                                                    </option>
                                                    <option>
                                                        &lt; 1 minute
                                                    </option>
                                                    <option>
                                                        2 minutes
                                                    </option>
                                                    <option>
                                                        3 minutes
                                                    </option>
                                                    <option>
                                                        4 minutes
                                                    </option>
                                                    <option>
                                                        5 minutes
                                                    </option>
                                                    <option>
                                                        6 minutes
                                                    </option>
                                                    <option>
                                                        7 minutes
                                                    </option>
                                                    <option>
                                                        8 minutes
                                                    </option>
                                                    <option>
                                                        9 minutes
                                                    </option>
                                                    <option>
                                                        10 minutes
                                                    </option>
                                                    <option>
                                                        15 minutes
                                                    </option>
                                                    <option>
                                                        20 minutes
                                                    </option>
                                                    <option>
                                                        25 minutes
                                                    </option>
                                                    <option>
                                                        30 minutes
                                                    </option>
                                                    <option>
                                                        45 minutes
                                                    </option>
                                                    <option>
                                                        60 minutes
                                                    </option>
                                                    <option>
                                                        &gt; 60 minutes
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Display Progress Bar?</label>
                                            <div class="col-8">
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-secondary active"><input autocomplete="off" checked id="fraud-level-low" name="" type="radio" value="left"> Yes</label> <label class="btn btn-secondary"><input autocomplete="off" id="fraud-level-medium" name="" type="radio" value="center"> No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Create Questionnaire
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        //BOOTSTRAP COLLAPSE HELPER

        $(function(){

            $(".dropdown-menu li a").click(function(){
                $(".btn-questionnaire:first-child").text($(this).text());
                $(".btn-questionnaire:first-child").val($(this).text());
            });
        });

        $('#bologna-list a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $('.panel-collapse').collapse({
            toggle: false
        });

    </script>


        <script type="text/javascript">

        //COLOR PICKER

        let err_color = $(".basic").val();
        let expiration_color = $("#colorPicker2").val();
        let expiration_transparency = $("#slider").val();

        jQuery(".basic").spectrum({
            color: err_color,
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            localStorageKey: "spectrum.demo",
            move: function (color) {

            },
            show: function () {

            },
            beforeShow: function () {

            },
            hide: function () {

            },
            change: function () {

            },
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)", "rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
                    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });

        jQuery("#colorPicker2").spectrum({
            color: expiration_color,
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            localStorageKey: "spectrum.demo",
            move: function (color) {

            },
            show: function () {

            },
            beforeShow: function () {

            },
            hide: function () {

            },
            change: function () {

            },
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)", "rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
                    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });

        jQuery("#slider").ionRangeSlider({
            min: 0.1,
            max: 1.0,
            from: expiration_transparency,
            step: 0.1,
            skin: "modern"
        });

        jQuery(function () {
            jQuery('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'
            })
        });

        $('#menu-settings').addClass("show");
        $('#set-msg').addClass("kt-widget__item--active");

        </script>

    <script type="text/javascript">

        //INPUT FIELD DISABLED HELPER

        let viewType = ""
        if (viewType === 'view') {
            setTimeout(function () {
                $("input").attr({
                    "readonly": true,
                    disabled: "disabled"
                });
                $("select").attr({
                    disabled: "disabled"
                });
            }, 100);
        }
    </script>

    <script type="text/javascript">

    //LOGIC BUTTON COUNTER

    $('.btn-number').click(function(e){
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {

                if(currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
                if(parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if(type == 'plus') {

                if(currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if(parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function(){
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {

        minValue =  parseInt($(this).attr('min'));
        maxValue =  parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }
    });

    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

</script>



    <!-- end:: Content -->

{% endblock %}

{% block javascripts %}

{% endblock %}