{% extends "app.twig" %}

{% block content %}

    {# ////////CSS File for Flags SVG - Where to put? in app.twig?///////////// #}
    <link href="{{ cssurl }}/flags/flag-icons.css" rel="stylesheet" type="text/css"/>

    <style type="text/css">
        .invalid-url {
            color: red;
            padding: 5px 0px 0px 1px;
        }
    </style>

    {# begin:: Content Head - top row #}
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Languages Wizard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Define settings for your Language</span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('languages_overview') }}"><i
                            class="la la-angle-left"></i>Cancel</a>
            </div>
        </div>
    </div>
    {# end:: Content Head - top row #}

    {#  begin:alert #}
    <div class="alert alert-light alert-elevate fade {{ (lang.local.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    {#  end:alert #}

    {#  begin:: Content #}
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        {# begin: Form Wizard Nav #}
        <div class="kt-wizard-v4__nav">
            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable ">
                <div class="kt-wizard-v4__nav-item tabstyle-3-steps" data-ktwizard-type="step"
                     data-ktwizard-state="current">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Base Settings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item tabstyle-3-steps" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Variables
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Define Variables for Language
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item tabstyle-3-steps" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Text Snippets
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Define Messages for Text Snippets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end: Form Wizard Nav  #}


        {# fetch all the languages with ISO-Code from DB. #}

        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        {# begin: Form Wizard Form #}
                        <form id="languageWizForm" class="kt-form" method="post" enctype="multipart/form-data">
                            {# begin: Form Wizard Step 1 #}
                            {# BASE SETTINGS #}
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Base Settings
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                {% set languages = lang_iso_codes is defined ? lang_iso_codes : '' %}
                                                <div class="form-group">
                                                    <label for="language">Language</label>

                                                    {% set lang_name = loc.lang.name is defined ?  loc.lang.name : '' %}
                                                    {% set lang_iso_code = loc.lang.iso_code is defined ?  loc.lang.iso_code : '' %}
                                                    <select class="filter form-control" id="language"
                                                            name="loc[lang_id]">
                                                        {# Selection - Language - "ISO/NAME" #}
                                                        {# Here to add Library containing the ISO Language Codes & Names (flags?) #}
                                                        {% for language in languages %}

                                                            {% set optionValue =  language['id'] %}
                                                            {% set optionText =   [language['iso_code'] ,' / ',language['name']]|join %}


                                                            {% if wizard.lang_id is defined %}
                                                                <option
                                                                        id=""
                                                                        class="form-control"
                                                                        value="{{ optionValue }}"
                                                                        {{ wizard.lang_id == optionValue ? 'selected':'disabled' }} >
                                                                    <span class="fi fi-{{ language['iso_code'] }}"></span>
                                                                    {{ optionText }}
                                                                </option>
                                                            {% else %}
                                                                <option
                                                                        id=""
                                                                        class="form-control"
                                                                        value="{{ optionValue }}">
                                                                    <span class="fi fi-{{ language['iso_code'] }}"></span>
                                                                    {{ optionText }}
                                                                </option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    {% set description = wizard.description is defined ? wizard.description : '' %}
                                                    <input
                                                            id=""
                                                            class="form-control"
                                                            type="text"
                                                            placeholder="Description of the Language"
                                                            name="loc[description]"
                                                            value="{{ description }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <label id="LanguageDefault"
                                                       class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                                                    {% set is_checked = wizard.is_default is defined and wizard.is_default ? 'checked':'' %}
                                                    <input
                                                            id=""
                                                            class=""
                                                            name="loc[is_default]"
                                                            data-enpassusermodified="yes"
                                                            type="checkbox"
                                                            {{ is_checked }}> Set as Default Language
                                                    <span class="checkbox-border"></span>
                                                </label>
                                            </div>
                                            <div class="col-xl-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# end: Form Wizard Step 1 #}

                            {# begin: Form Wizard Step 2 #}
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md">
                                                        <b>General Terms & Conditions (GTC):</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    {% set value = wizard.gtc.vrbl is defined ? wizard.gtc.vrbl : '$GTC$' %}
                                                    <input
                                                            id="gtc-vrbl"
                                                            class="form-control"
                                                            name="loc[gtc][vrbl]"
                                                            type="text"
                                                            placeholder=""
                                                            value="$GTC$" readonly
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Anchortext</label>
                                                    {% set value = wizard.gtc.nchrtxt is defined ? wizard.gtc.nchrtxt : '' %}
                                                    <input
                                                            id="gtc-nchrtxt"
                                                            class="form-control"
                                                            name="loc[gtc][nchrtxt]"
                                                            type="text"
                                                            placeholder="GTC Anchortext"
                                                            value="{{ value }}">
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# URL Input #}
                                                    <label>URL</label>
                                                    {% set value = wizard.gtc.url is defined ? wizard.gtc.url : '' %}
                                                    <input
                                                            id="gtc-url"
                                                            class="form-control"
                                                            name="loc[gtc][url]"
                                                            type="url"
                                                            placeholder="GTC URL"
                                                            value="{{ value }}">
                                                    <label id="gtc-invld-url" class="invalid-url" hidden>Invalid URL
                                                        specified</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md">
                                                        <b>Legal Notice & Imprint:</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    {% set value = wizard.mprnt.vrbl is defined ? wizard.mprnt.vrbl : '$Imprint$' %}
                                                    <input
                                                            id=""
                                                            class="form-control"
                                                            name="loc[mprnt][vrbl]"
                                                            type="text"
                                                            placeholder=""
                                                            value="{{ value }}"
                                                            readonly>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Anchortext</label>
                                                    {% set value = wizard.mprnt.nchrtxt is defined ? wizard.mprnt.nchrtxt : '' %}
                                                    <input
                                                            id="mprnt-nchrtxt"
                                                            class="form-control"
                                                            name="loc[mprnt][nchrtxt]"
                                                            type="text"
                                                            placeholder="Imprint Anchortext"
                                                            value="{{ value }}">
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# URL Input #}
                                                    <label>URL</label>
                                                    {% set value = wizard.mprnt.url is defined ? wizard.mprnt.url : '' %}
                                                    <input
                                                            id="mprnt-url"
                                                            class="form-control"
                                                            name="loc[mprnt][url]"
                                                            type="url"
                                                            placeholder="Imprint URL"
                                                            value="{{ value }}">
                                                    <label id="mprnt-invld-url" class="invalid-url" hidden>Invalid URL
                                                        specified</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md">
                                                        <b>Data Protection Policy:</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    {% set value = wizard.dpp.vrbl is defined ? wizard.dpp.vrbl : '$DPP$' %}
                                                    <input
                                                            id=""
                                                            class="form-control"
                                                            name="loc[dpp][vrbl]"
                                                            type="text"
                                                            placeholder=""
                                                            value="$DPP$"
                                                            readonly>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Anchortext</label>
                                                    {% set value = wizard.dpp.nchrtxt is defined ? wizard.dpp.nchrtxt : '' %}
                                                    <input
                                                            id="dpp-nchrtxt"
                                                            class="form-control"
                                                            name="loc[dpp][nchrtxt]"
                                                            type="text"
                                                            placeholder="Data Protection Anchortext"
                                                            value="{{ value }}">
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# URL Input #}
                                                    <label>URL</label>
                                                    {% set value = wizard.dpp.url is defined ? wizard.dpp.url : '' %}
                                                    <input
                                                            id="dpp-url"
                                                            class="form-control"
                                                            name="loc[dpp][url]"
                                                            type="url"
                                                            placeholder="Data Protection URL"
                                                            value="{{ value }}">
                                                    <label id="dpp-invld-url" class="invalid-url" hidden>Invalid URL
                                                        specified</label>
                                                </div>
                                            </div>
                                            <div class="col-xl-2">
                                                <div class="form-group">
                                                    {# Variable Input #}
                                                    <label>Variable</label>
                                                    {% set value = wizard.dpp.mail_vrbl is defined ? wizard.dpp.mail_vrbl : '' %}
                                                    <input
                                                            id=""
                                                            class="form-control"
                                                            name="loc[dpp][mail_vrbl]"
                                                            type="text"
                                                            placeholder=""
                                                            value="$DPP-MailTo$"
                                                            readonly>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <div class="form-group">
                                                    {# Anchortext Input #}
                                                    <label>Email Address</label>
                                                    {% set value = wizard.dpp.mail is defined ? wizard.dpp.mail : '' %}
                                                    <input
                                                            id="dpp-mail"
                                                            class="form-control"
                                                            name="loc[dpp][mail]"
                                                            type="email"
                                                            placeholder="Data Protection Email Address"
                                                            value="{{ value }}">
                                                    <label id="dpp-invld-email" class="invalid-url" hidden>Invalid Email
                                                        Address specified</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# end: Form Wizard Step 2 #}

                            {# begin: Form Wizard Step 3 customfields #}
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <div class="kt-heading kt-heading--md">
                                                        <b>Newsletter OptinText</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                {# TEXTAREA Newsletter Optin #}
                                                {% set value = wizard.optn_txt.nwslttr is defined ? wizard.optn_txt.nwslttr : 'Ich stimme den $DPP$ zu' %}
                                                <div class="form-group">
                                                    <textarea
                                                            id=""
                                                            class="form-control"
                                                            type="text"
                                                            placeholder="GTC Anchortext"
                                                            name="loc[optn_txt][nwslttr]"
                                                            value="{{ value }}"
                                                            rows="5"
                                                    >{{ value }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    {# TEXTAREA Newsletter OptOut #}
                                                    <div class="kt-heading kt-heading--md">
                                                        <b>eCommerce OptOut</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                {% set text_area = 'Ich bin damit einverstanden, dass der $Imprint$ meine E-Mail-Adresse verwendet,um mir in Zukunft per E-Mail interessante Angebote für Produkte, die zu den erworbenen Produkten ähnlich sind, zukommen zu lassen. Ich kann dieser Verwendung jederzeit widersprechen, etwa durch eine Entfernung des Häkchens,aber auch durch eine E-Mail an $DPP-MailTo$. Kosten (außer den Übermittlungskosten nach den Basistarifen) werden für einen derartigen Widerspruch nicht erhoben .Weitere Informationen finden Sie in der $DPP$' %}
                                                {% set value = wizard.optn_txt.ecmrce is defined ? wizard.optn_txt.ecmrce : text_area %}
                                                <div class="form-group">
                                                    <textarea
                                                            id=""
                                                            class="form-control"
                                                            type="text"
                                                            name="loc[optn_txt][ecmrce]"
                                                            value="{{ value }}" rows="5">{{ value }}
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        {# <label>hidden fields</label> #}
                                        {% set local_lang_id = wizard.local_lang_id is defined ? wizard.local_lang_id : '' %}
                                        {% set objectregister_id = wizard.objectregister_id is defined ? wizard.objectregister_id : '' %}
                                        <input
                                                id=""
                                                class=""
                                                type="hidden"
                                                placeholder=""
                                                name="loc[local_lang_id]"
                                                value={{ local_lang_id }}>
                                        <input
                                                id=""
                                                class=""
                                                type="hidden"
                                                placeholder="Description of the Language"
                                                name="loc[objectregister_id]"
                                                value={{ objectregister_id }}>
                                    </div>
                                </div>

                            </div>
                            {# end: Form Wizard Step 4  #}


                            <script>
								var input = document.querySelector('input[name=basic]')
								// init Tagify script on the above inputs
								new Tagify(input)
                            </script>

                            {# begin: Form Actions #}
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>
                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Save
                                </button>
                                <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <div id="formMsg" class="kt-form__actions"></div>
                            {# end: Form Actions #}
                        </form>
                        {# end: Form Wizard Form #}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {#  end:: Content #}

{% endblock %}
{% block javascripts %}

    {# ENABLE POPOVER ANED TOOLTIP #}
    <script>
		$(function () {
			$('.cio-popover').popover({
				container: 'body',
				trigger: 'hover'
			})

			$('#menu-tracking').addClass('show')
			$('#track-web-url').addClass('kt-widget__item--active')
		})

		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
    </script>

    <script>

		// Validate GTC Url Format
		$('#gtc-url').change(function (e) {
			let gtcUrl = $('#gtc-url').val()
			if (!isUrl(gtcUrl)) {
				$('#gtc-invld-url').attr('hidden', false)
				$('#cio-select-next').hide()
			} else {
				$('#gtc-invld-url').attr('hidden', true)
				$('#cio-select-next').show()
			}
		})

		// Validate Imprint Url Format
		$('#mprnt-url').change(function (e) {
			let mprintUrl = $('#mprnt-url').val()
			if (!isUrl(mprintUrl)) {
				$('#mprnt-invld-url').attr('hidden', false)
				$('#cio-select-next').hide()
			} else {
				$('#mprnt-invld-url').attr('hidden', true)
				$('#cio-select-next').show()
			}
		})

		// Validate DPPUrl format.
		$('#dpp-url').change(function (e) {
			let dppUrl = $('#dpp-url').val()
			if (!isUrl(dppUrl)) {
				$('#dpp-invld-url').attr('hidden', false)
				$('#cio-select-next').hide()
			} else {
				$('#dpp-invld-url').attr('hidden', true)
				$('#cio-select-next').show()
			}
		})

		// Validate Email format.
		$('#dpp-mail').change(function (e) {
			let dppEMail = $('#dpp-mail').val()
			if (!isEmail(dppEMail)) {
				$('#dpp-invld-email').attr('hidden', false)
				$('#cio-select-next').hide()
			} else {
				$('#dpp-invld-email').attr('hidden', true)
				$('#cio-select-next').show()
			}
		})

		// helper function to validate Url.
		function isUrl (string) {
			var matcher = /^(?:\w+:)?\/\/([^\s\.]+\.\S{2}|localhost[\:?\d]*)\S*$/
			return matcher.test(string)
		}

		// helper function to validate EMail.
		function isEmail ($email) {
			var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/
			return emailReg.test($email)
		}

    </script>
{% endblock %}
