{% extends "app.twig" %}

{% block content %}

    {# ////////CSS File for Flags SVG - Where to put? in app.twig?///////////// #}
    <link href="{{ cssurl }}/flags/flag-icons.css" rel="stylesheet" type="text/css"/>

    {# begin:: Content Head - top row #}
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title" title="domain overview table">Languages</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">{{ account }}</span>
        </div>
    </div>
    {# end:: Content Head - top row #}

    {# begin:: Content Head - secondary row #}
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
                {#  begin: Add new Language #}
                <a href="{{ path('localization.language-wizard') }}" id="NewLanguage"
                   class="btn btn-brand btn-elevate btn-icon-sm">+ New Language</a>
                {# end: Add new Language #}
            </ul>
        </div>
    </div>
    {# end:: Content Head #}

    {# begin:: Content #}
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        {% if error is defined and error == 1 and message is defined and message is not empty %}
            {# begin:: warnings  #}
            <div class="alert alert-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ message |capitalize }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        {# end:: warnings #}

        {# begin:alert #}
        {% if error is defined and error != 1 and message is defined and message is not empty %}
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="far fa-check-square"></i></div>
                <div class="alert-text">{{ message |capitalize }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        {# end:alert #}
        {# end:: warnings #}

        {# BEGIN "DUMMY" DESIGN EXAMPLE FOR LANGUAGE TABLE #}
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                {# begin: Datatable #}
                <table id="domainViewTable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        {# COLUMN #1 - Object.IsoCode   #}
                        <th id="LanguageIsoCode" class="language"><b>ISO-Code</b></th>
                        {# COLUMN #2 - Object.Language  #}
                        <th id="LanguageName" class="language"><b>Language</b></th>
                        {# COLUMN #3 - Object.LanguageDefault #}
                        <th id="LanguageDefault" class="language"><b>Default</b></th>
                        {# COLUMN #4 - Actions including: Detailview #}
                        <th id="Actions" class="language"><b>Actions</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    {# <tr class="language-table-row">
                        <td class="language">de</td>
                        <td class="language"><span class="fi fi-de"></span> German</td>
                        <td class="language"><i class="color-green fas fa-solid fa-check"></i></td>
                        <td class="Actions language">
							 <span class="dropdown">
								 <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown"
                                    aria-expanded="true">
									 <i class="fa fa-ellipsis-h actions-icon"></i>
								 </a>
								 <div class="dropdown-menu dropdown-menu-right">
									 <a class="dropdown-item" href="{{ path('project.languages_wizard') }}"><i
                                                 class="la la-pencil-square"></i>Start Wizard</a>
                                     <a class="dropdown-item" href="#"><i class="la la-remove"></i>Delete</a>
								 </div>
							 </span>
                        </td>
                    </tr> #}

                    {% for lang in overview %}
                        {% set iso_code = lang.iso_code %}
                        {% set name = lang.name %}
                        {% set status = lang.lang_status %}
                        {% set lang_id = lang.lang_id %}
                        {% set loc_lang_id = lang.loc_lang_id %}
                        {% set obj_reg_id = lang.obj_reg_id %}
                        <tr class="language-table-row">
                            <td class="language">{{ iso_code }}</td>
                            <td class="language"><span class="fi fi-{{ iso_code }}"></span> {{ name }}</td>
                            {% if status != 'active' %}
                                <td class="language"></td>
                            {% else %}
                                <td class="language"><i class="color-green fas fa-solid fa-check"></i></td>
                            {% endif %}
                            <td class="Actions language">
                                     <span class="dropdown">
                                         <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            data-toggle="dropdown"
                                            aria-expanded="true">
                                             <i class="fa fa-ellipsis-h actions-icon"></i>
                                         </a>
                                         <div class="dropdown-menu dropdown-menu-right">
                                             <a class="dropdown-item"
                                                href="{{ path('get_modify_language_settings',{'loc_lang_id':loc_lang_id}) }}">
                                                 <i class="la la-pencil-square"></i>
                                                 Start Wizard
                                             </a>
                                             {% if status != 'active' %}
                                                 <a class="dropdown-item"
                                                    href="{{ path('language_set_default',{'loc_lang_id':loc_lang_id}) }}">
                                                     <i class="la la-check-circle-o"></i>
                                                     Set as Default
                                                 </a>
                                                 <a class="dropdown-item"
                                                    href="{{ path('language_remove', {'loc_lang_id':loc_lang_id}) }}">
                                                     <i class="la la-remove"></i>
                                                     Delete
                                                 </a>
                                             {% endif %}
                                         </div>
                                     </span>
                            </td>
                        </tr>
                    {% endfor %}


                    {# <tr class="language-table-row">
                        <td class="language">en</td>
                        <td class="language"><span class="fi fi-gb"></span> English</td>
                        <td class="language"></td>
                        <td class="Actions language">
							 <span class="dropdown">
								 <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown"
                                    aria-expanded="true">
									 <i class="fa fa-ellipsis-h actions-icon"></i>
								 </a>
								 <div class="dropdown-menu dropdown-menu-right">
                                     <a class="dropdown-item" href="#"><i class="la la-check-circle-o"></i>Set as Default</a>
									 <a class="dropdown-item" href="{{ path('project.languages_wizard') }}"><i
                                                 class="la la-pencil-square"></i>Start Wizard</a>
                                     <a class="dropdown-item" href="#"><i class="la la-remove"></i></i>Delete</a>
								 </div>
							 </span>
                        </td>
                    </tr> #}

                    </tbody>


                </table>


                <div id="pagination_bar">
                    <nav aria-label="Page navigation example" id="pagination_nav_bar">
                        <ul class="pagination" id="paginationUl">
                            <li class="page-item" id="previous">
                                <a aria-label="Previous" class="page-link" href="#"><span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span></a>
                            </li>
                            <li class="page-item pagination-bar active" id="page_1">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item" id="next">
                                <a aria-label="Next" class="page-link" href="#"><span aria-hidden="true">»</span> <span
                                            class="sr-only">Next</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <template id="previous_template">
                    <li class="page-item" id="previous">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                </template>
                <template id="next_template">
                    <li class="page-item" id="next">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </template>
                {# end: Datatable #}
            </div>
        </div>
        {#  END DUMMY DESIGN EXAMPLE #}

    </div>

{% endblock %}

{% block javascripts %}
    <script>
		//@internal - get the values from controller to use it in contact-overview.js
        {# TODO: @Sven subsitude with correct PARAMS or leave it out, if not needed
        // const mioStandardFields = JSON.parse('{{ standard_fields_for_view | json_encode | raw }}');
        // const mioCustomFields = JSON.parse('{{ custom_fields_for_view | json_encode | raw }}');
        #}
		const applicationURL = '{{ app.request.server.get('APPLICATION_URL') }}'
		const viewName = 'shopdataqueue'
    </script>

    <script>
		$('.tooltip-demo.well').tooltip({
			selector: 'a[rel=tooltip]'
		})
    </script>

{% endblock %}