div.kt-widget__data:hover {
    color: #7abe73 !important;
    cursor: default;
}

/* render for progress circle */
#circleBar {
    margin-top: 2px;
    text-align: center;
    font-family: inherit;
}
#circleBar .round {
    min-height: 20px;
    margin-top: 4px;
    position: relative;
    margin-bottom: 4px;
}
#circleBar .round strong {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    color: #212121;
    font-weight: normal;
    font-size: xx-large !important;
    font-family: 'Titillium Web', sans-serif;
}
#circleBar span {
    display: block;
    color: #999;
    font-size: 16px;
    margin-top: 10px;
}
#circleBar span i {
    color: #7abe73;
    font-size: 22px;
    margin-right: 10px;
}
section button:hover {
    background-color: #7abe73;
}

a#backbutton:hover {
    background-color:#497245 !important;
    border-color:#497245 !important;
}

