.inbox-monitor-table-row td {
    vertical-align: middle !important;
}

/* make select2 appear nicer */
.select2-container--default,
.select2-selection--single,
.select2-selection__rendered {
    line-height: 32px;
}

.select2-container--default,
.select2-results__option {
    padding: 2px 15px;
}

/* .select2-container {
     margin-top: 3px;
 }*/

.select2-search--dropdown,
.select2-search__field {
    padding: 2px;
}

.select2-container--default {
    padding: 4px 4px;
}

/* shrink the subheaders */
#kt_subheader1 {
    padding-bottom: 0 !important;
}

#kt_subheader2 {
    padding-top: 0 !important;
}

/* render for progress circle */
#circleBar {
    margin-top: 2px;
    text-align: center;
    font-family: initial;
}

#circleBar .round {
    min-height: 20px;
    margin-top: 2px;
    position: relative;
    margin-bottom: 2px;
}

#circleBar .round strong {
    position: absolute;
    top: 33%;
    left: 27px;
    transform: translate(-50%);
    color: #212121;
    font-weight: bold;
    font-size: xx-small !important;
}

#circleBar span {
    display: block;
    color: #999;
    font-size: 16px;
    margin-top: 10px;
}

#circleBar span i {
    color: #7abe73;
    font-size: 22px;
    margin-right: 6px;
}

section button:hover {
    background-color: #7abe73;
}

.table td,
.alignmiddle,
td {
    vertical-align: middle !important;
}

canvas {
    padding: 1px !important;
}
