{%- block javascripts -%}
	{#- Formating is very importent for the file please dont change add unnecessary spaces -#}
	{#- <script> use this for code formating -#}
	{
	{% if data is defined -%}
		{%- set baseData = data['base'] -%}
		"base": {
		"account_number": "{{ baseData['account_number'] }}",
		"apikey": "{{ baseData['apikey'] }}",
		"uuid": "{{ baseData['uuid'] }}",
		},
		"contact":{
		{%- set contacts = data['contacts'] -%}
		{% for contact in contacts -%}
			{% set counter = ( counter | default(0) ) + 1 %}
			"{{ counter }}": {
			{% if  contact['standard'] is defined -%}
				"standard":[
				{% for standardField in contact['standard'] -%}
					{% set field_name = standardField['field_name'] -%}
					{%- if standardField[field_name] is defined -%}
						{
						"field_name":"{{ field_name -}}",
						"field_value":"{{ standardField[field_name] -}}",
						"required": "{{ standardField['required'] -}}",
						"datatype": "{{ standardField['datatype'] -}}",
						"regex": "{{ standardField['regex'] -}}"
						},
					{%- endif -%}
				{% endfor -%}
				],
			{%- endif -%}
			{% if  contact['custom'] is defined -%}
				"custom":[
				{% for customField in contact['custom'] -%}
					{% set field_name = customField['field_name'] -%}
					{
					"field_name":"{{ field_name -}}",
					"field_value":"{{ customField[field_name] -}}",
					"required": "{{ customField['required'] -}}",
					"datatype": "{{ customField['datatype'] -}}",
					"regex": "{{ customField['regex'] -}}"
					},
				{% endfor -%}
				],
			{% endif -%}
			},
		},
		{% endfor -%}
	{% endif -%}
	}
{%- endblock -%}