{% extends "app.twig" %}

{% block content %}

	<!-- begin:: Content Head -->
	<div class="kt-subheader   kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">

			<h3 class="kt-subheader__title" title="check the current status of shopdata synchronisation">Webhook Queue Status</h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<span class="kt-subheader__desc">{{ account }}</span>

		</div>



		<!--begin:sub-control menu -->
		<div style="" class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
					{# Search #}

					<!-- Begin - Type - Shop queue list / table - dropdown webhook type selection -->
					<li class="nav-item">
						<!-- Dropdown webhook type selection -->

						<select id="webhookSelect" class="btn btn-secondary dropdown-toggle form-control dropdown-shopqueustatus" type="button" id="filter_by_status" aria-haspopup="true" aria-expanded="true">
							<option id="" class="form-control dropdown-shopqueustatus-item" value="" disabled selected hidden>Select a Webhook</option>
							<!-- Selection - webhook type - "ALL" -->

							{% for key, value in select_id_webhooknames %}
								<option id="webhook_{{ value }}" class="form-control dropdown-shopqueustatus-item" value="{{ value }}">{{ value }}</option>
							{% endfor %}

						</select>
					</li>
					<!-- End - Shop queue list / table - dropdown webhook type selection -->

					<!-- Begin - Status - Shop queue list / table - radio filter buttons -->
					<div class="btn-group btn-group-toggle table-list-btn-group" id="queue_status" data-toggle="buttons">
						<!-- Radio button - "NEW" -->
						<label class="btn table-list-btn queueStatus" id="all">
							<input id="new_webhook_filter_btn"  value="all" type="radio" autocomplete="off" checked> All
						</label>
						<!-- Radio button - "NEW" -->
						<label class="btn table-list-btn queueStatus" id="new">
							<input id="new_webhook_filter_btn"  value="new" type="radio" autocomplete="off" checked> New
						</label>
						<!-- Radio button - "WORKING" -->
						<label class="btn table-list-btn queueStatus" id="working">
							<input id="working_webhook_filter_btn"  value="working" type="radio" autocomplete="off"> Working
						</label>
						<!-- Radio button - "FAILED" -->
						<label class="btn table-list-btn queueStatus" id="failed">
							<input id="failed_webhook_filter_btn"  value="failed" type="radio" autocomplete="off"> Failed
						</label>
						<!-- Radio button - "DONE" -->
						<label class="btn table-list-btn queueStatus" id="done">
							<input id="done_webhook_filter_btn"  value="done" type="radio" autocomplete="off"> Done
						</label>
					</div>

					<!-- End - Status - Shop queue list / table - radio filter buttons -->

				</ul>
			</div>
		</div>
		<!--end::sub-control menu-->
	</div>
	<!-- end:: Content Head -->

	<!-- begin:: Content -->
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

		{% if leads is defined and leads.error_leads %}
			<!-- begin:: warnings  -->
			<div class="alert alert-danger fade show" role="alert">
				<div class="alert-icon"><i class="flaticon-warning"></i></div>
				<div class="alert-text">{{ leads.error_leads }}</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="la la-close"></i></span>
					</button>
				</div>
			</div>
		{% endif %}
		<!-- end:: warnings -->

		<!--begin:alert -->
		{% if leads is defined and leads.notify_leads %}
			<div class="alert alert-light alert-elevate fade show" role="alert">
				<div class="alert-icon"><i class="flaticon-warning"></i></div>
				<div class="alert-text">{{ leads.notify_leads }}</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="la la-close"></i></span>
					</button>
				</div>
			</div>
		{% endif %}
		<!--end:alert -->
		<!-- end:: warnings -->

		<!-- Begin - Shop Data Queue Table -->
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				<!-- Begin: Datatable - Shopdataqueue -->
				<table class="table  table-striped table-bordered table-hover table-checkable" id="ShopDataQueueTable">
					<thead>
					<tr>

					</tr>
					</thead>
					<tbody>
					<tr hidden id="body_row_template">

					</tr>
					</tbody>
				</table>
				<div hidden id="tbody_dropdown_template">
					 <span class="dropdown">
                          <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md"
							 data-toggle="dropdown" aria-expanded="true">
                          <i class="fa fa-ellipsis-h" style="font-size:24px;color:#7abe73"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">

                          </div>
                     </span>
				</div>
				<div id="pagination_bar">
					<nav aria-label="Page navigation" id="pagination_nav_bar" hidden>
						<ul class="pagination" id="paginationUl">

						</ul>
					</nav>
				</div>
				<template id="previous_template">
					<li class="page-item" id="previous" >
						<a class="page-link"  href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
				</template>
				<template id="next_template">
					<li class="page-item" id="next">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</template>
				<!-- End: Datatable - Shopdataqueue -->
			</div>
		</div>
		<!-- End - Shop Data Queue Table -->
	</div>




{% endblock %}

{% block javascripts %}
	<script>
		//@internal - get the values from controller to use it in contact-overview.js
		const path = '/paging/externaldataqueue/'; // @jsr Note : twig path(some function) is not working hear
		const viewName = 'externaldataqueue';
        /*@internal
        	columns for table
        	1.Updated (Sorted newest to oldest)
        	2.Webhook (Name of Webhook)
        	3.Webhook ID (Object Register ID) --- This is very bad but marc requirement
        	4.Status (queue status)
        	5.Start date (queue Start date)
        	6.End date (End date )
        	Note all the ordering of table body is done keeping this array in mind
         */
        let allAvailableFieldsForView = ['Updated','Webhook','Webhook ID','Status','Start','End','Actions']
	</script>
	<script src="{{ jsurl }}/externaldataqueue/externaldataqueue_statuslist.js" type="text/javascript"></script>
{% endblock %}

