<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Marketing-In-One - Account Registration Notification</title>
    <style>
    /* -------------------------------------
        INLINED WITH htmlemail.io/inline
    ------------------------------------- */
    /* -------------------------------------
        RESPONSIVE AND MOBILE FRIENDLY STYLES
    ------------------------------------- */
    @media only screen and (max-width: 620px) {
      table[class=body] h1 {
        font-size: 28px !important;
        margin-bottom: 10px !important;
      }
      table[class=body] p,
            table[class=body] ul,
            table[class=body] ol,
            table[class=body] td,
            table[class=body] span,
            table[class=body] a {
        font-size: 16px !important;
      }
      table[class=body] .wrapper,
            table[class=body] .article {
        padding: 10px !important;
      }
      table[class=body] .content {
        padding: 0 !important;
      }
      table[class=body] .container {
        padding: 0 !important;
        width: 100% !important;
      }
      table[class=body] .main {
        border-left-width: 0 !important;
        border-radius: 0 !important;
        border-right-width: 0 !important;
      }
      table[class=body] .btn table {
        width: 100% !important;
      }
      table[class=body] .btn a {
        width: 100% !important;
      }
      table[class=body] .img-responsive {
        height: auto !important;
        max-width: 100% !important;
        width: auto !important;
      }
    }

    /* -------------------------------------
        PRESERVE THESE STYLES IN THE HEAD
    ------------------------------------- */
    @media all {
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
        line-height: 100%;
      }
      .apple-link a {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        text-decoration: none !important;
      }
      #MessageViewBody a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
      .btn-primary table td:hover {
        background-color: #6DAB67 !important;
      }
      .btn-primary a:hover {
        background-color: #6DAB67 !important;
        border-color: #6DAB67 !important;
      }
    }
    </style>
  </head>
  <body class="" style="background-color: #f5f5f5; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
	<span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">New Registration in Marketing-In-One</span>
	<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;">
		<tr>
			<td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
			<td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;">
				<div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">
					<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;">
						<tbody>
							<tr>
								<td align="center" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;">
									<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
										<tbody>
											<tr>
												<td style="vertical-align: top; text-align: center;">
													<a href="{{ app.request.server.get('APPLICATION_URL') }}"><img alt="Marketing-In-One" src="###IMGURL###/marketing-in-one-logo.jpg" style="margin-bottom:15px; margin-top:15px;"></a>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table><!-- START CENTERED WHITE CONTAINER -->
					<table class="main" style="border-top: 4px solid #7abe73; border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;">
						<!-- START MAIN CONTENT AREA -->
						<tr>
							<td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
								<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
									<tr>
										<td align="center" style="color: #222222; font-family: arial; font-size: 14px; vertical-align: top;">
											<h1 style="color: #222222; font-family: arial; letter-spacing: 0.5px; font-weight: 100;">Account Registration Notification</h1>
											<p style="line-height: 24px; font-family: arial; font-size: 16px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hello Client Success Team,<br><br>please note that a new account was registered in Marketing-In-One.</p>
											<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;">
												<tbody>
                                                    <table style="margin-top:20px;margin-bottom:30px; border-collapse: collapse; width:350px;">
                                                             <tr>
                                                        <td align="right" style="padding:5px; color: #222222; font-family: arial;  font-weight: 100;;">Firstname:</td>
                                                        <td style="padding:5px; color: #222222; font-family: arial; font-weight: 100; padding-left:10px;">###FIRSTNAME###</td>
                                                      </tr>
                                                        <tr>
                                                        <td align="right" style="padding:5px; background: #f6f6f6;color: #222222; font-family: arial;  font-weight: 100;">Lastname:</td>
                                                        <td style="padding:5px; background: #f6f6f6;color: #222222; font-family: arial;  font-weight: 100; padding-left:10px;">###LASTNAME###</td>
                                                      </tr>
                                                        <tr>
                                                        <td align="right" style="padding:5px; color: #222222; font-family: arial;  font-weight: 100;">Email Address:</td>
                                                        <td style="padding:5px; color: #222222; font-family: arial;  font-weight: 100; padding-left:10px;">###EMAIL###</td>
                                                      </tr>
														<tr>
															<td align="right" style="padding:5px; background: #f6f6f6;color: #222222; font-family: arial;  font-weight: 100;">Account:</td>
															<td style="padding:5px; background: #f6f6f6;color: #222222; font-family: arial;  font-weight: 100; padding-left:10px;">###ACCOUNTNO###</td>
														</tr>
                                                    </table>

												</tbody>
											</table>
											<p align="center" style="font-family: arial; font-size: 16px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Have a nice day, the <strong>Marketing-In-One</strong> Team</p>
										</td>
									</tr>
								</table>
							</td>
						</tr><!-- END MAIN CONTENT AREA -->
					</table><!-- START FOOTER -->
					<div class="footer" style="clear: both; Margin-top: 10px; text-align: center; width: 100%;">
						<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
							<tr>
								<td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 0px; font-size: 12px; color: #999999; text-align: center;"><span class="apple-link" style="color: #999999; font-size: 16px; text-align: center;"><a href="https://treaction.atlassian.net/servicedesk/customer/portal/2/group/6/create/32" target="_blank">Support</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://treaction.net/rechtliches/#impressum" target="_blank">Legal Notice</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{{ app.request.server.get('APPLICATION_URL') }}" target="_blank">Log In</a></span></td>
							</tr>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;">
							<tbody>
								<tr>
									<td align="center" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;">
										<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
											<tbody>
												<tr>
													<td style="vertical-align: top; text-align: center;">
														<a href="https://treaction.net"><img alt="treaction-ag-logo" src="###IMGURL###/treaction-ag-logo.jpg" style="margin-bottom:0px; margin-top:25px;"></a>
													</td>
												</tr>
												<tr>
													<td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;"><span class="apple-link" style="color: #999999; font-size: 16px; text-align: center;"><small>Marketing-In-One is a product of treaction ag, Kurfüstenstraße 1, 34117 Kassel</small></span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- END FOOTER -->
					<!-- END CENTERED WHITE CONTAINER -->
				</div>
			</td>
			<td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
		</tr>
	</table>
</body>
</html>
