{% block pagehead %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>cookie alert</title>

	<!-- Bootstrap 4.1.1 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">

	<!-- cookie style start -->
	<style>
        .cookiealert {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0 !important;
            z-index: 999;
            opacity: 0;
            visibility: hidden;
            border-radius: 0;
            transform: translateY(100%);
            transition: all 500ms ease-out;
            color: #ecf0f1;
            background: #222222;
        }
        .cookiealert.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0%);
            transition-delay: 1000ms;
        }
        .cookie-text {
            font-size: 16px;
        }
        .cookiealert a {
            text-decoration: underline;
            color: #7ABE73;
        }
        .cookiealert .acceptcookies {
            margin-left: 10px;
            vertical-align: baseline;
        }
        .cookie-btn-accept {
            border-radius: 0px;
            color: #ffffff;
            background-color: #7ABE73;
            border: 1px solid #7ABE73;
        }
        .cookie-btn-accept:active {
            background-color: #61985C!important;
            border: 1px solid #61985C!important;
        }
        .cookie-btn-accept:hover {
            background-color: #61985C!important;
            border: 1px solid #61985C!important;
        }
        .cookie-btn-dismiss {
            border-radius: 0px;
        }
	</style>
	<!-- cookie style start -->

	<!-- @CUSTOMER: preload own javascript here -->

	<!-- JAVASCRIPT -->
	<!-- @CUSTOMER: preload own javascript here -->
	<script
			src="https://code.jquery.com/jquery-3.5.1.min.js"
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			crossorigin="anonymous"></script>
	<script type="text/javascript" src="styles/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>
{% endblock %}

{% block content %}

<body>

<!-- Developer your tracking key/pixel goes hear -->
<div id="googleAnalyticsKey" data-value=""></div>

<!-- START Bootstrap-Cookie-Alert -->
<div class="alert cookiealert" id="cookieConsent" role="alert">
	<div class="row">
		<div class="col-lg-9">
			<span class="cookie-text">Wir verwenden Cookies und ähnliche Tools, um Ihr Nutzererlebnis zu optimieren. Wenn du ablehnst, werden nur die technisch notwendigen Cookies gesetzt. Weitere Informationen finden Sie in unserer <a href="#" target="_blank">Datenschutzerklärung</a>.</span>
		</div>
		<div class="btn-wrapper col-lg-3 text-center">
			<button type="button" id="cookieConsentOK" class="shadow-none btn btn-primary cookie-btn-accept">Akzeptieren</button>
			<button type="button" id="cookieConsentNo" class="shadow-none btn btn-outline-secondary cookie-btn-dismiss">Ablehnen</button>
		</div>
	</div>
</div>
<!-- END Bootstrap-Cookie-Alert -->

</body>
</html>


{% endblock %}

{%- block javascripts -%}
	<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
	{# Formating is very importent for the file please dont change add unnecessary spaces  -#}
	<script>
        /**
         * @internal - on page load events
         * @returns {void}
         */
        $(document).ready(function () {
            //@developer your cookie div goes hear
            const cookieConsentHtmlDiv = $('div#cookieConsent');
            const cookieOkButton = $('#cookieConsentOK');
            const cookieNoButton = $('#cookieConsentNo');
            //@developer on 'ok' cilck
            cookieOkButton.click(function () {
                //set the cookie
                treactionCookieSet();
                //Get other tracking values
				const googleAnalyticsKey = $('#googleAnalyticsKey').data('value');
				const facebookPixel = $('#facebookPixel').data('value');
                manageTracking(facebookPixel,googleAnalyticsKey);
                cookieConsentHtmlDiv.css('display', 'none');
            });
			//@developer on 'No' click
            cookieNoButton.click(function () {
                cookieConsentHtmlDiv.css('display', 'none');
            });

        });

        /**
         * @internal - set the cookie
         * @returns {void}
         */
        function treactionCookieSet() {
            let thisdomain = $(location).attr('hostname');
            let path = $(location).attr('pathname');
            document.cookie = "name=TopLandingPage;Max-Age=2678400" + ";Path=" + path + ";Secure=true" + ';domain=' + thisdomain + ';SameSite=Strict';
        }

        /**
         * @internal - check for cookie on the webpage
         * @returns {boolean}
         */
        function treactionCookieExists() {
            if (document.cookie.split(';').some((item) => item.trim().startsWith('name=TopLandingPage'))) {
                return true;
            }
            return false;
        }

        /**
         * @param {?string} facebookPixel
         * @param {?string} googleAnalyticsKey
		 * @return {void}
         * @comment add tracking code to html using jquery
         */
        function manageTracking(facebookPixel = null,googleAnalyticsKey = null) {
            //google tracking
            if (googleAnalyticsKey) {
                let s = document.createElement("script");
                s.type = "text/javascript";
                s.src = "https://www.googletagmanager.com/gtag/js?id=" + googleAnalyticsKey;
                s.setAttribute('async', '');
                $("head").append(s);

                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());

                gtag('config', googleAnalyticsKey);
            }
        }
	</script>
{%- endblock -%}
