{% block content %}

	<!DOCTYPE html>
	<html lang="de">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- @CUSTOMER: change title to your own -->
		<title> Webhook Page - Marketing-In_one</title>

		<link href="styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="styles/css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
			  crossorigin="anonymous">
		<link rel="icon" type="image/png" href="favicon.ico">
		<!-- JAVASCRIPT -->
		<!-- @CUSTOMER: preload own javascript here -->
		<script
				src="https://code.jquery.com/jquery-3.5.1.min.js"
				integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
				crossorigin="anonymous"></script>
		<script type="text/javascript" src="styles/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="script.js"></script>
	</head>

	<body>

	<div class="section-clearspace"></div>

	<!-- OPTIONS -->
	<section class="optin" id="form" style="background-color:transparent;">
		<div class="container">
			<div class="row">
				<div class=" col-md-12" style="text-align: center;">
					<img class="center" src="img/marketing-in-one_logo-lg_black.png" width="60%" height="auto"
						 style="margin-bottom:100px">
				</div>
				<div class=" col-md-12">
					<h1 class="align-middle"
						style="text-align: center; color: #7abe73">{{ data['base']['CampaignName'] }}</h1>
				</div>
				<div class="col-lg-12" style="padding-top: 8px;">
					<!-- FORM BEGIN -->
					<form style="background-color:#fff; padding:25px; border-radius:15px;" id="api-data-form"
						  enctype="multipart/form-data" method="post" accept-charset="utf-8"
						  class="form-horizontal check-submit-form" role="form">

						<div id="testForm">
							<!-- @CUSTOMER: To add the new fields or remove use page wizard in Marketing-in-one.net  -->
							{%- set mapping = data['mapping'] -%}
								{% for mappingField in mapping['contact'] %}
									{% set fieldName = mappingField['field_name'] %}
									{% if fieldName == 'salutation' %}
										<div class="form-row"><!-- BEGIN {{ fieldName }} -->
											<div class="form-group col-md-12">
												<select name="salutation" id="salutation" class="form-control">
													<option value="" disabled selected>Saluation</option>
													<option value="Frau">Frau</option>
													<option value="Herr">Herr</option>
												</select>
											</div>
										</div><!-- END {{ fieldName }} -->
									{% else %}

										<div class="form-row"><!-- BEGIN {{ fieldName }} -->
											<div class="form-group col-md-12">

												{# TODO: this a hardcoded translation of standard fields (bad !!!), which must be replaced later by "symfony/translation" (see: https://symfony.com/doc/current/translation.html) concepts plus perhaps doctrine/translatable (see: https://github.com/doctrine-extensions/DoctrineExtensions/blob/main/doc/translatable.md) #}
												{% if fieldName == 'email' %}
													{% set placeholder = 'E-Mail Adresse' %}
												{% elseif fieldName == 'first_name' %}
													{% set placeholder = 'Vorname' %}
												{% elseif fieldName == 'last_name' %}
													{% set placeholder = 'Nachname' %}
												{% elseif fieldName == 'firma' %}
													{% set placeholder = 'Firma' %}
												{% elseif fieldName == 'street' %}
													{% set placeholder = 'Straße' %}
												{% elseif fieldName == 'postal_code' %}
													{% set placeholder = 'Postleitzahl' %}
												{% elseif fieldName == 'city' %}
													{% set placeholder = 'Stadt' %}
												{% elseif fieldName == 'country' %}
													{% set placeholder = 'Land' %}
												{% elseif fieldName == 'phone' %}
													{% set placeholder = 'Telefonnummer' %}
												{% elseif fieldName == 'url' %}
													{% set placeholder = 'URL' %}
												{% else %}
													{% set placeholder = fieldName %}
												{% endif %}
												{% set label = '<label for="' ~ fieldName ~ '" style="color: white">' ~ placeholder ~ ':</label>' %}

												<!-- {{ label | raw }} -->
												<input style="color:#000; background:#FFF;"
													   class="input-fields form-control"
													   id="{{ fieldName }}"
													   type="{{ mappingField.datatype|lower }}"
													   name="Contact.{{ fieldName }}"
													   placeholder="{{ placeholder }}"
													   data-marketingInOneField="{{ fieldName }}"
													   value="">

											</div>
										</div><!-- END {{ fieldName }} -->

									{% endif %}
								{% endfor %}
						</div>

						<div class="form-row">
							<div class="form-group col-md-12">
								<input style="color: #fff; cursor: pointer; background-color: #7abe73; border-color: #7abe73;"
									   type="button" class="col-sm-12 btn btn-xl js-scroll-trigger" value="submit"
									   name="submit" style="width: 100%;">
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- ./OPTIONS -->

	<div class="section-clearspace"></div>

	<!-- Bootstrap core JavaScript -->
	<script src="scripts/jquery/jquery.min.js"></script>

	</body>
	</html>


{% endblock %}
