{%- block javascripts -%}
	{#- Formating is very importent for the file please dont change add unnecessary spaces -#}
	{#- <script> use this for code formating -#}
        //@customer - Payload for new lead generation
            {
                //@customer - This is the base configuration
				{% if data is defined -%}
				{%- set baseData = data['base'] -%}
                "base": {
                    "account_number": "{{ baseData['accountNumber'] }}",
                    "apikey": "{{ baseData['apiKey'] }}",
                    //@internal - unique identifier for the object
                    "uuid": "{{ baseData['uuid'] }}",
                },
                //@customer - Lead Information
                "contact": {
					{%- set mapping = data['mapping'] -%}
                    "standard":
					[
						{% for standardField in mapping['contact']['standard'] -%}
                        {
							"field_name":"{{ standardField['field_name'] -}}",
							"field_value":"value",
							"required": "{{ standardField['required'] -}}",
                            "datatype": "{{ standardField['datatype'] -}}",
                            "regex": "{{ standardField['regex'] -}}"
                        },
						{% endfor -%}
                    ],
					{%- if  mapping['contact']['custom'] is defined -%}
                    "custom":
					[
						{% for customField in mapping['contact']['custom'] -%}
                        {
							"field_name":"{{ customField['field_name'] -}}",
							"field_value":"value",
							"required": "{{ customField['required'] -}}",
                            "datatype": "{{ customField['datatype'] -}}",
                            "regex": "{{ customField['regex'] -}}"
                        },
						{% endfor -%}
                    ],
					{%- endif -%}
                }
				{% endif -%}
            }
{%- endblock -%}