{%- block content -%}
	{#- Formating is very importent for the file please don't change or add unnecessary spaces -#}
	<?php
	//@customer - Payload for new lead generation
	$data =   [
				//@customer - Base configuration
				{% if data is defined -%}
                    {%- set baseData = data['base'] -%}
				"base" => [
							"apikey" => "{{ baseData['apiKey'] }}",
							"account_number" => "{{ baseData['accountNumber'] }}",
							"uuid" => "{{ baseData['uuid'] }}"
						],
				//@customer - Lead Information
				"contact" => [
					{%- set mapping = data['mapping'] -%}
					"standard" => [
						{%- for standardField in mapping['contact']['standard'] -%}
									[
										"field_name" =>"{{ standardField['field_name'] -}}",
										"field_value" =>'value',
										"required" => "{{ standardField['required'] -}}",
										"datatype" => "{{ standardField['datatype'] -}}",
										"regex" => "{{ standardField['regex'] -}}",
									],
						{%- endfor -%}
								],
					"custom" => [
						{%- if  mapping['contact']['custom'] is defined -%}
						{%- for customField in mapping['contact']['custom'] -%}
									[
										"field_name" => "{{ customField['field_name'] -}}",
										"field_value"=>'value',
										"required" => "{{ customField['required'] -}}",
										"datatype" => "{{ customField['datatype'] -}}",
										"regex" => "{{ customField['regex'] -}}",
									],
						{%- endfor -%}
						{%- endif -%}
								],
							]
				{%- endif -%}
	];

	$json_data = json_encode($data);
	//@customer -Send Lead data to api-in-one
	$encoded_data = base64_encode($json_data);

	$curl = curl_init();
	$params = $encoded_data;

	curl_setopt_array($curl, array(
	CURLOPT_URL => "{{ app.request.server.get('APIINONE_URL') }}/v2.0/webhook/receive",
	CURLOPT_RETURNTRANSFER => true,
	CURLOPT_ENCODING => "",
	CURLOPT_MAXREDIRS => 10,
	CURLOPT_TIMEOUT => 30,
	CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
	CURLOPT_CUSTOMREQUEST => "POST",
	CURLOPT_POSTFIELDS => $params,
	CURLOPT_HTTPHEADER => array(
	"cache-control: no-cache",
	),
							));

	$response = curl_exec($curl);
	$err = curl_error($curl);

	curl_close($curl);
	//@customer - Handle the response
	if ($err) {
	echo "cURL Error #:" . $err;
	} else {
	echo $response;
	}
{%- endblock -%}