{%- block javascripts -%}
	{#- Formating is very importent for the file please dont change add unnecessary spaces  -#}
	{#- <script> use this for code formating  -#}
	{#-  todo think some logic for salutation-#}
/**
* @internal - catch submit event and send data to Api-In-One
* @returns {void}
*/
function formSubmitEvent(){
        $('input[name=submit]').click(function () {
            //@customer - Payload for new lead generation
            let formData =
                {
                    //@customer - This is the base configuration
					{% if data is defined -%}
					{%- set baseData = data['base'] -%}
                    "base": {
                        "account_number": "{{ baseData['accountNumber'] }}",
                        "apikey": "{{ baseData['apiKey'] }}",
                        //@internal - unique object identifier
                        "uuid": "{{ baseData['uuid'] }}",
                    },
                    //@customer - Lead Information
                    "contact": {
						{%- set mapping = data['mapping'] -%}
                        "standard": [
							{% for standardField in mapping['contact']['standard'] -%}
                            {
								"field_name":"{{ standardField['field_name'] -}}",
								"field_value":$('#{{ standardField['field_name'] -}}').prop('value'),
                                "datatype": "{{ standardField['datatype'] -}}",
                                "regex": "{{ standardField['regex'] -}}",
                                "required": "{{ standardField['required'] -}}"
                            },
							{% endfor -%}
                        ],
                        "custom": [
							{%- if  mapping['contact']['custom'] is defined -%}
							{% for customField in mapping['contact']['custom'] -%}
                            {
								"field_name":"{{ customField['field_name'] -}}",
								"field_value":$('#{{ customField['field_name'] -}}').prop('value'),
                                "datatype": "{{ customField['datatype'] -}}",
                                "regex": "{{ customField['regex'] -}}",
                                "required": "{{ customField['required'] -}}"
                            },
							{% endfor -%}
							{%- endif -%}
						]
                        {%- endif -%}
					}
				};
			//@customer - send encrypted data to api-in-one with ajax
			let formJson = JSON.stringify(formData)
			let formbtoa = btoa(formJson)

			$.ajax({
				url: "{{ app.request.server.get('APIINONE_URL') }}/v2.0/webhook/receive",
				type: 'POST',
				async: false,
				timeout: 0,
				header: {
					'Access-Control-Allow-Origin': '*',
					'Access-Control-Allow-Methods': 'PUT, GET, POST, DELETE',
					'Access-Control-Allow-Headers': 'access-control-allow-headers,access-control-allow-methods,access-control-allow-origin,access-control-max-age,content-type,bearer',
					'Access-Control-Max-Age': '86400'
				},
				data: formbtoa,
                //@customer - configure response system
                success: function (data) {
                    let response = (data);
                    if (response.status) {
                        $('.alert-cioapikey').append(response.message).removeClass('text-hide');
                    } else {
                        $('.alert-cioapikey').append(response.message).removeClass('text-hide');
                    }
                }
            });
            return false;
        });
}

/**
* @internal - onload page load event
* @returns {void}
*/
$(document).ready(function(){
	formSubmitEvent();
});
	{# </script> use this for code formating #}
{%- endblock -%}