body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #191919;
  text-align: left;
  background-color: #f5f5f5; }

.kt-header{

    border-top:4px solid #191919;
    /*background-image: url(http://devfrontend.campaign-in-one.net/resources/img/bg/cio-bg-fullwidth.jpg);*/
    background-color: #191919!important;
    height:70px;
}


.kt-header__bottom{background-color: #191919!important;}
.kt-footer {background-color: #191919!important;}
.kt-footer__bottom{background-color: #191919!important;}

/* begin:: user badge */
.kt-badge--lg{

    background-color: #7abe73;
}
/* end:: user badge */




/* CUSTOM ALERTS */

.alert-danger{

    background-color: crimson!important;
}


.flaticon-warning{


}


/* NAVIGATION */


/* dropdown button in top menu */
.kt-header__brand .kt-header__brand-nav .dropdown .btn {
      background-color: rgba(111,111,111,0.1);

      padding: 0.75rem 1.5rem;
      color: #fff; }

 .dropdown-active {
    background-color: #7abe73;
     border-radius:3px;

    }
/* green button on sign in page */
.btn-elevate:hover,.btn-elevate:active,.btn-elevate:focus{

    /*background-color: #191919!important;
    border: 1px solid #191919!important; */


    background-color: #497245!important;
    border: 1px solid #497245!important;


}

.kt-menu__active{

    background-color: #191919!important;
    font-weight:600;
}



.kt-menu__link-text{
    color:#fff!important;
}


.kt-menu__link-text:hover{

    /* color:#7abe73!important; */
}

/* TOP MENU NAVIGATION BUTTONS */
.kt-menu__toggle:hover,
.kt-menu__toggle:active,
.kt-menu__toggle:focus,
.kt-menu__link:hover{

   /* background-color: rgba(122,190,115,0.3) !important; */
   /* background-color: #191919!important;*/

    background-color: #22262c!important;
    box-shadow: none!important;

    /*border-bottom-left-radius: 0px!important;*/
    /*border-bottom-right-radius: 0px!important;*/


}

/* DROP DOWN SUBMENU */
.kt-menu__submenu, kt-menu__subnav
{
    background-color: #22262c!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}






.kt-menu__link:hover{
     color:#7abe73!important;
}



/* DATA TABLES CUSTOM CSS */
.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {

    color:#191919;
}



.kt-badge--success{

    background-color: #7abe73!important;
}



.btn-green{

    background-color: #7abe73!important;
}


/* FONTS */

.kt-font-success {
  color: #7abe73  !important; }






/* PAGE LOADER */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: block;
}

.pace .pace-progress {
  background: #7abe73;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}


/* lead table export excel button */
div#export-table{
    cursor:pointer;
}

div#export-table div.dt-buttons button[type="button"]{
    background: transparent !important;
    border: 0px !important;
    color: #fff !important;
}

/* ==============================================================================================
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(https://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(https://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:-1;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

/* WEB-4916, jsr, 2020-12-16  */
.kt-header-menu .kt-menu__link:hover,


.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link, .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link {
    background-color: #7abe73 !important;
    border-radius: 4px !important;
}

.page-account-overview .treactionbutton,
.page-account-overview .dropdown-toggle,
.page-account-overview .dropdown-item:hover,
.page-account-overview .dropdown-item .fas:hover,
.page-account-overview .dropdown-item .fa:hover {
    background-color: #7abe73 !important;
    color: white !important;
}

.page-account-overview .dropdown-item .fas,
.page-account-overview .dropdown-item .fa {
    font-size: smaller;
}

.page-account-overview .dropdown-menu {
    padding: 0;
    font-size: smaller;
}

.page-account-overview .fas,
.page-account-overview .fa,
.page-account-overview .dropdown-item {
    color: #595962 !important;
}

.page-account-overview .account {
    color: #7abe73;
}

.page-account-overview .account:hover {
    color:#58bb4e;
}


.page-account-overview .doNotUse {
    color:red;
    cursor: not-allowed;
}

.page-account-overview a.nav-link:hover,
.page-account-overview a.nav-link:focus /* necessary for safari */
{
    background-color: #7abe73 !important;
    color: white !important;
    /* settings for bullshit browser (safari, what else ... ) */
    -webkit-appearance: none  !important;
    -moz-appearance: none  !important;
    appearance: none  !important;
}

.page-account-overview a.selected {
    background-color: #7abe73 !important;
    color: white !important;
    /* settings for bullshit browser */
    -webkit-appearance: none  !important;
    -moz-appearance: none  !important;
    appearance: none  !important;
}


/* SYSTEM INDICATOR: dev, test, testmio, preprod , used in app.twig header menu */
.app-twig-dev,
.app-twig-test,
.app-twig-testmio,
.app-twig-preprod  {
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: default;

}

.app-twig-dev {
    background-color: #9d5600;

}

.app-twig-test {
    background-color: #45ff59;
}

.app-twig-testmio {
    background-color: #01018a;
}

.app-twig-preprod {
    background-color: #8c014a;
}

.app-twig-prodaws {
    background-color: transparent;
    color: #000000 !important;
}

/* WEB-5686, sba, 2022-02-24  */

/* BEGIN - TABLE LIST RADIO BUTTONS */
/* Filter Buttons used in Datatables and lists */
.table-list-btn {
    cursor:pointer;
    color:#222222!important;
    background-color: transparent!important;
    border:1px solid #d3d5d9!important;
    border-radius: 3px!important;
}
.table-list-btn-group .table-list-btn.active {
    background-color: #7abe73 !important;
    border: 1px solid transparent !important;
    color: #ffffff !important;
    outline: 1px solid transparent !important;
    box-shadow: 1px solid transparent !important;
}
.table-list-btn-group .table-list-btn:hover {
    border:1px solid #7abe73!important;
}
.table-list-btn-group .table-list-btn:active {
    border: 1px solid transparent !important;
    color: #222222 !important;
    outline: 1px solid #7abe73 !important;
    box-shadow: 1px solid #7abe73 !important;
}
.table-list-btn-group .table-list-btn:focus {
    color:#222222!important;
    border:1px solid transparent!important;
}
.table-list-btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

/* END - TABLE LIST RADIO BUTTONS */

/* BEGIN - SHOPWAREQUEUE PAGINATION POSITION, COLOR */
.pagination-shopdataqueue {
    float:right;
}

/* END - SHOPWAREQUEUE PAGINATION POSITION, COLOR */

/* BEGIN - SHOPWAREQUEUE - DROPDOWN FILTER */
.dropdown-shopqueustatus {
    border:1px solid #d3d5d9!important;
    font-size:14px!important;
    text-align: left;
}
.dropdown-shopqueustatus-item {
    border:1px solid red!important;
    font-size:14px!important;
    text-align: left;
    color:#222222;
    cursor: pointer!important;
}
/* END - SHOPWAREQUEUE - DROPDOWN FILTER */

.kt-badge--secondary {
    border:1px solid #d3d5d9!important;
}
.nav-shopqueuestatus {
    margin-bottom: 0px;
}

/* WEB-5474, sba, 2022-03-02  */
/* inbox_monitor.twig / inbox_monitor_single_view.twig */
/* BEGIN - TABLE LIST Inbox Monitor */
.inbox-monitor-fulltextsearch{
    width:300px;
}
.inbox-monitor-table-row td {
    vertical-align: middle;
    height:100px;
}
.inbox-monitor-table-row-spam-red{
    font-weight:700;
    color: #dc143c;
}
.inbox-monitor-table-row-spam-green{
    font-weight:700;
    color: #7abe73;
}
/* Inbox Monitor Progress Ring 0% */
.progress-0{
    width: 70px;
    height: 70px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress-0:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #c4c4c4;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-0 .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: transparent;
    font-size: 18px;
    color: #222;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
/* Inbox Monitor Progress Ring 100% */
.progress-100{
    width: 70px;
    height: 70px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress-100:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #7abe73;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-100 .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: transparent;
    font-size: 18px;
    color: #222;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
/* Inbox Monitor Tooltip */
.inbox-monitor-table-spamreason-tooltip {
    position: relative;
    cursor: pointer;
    border-bottom:1px dotted #c5c5c5c5;
}
.inbox-monitor-table-spamreason-tooltip:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background-color: white;
    color: #222;
    text-align: left;
    border-radius: 5px;
    padding: 15px;
    transition: opacity 1s ease-in-out;
    line-height: 30px;
    font-size:14px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 110%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.inbox-monitor-table-spamreason-tooltip:hover:before {
    opacity: 1;
    visibility: visible;
}
.progress-detail-view{
    width: 200px;
    height: 200px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress-detail-view:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #c4c4c4;
    position: absolute;
    top: 0;
    left: 0;
}
/* inbox_monitor_single_view.twig */
.progress-detail-view .progress-detail-view-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: transparent;
    font-size: 50px;
    color: #222;
    line-height: 170px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

/* WEB-5819, sba, 2022-03-02  */
/* advertorial_overview.twig */
/* BEGIN - TABLE LIST Advertorials */

.advertorial-table-row-fulltextsearch{
    width:300px;
}
.advertorial-table-row td {
    vertical-align: middle;
    height:50px;
}
/* BEGIN - advertorial - DROPDOWN FILTER */
.dropdown-advertorial {
    border:1px solid #d3d5d9!important;
    font-size:14px!important;
    text-align: left;
}
.dropdown-advertorial-item {
    border:1px solid red!important;
    font-size:14px!important;
    text-align: left;
    color:#222222;
    cursor: pointer!important;
}
.preview-btn{
    margin-top:15px;
    margin-bottom:15px;
}

.code-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

code {
    display: block;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 600px;
    white-space: pre;
    font-size: 14px;
    line-height: 1.55;
    padding: 1.55em;
    border-radius: 5px;
    overflow-y: scroll;
    color: #000;
}
/* END - advertorial- DROPDOWN FILTER */

/* WEB-5819, sba, 2022-04-20  */
/* domain_overview.twig */

/* BEGIN - TABLE LIST Domain */
.domain-table-row td {
    vertical-align: middle;
}
.domain-table-row-spam-red{
    font-weight:700;
    color: #dc143c;
}
.domain-table-row-spam-green{
    font-weight:700;
    color: #7abe73;
}
/* END - TABLE LIST Domain */

.select-2-domain{
    width:300px;
    height:33px;
    margin:3px;
    padding:5px;
    border: 1px solid #d3d5d9;
}

.add-domain-modal-content{
    padding:none;
}

.add-domain-modal-content-header{
    border:none;
}

.add-domain-modal-content-body{
    padding-bottom:0px;
    padding-top:0px;
}

.add-domain-modal-content-footer{
    border:none;
    padding-top:0px;
}
.add-domain-modal-content-modal{
    margin-top:100px;
}

/* MAKES THE INPUT FIELDS OR SELECT ACTIVE - GREEN */
.form-control:focus {
    border-color: #7abe73;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
/* PAGINATION GREEN COLOUR */
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #7abe73;
    border-color: #7abe73;
}

/* PAGINATION GREEN COLOUR */
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #7abe73;
    background-color: #fff;
    border: 1px solid #ebedf2;
}

/* domain_single_view.twig */
.domain-highlight-green{
    color:#7abe73;
}
.domain-highlight-red{
    color: #dc143c;
}
.domain-font-style{
    font-size: 1.3rem;
    color: #464457;
    font-weight: 500;
}

/* (A) TIMELINE CONTAINER */
.vtl {
    position: relative;
    padding: 10px 10px 10px 50px;
    max-width: 300px;
}
.vtl, .vtl * { box-sizing: border-box; }

.vtl::before {
    content: "";
    width: 1px;
    background-color: #222;
    position: absolute;
    top: 0; bottom: 0; left: 15px;
}

div.event {
    padding: 10px 20px;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* (D) COSMETICS FOR EVENT DATE & TEXT */
p.date {
    font-size: 14px;
    font-weight: 500;
    color: #e5e5e5;
}
p.txt {
    margin: 10px 0 0 0;
    color: #222;
}

/* (E) EVENT "SPEECH BUBBLE CALLOUT" */
div.event::before {
    /* (E1) "MAGIC TRIANGLE" */
    content: "";
    border: 10px solid transparent;
    border-right-color: #f5f5f5;
    border-left: 0;

    /* (E2) POSITION TO THE LEFT */
    position: absolute;
    top: 20%; left: -10px;
}

/* (F) CIRCLE ON TIMELINE */
div.event::after {
    /* (F1) "MAGIC CIRCLE" */
    content: "";
    background: #fff;
    border: 1px solid #222;
    width: 11px;
    height: 11px;
    border-radius: 50%;

    /* (F2) POSITION TO THE LEFT */
    position: absolute;
    top: 25%;
    left: -40px;
}

/* WEB-6008, sba, 2022-05-03  */
/* languages.twig */
/* languageswizard.twig */

.color-green {
    color: #7abe73;
}

.actions-icon {
    font-size: 24px;
    color: #7abe73 !important;
}

.language-table-row td {
    vertical-align: middle;

}

.tabstyle-3-steps {
    flex: 0 0 calc(33% - 0.30rem) !important;
}

.checkbox-border {
    border: 1px solid #7abe73;
}
