{% extends "app.twig" %}

{% block content %}

    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>

    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }
    </style>

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: WIZARD EMAIL-IN-ONE -->
    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Integrations wizard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Email server </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/webhooks/draft"><iclass="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">

                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(100% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Basic settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Email Server
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--end: Form Wizard Nav -->
        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">




                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Please select your Email Server</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="kt-section__body">

                                            <div class="form-group row settings-splittest">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Select the Email server you want to use:</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control">
                                                        <option>Marketing-In-One Email server [Deafult]</option>
                                                        <option>Custom Email server</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-xl-3 col-lg-3"></div>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div id="test_result" class="font-italic"></div>
                                                </div>
                                            </div>

                                            {#
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Secure Protocol &nbsp;&nbsp;</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    {% set securePotocal = ['SMTP Secure','SMTP Debug'] %}

                                                    <select class="form-control" name="secureProtocol">
                                                        <option value="0">None</option>
                                                        {% for cur in securePotocal %}
                                                            {% if email.secureProtocol is defined and cur ==  email.secureProtocol %}
                                                                <option value="{{ cur }}" selected>{{ cur }}</option>
                                                            {% else %}
                                                                <option value="{{ cur }}">{{ cur }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">SMTP Authentication&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If the setting 'outbound data' is active, you can activate encryption for the data. "><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if email.smtpAuth is defined and email.smtpAuth ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="seconds" value="off">
                                                            <input type="checkbox" {{ sync_status }} name="smtpAuth">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>
                                            #}
                                            <input type="hidden" name="token" value="{{ csrf_token('company-email') }}"/>


                                        </div>

                                    </div>
                                </div>
                                <div class="kt-heading kt-heading--md">Configure custom Email server basic settings</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">

                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Smtp Server Domain</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_host" type="text" class="form-control" value="{{ email.host is defined ?email.host: "" }}" name="host" placeholder="smtp.example.org" autocomplete="false" required>
                                                    <input type="text" class="form-control" value="{{ email.id is defined? email.id : "" }}" name="id" autocomplete="false" hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Sender User Email</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_user" type="email" class="form-control" value="{{ email.user is defined? email.user:"" }}" name="user" placeholder="user name" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Sender Password</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_pw" type="Password" class="form-control" value="{{ email.password is defined?email.password:"" }}" name="password" placeholder="Password" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Port</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_port" type="number" class="form-control" value="{{ email.port is defined?email.port:"" }}" name="port" placeholder="port number (25, 587)" autocomplete="false" required>
                                                </div>
                                            </div>




                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Test configuration</label>
                                                <div class="col-lg-8 col-xl-5">
                                                    <input style="" type="text" class="form-control form-control" id="validationServer01" placeholder="enter test Email address">
                                                    <div style="margin-top:10px; background-color:rgba(122,190,115,0.9)" class="alert alert-success" role="alert">
                                                        <span style="font-size:14px;">Your connection was successfully established.</span>
                                                    </div>
                                                    <!--
                                                    <div style="margin-top:10px;" class="alert alert-danger" role="alert">
                                                        <span style="font-size:14px;">We were not able to establish a connection. Please check your configuration</u></span>
                                                    </div>-->
                                                </div>
                                                <div class="col-lg-2 col-xl-1">
                                                    <button href="#" style="font-size:10px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                        TEST
                                                    </button>
                                                </div>


                                            </div>



                                            {#
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">
                                                    Test Configuration
                                                    <a data-html="true" class="cio-popover" data-toggle="popover" title="SMTP configuration status" data-content="">
                                                        <i id="test_indicator" class="fas fa-circle fa-lg text-secondary"></i>
                                                    </a>
                                                </label>
                                                <div class="col-lg-8 col-xl-5">
                                                    <input id="email_receiver" type="email" data-checktarget="{# {{ b64msmail }} #} {# " class="form-control" value="" placeholder="send test email to this email address" autocomplete="false">
                                                    <div id="email_smtp_msg" class="hidden" style="font-size: smaller; font-style: italic"></div>
                                                </div>
                                                <div class="col-lg-2 col-xl-1">
                                                    <button id="email_twig_test" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary">Test</button>
                                                </div>
                                            </div>
                                            #}


                                            <div class="form-group row">
                                                <div class="col-xl-3 col-lg-3"></div>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div id="test_result" class="font-italic"></div>
                                                </div>
                                            </div>

                                            {#
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Secure Protocol &nbsp;&nbsp;</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    {% set securePotocal = ['SMTP Secure','SMTP Debug'] %}

                                                    <select class="form-control" name="secureProtocol">
                                                        <option value="0">None</option>
                                                        {% for cur in securePotocal %}
                                                            {% if email.secureProtocol is defined and cur ==  email.secureProtocol %}
                                                                <option value="{{ cur }}" selected>{{ cur }}</option>
                                                            {% else %}
                                                                <option value="{{ cur }}">{{ cur }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">SMTP Authentication&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If the setting 'outbound data' is active, you can activate encryption for the data. "><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if email.smtpAuth is defined and email.smtpAuth ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="seconds" value="off">
                                                            <input type="checkbox" {{ sync_status }} name="smtpAuth">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>
                                            #}
                                            <input type="hidden" name="token" value="{{ csrf_token('company-email') }}"/>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{#  {{ csrf_token('campaign-create') }} #}"/>
                            <!--end: Form Wizard Step 2-->


                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>


                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">

                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Cancel
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    ADD INTEGRATION TO PROJECT
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
    {#begin  fraud checking script#}
    <script type="text/javascript" src="{{ jsurl }}/data-local.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    {#endof fraud checking script#}

    <script>

        const $tableID = $ ( '#table' );
        const $BTN = $ ( "#finalSubmit" );
        const $EXPORT = $ ( '#export' );
        let campaignInOneParams = $ ( '#table' ).data ( "isTest" );
        console.log ( campaignInOneParams );

        //additional parameters for webhooks
        // Todo: add values hardcoded we need find some solution for this
        /*        campaignInOneParams['HouseNumber'] = { 'label':'HouseNumber'}
                campaignInOneParams['Order Number'] = { 'label':'Order Number'}
                campaignInOneParams['Order Date'] = { 'label':'Order Date'}
                campaignInOneParams['Smart Tags'] = { 'label':'Smart Tags'}
                campaignInOneParams['Net Order Value'] = { 'label':'Net Order Value'}
                campaignInOneParams['URL_Parameter'] = { 'label':'URL_Parameter'}*/

        let tmp = '';
        // make a copy of params used for appending the standard field.
        let campaignParamsBackup = Object.assign ( tmp, campaignInOneParams );

        $('.table-add').on('click', 'a', () => {
            let newTr = generateHTML();
            $('tbody').append(newTr);
            //this is for adding custom params
            $('.fieldTypeSelect').on('change', function () {
                let selectedValue = this.value;
                let row = $(this).closest("tr");
                let fieldtypeClass = row.find('.CIO');
                if (selectedValue === 'custom') {
                    let cioSelect = fieldtypeClass.empty();
                    cioSelect.append(`<input class="form-control cioCustom" value="Contact." type="text" placeholder="CIO Custom Field">`);
                } else if (selectedValue === 'standard') {
                    let cioSelect = fieldtypeClass.empty();
                    let CIOStandatdFields = generateSelect(campaignInOneParams);
                    cioSelect.append(CIOStandatdFields);
                }
            });
        });

        $tableID.on('click', '.table-remove', function () {
            let tr = ($(this).parents('tr'));
            let cio_select_value = tr.find('td.CIO >select.cio-select option:selected').text();
            // Add standard field to global campaignInOneParams  for latter usage.
            campaignInOneParams[cio_select_value] = campaignParamsBackup[cio_select_value];
            $(this).parents('tr').detach();
        });

        $tableID.on('click', '.table-up', function () {
            const $row = $(this).parents('tr');
            if ($row.index() === 1) {
                return;
            }
            $row.prev().before($row.get(0));
        });

        $tableID.on('click', '.table-down', function () {
            const $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {
                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {
                    i = 1;
                    switch (header) {
                        case "marketing-in-one":
                            // Fetch the Standard Fields
                            let CIOText = $(".CIO", this).find('option:selected').text();
                            let CIOValue = $(".CIO", this).find('option:selected').val();
                            h[header] = CIOText;
                            // Fetch the Custom Fields
                            if (CIOText.length === 0) {
                                let CIOCustomText = $(this).find('td.CIO > input').val();
                                let valSplit = CIOCustomText.split('.');
                                if(valSplit[1].length !== 0) {
                                    CIOValue='Contact_'+ valSplit[1];
                                }
                                h[header] = CIOCustomText;
                            }
                            h['html form'] = CIOValue;
                            break;
                        case "data type":
                            h[header] = $(".DataType", this).find('option:selected').text();
                            break;
                        case "required":
                            h[header] = $(".required", this).find('option:selected').val();
                            break;
                        case "field type":
                            h[header] = $(".FT", this).find('option:selected').text();
                            break;
                        /*default:
                            h[header] = "";*/

                    }
                    if (h[header] === "") {
                        h[header] = $td.eq(i).text();
                    }
                });

                data.push(h);
            });
            value = JSON.stringify(data);
            encryptedValue = btoa(value);
            $("#urlID").attr('value', encryptedValue);
            $("#second").prop('disabled', true);
            $("#submit").click();
            // Output the result
            $EXPORT.text ( JSON.stringify ( data ) );
        } );

        //This is to Generate html for select  to mapping table
        function generateSelect(array) {
            let innerHTML = "";

            //get mapping array from database but for now hard-coded
            $.each ( array, function (key, value) {
                if ( key !== 'campaign_id' ) {
                    let label = key;
                    let select = `<option value="` + value + `">` + label + `</option>`;
                    innerHTML += select;
                }
            } );

            let HTML = ` <select  class="cio-select form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `;
            return HTML;
        }


        function getTableLength() {
            return $('.table tr').length;
        }

        function generateHTML() {
            // remove the selected option from CIO dropdown list
            removeCIOSelectedOptions();

            let i = getTableLength();
            let CIOSelect = generateSelect(campaignInOneParams);
            // TODO: @aravind => inject list from datatypes-table!!!
            let DataType = [
                'Text',
                'Decimal',
                'Integer',
                'List',
                'Date',
                'DateTime',
                'Email',
                'URL',
                'Phone'
            ];
            let dataTypeHtml = generateSelectForDataType ( DataType );
            let requiredHtml = `
                         <select disabled="disabled" class="form-control form-control-md fieldTypeSelect" style="opacity:1">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select> `;
            return `
                <tr class="defaultTableValue" id="` + i + `">
                    <td class="pt-3-half select2 CIO">` + CIOSelect + `</td>
                    <td class="pt-3-half select2 DataType">` + dataTypeHtml + `</td>
                    <td class="pt-3-half select2 required">` + requiredHtml + `</td>
                    <td valign="middle">
                        <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                    </td>
                </tr>`;
        }

        /**
         *  remove the selected fields from cio select options
         */
        function removeCIOSelectedOptions() {
            const rows = $tableID.find('tr:not(:hidden) >td >select.cio-select option:selected');
            let i = 0;
            // Currently remove the used standard param from the list.
            $.each(rows, function (key, value) {
                delete campaignInOneParams[value.value];
            });
        }

        /**
         *  This functions generate HTML for datatypes
         */
        function generateSelectForDataType(array) {
            let innerHTML = "";

            //get mapping array from database but for now hard-coded
            $.each(array, function (key, value) {
                let select = `<option value="` + value + `">` + value + `</option>`;
                innerHTML += select;
            });

            let HTML = ` <select disabled="disabled"  class="form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `;
            return HTML;

        }


    </script>

    <script>
        //checks for the campaign name
        jQuery('input#name1').on('mouseout', function () {
            let myurl = jQuery(this).data('urlprefix') + jQuery(this).val() + '/' + jQuery(this).data('getparams');
            let settings = {
                url: myurl,
                method: "GET",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                }
            };
            $.ajax(settings).done(function (response) {
                let check = JSON.parse(response);
                if (check.status === false) {
                    $('input#name1').removeClass('is-valid').addClass('is-invalid');
                    let message = check['message'];
                    let html = `<font color="red">` + message + `</font>`;
                    $('#campaignName').html(html);
                    $BTN.prop('disabled', true);
                } else {
                    $('input#name1').removeClass('is-invalid').addClass('is-valid');
                    let message = check['message'];
                    let html = `<font color="green">` + message + `</font>`;
                    $('#campaignName').html(html);
                    $BTN.prop('disabled', false);
                }
            });
        });
    </script>

    <script>
        $("#clearDate").click(function () {
            $('#kt_datetimepicker_3').val('').datepicker('update');
        });
        $("#clearDate2").click(function () {
            $('#kt_datetimepicker_2').val('').datepicker('update');
        });
        //when facebook and google inputs are typed they are automatically on
        $('#googleAnalyticsInput').keyup(function () {
            $('#googleAnalyticsInputChecked').prop("checked", true);
        });
        $('#facebookAnalyticsInput').keyup(function () {
            $('#facebookAnalyticsInputChecked').prop("checked", true);
        });
    </script>


{% endblock %}
