{% extends "app.twig" %}

{% block content %}

    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{error is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{error is defined ? error :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{success is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{success is defined ? success :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    {# integration interface - AVAILABLE #}

    <!-- begin: integration interface AVAILABLE - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Integrations</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc" data-feature_toggle_hubspot="{{current_user.feature.Hubspot == false ? 'HUBSPOT ON' : 'HUBSPOT OFF'}}">manage your project integrations</span>
        </div>
    </div>
    <div class="kt-subheader kt-grid__item" id="kt_subheader" style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main">
            <!--begin: configure integration button -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="{#  {{ path('webhook.create') }} #}">Configure Integration</a>
            <!--end: configure integration button -->
        </div>
        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('integrations.available', {status:'available'}) }}">Available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('integrations.available', {status:'installed'}) }}">Installed</a>
                </li>
                <li class="nav-item">
                    <a style="background-color: #ffb822;" class="nav-link active" href=" {{ path('integrations.available', {status:'archived'}) }} ">Archived</a>
                </li>
            </ul>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- end: integration interface AVAILABLE - head -->


    <!-- begin: integration interface INSTALLED - content -->
    <div class="kt-wizard-v4">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" style="border-bottom:none;">
                                <!--<div class="kt-heading kt-heading--md">Please select an integration for your project
                                </div>-->
                                <div class="kt-form__section kt-form__section--first">

                                    <!--begin: category selection -->
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true"><span class="nav-icon"><i class="fal fa-server"></i></span>
                                                <span class="nav-text"><b>all archived integrations</b></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false"><span class="nav-icon"><i class="fal fa-envelope"></i></span>
                                                <span class="nav-text"><b>archived email integrations</b></span></a>
                                        </li>
                                        {# REMOVE THIS IF, WHEN THERE ARE MORE CRM SYSTEMS BESIDE HUBSPOT #}
                                        {% if current_user.feature.Hubspot is defined and current_user.feature.Hubspot == false %}
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                                <span class="nav-icon"><i class="fal fa-server"></i></span>
                                                <span class="nav-text"><b>archived CRM integrations</b></span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><span class="nav-icon"><i class="fal fa-tools"></i></span>
                                                <span class="nav-text"><b>archived online tools</b></span></a>
                                        </li>
                                    </ul>
                                    <!--end: category selection -->

                                    <!--Begin: category selection -->
                                    <div class="tab-content" id="pills-tabContent">
                                        <!--Begin: all integrations -->
                                        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                                            <!--begin::Advance Table Widget 1-->
                                            <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                                <!--begin::Body-->
                                                <div class="card-body py-0">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                                            <tbody>
                                                            {% for integration in integrations %}
                                                                {% if 'all' in integration.overview.type %}
                                                                    <tr>
                                                                        <td class="pl-0" style="padding-top:25px;">
                                                                            <div class="checkbox">
                                                                                <label style="font-size: 1em">
                                                                                    <input type="checkbox" value="">
                                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pr-0">
                                                                            <div class="symbol symbol-50 symbol-light mt-1">
                                                                            <span class="symbol-label">
                                                                               {#<img src="https://treaction.net/wp-content/uploads/2020/11/mio-digistore-icon.png" class="h-75 align-self-end" alt="" style="width:40px;"/>#}
                                                                            </span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pl-0">
                                                                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ integration.overview.title }}</a>
                                                                            <span class="text-muted font-weight-bold text-muted d-block">{{ integration.overview.subTitle }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">release date</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">last updated</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">version</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.version }}</span>
                                                                        </td>
                                                                        {# <td class="pr-0 text-right" style="padding-top:20px;">
                                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                                            </button>
                                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        #}{# <a class="dropdown-item" href="#">Integration information</a> #}{#
                                                                        {% set title = integration.overview.title|lower %}
                                                                        <a class="dropdown-item" href="{{ path('integration_wizard.get', {integration:title|replace({' ': ''})}) }}">Integration wizard</a>
                                                                        <a class="dropdown-item" href="{{ path('integration.remove', {integration:title|replace({' ': ''})}) }}">Remove Integration</a>
                                                                    </div>
                                                                </td> #}
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Advance Table Widget 1-->
                                        </div>
                                        <!--End: all integrations -->

                                        <!--Begin: email integrations -->
                                        <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <!--begin::Advance Table Widget 1-->
                                            <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                                <!--begin::Body-->
                                                <div class="card-body py-0">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                                            <tbody>
                                                            {% for integration in integrations %}
                                                                {% if 'email' in integration.overview.type %}
                                                                    <tr>
                                                                        <td class="pl-0" style="padding-top:25px;">
                                                                            <div class="checkbox">
                                                                                <label style="font-size: 1em">
                                                                                    <input type="checkbox" value="">
                                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pr-0">
                                                                            <div class="symbol symbol-50 symbol-light mt-1">
                                                                            <span class="symbol-label">
                                                                               {#<img src="https://treaction.net/wp-content/uploads/2020/11/mio-digistore-icon.png" class="h-75 align-self-end" alt="" style="width:40px;"/>#}
                                                                            </span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pl-0">
                                                                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ integration.overview.title }}</a>
                                                                            <span class="text-muted font-weight-bold text-muted d-block">{{ integration.overview.subTitle }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">release date</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">last updated</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">version</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.version }}</span>
                                                                        </td>
                                                                        {# <td class="pr-0 text-right" style="padding-top:20px;">
                                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                                            </button>
                                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                                <a class="dropdown-item" href="#">Integration information</a>
                                                                                {% set title = integration.overview.title|lower %}
                                                                                <a class="dropdown-item" href="{{ path('integration_wizard.get', {integration:title|replace({' ': ''})}) }}">Integration wizard</a>
                                                                            </div>
                                                                        </td> #}
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Advance Table Widget 1-->
                                        </div>
                                        <!--End: email integrations -->

                                        <!--Begin: crm integrations -->
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <!--begin::Advance Table Widget 2-->
                                            <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                                <!--begin::Body-->
                                                <div class="card-body py-0">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                                            <tbody>
                                                            {% for integration in integrations %}
                                                                {% if 'crm' in integration.overview.type %}
                                                                    <tr>
                                                                        <td class="pl-0" style="padding-top:25px;">
                                                                            <div class="checkbox">
                                                                                <label style="font-size: 1em">
                                                                                    <input type="checkbox" value="">
                                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pr-0">
                                                                            <div class="symbol symbol-50 symbol-light mt-1">
                                                                            <span class="symbol-label">
                                                                               {#<img src="https://treaction.net/wp-content/uploads/2020/11/mio-digistore-icon.png" class="h-75 align-self-end" alt="" style="width:40px;"/>#}
                                                                            </span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pl-0">
                                                                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ integration.overview.title }}</a>
                                                                            <span class="text-muted font-weight-bold text-muted d-block">{{ integration.overview.subTitle }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">release date</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">last updated</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">version</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.version }}</span>
                                                                        </td>
                                                                        {# <td class="pr-0 text-right" style="padding-top:20px;">
                                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                                            </button>
                                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                                <a class="dropdown-item" href="#">Integration information</a>
                                                                                {% set title = integration.overview.title|lower %}
                                                                                <a class="dropdown-item" href="{{ path('integration_wizard.get', {integration:title|replace({' ': ''})}) }}">Integration wizard</a>
                                                                            </div>
                                                                        </td> #}
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Advance Table Widget 2-->
                                        </div>
                                        <!--End: CRM integrations -->

                                        <!--Begin: online tools -->
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <!--begin::Advance Table Widget 3-->
                                            <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                                <!--begin::Body-->
                                                <div class="card-body py-0">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                                            <tbody>
                                                            {% for integration in integrations %}
                                                                {% if 'online' in integration.overview.type %}
                                                                    <tr>
                                                                        <td class="pl-0" style="padding-top:25px;">
                                                                            <div class="checkbox">
                                                                                <label style="font-size: 1em">
                                                                                    <input type="checkbox" value="">
                                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pr-0">
                                                                            <div class="symbol symbol-50 symbol-light mt-1">
                                                                            <span class="symbol-label">
                                                                               {#<img src="https://treaction.net/wp-content/uploads/2020/11/mio-digistore-icon.png" class="h-75 align-self-end" alt="" style="width:40px;"/>#}
                                                                            </span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="pl-0">
                                                                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ integration.overview.title }}</a>
                                                                            <span class="text-muted font-weight-bold text-muted d-block">{{ integration.overview.subTitle }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">release date</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">last updated</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.releaseDate }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">version</span>
                                                                            <span class="text-muted font-weight-bold">{{ integration.overview.version }}</span>
                                                                        </td>
                                                                        {# <td class="pr-0 text-right" style="padding-top:20px;">
                                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                                            </button>
                                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                                <a class="dropdown-item" href="#">Integration information</a>
                                                                                {% set title = integration.overview.title|lower %}
                                                                                <a class="dropdown-item" href="{{ path('integration_wizard.get', {integration:title|replace({' ': ''})}) }}">Integration wizard</a>
                                                                            </div>
                                                                        </td> #}
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Advance Table Widget 3-->
                                        </div>
                                        <!--End: online tools -->

                                    </div>
                                    <!--End: category selection -->
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">

                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: integration interface INSTALLED - content  -->

    {# integration interface - INSTALLED #}


    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <style>
        .checkbox label:after,
        .radio label:after {
            content: '';
            display: table;
            clear: both;
        }

        .checkbox .cr,
        .radio .cr {
            position: relative;
            display: inline-block;
            background-color: #fff;
            border: 1px solid #d7d2d2;
            border-radius: .25em;
            width: 1.3em;
            height: 1.3em;
            float: left;
            margin-right: .5em;
        }

        .radio .cr {
            border-radius: 50%;
        }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
            color:#7abe73;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

        .checkbox label input[type="checkbox"],
        .radio label input[type="radio"] {
            display: none;
        }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }


        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;

        }

        .kt-portlet-campaigns {

            border-left: 15px solid #7abe73;
            margin-bottom: 15px;
        }

        .fas {

            color: #7abe73 !important;
        }

        .campaign-item-wrapper {

        }

        .child-row {


        }
    </style>
    {#
    {% set id = id + 1 %}
{% endfor %}
{% endif %}
    #}

{% endblock %}

{% block javascripts %}
    <script>
        //on page-load loop through campaigns and load matomo data
        $( document ).ready(function() {
            const matomoUrl = "{{ app.request.server.get('MATOMO_URL') }}";
            const matomoAuthToken ="{{ app.request.server.get('MatomoAuthToken') }}";
            let campaignsDiv = $(".MatomoCampaigns");
            campaignsDiv.each(function() {
                let parentDiv = $(this).closest('div:has("div.visitors")');
                let visitorsHtml = parentDiv.find('div.visitors');
                let visitorsSpanHtml = visitorsHtml.find('span.visitorsSpan');
                let url = visitorsSpanHtml.data("url");
                let impressionsHtml = parentDiv.find('div.impressions');
                let conversionsHtml = parentDiv.find('div.conversions');
                let averageTimeHtml = parentDiv.find('div.averageTime');
                let conversionRateHtml = parentDiv.find('div.conversionRate');
                let impressionsSpanHtml = impressionsHtml.find('span.impressionsSpan');
                let conversionsSpanHtml = conversionsHtml.find('span.conversionsSpan');
                let averageTimeSpanHtml = averageTimeHtml.find('span.averageTimeSpan');
                let conversionRateSpanHtml = conversionRateHtml.find('span.conversionRateSpan');
                let queryUrlForId = matomoUrl+"/?module=API&method=SitesManager.getSitesIdFromSiteUrl&url="+url+"&format=JSON&token_auth="+matomoAuthToken;
                //to get matomo Id from URL
                let matomoAjaxforsiteId  = {
                    "url": queryUrlForId,
                    "method": "GET",
                    "dataType": "jsonp",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "text/plain"
                    },
                };
                $.ajax(matomoAjaxforsiteId ).done(function (response) {
                    let MatomoSiteId = response[0]['idsite'];
                    if(MatomoSiteId) {
                        let queryForvisitSummery = matomoUrl+"/?module=API&method=VisitsSummary.get&idSite=" + MatomoSiteId + "&period=year&date=today&format=JSON&token_auth="+matomoAuthToken;
                        //this is to get summery analytics
                        let matomoAjaxforViews = {
                            "url": queryForvisitSummery,
                            "method": "GET",
                            "dataType": "jsonp",
                            "timeout": 0,
                            "headers": {
                                "Content-Type": "text/plain"
                            },
                        };
                        $.ajax(matomoAjaxforViews ).done(function (response) {
                            let impressions = response['nb_actions'];
                            let averageTime = response['avg_time_on_site'];
                            //let conversions = response['nb_visits_converted']; This value is from Matomo


                            //take logo values span tag to js variables
                            let logos = parentDiv.find('div.logos');
                            let visitsLogo = logos.find('span.visitorsLogo');
                            let impressionsLogo = logos.find('span.impressionsLogo');
                            let averageVisitTimeLogo = logos.find('span.averagetimeLogo');
                            let conversionsLogo = logos.find('span.conversionsLogo');
                            let conversionRateLogo = logos.find('span.conversionRateLogo');

                            let conversions = parseInt(conversionsLogo.text(),10);
                            let views = response['nb_visits'];
                            let conversionRate = (views/conversions).toFixed(2);
                            //removing infinity and nan
                            if(conversionRate ==='Infinity'  ||conversionRate ==='NaN'){
                                conversionRate = 0;
                            }
                            //appending text to logos
                            visitsLogo.text(views);
                            impressionsLogo.text(impressions);
                            averageVisitTimeLogo.text(averageTime);
                            conversionRateLogo.text(conversionRate);
                            //appending text inside details
                            visitorsSpanHtml.text(views);
                            impressionsSpanHtml.text(impressions);
                            averageTimeSpanHtml.text(averageTime);
                            conversionRateSpanHtml.text(conversionRate);
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}

