{% extends "app.twig" %}

{% block content %}

    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>

    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

    </style>


    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: WIZARD EMAIL-IN-ONE -->
    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Integrations wizard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Hubspot </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/webhooks/draft"><iclass="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">

                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Connection settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                establish a connection to Hubspot
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Basic settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                configure Hubspot basic settings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Mapping
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                configure Hubspot mapping fields
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--end: Form Wizard Nav -->
        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">


                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Please enter your Hubspot API Key:
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">


                                                {#Begin : eMIO APIKey#}
                                                <!--
                                                <div class="form-group row">
                                                    <label class="col-form-label">API key&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="API status" data-content=""><i style="color:#eb4034;" class="fas fa-circle fa-lg checkButton"></i></a></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input type="text" class="form-control border border-secondary inputApi" value = "{#  {{mio.apikey is defined? mio.apikey : ''}} #}414f326a-dba5-49a3-aca3-efa52a1881b5" name="apikey" placeholder="Enter API Key" autocomplete="false">
                                                    </div>
                                                </div>
                                                -->
                                                {# End : eMIO APIKey#}

                                                <div class="form-row ">
                                                    <div class="col-md-8 mb-3">
                                                        <input style="color:#7abe73;" type="text" class="form-control form-control is-valid" id="validationServer01" value="414f326a-dba5-49a3-aca3-efa52a1881b5">
                                                        <div style="margin-top:10px; background-color:rgba(122,190,115,0.9)" class="alert alert-success" role="alert">
                                                            <span style="font-size:14px;">API Key correct. Your connection was successfully established.</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button style="font-size:11px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                            TEST CONNECTION
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="form-row ">
                                                    <div class="col-md-8 mb-3">
                                                        <input  type="text" class="form-control form-control is-invalid" id="validationServer01" value="414f326a-dba5">
                                                        <div style="margin-top:10px;" class="alert alert-danger" role="alert">
                                                            <span style="font-size:14px;">API Key incorrect. We were not able to establish a connection. Please try again later, or contact our support <u>here.</u></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button style="font-size:11px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                            RETRY CONNECTION
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->


                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Hubspot basic settings</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <!--Here comes Mapping table for the campaign-->
                                        {#Begin : OWNER ID#}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Owner ID</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input type="text" class="form-control" value = "{{hubspot.ownerId is defined? hubspot.ownerId : ''}}" name="ownerId" placeholder="Enter ID" autocomplete="false">
                                            </div>
                                        </div>
                                        {#End : OWNER ID#}

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('campaign-create') }}"/>
                            <!--end: Form Wizard Step 2-->


                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure custom field mapping for Hubspot</div>
                                <span class="kt-subheader__desc"><span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle"></i> All standard fields are automatically mapped by Marketing-In-One and cannot be changed. Custom fields can be defined here and mapped to the Hubspot counterpart. </span>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">

                                        <!--Here comes Mapping table for the campaign-->

                                        <div id="table" class="table-editable"
                                             data-is-test="{#  {{ c_set.standard_fields |  json_encode() }} #}">

                                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><strong>Marketing-In-One custom field</strong></th>
                                                    <th class="text-center"><strong>Husbpot custom field</strong></th>

                                                    <th class="text-center"><strong>Action</strong></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if c_set.mapping is defined %}

                                                    {% for mp_field in c_set.mapping %}

                                                        <tr>
                                                            {#  select cio fields#}
                                                            <td class="pt-3-half select2 CIO">
                                                                {% if  mp_field['field type'] is defined and mp_field['field type'] == "standard" %}
                                                                    <select class="cio-select form-control form-control-md"
                                                                            style="opacity:1">
                                                                        {% for stnd_field in c_set.standard_fields %}
                                                                            {% if mp_field['marketing-in-one'] is defined and stnd_field['label'] == mp_field['marketing-in-one'] %}
                                                                                <option value="{{ stnd_field['label'] }}"
                                                                                        selected>{{ stnd_field['label'] }}</option>
                                                                            {% else %}
                                                                                <option value="{{ stnd_field['label'] }}">{{ stnd_field['label'] }}</option>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </select>
                                                                {% else %}
                                                                    <input class="form-control cioCustom" type="text"
                                                                           placeholder="CIO Custom Field"
                                                                           value="{{ mp_field['marketing-in-one'] is defined? mp_field['marketing-in-one'] : '' }}">
                                                                {% endif %}
                                                            </td>
                                                            {#input dataType#}


                                                            {#remove row#}
                                                            <td>
                                                                <span class="table-remove"><i
                                                                            style="color:red;cursor: pointer;"
                                                                            class="fas fa-minus-circle"></i></span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}

                                                <!-- This is our clonable table line which will be generated automatically form script-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                            </a>
                                        </span>
                                        <label for="urlID"></label>
                                        <input type="text" class="form-control" id="urlID"
                                               name="campaign[mapping][mappingTable]"
                                               autocomplete="false" hidden>

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('campaign-create') }}"/>
                            <!--end: Form Wizard Step 3-->


                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>


                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    ADD INTEGRATION TO PROJECT
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
    {#begin  fraud checking script#}
    <script type="text/javascript" src="{{ jsurl }}/data-local.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    {#endof fraud checking script#}

    <script>

        const $tableID = $ ( '#table' );
        const $BTN = $ ( "#finalSubmit" );
        const $EXPORT = $ ( '#export' );
        let campaignInOneParams = $ ( '#table' ).data ( "isTest" );
        console.log ( campaignInOneParams );

        //additional parameters for webhooks
        // Todo: add values hardcoded we need find some solution for this
        /*        campaignInOneParams['HouseNumber'] = { 'label':'HouseNumber'}
                campaignInOneParams['Order Number'] = { 'label':'Order Number'}
                campaignInOneParams['Order Date'] = { 'label':'Order Date'}
                campaignInOneParams['Smart Tags'] = { 'label':'Smart Tags'}
                campaignInOneParams['Net Order Value'] = { 'label':'Net Order Value'}
                campaignInOneParams['URL_Parameter'] = { 'label':'URL_Parameter'}*/

        let tmp = '';
        // make a copy of params used for appending the standard field.
        let campaignParamsBackup = Object.assign ( tmp, campaignInOneParams );

        $('.table-add').on('click', 'a', () => {
            let newTr = generateHTML();
            $('tbody').append(newTr);
            //this is for adding custom params
            $('.fieldTypeSelect').on('change', function () {
                let selectedValue = this.value;
                let row = $(this).closest("tr");
                let fieldtypeClass = row.find('.CIO');
                if (selectedValue === 'custom') {
                    let cioSelect = fieldtypeClass.empty();
                    cioSelect.append(`<input class="form-control cioCustom" value="Contact." type="text" placeholder="CIO Custom Field">`);
                } else if (selectedValue === 'standard') {
                    let cioSelect = fieldtypeClass.empty();
                    let CIOStandatdFields = generateSelect(campaignInOneParams);
                    cioSelect.append(CIOStandatdFields);
                }
            });
        });

        $tableID.on('click', '.table-remove', function () {
            let tr = ($(this).parents('tr'));
            let cio_select_value = tr.find('td.CIO >select.cio-select option:selected').text();
            // Add standard field to global campaignInOneParams  for latter usage.
            campaignInOneParams[cio_select_value] = campaignParamsBackup[cio_select_value];
            $(this).parents('tr').detach();
        });

        $tableID.on('click', '.table-up', function () {
            const $row = $(this).parents('tr');
            if ($row.index() === 1) {
                return;
            }
            $row.prev().before($row.get(0));
        });

        $tableID.on('click', '.table-down', function () {
            const $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {
                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {
                    i = 1;
                    switch (header) {
                        case "marketing-in-one":
                            // Fetch the Standard Fields
                            let CIOText = $(".CIO", this).find('option:selected').text();
                            let CIOValue = $(".CIO", this).find('option:selected').val();
                            h[header] = CIOText;
                            // Fetch the Custom Fields
                            if (CIOText.length === 0) {
                                let CIOCustomText = $(this).find('td.CIO > input').val();
                                let valSplit = CIOCustomText.split('.');
                                if(valSplit[1].length !== 0) {
                                    CIOValue='Contact_'+ valSplit[1];
                                }
                                h[header] = CIOCustomText;
                            }
                            h['html form'] = CIOValue;
                            break;
                        case "data type":
                            h[header] = $(".DataType", this).find('option:selected').text();
                            break;
                        case "required":
                            h[header] = $(".required", this).find('option:selected').val();
                            break;
                        case "field type":
                            h[header] = $(".FT", this).find('option:selected').text();
                            break;
                        /*default:
                            h[header] = "";*/

                    }
                    if (h[header] === "") {
                        h[header] = $td.eq(i).text();
                    }
                });

                data.push(h);
            });
            value = JSON.stringify(data);
            encryptedValue = btoa(value);
            $("#urlID").attr('value', encryptedValue);
            $("#second").prop('disabled', true);
            $("#submit").click();
            // Output the result
            $EXPORT.text ( JSON.stringify ( data ) );
        } );

        //This is to Generate html for select  to mapping table
        function generateSelect(array) {
            let innerHTML = "";

            //get mapping array from database but for now hard-coded
            $.each ( array, function (key, value) {
                if ( key !== 'campaign_id' ) {
                    let label = key;
                    let select = `<option value="` + value + `">` + label + `</option>`;
                    innerHTML += select;
                }
            } );

            let HTML = ` <select  class="cio-select form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `;
            return HTML;
        }


        function getTableLength() {
            return $('.table tr').length;
        }

        function generateHTML() {
            // remove the selected option from CIO dropdown list
            removeCIOSelectedOptions();

            let i = getTableLength();
            let CIOSelect = generateSelect(campaignInOneParams);
            // TODO: @aravind => inject list from datatypes-table!!!
            let DataType = [
                'Text',
                'Decimal',
                'Integer',
                'List',
                'Date',
                'DateTime',
                'Email',
                'URL',
                'Phone'
            ];
            let dataTypeHtml = generateSelectForDataType ( DataType );
            let requiredHtml = `
                         <select disabled="disabled" class="form-control form-control-md fieldTypeSelect" style="opacity:1">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select> `;
            return `
                <tr class="defaultTableValue" id="` + i + `">
                    <td class="pt-3-half select2 CIO">` + CIOSelect + `</td>
                    <td class="pt-3-half select2 DataType">` + dataTypeHtml + `</td>
                    <td class="pt-3-half select2 required">` + requiredHtml + `</td>
                    <td valign="middle">
                        <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                    </td>
                </tr>`;
        }

        /**
         *  remove the selected fields from cio select options
         */
        function removeCIOSelectedOptions() {
            const rows = $tableID.find('tr:not(:hidden) >td >select.cio-select option:selected');
            let i = 0;
            // Currently remove the used standard param from the list.
            $.each(rows, function (key, value) {
                delete campaignInOneParams[value.value];
            });
        }

        /**
         *  This functions generate HTML for datatypes
         */
        function generateSelectForDataType(array) {
            let innerHTML = "";

            //get mapping array from database but for now hard-coded
            $.each(array, function (key, value) {
                let select = `<option value="` + value + `">` + value + `</option>`;
                innerHTML += select;
            });

            let HTML = ` <select disabled="disabled"  class="form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `;
            return HTML;

        }


    </script>

    <script>
        //checks for the campaign name
        jQuery('input#name1').on('mouseout', function () {
            let myurl = jQuery(this).data('urlprefix') + jQuery(this).val() + '/' + jQuery(this).data('getparams');
            let settings = {
                url: myurl,
                method: "GET",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                }
            };
            $.ajax(settings).done(function (response) {
                let check = JSON.parse(response);
                if (check.status === false) {
                    $('input#name1').removeClass('is-valid').addClass('is-invalid');
                    let message = check['message'];
                    let html = `<font color="red">` + message + `</font>`;
                    $('#campaignName').html(html);
                    $BTN.prop('disabled', true);
                } else {
                    $('input#name1').removeClass('is-invalid').addClass('is-valid');
                    let message = check['message'];
                    let html = `<font color="green">` + message + `</font>`;
                    $('#campaignName').html(html);
                    $BTN.prop('disabled', false);
                }
            });
        });
    </script>

    <script>
        $("#clearDate").click(function () {
            $('#kt_datetimepicker_3').val('').datepicker('update');
        });
        $("#clearDate2").click(function () {
            $('#kt_datetimepicker_2').val('').datepicker('update');
        });
        //when facebook and google inputs are typed they are automatically on
        $('#googleAnalyticsInput').keyup(function () {
            $('#googleAnalyticsInputChecked').prop("checked", true);
        });
        $('#facebookAnalyticsInput').keyup(function () {
            $('#facebookAnalyticsInputChecked').prop("checked", true);
        });
    </script>


{% endblock %}
