<!DOCTYPE html>
<html lang="de">

<!-- begin::Head -->
<head>
	{# {{ absolute_url('/') }} #}
	{% set url = absolute_url('/') %}
	{% set cssurl = absolute_url('/') ~ 'assets/css' %}
	{% set jsurl = absolute_url('/') ~ 'assets/js' %}
	{% set imgurl = absolute_url('/') ~ 'assets/img' %}
	{% set libsurl = absolute_url('/') ~ 'assets/libs' %}

	{# {% if user is defined %} #}
	{% if current_user is defined %}
		{% set user_email = current_user.email %}
		{% set user_first_name = current_user.first_name %}
		{% set user_last_name = current_user.last_name %}
		{% set user_full_name = current_user.first_name ~ ' ' ~ current_user.last_name %}
		{% set user_company_name = current_user.company_name %}
		{% set user_company_id = current_user.company_id %}
		{% set user_1stletter = current_user.user_1stletter %}
		{% set user_is_admin = current_user.is_admin %}
		{% set user_is_master_admin = current_user.is_master_admin %}
		{% set user_is_super_admin = current_user.is_super_admin %}
		{% set user_dpa = current_user.dpa %}
		{% set user_dpa_date = current_user.dpa_date %}
		{% if current_user.project_objectregister_id is defined %}
			{% set user_project_objectregister_id = current_user.project_objectregister_id %}
		{% else %}
			{% set user_project_objectregister_id = '' %}
		{% endif %}
		{#
		{% set user_first_name = user.first_name %}
		{% set user_last_name = user.last_name %}
		{% set user_full_name = user.first_name ~ ' ' ~ user.last_name %}
		{% set user_company_name = user.company_name %}
		{% set user_company_id = user.company_id %}
		{% set user_1stletter = user.user_1stletter %}
		{% set user_is_admin = user.is_admin %}
		{% set user_is_super_admin = user.is_super_admin %}
		#}
		{% set role_indicator = 'border-bottom: white solid' %}

		{% if ( user_is_super_admin ) %}
			{% set role_indicator = 'border-bottom: red solid' %}
		{% elseif (user_is_master_admin) %}
			{% set role_indicator = 'border-bottom: orange solid' %}
		{% elseif ( user_is_admin) %}
			{% set role_indicator = 'border-bottom: yellow solid' %}
		{% else %}
			{% set role_indicator = 'border-bottom: white solid' %}
		{% endif %}
	{% else %}
		{% set role_indicator = '' %}
		{% set user_email = '' %}
		{% set user_first_name = '' %}
		{% set user_last_name = '' %}
		{% set user_full_name = '' %}
		{% set user_company_id = '' %}
		{% set user_company_name = '' %}
		{% set user_1stletter = '' %}
		{% set user_is_admin = false %}
		{% set user_is_master_admin = false %}
		{% set user_is_super_admin = false %}
		{% set user_project_objectregister_id = '' %}
		{% set user_dpa = '' %}
		{% set user_dpa_date = '' %}
	{% endif %}


	<meta charset="UTF-8">
	<title>Marketing-In-One</title>

	<meta name="description" content="Latest updates and statistic charts">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="{{ libsurl }}/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<!--begin::Fonts -->
	{# TODO: replace by local font #}
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap"
		  rel="stylesheet">
	<!--end::Fonts -->


	{# TODO: download and add to assets #}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
		  rel="stylesheet" type="text/css"/>
	<!--begin::Page Vendors Styles(used by this page) -->
	<link href="{{ cssurl }}/metronic/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>
	<link rel="icon" href="{{ imgurl }}/favicon/cio-icon.png" type="image/png"/>


	<!--end::Page Vendors Styles -->

	<!--begin:: Global Mandatory Vendors -->
	{# <link href="https://campaign-in-one.net/vendor/metronic/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />    DUPLICATE #}
	<!--end:: Global Mandatory Vendors -->
	<link href="{{ cssurl }}/settings/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>
	<!--begin:: Date range picker -->
	{# TODO: add to assest #}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
	<!--end:: Date range picker -->


	<!-- metronic mandatory imports -->

	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/metronic/perfect-scrollbar/css/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/metronic/style.bundle.css">
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/metronic/login/login.css">
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/metronic/style.cio.css">
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/metronic/wizard/wizard.css">
	<!--begin::kanban-board -->
	<link href="{{ libsurl }}/jkanban-master/dist/jkanban.css" rel="stylesheet" type="text/css"/>
	<!--end::kanban-board -->

	<!-- ./ metronic imports -->
	<!--begin:: metronic optional imports -->
	{# <link href="{{ asset('../resources/libs/fontawesome/css/all.min.css') }}" rel="stylesheet" type="text/css" /> #}
	{# <link href="https://campaign-in-one.net/vendor/metronic/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" /> #}

	<link href="{{ cssurl }}/fontawesome/css/all.min.css" rel="stylesheet" type="text/css"/>
	<link href="{{ libsurl }}/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="{{ libsurl }}/flaticon/flaticon.css" rel="stylesheet" type="text/css"/>
	<link href="{{ libsurl }}/flaticon2/flaticon.css" rel="stylesheet" type="text/css"/>
	<link href="{{ libsurl }}/jquery-ui/jquery-ui.bundle.css" rel="stylesheet" type="text/css"/>
	<!--end:: metronic optional imports -->

	<!--begin::Spectrum/colourpicker-->
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/settings/spectrum.css">
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/settings/colorpicker.css">
	<!--end::Spectrum -->
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/dashboard/circle.css">
	<!--begin::DatePicker-->
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/settings/jquery.datetimepicker.min.css">
	<!--end::datePicker -->

	<!--begin::Slider-->
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/settings/ion.rangeSlider.css">
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/settings/combobox.css">
	<!--end::slider -->

	<!--begin::grid -->
	<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
	<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
	<!--end::grid -->

	<!--begin::select2-->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<!--end::select2 -->
	<style>
        ul.kt-menu__subnav a.kt-menu__link:hover,
        ul.kt-menu__subnav a.kt-menu__link:hover {
            /* background-color: #22262c !important; */
            background-color: #33323f !important;
            box-shadow: none !important;
        }
	</style>

	{% block pagehead %}
	{% endblock %}

</head>
<!-- end::Head -->


<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-page--fluid kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loadin">
<!-- Preloader -->
<div class="pace" data-baseurl="{{ absolute_url('/') }}"></div>
<!-- /.Preloader -->


<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
	<i class="fa fa-arrow-up"></i>
</div>

<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
	<div class="kt-header-mobile__logo">
		<a href="demo2/index.html">
			{# TODO: add mobile logo #}
			<img alt="Logo" src="{{ imgurl }}/cio/cio-logo-weiss-150x150.png" style="width: 40%;"/>
		</a>
	</div>
	<div class="kt-header-mobile__toolbar">
		<button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler">
			<span></span>
		</button>
		<button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler">
			<i class="flaticon-more-1"></i>
		</button>
	</div>
</div>
<!-- end:: Header Mobile -->

<div class="kt-grid kt-grid--hor kt-grid--root">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">

			<!-- begin:: Header -->
			<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
				<div class="kt-header__top" style="height:70px !important">
					<div class="kt-container">

						<!-- begin:: Brand -->
						<!-- begin:: Dropd Down Campaigns -->
						<div class="kt-header__brand   kt-grid__item" id="kt_header_brand">


							<div class="kt-header__brand-logo">
								<a href="{{ path('auth.home') }}">
									<img style="width:50px;" alt="Logo" src="{{ imgurl }}/cio/cio-logo-weiss-150x150.png" class="kt-header__brand-logo-default"/>
									<img style="width:50px;" alt="Logo" src="{{ imgurl }}/cio/cio-logo-weiss-150x150.png" class="kt-header__brand-logo-sticky"/>
								</a>
							</div>

							{# {% set user = twig.getUserForTwig()  %} #}
							{% if current_user is not defined %}
								{% set hide ='hidden' %}
							{% endif %}
							{# {% if auth.check %} #}
							{# {% set auth = { 'check' : true, 'super_admin' : true } %}   todo uncommnet-auth_variable #}
							{# {% if auth.check %} #}
							<!-- SUPER ADMIN -->
							{# removed WEB-4916, jsr
                            {% if user_is_super_admin or user_is_master_admin %}

                                {% if user_is_super_admin %}
                                    {% set limitdropdown = "style=overflow-y:scroll;height:400px" %}
                                {% else %}
                                    {% set limitdropdown = '' %}
                                {% endif %}


                                <div class="kt-header__brand-nav" {{ hide is defined ? hide:'' }}>
                                    <div class="dropdown">
                                        <button id="company_dropdown_button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{ user_company_name|length ? user_company_name  : "Switch customer" }}
                                        </button>

                                        {% set switch_acc = twig.getSwitchAccoutDetails() %}
                                        {% if switch_acc is defined %}
                                            <div class="dropdown-menu dropdown-menu-md">
                                                <ul id="company_select_dropdown" class="kt-nav kt-nav--bold kt-nav--md-space" {{ limitdropdown }}>

                                                    {% for acc in switch_acc %}
                                                        <li id="ACC__{{ acc.name|removeSpaces }}" class="kt-nav__item">

                                                            {% if user_full_name is not empty %}
                                                                {% if acc.name is not empty %}
                                                                    {% set switch_url = "#{url}account/#{acc.id}/switch" %}
                                                                    <a class="kt-nav__link active" href="{{ switch_url }}"
                                                                       value= {{ acc.id }} active>
                                                                        <span class="kt-nav__link-text">{{ acc.name }}</span>
                                                                    </a>
                                                                {% endif %}

                                                            {% endif %}
                                                        </li>

                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
							#}

							{% if(user_is_super_admin == 'true' or user_dpa is defined and user_dpa == 1 ) %}
								<div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper" {{ hide is defined ? hide:'' }}>
									<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">

										<ul class="kt-menu__nav ">


											{% if ( user_is_super_admin ) %}
												{# ADMINISTRATION #}
												<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
													data-ktmenu-submenu-toggle="click" aria-haspopup="true">
													<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
														<span class="kt-menu__link-text">Administration</span>
													</a>

													<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
														<ul class="kt-menu__subnav">

															<li class="kt-menu__item " aria-haspopup="true">
																<a href="{{ path('superadminUserOverview') }}"
																   class="kt-menu__link ">
																	<i class="">
																		<span></span>
																	</i>
																	<span class="kt-menu__link-text">Account Overview</span>
																</a>
															</li>
															<li class="kt-menu__item " aria-haspopup="true">
																<a href="{{ path('feature_toggle_index') }}"
																   class="kt-menu__link ">
																	<i class="">
																		<span></span>
																	</i>
																	<span class="kt-menu__link-text">Feature Toggle</span>
																</a>
															</li>

															<li class="kt-menu__item " aria-haspopup="true">
																<a href="{{ path('superadmin_default_ftp_server') }}"
																   class="kt-menu__link ">
																	<i class="">
																		<span></span>
																	</i>
																	<span class="kt-menu__link-text">FTP Server</span>
																</a>
															</li>

															<li class="kt-menu__item " aria-haspopup="true">
																<a href="{{ path('superadminEmailServer.get') }}"
																   class="kt-menu__link ">
																	<i class="">
																		<span></span>
																	</i>
																	<span class="kt-menu__link-text">E-Mail Server</span>
																</a>
															</li>

															<li class="kt-menu__item " aria-haspopup="true">
																<a href="{{ path('superadminInboxMonitor.manage') }}"
																   class="kt-menu__link ">
																	<i class="">
																		<span></span>
																	</i>
																	<span class="kt-menu__link-text">Inbox-Monitor</span>
																</a>
															</li>

															<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
																data-ktmenu-submenu-toggle="click" aria-haspopup="true">
																<a class="kt-menu__link kt-menu__toggle">
																	<i class="">
																		<span></span>
																	</i>
																	<span class="kt-menu__link-text">eMail-In-One</span>
																</a>
																<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
																	<ul class="kt-menu__subnav">
																		<li class="kt-menu__item " aria-haspopup="true">
																			<a href="{{ path('superadmineMailInOne.get') }}"
																			   class="kt-menu__link ">
																				<i class="">
																					<span></span>
																				</i>
																				<span class="kt-menu__link-text">APIKey</span>
																			</a>
																		</li>
																		<li class="kt-menu__item " aria-haspopup="true">
																			<a href="{{ path('superadminemiomapping') }}"
																			   class="kt-menu__link">
																				<i class="">
																					<span></span>
																				</i>
																				<span class="kt-menu__link-text">StandardFields</span>
																			</a>
																		</li>
																	</ul>
																</div>
															</li>
															<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
																data-ktmenu-submenu-toggle="click" aria-haspopup="true">
																<a class="kt-menu__link kt-menu__toggle">
																	<i class="">
																		<span></span>
																	</i>
																	<span class="kt-menu__link-text">Hubspot</span>
																</a>
																<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
																	<ul class="kt-menu__subnav">
																		<li class="kt-menu__item " aria-haspopup="true">
																			<a href="{{ path('superadminhubspot') }}"
																			   class="kt-menu__link ">
																				<i class="">
																					<span></span>
																				</i>
																				<span class="kt-menu__link-text">APIKey</span>
																			</a>
																		</li>
																		<li class="kt-menu__item " aria-haspopup="true">
																			<a href="{{ path('superadminehbmapping') }}"
																			   class="kt-menu__link">
																				<i class="">
																					<span></span>
																				</i>
																				<span class="kt-menu__link-text">StandardFields</span>
																			</a>
																		</li>
																	</ul>
																</div>
															</li>
														</ul>
													</div>
												</li>
											{% endif %}

											{# PROJECT #}
											<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
												<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
													<span class="kt-menu__link-text">Project</span>
												</a>

												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('projectWizard') }}" class="kt-menu__link ">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Start Wizard</span>
															</a>
														</li>
													</ul>
												</div>
											</li>

											{# PAGES #}
											<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
												<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
													<span class="kt-menu__link-text">Pages</span>
												</a>

												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('camp.active') }}" class="kt-menu__link ">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Overview</span>
															</a>
														</li>
														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('camp.create') }}" class="kt-menu__link ">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Start Wizard</span>
															</a>
														</li>
													</ul>
												</div>
											</li>

											{# WEBHOOK #}
											<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
												<a class="kt-menu__link kt-menu__toggle">
													<span class="kt-menu__link-text">Webhooks</span>
													<i class="kt-menu__ver-arrow la la-angle-right"></i>
												</a>
												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('webhook.active') }}" class="kt-menu__link">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Overview</span>
															</a>
														</li>

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('webhook.create') }}" class="kt-menu__link">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Start Wizard</span>
															</a>
														</li>
														{#  @SVEN #}
														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('webhook.queue') }}" class="kt-menu__link">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text" title="this should go either to separate Menu or below COG wheel">Queue</span>
															</a>
														</li>

													</ul>
												</div>
											</li>

											{# CONTACTS #}
											<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
												data-ktmenu-submenu-toggle="click" aria-haspopup="true">
												<a class="kt-menu__link kt-menu__toggle">
													<span class="kt-menu__link-text">Contacts</span>
													<i class="kt-menu__ver-arrow la la-angle-right"></i>
												</a>
												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">
														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('contact.viewType', {viewType:'overview'}) }}" class="kt-menu__link ">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Overview</span>
															</a>
														</li>
														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('contact.viewType',{viewType:'history'}) }}" class="kt-menu__link ">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">History</span>
															</a>
														</li>
													</ul>
												</div>
											</li>

											{# INTEGRATIONS #}
											<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
												data-ktmenu-submenu-toggle="click" aria-haspopup="true">
												<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
													<span class="kt-menu__link-text">Integrations</span>
												</a>
												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">
														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('integrations.available') }}" class="kt-menu__link ">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Overview</span>
															</a>
														</li>
													</ul>
												</div>
											</li>

											{# WORKFLOW ACTIONS #}
											<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
												<a class="kt-menu__link kt-menu__toggle">
													<span class="kt-menu__link-text">Workflow Actions</span>
													<i class="kt-menu__ver-arrow la la-angle-right"></i>
												</a>
												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">
														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('processhook.status') }}" class="kt-menu__link ">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Overview</span>
															</a>
														</li>
														<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
															<a class="kt-menu__link kt-menu__toggle">
																<i class="">
																	<span></span>
																</i>
																<span class="kt-menu__link-text">Start Wizard</span>
															</a>
															<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
																<ul class="kt-menu__subnav">
																	<li class="kt-menu__item " aria-haspopup="true">
																		<a href="{{ path('processhook.configure', {processhook:"send_lead_notification"}) }}" class="kt-menu__link ">
																			<i class="">
																				<span></span>
																			</i>
																			<span class="kt-menu__link-text">Send Lead Notification</span>
																		</a>
																	</li>
																	<li class="kt-menu__item " aria-haspopup="true">
																		<a href="{{ path('processhook.configure', {processhook:"start_marketing_automation"}) }}" class="kt-menu__link">
																			<i class="">
																				<span></span>
																			</i>
																			<span class="kt-menu__link-text">Start Marketing Automation</span>
																		</a>
																	</li>
																	<li class="kt-menu__item " aria-haspopup="true">
																		<a href="{{ path('processhook.configure', {processhook:"send_double_opt_in_mail"}) }}" class="kt-menu__link">
																			<i class="">
																				<span></span>
																			</i>
																			<span class="kt-menu__link-text">Send Double Opt In Mail</span>
																		</a>
																	</li>
																	<li class="kt-menu__item " aria-haspopup="true">
																		<a href="{{ path('processhook.configure', {processhook:"call_contact_event"}) }}" class="kt-menu__link">
																			<i class="">
																				<span></span>
																			</i>
																			<span class="kt-menu__link-text">Call Contact Event </span>
																		</a>
																	</li>
																	<li class="kt-menu__item " aria-haspopup="true">
																		<a href="{{ path('processhook.configure', {processhook:"send_double_opt_in_mail_or_call_contact_event"}) }}" class="kt-menu__link">
																			<i class="">
																				<span></span>
																			</i>
																			<span class="kt-menu__link-text">Send DOI Mail Or Call ContactEvent</span>
																		</a>
																	</li>
																</ul>
															</div>
														</li>
													</ul>
												</div>
											</li>

											<div id="advert_status" style="display: none">
												has_seedpool_permission {{ current_user.has_seedpool_permission is defined ? current_user.has_seedpool_permission : 'not def' }}<br>
												has_advertorial_permission {{ current_user.has_advertorial_permission is defined ?  current_user.has_advertorial_permission : 'not def '}}<br>
												feature.Advertorial {{ current_user.feature.Advertorial is defined ? current_user.feature.Advertorial : 'not def'  }}<br>
											</div>

											{# DELIVERY MGMT   #}
											{% if current_user.has_seedpool_permission is defined and current_user.has_seedpool_permission == true %}
												<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
													<a class="kt-menu__link kt-menu__toggle">
														<span class="kt-menu__link-text">Delivery Management</span>
														<i class="kt-menu__ver-arrow la la-angle-right"></i>
													</a>
													<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
														<ul class="kt-menu__subnav">
															{# Advertorials: ... and show only, if avertorial was activated on a Adminitration -> Account Overview -> Action -> Advertorial disable (= is enabled) and Feature-Toggle is set to not disabled #}
															{%  if current_user.feature.Advertorial == false and current_user.has_advertorial_permission == true  %} {# feature.Advertorial: false = not deactivated = active   |||  and current_user.has_advertorial_permission == true  #}
																{#
																<li class="kt-menu__item " aria-haspopup="true">
																	<a href="{{ path('advertorialWizard') }}" class="kt-menu__link ">
																		<i class="">
																			<span></span>
																		</i>
																		<span class="kt-menu__link-text">Advertorials Wizard</span>
																	</a>
																</li>
																#}
																<li class="kt-menu__item " aria-haspopup="true">
																	<a href="{{ path('advertorialOverview') }}" class="kt-menu__link ">
																		<i class="">
																			<span></span>
																		</i>
																		<span class="kt-menu__link-text">Advertorials</span>
																	</a>
																</li>
															{% endif %}

															{% if current_user.feature.InboxMonitor == false %} {# false = not deactivated = active #}
																<li class="kt-menu__item " aria-haspopup="true">
																	<a href="{{ path('inbox_monitor.view') }}" class="kt-menu__link ">
																		<i class="">
																			<span></span>
																		</i>
																		<span class="kt-menu__link-text">Inbox Monitor</span>
																	</a>
																</li>
															{% endif %}

															{% if current_user.feature.domain is defined ? current_user.feature.ip : false %}
																{% if current_user.feature.domain == false %} {# false = not deactivated = active #}
																	<li class="kt-menu__item " aria-haspopup="true">
																		<a href="{{ path('domain.overview') }}" class="kt-menu__link ">
																			<i class="">
																				<span></span>
																			</i>
																			<span class="kt-menu__link-text">Domain</span>
																		</a>
																	</li>
																{% endif %}
															{% endif %}

															{% if current_user.feature.ip is defined ? current_user.feature.ip : false %}
															{% if current_user.feature.ip == false %} {# false = not deactivated = active #}
																<li class="kt-menu__item " aria-haspopup="true">
																	<a href="{{ path('auth.home') }}" class="kt-menu__link ">
																		<i class="">
																			<span></span>
																		</i>
																		<span class="kt-menu__link-text">IP</span>
																	</a>
																</li>
															{% endif %}
															{% endif %}
														</ul>
													</div>
												</li>
											{% endif %}




											{# QUESTIONNAIRE #}
											{# Not supported for initial release of MIO. #}
											{# <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
                                            data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-text">Questionnaire</span>
                                            </a>

                                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href=" #}{# {{ path('questionnaire.overview') }} #}{# "
                                                           class="kt-menu__link ">
                                                            <i class=""><span></span></i>
                                                            <span class="kt-menu__link-text">Overview</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-menu__item " aria-haspopup="true">
											#}{# <a href="{{ path('projectWizard') }}" class="kt-menu__link "> #}{#
											<a href="questionnaire.wizard" class="kt-menu__link">
												<i class=""><span></span></i>
												<span class="kt-menu__link-text">Start Wizard</span>
											</a>
										</li>
									</ul>
								</div>
							</li> #}

											{# COG WHEEL - GENERAL SETTINGS #}
											<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
												<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
													<span class="kt-menu__link-text"><i class="fa fa-cog" title="general configurations"></i></span>
												</a>

												{# SUBMENUE ITEMS #}
												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('acc.getSettingsGeneral') }}" class="kt-menu__link">
																<span class="kt-menu__link-text"><i class="fa fa-clipboard-list fa-sm" title="General"></i>&nbsp;General</span>
															</a>
														</li>

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('acc.getupdate') }}" class="kt-menu__link">
																<span class="kt-menu__link-text"><i class="fa fa-users-cog fa-sm" title="Account settings"></i>&nbsp;Account settings</span>
															</a>
														</li>

														{% if (user_is_super_admin and current_user.feature.MultipleUsersPerAccount) %}
															<li class="kt-menu__item " aria-haspopup="true">
																<a href="{{ path('master.manageusers') }}"
																   class="kt-menu__link">
																	<span class="kt-menu__link-text"><i
																				class="fas fa-user fa-sm"
																				title="Manage Users"></i>&nbsp;Manage Users</span>
																</a>
															</li>
														{% endif %}

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('acc.getSettingsFraud') }}"
															   class="kt-menu__link">
																<span class="kt-menu__link-text"><i
																			class="fas fas fa-biohazard fa-sm"
																			title="Manage Users"></i>&nbsp;Fraud settings</span>
															</a>

														</li>

														<li class="kt-menu__item " aria-haspopup="true">
															<a href="{{ path('languages_overview') }}"
															   class="kt-menu__link">
																<span class="kt-menu__link-text"><i
																			class="fas fas fa-comment-alt fa-sm"
																			title="Manage Users"></i>&nbsp;Languages</span>
															</a>
														</li>

													</ul>
												</div>


												{# removed from here => shall be hidden in account settings as before ...
                                                {% if user_is_master_admin %}
                                                    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                        <ul class="kt-menu__subnav">
                                                            <li class="kt-menu__item " aria-haspopup="true">
                                                                <a href="{{ path('master.deleteaccount') }}" class="kt-menu__link ">
                                                                    <i class="fa fa-trash-alt" style="color:white; border-bottom: 1px solid orange"></i>&nbsp;<span class="kt-menu__link-text">Delete Account</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endif %}

                                                {% if user_is_super_admin %}
                                                    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                        <ul class="kt-menu__subnav">

                                                            <li class="kt-menu__item " aria-haspopup="true">
                                                                <a href="{{ path('super.deleteaccount') }}" class="kt-menu__link ">
                                                                    <i class="fa fa-trash-alt" style="color:white; border-bottom: 1px solid red"></i>&nbsp;<span class="kt-menu__link-text">Delete Account</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endif %}
												#}
											</li>

											{#  SYSTEM INDICATOR: dev, test, testmio, preprod #}

											{# USER MENU ITEM #}
											{% if current_user is defined and current_user.app_env is defined and current_user.app_env != 'prodaws' %}

												<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
													<div>

														<span class="kt-menu__link-text app-twig-{{ current_user.app_env }}"  title="{{ current_user.app_env  }}">{{ current_user.app_env }}</span>
													</div>
												</li>

											{% endif %}
											<!--li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Reports</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
												<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
													<ul class="kt-menu__subnav">
														<li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Reports overview</span></a></li>
													</ul>
												</div>
											</li-->
										</ul>

									</div>
								</div>
							{% endif %} {# if(!user_is_super_admin and user_dpa is defined and user_dpa == 1 ) #}
						</div>
						<!-- end:: Drop Down Campaigns -->

						{% if  environment is defined and (environment == 'Test System' or environment == 'dev') %}
							<!-- end:: Brand -->
							<span id="enviroment" data-id="{{ environment is defined and environment == 'Test System' }}" class="kt-header__topbar">{{ environment is defined and environment == 'Test System' }};</span>
						{% endif %}


						<!-- begin:: Header Topbar -->
						<div class="kt-header__topbar" {{ hide is defined ? hide:'' }}>

							<!--begin: User bar -->
							<div class="kt-header__topbar-item kt-header__topbar-item--user">

								<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px" aria-expanded="false">

									<span id="menu_userlogincompany" data-id="{{ user_company_id }}" class="kt-header__topbar-username">{{ user_company_name }}&nbsp;,&nbsp;</span>
									<span class="kt-header__topbar-username">{{ user_first_name }}</span>
									{# from git 2020-01-09
                                    <span class="kt-header__topbar-username">{{ twig.getCompanyNameForTwig() }}&nbsp;,&nbsp;</span>
                                    <span class="kt-header__topbar-username"> {{ twig.getUserForTwig() }} </span>
									#}
									<!--<img class="kt-hidden" alt="Pic" src="./assets/media/users/300_21.jpg">-->
									{# from git 2020-01-09 {% set user = twig.getUserForTwig()  %} #}
									<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
									<span style="background-color:#7abe73; {{ role_indicator }}" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">{{ user_1stletter }}</span>
								</div>

								<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
									<!--begin: Head -->
									<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url({{ imgurl }}/bg/cio-bg-small.jpg)">
										<div class="kt-user-card__avatar">
											{# <img class="kt-hidden" alt="Pic" src="{{ imgurl }}/users/300_25.jpg"/> never found #}

											<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
											<span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">{{ user_1stletter }}</span>
										</div>
										<div class="kt-user-card__name">
											{{ user_full_name }}
										</div>
									</div>

									<!--end: Head -->

									<!--begin: Navigation -->
									<div class="kt-notification">
										<a href="{{ path('user.getUpdateUser') }}" class="kt-notification__item">
											<div class="kt-notification__item-icon">
												<i class="fas fa-user-astronaut fa-lg"></i>
											</div>
											<div class="kt-notification__item-details">
												<div class="kt-notification__item-title kt-font-bold">
													Profile settings
												</div>
												<div class="kt-notification__item-time">
													Manage your personal profile settings
												</div>
											</div>
										</a>

										<a href="{{ path('auth.resetpassword') }}" class="kt-notification__item">
											<div class="kt-notification__item-icon">
												<i class="fas fa-lock fa-lg"></i>
											</div>
											<div class="kt-notification__item-details">
												<div class="kt-notification__item-title kt-font-bold">
													Change Password
												</div>
												<div class="kt-notification__item-time">
													Change your password from time to time
												</div>
											</div>
										</a>

										{# moved under COG WHEEL
                                        <a href="{{ path('acc.getupdate') }}" class="kt-notification__item">
                                            <div class="kt-notification__item-icon">
                                                <i class="fas fa-cog fa-lg"></i>
                                            </div>
                                            <div class="kt-notification__item-details">
                                                <div class="kt-notification__item-title kt-font-bold">
                                                    Account settings
                                                </div>
                                                <div class="kt-notification__item-time">
                                                    Manage your marketing-in-one settings
                                                </div>
                                            </div>
                                        </a>
										#}
										<div class="kt-notification__custom kt-space-between">
											<a href="{{ url ~ 'logout' }}" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
										</div>
									</div>
									<!--end: Navigation -->
								</div>
							</div>
							{# {% endif %} #}
							<!--end: User bar -->
						</div>
						<!-- end:: Header Topbar -->
					</div>
				</div>
			</div>
			<!-- end:: Header -->
			{# <pre>{{ dump(current_user) }}</pre> #}
			<!-- begin:: Content -->

			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
				<div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
					<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
						<!-- begin::content -->

						{# {% if auth.check %}

                         {% else %}

                         {% endif %} #}

						{% block content %} {% endblock %}

					</div>
				</div>
			</div>
			<!-- end:: content -->


			<!-- begin:: Footer -->
			<div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
				<div class="kt-footer__bottom">
					<div class="kt-container">
						<div class="kt-footer__wrapper">
							<div class="kt-footer__logo">
								<a href="demo2/index.html">
									<img alt="Logo" style="width:50px;"
										 src="{{ imgurl }}/cio/cio-logo-weiss-150x150.png">
								</a>
								<div class="kt-footer__copyright" style="font-size: 1.154rem !important;">
									<a href="{{ url }}" target="_self">marketing-in-one</a>
									|
									<span style="color: white">&copy {{ 'now'|date('Y') }}&nbsp;&nbsp;<a href="https://treaction.net" target="_blank">treaction ag</a></span>
									<div style="color: white">V{{ appversion }}</div>
								</div>
							</div>


							<div  class="kt-footer__logo">
								<style>
                                    picture.pprop { padding-left: 20%;}
                                    picture.pprop-nopad { padding: 0;}
                                    picture.pprop source,
                                    picture.pprop img
                                    { max-height: 50px }
								</style>
								<picture class="pprop-nopad">
									<source srcset="{{ imgurl }}/footer/mio-germany-logo-60x60.webp" type="image/webp" alt="Designed and Built in Germany" title="Designed and Built in Germany">
									<img src="{{ imgurl }}/footer/mio-germany-logo-60x60.png" alt="Designed and Built in Germany" title="Designed and Built in Germany">
								</picture>
								<picture class="pprop">
									<source srcset="{{ imgurl }}/footer/mio-dsgvo-logo-60x60.webp" type="image/webp" alt="GDPR Ready" title="GDPR Ready">
									<img src="{{ imgurl }}/footer/mio-dsgvo-logo-60x60.png" alt="GDPR Ready" title="GDPR Ready">
								</picture>
								<picture class="pprop">
									<source srcset="{{ imgurl }}/footer/mio-ssl-logo-60x60-v2.webp" type="image/webp" alt="256-Bit strong encryption" title="256-Bit strong encryption">
									<img src="{{ imgurl }}/footer/mio-ssl-logo-60x60-v2.png" alt="256-Bit strong encryption" title="256-Bit strong encryption">
								</picture>
							</div>

							<div class="kt-footer__menu" style="font-size: 1.154rem !important;">
								{# TODO : URL "https://treaction.atlassian.net/servicedesk/customer/portal/2/user"  goes to some config  file and lives in twig as variable #}
								<style>
                                    a.white_green {
                                        color: white !important;
                                        font-size: 1.154rem !important;
                                    }

                                    a.white_green:hover {
                                        color: #7abe73 !important;
                                        font-size: 1.154rem !important;
                                    }
								</style>
								<a class="white_green" href="https://treaction.net/impressum/" target="_blank" title="Impressum">
									<i class="fas fa-briefcase"></i>&nbsp;&nbsp;Imprint
								</a>
								<a class="white_green" href="https://treaction.net/agb/" target="_blank" title="AGB">
									<i class="fas fa-balance-scale"></i>&nbsp;&nbsp;GTC
								</a>
								<a class="white_green" href="https://treaction.net/datenschutz/" target="_blank" title="Datenschutzerklärung">
									<i class="fas fa-user-shield"></i>&nbsp;&nbsp;GDPR
								</a>

								<a class="white_green" href="https://treaction.atlassian.net/servicedesk/customer/portal/2/user/login?destination=portal%2F2" target="_blank">
									<i class="fas fa-question-circle"></i>&nbsp;&nbsp;Help
								</a>
								<a class="white_green" href="mailto:client-success@treaction.net" target="_blank">
									<i class="fas fa-toolbox"></i>&nbsp;&nbsp;Send feedback
								</a>
								<a class="white_green" href="https://outlook.office365.com/owa/calendar/treactionAG@treaction.de/bookings/" target="_blank" title="Office365: Book an Appointment">
									<i class="fas fa-headset"></i>&nbsp;&nbsp;Contact support
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end:: Footer -->
		</div>
	</div>
</div>

<!-- end:: Page -->


<!-- Javascript -->

<!--begin:: metronix global mandatory vendors -->

{# <script>
    jQuery(document).ready(function () {
        jQuery('table.display').DataTable();
    });
</script> #}
<script src="{{ libsurl }}/popper.js/dist/umd/popper.js" type="text/javascript"></script>
<script src="{{ libsurl }}/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ libsurl }}/js-cookie/src/js.cookie.js" type="text/javascript"></script>
<script src="{{ libsurl }}/moment/min/moment.min.js" type="text/javascript"></script>
<script src="{{ libsurl }}/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
<script src="{{ libsurl }}/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
<script src="{{ libsurl }}/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
<script src="{{ libsurl }}/wnumb/wNumb.js" type="text/javascript"></script>
<script src="{{ libsurl }}/bootstrap-date-time-picker/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="{{ jsurl }}/date-time-picker/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--begin::wizard -->
<script src="{{ jsurl }}/metronic/wizard/wizard.js" type="text/javascript"></script>
<script src="{{ jsurl }}/metronic/wizard/wizard-4.js" type="text/javascript"></script>
<!--end::wizard -->
<!--begin::Global Theme Bundle(used by all pages) -->
<script src="{{ jsurl }}/metronic/scripts.bundle.js" type="text/javascript"></script>
<script src="{{ jsurl }}/metronic/login/login-general.js" type="text/javascript"></script>

<!--begin::Page Vendors(used by this page) -->
<script src="{{ jsurl }}/metronic/datatables/datatables.bundle.js" type="text/javascript"></script>
<script src="{{ jsurl }}/metronic/datatables/datatable.hideEmptyCols.js" type="text/javascript"></script>

{# # TODO: download to assets #}
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"></script>
{# # TODO: check if this buttons can be substituted by bootstrap stuff , otherwise download to assets #}
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js" type="text/javascript"></script>

<!--end::Page Vendors -->

<!--begin::leads-datable -->
<script src="{{ jsurl }}/data-local.js" type="text/javascript"></script>
{# <script src="{{ jsurl }}/metronic/datatables/leads-datatable.js" type="text/javascript"></script> #}
{# <script src="{{ jsurl }}/metronic/datatables/leads-campaign-datatable.js" type="text/javascript"></script> #}
{# <script src="https://campaign-in-one.net/resources/js/dashboard/campaigns.js" type="text/javascript"></script> #}
<!--end::leads-datable -->

<!--begin::campaigns-datable -->
{# TODO: removed  2020-03-05 since not available and not affecting site #}
{# <script src="{{ jsurl }}/metronic/datatables/campaigns-datatable.js" type="text/javascript"></script> #}
<!--end::campaigns-datable -->


<script src="{{ jsurl }}/metronic/preloader/pace.js" type="text/javascript"></script>
<script src="{{ jsurl }}/form_to_jsObj.js" type="text/javascript"></script>

<!--begin::daterangepicker-->
{# # TODO: download / add to assets #}
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<!--end::daterangepicker -->

<!--begin::Google charts-->
{# # TODO: download / add to assets #}
<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
<!--end::Google chart -->

<!--begin::Spectrum-->
{#
<script src="{{ jsurl }}/settings/spectrum.js" type="text/javascript"></script>
<script src="{{ jsurl }}/settings/colorpicker.js" type="text/javascript"></script>
#}
<!--end::Spectrum -->

<!--begin::DatePicker-->
<script src="{{ jsurl }}/settings/jquery.datetimepicker.full.js" type="text/javascript"></script>
<!--end::DatePicker -->

<!--begin::Slider-->
<script src="{{ jsurl }}/settings/ion.rangeSlider.js" type="text/javascript"></script>
<!--end::Slider -->
<script src="{{ jsurl }}/form_to_jsObj.js" type="text/javascript"></script>
<!-- <link href="{{ libsurl }}/jkanban-master/dist/jkanban.js" rel="stylesheet" type="text/css"/> -->
<script src="{{ libsurl }}/draggable/draggable.js" type="text/javascript"></script>
<script src="{{ libsurl }}/jquery-ui/jquery-ui.bundle.js" type="text/javascript"></script>
<!--select::Libraries -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
