<!DOCTYPE html>
<html lang="de">

<!-- begin::Head -->
<head>
    <meta title="bastel">
    <link rel="stylesheet" href="{{ absolute_url('/') ~ 'assets/css/bastel.css' }}">
</head>
<body>
<h1 class="bastel">testseite</h1>
{% set url = absolute_url('/') ~ 'assets/css/bastel.css' %}

{% if usr is defined %}
    <pre>Hi {{ usr }}</pre>
{% endif %}
{% if url is defined %}
    <p>URL = {{ url }} </p>
{% endif %}

<p class="bastel">all this text should be in green as well</p>
{{ dump(apcu) }}

<ul>
{%  if apcu is defined %}

        <li>hasapcu = {{ apcu.hasapcu }}</li>
        <li>this'ld be something like test1 overwritten =  {{ apcu.test1 }}</li>

        <li>test1 should be empty = {{ apcu.test1empty }}</li>
    {% for a in apcu.test2 %}
        <li>{{ a }}</li>
    {% endfor %}
{% endif %}

</ul>

</body>
</html>
