{# xxx #}

{% extends "app.twig" %}

{% block content %}
    <style>
        /* jsr: added for permission handling hints WEB-3850 */
        button:disabled:hover:after {
            content: " : unsufficient privileges!";
        }

        .modal {
            top: 70px !important;
            /* display: block;*/
            overflow: unset;
            background: rgba(255, 255, 255, 0.5);
        }

        h5.modal-title {
            color: #fff !important;
        }

        div.modal-header {
            background: #191919;
            color: #fff;
        }

        div.modal-body p {
            font-size: 20px !important;
        }

        .modal-footer button {
            background: #7abe73;
            color: #fff;
        }

        div#company_msg p {
            font-size: 14px;
        }

        p#message {
            font-size: 15px !important;
            width: 75% !important;
            font-weight: 500;
            margin-bottom: 2px;
        }
    </style>

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ dashboard.cacheMessage is defined ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ dashboard.cacheMessage is defined ? dashboard.cacheMessage :'' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">Dashboard</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ curr_acc_name }}</span>
            <!--
            <a href="#" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10">
                Add New
            </a>
            -->

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-filter"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Actions
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('camp.create') }}">Create Page</a>
                    <a class="dropdown-item" href="{{ path('webhook.create') }}">Create Webhook</a>
                    <a class="dropdown-item" href="">Create API Key</a>
                    {# todo: create copy #}
                    {# <a class="dropdown-item" href="#">Copy</a> #}
                </div>
            </div>
        </div>
        <!--end::sub-control menu-->
    </div>





    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">


        <!-- begin:: warnings  -->
        <!--div class="alert alert-danger fade show" role="alert">
         <div class="alert-icon"><i class="flaticon-warning"></i></div>
         <div class="alert-text">This is an error! :)</div>
         <div class="alert-close">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true"><i class="la la-close"></i></span>
             </button>
         </div>
     </div-->
        <!-- end:: warnings -->


        <!--begin:alert -->
        <!--div class="alert alert-light alert-elevate fade show" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">This is a simple tool tipp alert! :)</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div-->
        <!--end:alert -->


        <!--Begin::Section-->


        {# Graphs for Leads and Campaigns #}
        <div class="row">
            {% set count_leads =  dashboard.leads_count %}
            {% set leads_for_camps =  dashboard.leads_for_camp %}
            <div class="col-xl-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div style="border-bottom:1px solid #dbdce7;"
                         class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Contacts generated in the last 6 months
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active">

                                {# Bar chart for Leads Data #}
                                <div id="chart-leads" data-is-test="{{ count_leads|json_encode() }}"
                                     style="width: 800px; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div style="border-bottom:1px solid #dbdce7;"
                         class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Contacts generated by Pages/Webhooks
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                {# Pie chart for Campaigns Data #}
                                <div id="chart-leads-per-camp" data-is-test="{{ leads_for_camps|json_encode() }}"
                                     style="width:800px; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Recent Leads and Recent Campaigns #}
        <div class="row">
            {% set leads =  dashboard.leads %}
            {% set campaigns =  dashboard.campaigns %}
            <!--Begin:: most recent leads -->
            <div class="col-xl-8">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div style="border-bottom:1px solid #dbdce7;"
                         class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Recent contacts
                            </h3>
                        </div>
                        {# Begin: toolbar menu #}
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                {# Filter leads by calender #}
                                <li class="nav-item">
                                    <input type="text" class="form-control" name="daterange" id="LeadsfilterByDate"/>
                                </li>

                                {# Link to all Leads #}
                                <li class="nav-item">
                                    <a href="{{ path('leads.active') }}" class="btn btn-brand btn-elevate btn-icon-sm">Show
                                        all contacts</a>
                                </li>
                            </ul>
                        </div>
                        {# end: toolbar menu #}
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <table class="table table-hover table-responsive table-striped kt-dashbd-leads">
                                    {% set id = 1 %}
                                    <thead>
                                    <tr>
                                        <th><b>#</b></th>
                                        <th style="width:10%"><b>Pages</b></th>
                                        <th style="width:20%"><b>Contact reference</b></th>
                                        <th style="width:3%"><b>Salutation</b></th>
                                        <th style="width:5%"><b>Firstname</b></th>
                                        <th style="width:5%"><b>Lastname</b></th>
                                        <th style="width:15%"><b>Email</b></th>
                                        <th style="width:15%"><b>Created</b></th>
                                        <th><b>Status</b></th>
                                        {# <th><b>Actions</b></th> #}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if leads|length > 0 %}
                                        {% for lead in leads %}
                                            {% set lead_id = lead.id %}
                                            <tr>
                                                <td>{{ id }}</td>
                                                <td>{{ lead.campaign }}</td>
                                                <td>{{ lead.lead_reference }}</td>
                                                <td>{{ lead.salutation }}</td>
                                                <td>{{ lead.first_name }}</td>
                                                <td>{{ lead.last_name }}</td>
                                                <td>{{ lead.email }}</td>
                                                <td>{{ lead.created }}</td>
                                                <td>{{ lead.status }}</td>
                                                {# <td nowrap>{{ lead.campaign_id}},{{ lead.id  }}</td> #}
                                            </tr>
                                            {% set id = id + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: most recent leads -->


            <!--begin:: most recent campaigns-->
            <div class="col-xl-4">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div style="border-bottom:1px solid #dbdce7;"
                         class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Recent Pages
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <a href="{{ path('camp.active') }}" class="btn btn-brand btn-elevate btn-icon-sm">Show all
                                Pages</a>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <div class="tab-content">
                            <div class="tab-pane active">
                                <table class="kt-datatable__table table-responsive table table-striped display"
                                       id="dashbd-campaigns">
                                    {% set id = 1 %}
                                    <thead>
                                    <tr style="height:25px">
                                        <th>#</th>
                                        <th><b>Pages</b></th>
                                        <th><b>URL</b></th>
                                        <th><b>Status</b></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if campaigns|length > 0 %}
                                        {% for campaign in campaigns %}
                                            <tr style="height:25px">
                                                <td>{{ id }}</td>
                                                <td>{{ campaign.name }}</td>
                                                <td>{{ campaign.url }}</td>
                                                {% if campaign.status == 'active' %}
                                                    <td>
                                                        <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">{{ campaign.status }}</span>
                                                    </td>
                                                {% elseif campaign.status == 'draft' %}
                                                    <td>
                                                        <span class="kt-badge  kt-badge--warning kt-badge--inline kt-badge--pill">{{ campaign.status }}</span>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">{{ campaign.status }}</span>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            <!-- Increment the Id for each campaign row -->
                                            {% set id = id + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--POPup should show only for new registration from Shopware plugin -->
            {% set apikeyValue = (popup.apikey is defined) ? popup.apikey : '' %}
            {% set accountNumber = (popup.accountNumber is defined) ? popup.accountNumber : '' %}
            <div class="modal" id="shopware-apikey-show" data-source="{{ apikeyValue }}" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">APIKey for Account Number <span style="color: white;background: #7ABE73;">{{ accountNumber }}</span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="key"></p>
                            <p id="masterkey" hidden>{{ apikeyValue }}</p>
                        </div>
                        <div class="modal-footer">
                            <p id="message"></p>
                            <button type="button" id="copy-apikey" class="btn btn-secondary"
                                    data-dismiss="modal">Copy
                            </button>
                            <button type="button" id="close-apikey-popup" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End::Section-->
        </div>

    </div>



{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ jsurl }}/dashboard/charts/charts.js"></script>
    <script type="text/javascript" src="{{ jsurl }}/dashboard/leads.js"></script>
    <script type="text/javascript" src="{{ jsurl }}/dashboard/campaigns.js"></script>

    <script>
        let dataForPieChat = $.parseJSON($('#chart-leads-per-camp').attr('data-is-test'));
        let dataLength = Object.keys(dataForPieChat).length;
        if (dataLength == 0) {
            $('#chart-leads-per-camp').append(
                `<div class="circle">
                        <p>No Data</p>
                  </div>`
            )
        }
    </script>


    <script>
        // POPUP for apikey.
        let apikey = $('#shopware-apikey-show').data('source');
        if (apikey) {
            let encryptApiKey = apikey.replace(/.(?=.{4})/g, 'x');
            $('p#key').text(encryptApiKey);
            //POPUP : FadeIn popup
            $('#shopware-apikey-show').fadeIn();
            //POPUP : close APIKey
            $('button#close-apikey-popup').click(function () {
                $('#shopware-apikey-show').fadeOut();
            });
            //POPUP : copy APIKey
            $('button#copy-apikey').click(function () {
                copyToClipboard('#masterkey');
                $('#message').text('APIKey is copied to clipboard');
                $('#shopware-apikey-show').delay(800).fadeOut();
            });
        }

        /**
         * Function to copy content to Clipboard.
         * @param element
         */
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>

{% endblock %}
