{% extends "app.twig" %}

{% block content %}


    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Account settings</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{#{details.name}}#} </span>

        </div>

    </div>
    <!-- end:: Content Head -->

    <!-- begin:: warnings  -->
    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!-- end:: warnings -->
    {% endif %}


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}


    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->


            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        {# Left Menu for the account level settings #}
                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->

            </div>
            <!--End:: App Aside-->

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Account Settings <small>Email Integration</small>
                                    </h3>
                                </div>

                            </div>
                            <form class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Smtp Server Domain</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_host" type="text" class="form-control" value="{{ email.host is defined ?email.host: "" }}" name="host" placeholder="smtp.example.org" autocomplete="false" required>
                                                    <input type="text" class="form-control" value="{{ email.id is defined? email.id : "" }}" name="id" autocomplete="false" hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Sender User Email</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_user" type="email" class="form-control" value="{{ email.user is defined? email.user:"" }}" name="user" placeholder="user name" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Sender Password</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_pw" type="Password" class="form-control" value="{{ email.password is defined?email.password:"" }}" name="password" placeholder="Password" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Port</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_port" type="number" class="form-control" value="{{ email.port is defined?email.port:"" }}" name="port" placeholder="port number (25, 587)" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">
                                                    Test Configuration
                                                    <a data-html="true" class="cio-popover" data-toggle="popover" title="SMTP configuration status" data-content="">
                                                        <i id="test_indicator" class="fas fa-circle fa-lg text-secondary"></i>
                                                    </a>
                                                </label>
                                                <div class="col-lg-8 col-xl-5">
                                                    <input id="email_receiver" type="email" data-checktarget="{{ b64msmail }}" class="form-control" value="" placeholder="send test email to this email address" autocomplete="false">
                                                    <div id="email_smtp_msg" class="hidden" style="font-size: smaller; font-style: italic"></div>
                                                </div>
                                                <div class="col-lg-2 col-xl-1">
                                                    <button id="email_twig_test" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary">Test</button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-lg-3"></div>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div id="test_result" class="font-italic"></div>
                                                </div>
                                            </div>

                                            {#
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Secure Protocol &nbsp;&nbsp;</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    {% set securePotocal = ['SMTP Secure','SMTP Debug'] %}

                                                    <select class="form-control" name="secureProtocol">
                                                        <option value="0">None</option>
                                                        {% for cur in securePotocal %}
                                                            {% if email.secureProtocol is defined and cur ==  email.secureProtocol %}
                                                                <option value="{{ cur }}" selected>{{ cur }}</option>
                                                            {% else %}
                                                                <option value="{{ cur }}">{{ cur }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">SMTP Authentication&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If the setting 'outbound data' is active, you can activate encryption for the data. "><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if email.smtpAuth is defined and email.smtpAuth ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="seconds" value="off">
                                                            <input type="checkbox" {{ sync_status }} name="smtpAuth">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>
                                            #}
                                            <input type="hidden" name="token" value="{{ csrf_token('company-email') }}"/>


                                        </div>
                                    </div>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->



{% endblock %}
{% block javascripts %}
    <script src="{{ jsurl }}/account-email-twig.js" type="text/javascript"></script>
    <script>
        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });
    </script>

{% endblock %}

