{% extends "app.twig" %}

{% block content %}


    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Account Settings</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">fraud configuration</span>

        </div>

    </div>
    <!-- end:: Content Head -->

    <!-- begin:: warnings  -->
    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!-- end:: warnings -->
    {% endif %}


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}


    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            {# removed
            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        <!--Left Menu for the account level settings -->
                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->

            </div>
            <!--End:: App Aside-->
            #}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Fraud Configuration<small></small>
                                    </h3>
                                </div>

                            </div>

                            <form class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Max leads from same IP
                                                    address&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title="" data-content="Max leads from same IP address."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ fraud.maxLeadsPerIp is defined? fraud.maxLeadsPerIp : 3 }}"
                                                           name="maxLeadsPerIp" placeholder="Enter a Number"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Maximum Leads Per Domain&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Maximum Number of Leads per Day of an unknown domain which are not in white and black list"><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ fraud.maxLeadsPerDomain is defined? fraud.maxLeadsPerDomain : 3 }}"
                                                           name="maxLeadsPerDomain" placeholder="Enter a Number"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <!--GEO Blocking Countries Url-->
                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-3 col-form-label">GEO Blocking Countries
                                                    &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="If setting is active, Every campaign is available
                                                            only to one country (defined while creating a campaign).">
                                                        <i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i>
                                                    </a>
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if fraud.geoBlocking is defined and fraud.geoBlocking ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="geoBlocking" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="geoBlocking">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <!--Scramble Url-->
                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Scramble Outgoing URL
                                                    &nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="If setting is active it scrambles all the outgoing links on landing page and redirect page."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if fraud.scrambleUrl is defined and fraud.scrambleUrl ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="scrambleUrl" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="scrambleUrl">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <!--Replace links for Url's-->
                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Replace link for Bots&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title="" data-content="URL to replace links for Bots"><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="url" class="form-control"
                                                           value="{{ fraud.urlToReplaceLinks is defined? fraud.urlToReplaceLinks: '' }}"
                                                           name="urlToReplaceLinks"
                                                           placeholder="URL to replace links in landing page"
                                                           autocomplete="false">
                                                </div>
                                            </div>
                                            <!--Hide page -->
                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Divergent BOT Landing Page&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title="" data-content="URL to hide page for Bots"><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="url" class="form-control"
                                                           value="{{ fraud.urlToHidePage is defined ? fraud.urlToHidePage : '' }}"
                                                           name="urlToHidePage" placeholder="Divergent BOT Landing Page"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <!--Use intermediate page -->
                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Use intermediate page&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title="" data-content="URL for all outgoing links (different than
                                                       the URL of the landing Page) and automatically be forwarded to
                                                       the real target URL">
                                                        <i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i>
                                                    </a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="url" class="form-control"
                                                           value="{{ fraud.useIntermediatePage is defined ? fraud.useIntermediatePage : '' }}"
                                                           name="useIntermediatePage" placeholder="URL for Intermediate Page"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <input type="hidden" name="token"
                                                   value="{{ csrf_token('company-fraud') }}"/>
                                            <input type="text" class="form-control"
                                                   value="{{ fraud.id is defined? fraud.id : "" }}" name="id"
                                                   autocomplete="false" hidden>

                                        </div>
                                    </div>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit"
                                                        class="btn btn-brand btn-elevate kt-login__btn-primary">Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->



{% endblock %}
{% block javascripts %}

    <script>
        $ ( function () {
            $ ( '.cio-popover' ).popover ( {
                container: 'body',
                trigger: 'hover'
            } )
        } )
    </script>
    <script>
        $ ( "#toogle" ).click ( function () {
            $ ( ".hide" ).toggle ( 'fast' );
        } );
    </script>

{% endblock %}

