{% extends "app.twig" %}

{% block content %}


    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Account Settings</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">general configuration</span>

        </div>

    </div>
    <!-- end:: Content Head -->

    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!-- end:: warnings -->
    {% endif %}

    <div class="alert alert-success kt-hide kt-animate-fade-in" id="cioapikeyconfirm" role="alert" >
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">Please confirm the request sent to Admin E-Mail</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>

    <div class="alert alert-danger kt-hide kt-animate-fade-in" id="cioapikeyerror" role="alert" >
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <br class="alert-text">Something went wrong ! Unable to generate APIKey at the moment<br>
        Please contact Customer care for further information
    </div>

    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}

    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->


            <!--Begin:: App Aside-->
            {# removed
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        <!--Left Menu for the account level settings -->
                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->

            </div>
            #}
            <!--End:: App Aside-->

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">General Configuration<small></small></h3>
                                </div>

                            </div>

                            <form class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            <!--Exclude domians lead Tracking-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Exclude Domains Lead
                                                    Tracking&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                                 data-toggle="popover"
                                                                                 title="Please specify ','(comma) after each E-mail"
                                                                                 data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ general.excludeDomains is defined? general.excludeDomains : "" }}"
                                                           name="excludeDomains"
                                                           placeholder="Enter Domain extension with comma(,) after each E-mail"
                                                           autocomplete="false">
                                                </div>
                                            </div>
                                            <!--API Key-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">API Key&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                                 data-toggle="popover"
                                                                                 title="APIKey for the account"
                                                                                 data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                {% if general.cioApiKey is defined and general.cioApiKey is not empty %}
                                                    <div class="col-lg-9 col-xl-4">
                                                        <input type="text" class="form-control"
                                                               value="{{ general.cioApiKey is defined? general.cioApiKey : "" }}"
                                                               {# value = {{ pass }}#}
                                                               id="input_cioapikey"
                                                               placeholder="GUID "
                                                               autocomplete="false" readonly="readonly">
                                                        <input type="text"
                                                                value="{{ general.cioApiKey is defined? general.cioApiKey : "" }}"
                                                               {#value = {{ pass }}#}
                                                               name="cioApiKey"
                                                               id="input_ciomasterapikey"
                                                               autocomplete="false" hidden>
                                                    </div>
                                                    <div class="col-lg-9 col-xl-2">
                                                        <input type="checkbox" class="" id="showcioapikey" onclick="showAPIKey()"> &nbsp;Show APIKey
                                                    </div>
                                                {% else %}
                                                    {% if general.company_account_no is defined and general.company_account_no is not empty %}
                                                        {% set account_no = general.company_account_no %}
                                                        <div class="col-lg-9 col-xl-3">
                                                            <input type="button" class="form-control"
                                                                   data-is-test = "{{ account_no | json_encode }}"
                                                                   value="Request APIKey"
                                                                   name="cioApiKey"
                                                                   id="orderCioApiKey"
                                                                   placeholder="GUID "
                                                                   autocomplete="false">
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>

                                            <input type="hidden" name="token"
                                                   value="{{ csrf_token('company-general') }}"/>
                                            <input type="text" class="form-control"
                                                   value="{{ general.id is defined? general.id : "" }}"
                                                   name="id" autocomplete="false" hidden>
                                        </div>
                                    </div>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit"
                                                        class="btn btn-brand btn-elevate kt-login__btn-primary">Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->



{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        const apiInOne = "{{ app.request.server.get('APIINONE_URL') }}"
    </script>
    <script type="text/javascript" src="{{ jsurl }}/apikey/apikey.js"></script>
    <script type="text/javascript">

        let masterKey = $('#input_ciomasterapikey').val();
        let enPassword = masterKey.replace(/.(?=.{4})/g, 'x');
        $('#input_cioapikey').val(enPassword);

        // Show API Key
        function showAPIKey() {
            let publicKey = $('#input_cioapikey').val();
            if(publicKey === masterKey) {
                let enPassword = masterKey.replace(/.(?=.{4})/g, 'x');
                $('#input_cioapikey').val(enPassword);
            }else {
                $('#input_cioapikey').val(masterKey);
            }

/*            if(inputPassword.get(0).value === "password") {
                $("#input_cioapikey").prop("type", "text");
            } else {
                $("#input_cioapikey").prop("type", "password");
            }*/
        }

        $ ( "#toogle" ).click ( function () {
            $ ( ".hide" ).toggle ( 'fast' );
        } );
    </script>

{% endblock %}

