{% extends "app.twig" %}

{% block content %}


    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Account settings</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{# {{details.name}} #} </span>

        </div>

    </div>
    <!-- end:: Content Head -->

    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!-- end:: warnings -->
    {% endif %}


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}



    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->


            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        {# Left Menu for the account level settings #}
                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->

            </div>
            <!--End:: App Aside-->

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Account Settings <small>Mail-In-One
                                            Integration</small></h3>
                                </div>

                            </div>

                            <form class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            {# Begin : eMIO APIKey #}
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">API key&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title="API status" data-content=""><i style="color:#eb4034;"
                                                                                                  class="fas fa-circle fa-lg checkButton"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text"
                                                           class="form-control border border-primary inputApi"
                                                           value="{{ mio.apikey is defined? mio.apikey : '' }}"
                                                           name="apikey" placeholder="Enter API Key"
                                                           autocomplete="false">
                                                </div>
                                            </div>
                                            {# End : eMIO APIKey #}

                                            {# Begin : Blacklisting Id #}
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Blacklisting Id
                                                    <a data-html="true" class="cio-popover"
                                                       data-toggle="popover"
                                                       title="Please specify Blacklisting Id from eMail-In-One"
                                                       data-content="">
                                                        <i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i>
                                                    </a>
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="number" class="form-control"
                                                           value="{{ mio.blk_id is defined? mio.blk_id : "" }}"
                                                           name="blk_id"
                                                           placeholder="39435"
                                                           autocomplete="false">
                                                </div>
                                            </div>
                                            {# End : Blacklisting Id #}

                                            {# Begin : Blacklisting Filter Name #}
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Blacklisting Flagged
                                                    Name
                                                    <a data-html="true" class="cio-popover"
                                                       data-toggle="popover"
                                                       title="Please specify Blacklisting filter name which is created automatically
                                               for the specified blacklisting Id for eMail-In-One."
                                                       data-content="">
                                                        <i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i>
                                                    </a>
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ mio.blk_flter_name is defined? mio.blk_flter_name : "" }}"
                                                           name="blk_flter_name"
                                                           placeholder="MIO blacklisting filter name"
                                                           autocomplete="false">
                                                </div>
                                            </div>
                                            {# End : Blacklisting Filter Name #}

                                            {# Begin : Reactivate Unsubscriber #}
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Reactivate Unsubscribers&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title="" data-content=""><i style="color:#c5c5c5;"
                                                                                        class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                             <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                  <label>
                                                       {% set sync_status = "" %}
                                                      {% if mio.reactive_unsubscriber is defined and mio.reactive_unsubscriber ==  "on" %}
                                                          {% set sync_status = "checked" %}
                                                      {% endif %}
                                                       <input type="hidden" name="reactive_unsubscriber" value="off">
                                                       <input type="checkbox" {{ sync_status }} name="reactive_unsubscriber">
                                                       <span></span>
                                                  </label>
                                             </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>
                                            {# End : Reactivate Unsubscriber #}
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                                <input type="text" class="form-control"
                                                       value="{{ mio.id is defined ?  mio.id : '' }}" name="id"
                                                       autocomplete="false" hidden>
                                                <input type="hidden" name="token"
                                                       value="{{ csrf_token('company-mio') }}"/>
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button id="checkmioapikey" type="button"
                                                        class="btn btn-brand btn-elevate kt-login__btn-primary">Check
                                                    ApiKey
                                                </button>
                                                <button id="updatemioapikey" type="submit"
                                                        class="btn btn-brand btn-elevate kt-login__btn-primary"
                                                        disabled>Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->



{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        const msMio = "{{ app.request.server.get('MSMIO_URL') }}"
    </script>

    <script>
        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });

        $("button#checkmioapikey").on('click', function () {

            var settings = {
                url: msMio+"/can_i_post",
                method: "POST",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                },
                data: {
                    apikey: $('input[name="apikey"]').val()
                },
                beforeSend: function (xhr) {
                    $('input[name="apikey"]').removeClass('border-primary').removeClass('border-warning').removeClass('border-danger').addClass('border-warning')
                },
                success: function (data) {

                    if (data.post === true) {
                        $('input[name="apikey"]').removeClass('border-primary').removeClass('border-warning').removeClass('border-danger').addClass('border-success');
                        $('button#updatemioapikey').attr('disabled', false);
                    } else {
                        $('input[name="apikey"]').removeClass('border-warning').removeClass('border-primary').removeClass('border-success').addClass('border-danger')
                        $('button#updatemioapikey').attr('disabled', true);
                    }
                },
                error: function (data) {
                    $('input[name="apikey"]').removeClass('border-warning').removeClass('border-primary').removeClass('border-success').addClass('border-danger');
                    $('button#updatemioapikey').attr('disabled', true);
                }
            };

            $.ajax(settings)
                .done(function () {
                    console.log('done');
                });
        });
        $('.inputApi').on('change', function () {
            var ApiWork = {
                url: msMio+"/can_i_post",
                method: "POST",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                },
                data: {
                    apikey: $('input[name="apikey"]').val()
                },
                beforeSend: function (xhr) {
                    $('.checkButton').css({'color': '#e6eb26'});
                },
                success: function (data) {

                    if (data.post === true) {
                        $('.checkButton').css({'color': '#16eb1e'});
                    } else {
                        $('.checkButton').css({'color': '#eb101f'});
                    }
                },
                error: function (data) {
                    $('.checkButton').css({'color': '#eb101f'});
                }
            };

            $.ajax(ApiWork)
                .done(function () {
                    console.log('done');
                });

        });
        $(document).ready(function () {
            $('.inputApi').trigger('change');
        });

    </script>

{% endblock %}

