
{% extends "app.twig" %}

{% block content %}


<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
       <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

        <h3 class="kt-subheader__title">Account settings</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <span class="kt-subheader__desc">{#{{details.name}}#} </span>

    </div>

</div>
<!-- end:: Content Head -->

    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
        <!-- end:: warnings -->
    {% endif %}


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}


<!-- begin:: Content -->
	<div class="kt-content kt-grid__item kt-grid__item--fluid">

<!--Begin::App-->
<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
    <!--Begin:: App Aside Mobile Toggle-->
    <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
        <i class="la la-close"></i>
    </button>
    <!--End:: App Aside Mobile Toggle-->





    <!--Begin:: App Aside-->
    <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
        <!--begin:: Widgets/Applications/User/Profile1-->
        <div class="kt-portlet ">

    <p>&nbsp;</p>


    <div class="kt-portlet__body kt-portlet__body--fit-y">
        <!--begin::Widget -->
        {# Left Menu for the account level settings #}
        {{ include('/account/leftmenu.twig') }}
        <!--end::Widget -->
    </div>
</div>
<!--end:: Widgets/Applications/User/Profile1-->

     </div>
    <!--End:: App Aside-->

    <!--Begin:: App Content-->
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Account Settings <small>Webinaris Integration</small></h3>
                        </div>

                    </div>

                    <form class="kt-form kt-form--label-right" method="post">
                        <div class="kt-portlet__body">
                            <div class="kt-section kt-section--first">
                                <div class="kt-section__body">


                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">API Password</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{webinaris.apiPassword is defined? webinaris.apiPassword : ''}}"name="apiPassword" type="text">
                                            <input type="text" class="form-control" value = "{{webinaris.id is defined ? webinaris.id : '' }}" name="id"  autocomplete="false" hidden>
                                        </div>
                                    </div>
                                    <input type="hidden" name="token" value="{{ csrf_token('company-webinaris') }}"/>

                                </div>
                            </div>

                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-3 col-xl-3">
                                    </div>
                                    <div class="col-lg-9 col-xl-9">
                                        <button type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End:: App Content-->
</div>
<!--End::App-->
</div>
	<!-- end:: Content -->



{% endblock %}
{% block javascripts %}

<script>
$( "#toogle" ).click(function() {
$( ".hide" ).toggle('fast');
});
</script>

{% endblock %}

