{% extends "app.twig" %}

{% block content %}

	<script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

	<style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }
	</style>
	<br>
	<!-- begin:: warnings  -->
	<div class="alert alert-danger fade {{ (error is defined and error|length > 1) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon"><i class="flaticon-warning"></i></div>
		<div class="alert-text">{{ (error is defined and error|length > 1) ? error: '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	<!-- end:: warnings -->

	<!--begin:alert -->
	<div class="alert alert-light alert-elevate fade {{ (success is defined and success|length > 1) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon"><i class="far fa-check-square"></i></div>
		<div class="alert-text">{{ (success is defined and success|length > 5) ? success : '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	<!--end:alert -->


	<!-- begin:: WIZARD EMAIL-IN-ONE -->
	<!-- begin:: Content Head -->
	<div class="kt-subheader kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
			<h3 class="kt-subheader__title">Account Overview </h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<span class="kt-subheader__desc">Assign Seed Pools</span>
		</div>
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<!--begin:Back to campaigns -->
				<a class="btn btn-brand btn-elevate btn-icon-sm"
				   href="{{ path('superadminUserOverview') }}"><i class="la la-angle-left"></i>Cancel</a>
				<!--end:Back to campaigns -->
			</div>
		</div>
	</div>
	<div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
		<!--begin: Form Wizard Nav -->
		<div class="kt-wizard-v4__nav">
			<div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">
				<div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current"
					 style="flex:0 0 calc(100% - 0.30rem)">
				</div>
			</div>
		</div>

		<div class="kt-portlet">


			<div class="kt-portlet__body kt-portlet__body--fit">
				<div class="kt-grid">
					<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
						<!--begin: Form Wizard Form-->
						<form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
							<!--begin: Form Wizard Step 2-->

							<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
								<div class="kt-wizard-v4__form">
									<!--Here comes Mapping table for the campaign-->

									<div id="mappingTable" class="table-editable">

										<table class="table table-bordered table-responsive-md table-striped text-center">
											<thead>
											<tr>
												<th class="text-center"><strong>Seed Pool</strong></th>
												<th class="text-center"><strong>Type</strong></th>
												<th class="text-center"><strong>Group</strong></th>
												<th class="text-center"><strong>Action</strong></th>
											</tr>
											</thead>
											<tbody>
											<!-- This is our clonable table line which will be generated automatically form script-->
											</tbody>
										</table>
									</div>

									<span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                            </a>
                                        </span>

									<input type="hidden" id="seedPoolMappingTable" name="seedPoolMappingTable"
										   value=""/>
								</div>
							</div>
							<input type="hidden" name="token" value="{{ csrf_token('integration-email-server') }}"/>

							<!--end: Form Wizard Step 2-->
							<script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

							</script>
							<!--begin: Form Actions -->
							<div class="kt-form__actions">

								<button name="submit" type="submit" id="saveData"
										class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										data-ktwizard-type="action-submit">
									save or update
								</button>

							</div>
							<!--end: Form Actions -->
						</form>
						<!--end: Form Wizard Form-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		//@internal - get the values from controller to use it in javascript
		const seedPoolData = JSON.parse('{{ seed_pool_mapping | json_encode | raw }}');
        const path = '/seedpool/delete/';
	</script>
	<script src="{{ jsurl }}/account/assign-seed-pools.js" type="text/javascript"></script>
{% endblock %}
