{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-subheader__main">
                <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

                <h3 class="kt-subheader__title">Delete account</h3>

                {# <span class="kt-subheader__separator kt-subheader__separator--v"></span> #}

                <span class="kt-subheader__desc"> </span>

            </div>

        </div>

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            {# removed
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        {{ include('/account/leftmenu.twig') }}
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->
            </div>
            <!--End:: App Aside-->
            #}

            <div class="kt-grid__item kt-grid__item--fluid kt-app__content" data-ktwizard-type="step-content">
                <!--Begin:: App Aside-->
                <div class="kt-heading kt-heading--md" style="margin-left: 8%">Delete account.</div>
                <div class="kt-form__section kt-form__section--first">


                    {% if user_is_super_admin %}
                        <div class="form-group row">
                            <label class="col-xl-1 col-lg-1 col-form-label">

                            </label>
                            <div class="col-lg-9 col-xl-6">

                                <div style="color:red"><i class="fas  fa-exclamation-triangle fa-lg" aria-hidden="true"></i> <b>WARNING:</b><br>Delete
                                    account means:
                                    <div style="color:black">You'll delete an account belonging to the email address you enter along with <b>all</b> data.
                                        <br>All users assigned to corresponding account, all project settings, all pages, all webhooks and all leads with all data assigned will be<br><b> deleted at once!</b>
                                    </div>
                                    <br><br><i class="fas  fa-info-circle fa-lg" aria-hidden="true" style="color:#191919"></i><span class="kt-widget__desc" style="color: #191919"> <b>Delete User only:</b><br>If you just want to delete a user and keep the users account assigned data objects, goto <a href="http://ciomgrsymf.test/admintool/master/manageusers">Manage Users</a>.</span>
                                </div>

                                <input id="delbyemail" class="form-control" value="" name="delbyemail" type="email" placeholder="enter user email address">

                                <button id="checkdelaccount" type="button" class="col-xl-3 col-lg-3 col-form-label btn btn-brand" style="background-color:red;border-color: red;margin-top: 70px" data-route="{{ (url ~ 'admintool/super/getcountaffectedusers')|base64encode }}" data-routeproceed="{{ (url ~ 'admintool/super/deleteaccountbyemail')|base64encode }}" data-delete="{{ current_user['email'] |base64encode }}" data-company_objectregister_id="{{ company_objectregister_id }}">
                                    <i id="icontrash" class="fa fa-trash-alt"></i>&nbsp;Delete account
                                </button>
                                <div id="msg_delaccbyemail" style="display: none"></div>
                                <input id="token" type="hidden" name="token" value="{{ csrf_token('superadmin-deleteaccount') }}"/>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        {# logoutModal #}
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #7abe73; color:white;">
                        <h4 class="modal-title" id="myModalLabel">Status</h4>
                    </div>
                    <div id="modaltext" class="modal-body" style="font-size:larger">
                    </div>
                    <div class="modal-footer">
                        Please press&nbsp;<button id='logout' type="button" class="btn btn-default" data-dismiss="modal" data-route="{{ path('app_logout') }}">Okay</button>&nbsp;to proceed.
                    </div>
                </div>
            </div>
        </div>

        {# errorModal #}
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: red; color:white;">
                        <h4 class="modal-title" id="myErrorLabel"><i class="fa fa-bug"></i>&nbsp;Error</h4>
                    </div>
                    <div id="modalErrorText" class="modal-body" style="font-size:larger" data-username="{{ current_user.first_name }}">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {# infoModal #}
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #7abe73; color:white;">
                        <h4 class="modal-title" id="myInfoLabel"><i class="fa fa-info-circle"></i>&nbsp;Note</h4>
                    </div>
                    <div id="modalInfoText" class="modal-body" style="font-size:larger" data-username="{{ current_user.first_name }}">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeConfirmDeleteButton()">Exit</button>
                        <button id="confirmDelete" type="button" class="btn btn-default" data-dismiss="modal" style="display:none" onclick="xDeleteTrue()">Yes, delete all data!</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        // turn off console log after debugging
        console.log = function() {};

        $(".hide").hide();

        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });

        $('#logoutModal').modal({
            keyboard: false,
            show: false
        });

        $('#errorModal').modal({
            keyboard: true,
            show: false
        });

        $('button#logout').on('click', function () {
            $redirectTo = $(this).data('route');
            window.location = $redirectTo;
        });


        var x_deleteTheData = false;


        jQuery('button#checkdelaccount').on('click', function () {
            // Todo: feddisch implementieren WEB-3737!

            var email = $('input#delbyemail').val();
            var route = atob($(this).data('route'));
            var routeproceed = atob($(this).data('routeproceed'));


            if (email === '' || email === undefined) {
                var $username = $('#modalErrorText').data('username');
                $('#modalErrorText').html('').html('Dear ' + $username + ', you should enter an email address ...');
                $('#errorModal').modal('show');

                // alert('Please enter an email address');
                return false;
            }

            console.log("email  = " + email, 162);
            console.log("route  = " + route, 163);

            var send_data = btoa(JSON.stringify({'email': email}));
            var x = false;

            var settings = {
                url: route,
                method: "POST",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                },
                data: send_data,
                success: function (data, x) {

                    if (data.status === true) {
                        console.log('status=' + data.status);
                        if (data.msg !== '' || data.msg !== undefined) {
                            console.log('msg=' + data.msg);
                            // x_deleteTheData = confirm(data.msg + ' Are you sure that you want to proceed?'); // modal here

                            var $username = $('#modalInfoText').data('username');
                            $('button#confirmDelete').css('display', 'initial');
                            $('#modalInfoText').html('').html(data.msg + '<hr><br>' + $username + ', are you really sure that you want to proceed?');
                            $('#infoModal').modal('show');
                            console.log("x in return confirm ist " + x_deleteTheData);
                        }
                    } else {
                        // alert(data.msg);

                        $('#modalErrorText').html('').html(data.msg);
                        $('#errorModal').modal('show');
                    }
                }
            };

            $.ajax(settings)
                .done(function (data) {
                    console.log('CHECK DONE');
                })
                .fail(function (data, textStatus, errorThrown) {
                    $('div#msg_delaccbyemail').text('The email address you entered does not exist.').css('color', 'red').css('display', 'initial').fadeOut(5000);

                    console.log("CHECK request failed");
                    console.debug('d:' + data.toString());
                });
        });


        function removeConfirmDeleteButton() {
            $('button#confirmDelete').css('display', 'none');
        }


        function xDeleteTrue() {
            x_deleteTheData = true;
            console.log("running deleteTheData ...");
            var email = $('input#delbyemail').val();
            var send_data = btoa(JSON.stringify({'email': email}));
            var routeproceed = atob($('button#checkdelaccount').data('routeproceed'));
            var ret = deleteTheData(send_data, routeproceed);
            // for tests
            // var ret = deleteTheData(send_data, "https://ciomgrsymf.test/test/ajaxjsonfalse");
            console.log(ret);
        }


        function deleteTheData(sendData, route) {
            $('#infoModal').modal('hide');
            console.log('deleteTheData', sendData, route);

            var settings = {
                url: route,
                method: "POST",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                },
                data: sendData,
                success: function (data) {
                    /*
                                    'status' => $ret['status'],
                                    'msg' => "the account of {$userToDeleteEmail} has been deleted. i" . __LINE__,
                                    'log' => $ret['data'],
                                    'redirect' => $redirect,
                     */

                    if (data.status === true) {

                        console.log('status=' + data.status);
                        console.log('msg=' + data.msg);

                        if (data.msg !== '' || data.msg !== undefined) {
                            console.log('msg=' + data.msg);
                            var moreInfo = '';
                            // alert(data.msg);

                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show');

                            // if (data.redirect !== '' && data.redirect !== undefined) {
                            //     window.location = data.redirect;
                            // }
                        }
                    } else {
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                            // alert(data.msg);
                        } else {
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                            //alert('Either user does not exist or you have lost your session.');
                        }
                    }
                }
            };

            console.log('DELETE CALL STARTS ...');

            $.ajax(settings)
                .done(function (data) {
                    console.trace('SUCCESSFUL DELETION');
                    console.debug(data);
                    return 'SUCCESSFUL DELETION';
                })
                .fail(function (data, textStatus, errorThrown) {
                    console.trace("DELETION FAILED");
                    console.debug('d:' + data.toString());
                    return 'DELETION FAILED';
                });


            return 'done!';
        }


        // not used from master admin
        $('button#delaccount').on('click', function deleteAccount() {
            // var $route = atob($(this).data('route'));
            var $route = atob($('button#delaccount').data('routeproceed'));
            console.log('$route', $route);

            $data = {
                'email': atob($('button#delaccount').data('delete')),
                'delete_at': $('button#delaccount').data('delete_at'),
                'company_objectregister_id': $('button#delaccount').data('company_objectregister_id'),
                'token': $('input#token').val()
            };

            // console.log($data);

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);
                    // $('div#formMsg').html(data);
                    if (status == 'success' && data.status == true) {
                        console.log(data.log);
                        $('i#icontrash').removeClass('fa-trash-alt').addClass('fa-thumbs-up');
                        $('button#delaccount').prop("disabled", true);
                        $('div#msg_delacc').text(data.msg).css('display', 'inherit');
                        $('div#modaltext').html(
                            'Your account is marked for deletion and will be finally deleted on<br>'
                            + $('button#delaccount').data('delete_at')
                            + '.<br><br>Thank you for using Marketing-In-One.'
                        );

                        $('#logoutModal').modal('show');
                    } else {
                        $('i#icontrash').removeClass('fa-trash-alt').addClass('fa-bug');
                        $('div#msg_delacc').text(data.msg).css('display', 'inherit');
                        $('div#modaltext').html('We could mark your your account for deletion. Please contact our support.');
                    }
                });
        });


    </script>
{% endblock %}
