{% extends "app.twig" %}

{% block content %}

    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>

    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

    </style>
    <br>
    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (error is defined and error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (error is defined and error|length > 2) ? error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (success is defined and success |length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (success is defined and success |length > 5) ? success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: WIZARD EMAIL-IN-ONE -->
    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Account Overview</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">eMail-In-One</span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm"
                   href="{{ path('integrations.available', {status:'available'}) }}"><i class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">

                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current"
                     style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Integrate Users to eMail-In-One
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Synchronize new Users to eMail-In-One Newsletter
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data"
                              data-endpoint="{{ end_point }}">

                            {% set apikey = (emailinone.settings.apikey is defined) ? emailinone.settings.apikey : '' %}
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Please enter eMail-In-One APIKey:
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-row ">
                                                    <div class="col-md-8 mb-3">
                                                        <input style="color:#7abe73;" type="text" name="apikey"
                                                               class="form-control form-control is-valid"
                                                               id="validate-apikey" value="{{ apikey }}">
                                                        <div style="margin-top:10px; background-color:rgba(122,190,115,0.9)"
                                                             class="alert alert-success" id="alert-apikey-valid"
                                                             role="alert">
                                                            <span style="font-size:14px;">API Key correct. Your connection was successfully established.</span>
                                                        </div>
                                                        <div style="margin-top:10px;" class="alert alert-danger"
                                                             role="alert" id="alert-apikey-invalid">
                                                            <span style="font-size:14px;">API Key incorrect. We were not able to establish a connection. Please try again later, or contact our support <u>here.</u></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button"
                                                                style="font-size:11px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;"
                                                                id="test-connection"
                                                                class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u test-apikey-connection">
                                                            TEST CONNECTION
                                                        </button>
                                                        <button type="button"
                                                                style="font-size:11px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;"
                                                                id="retry-connection"
                                                                class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u test-apikey-connection">
                                                            RETRY CONNECTION
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->


                            <script>
                                var input = document.querySelector ( 'input[name=basic]' );

                                // init Tagify script on the above inputs
                                new Tagify ( input )

                            </script>

                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <input type="hidden" name="token" value="{{ csrf_token('superadmin-emio') }}"/>
                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Save Or Update
                                </button>

                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
    {# begin  fraud checking script #}
    <script type="text/javascript" src="{{ jsurl }}/integrations/integration-emio-twig.js"></script>
{% endblock %}
