{% extends "app.twig" %}

{% block content %}

    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>

    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }
    </style>
    <br>
    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (error is defined and error|length > 1) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (error is defined and error|length > 1) ? error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (success is defined and success|length > 1) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (success is defined and success|length > 5) ? success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: WIZARD EMAIL-IN-ONE -->
    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Standard Fields Mapping</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">eMail-In-One</span>
        </div>
    </div>
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">
            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current"
                     style="flex:0 0 calc(100% - 0.30rem)">
                </div>
            </div>
        </div>
        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            <!--begin: Form Wizard Step 2-->

                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure standard field mapping for eMail-In-One
                                </div>
                                <span class="kt-subheader__desc">
                                    <span style="font-size: 14px; color:#a7abc3;">
                                        <i class="far fa-info-circle"></i>
                                        Map the standard fields for eMIO .
                                    </span>
                                </span>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">

                                        {# {{ dump(sd_fields) }} #}
                                        <!--Here comes Mapping table for the campaign-->

                                        <div id="table" class="table-editable"
                                             data-mio-dtypes={{ mio_dtypes is defined ? mio_dtypes  : '' }}
                                             data-mio-fields= {{ mio_fields is defined ? mio_fields  : '' }}
                                             data-is-mio=" {{ (sd_fields.mio is defined) ? sd_fields.mio | json_encode() : '' }}
                                        "
                                             data-is-emio=" {{ (sd_fields.emio is defined) ? sd_fields.emio | json_encode() : '' }}
                                        "
                                             data-mapping-from-db="{# {{ mapping }} #}">

                                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><strong>MIO Field</strong></th>
                                                <th class="text-center"><strong>MIO Datatype</strong></th>
                                                <th class="text-center"><strong>eMIO Field</strong></th>
                                                    <th class="text-center"><strong>eMIO Datatype</strong></th>
                                                    <th class="text-center"><strong>Action</strong></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if sd_fields.mapping is defined %}
                                                    {% for fields in sd_fields.mapping %}
                                                        <tr class="sdfield-mapping">
                                                            <td class="mio-sdfield">
                                                                <select
                                                                        class="form-control form-control-md sel-mio-sdfield"
                                                                        id="sel-mio-sdfield"
                                                                        style="opacity:1" disabled>
                                                                    <option value="{{ fields.id }}"
                                                                            data-field="{{ fields.fieldname }}"
                                                                            data-dtype="{{ fields.emioDType }}"
                                                                            selected>{{ fields.htmllabel }}
                                                                    </option>
                                                                </select>
                                                            </td>
                                                            <td class="mio-dtype">
                                                                <select
                                                                        class="sel-mio-dtype form-control form-control-md"
                                                                        style="opacity:1" disabled>
                                                                    <option value="{{ fields.id }}"
                                                                            data-field="{{ fields.fieldname }}"
                                                                            selected>{{ fields.mioDType }}
                                                                    </option>
                                                                </select>
                                                            </td>
                                                            <td class="emio-sdfield">
                                                                <select class="sel-emio-sdfield form-control form-control-md"
                                                                        style="opacity:1" disabled>
                                                                    <option value="{{ fields.name }}"
                                                                            data-dtype="{{ fields.emioDType }}">
                                                                        {{ fields.name }}</option>
                                                                </select>
                                                            </td>
                                                            <td class="emio-dtype">
                                                                <select
                                                                        class="sel-emio-dtype form-control form-control-md"
                                                                        style="opacity:1" disabled>
                                                                    <option value="{{ fields.emioDType }}"
                                                                            selected>{{ fields.emioDType }}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                    <span class="table-remove">
                                                                        <i style="color:#ff0000;cursor: pointer;
                                                                         padding-top:15px"
                                                                           class="fas fa-minus-circle">
                                                                        </i>
                                                                    </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#" class="text-success">
                                                <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                            </a>
                                        </span>
                                        <label for="urlID"></label>
                                        <input type="text" class="form-control" id="emio-mapping"
                                               name="mapping"
                                               autocomplete="false" hidden>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('emio-standardfields-mapping') }}"/>
                            <!--end: Form Wizard Step 2-->
                            <script>
                                var input = document.querySelector ( 'input[name=basic]' );

                                // init Tagify script on the above inputs
                                new Tagify ( input )

                            </script>
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    save or update
                                </button>

                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        const msMio = "{{ app.request.server.get('MSMIO_URL') }}"
    </script>
    <script type="text/javascript" src="{{ jsurl }}/integrations/emio-standardfields-mapping.js"></script>
{% endblock %}
