{#
superadminServerWizard.html.twig is used by /super/server/wizard/{action}/{server_id}, AdministrationController::superadminServerWizard
action = 'edit' or 'new'
#}
{% extends "app.twig" %}

{% block pagehead %}

	{# SELECT2 STUFF #}
	<link href="{{ cssurl ~ '/vendor/select2.min.css' }}" rel="stylesheet" />
	<script src="{{ jsurl ~ '/vendor/select2.full.min.js' }}"></script>

	<style>

		{# select2 height adapted #}
		.select2-selection {
			height: 38.4px !important;
            border-color: #e2e5ec !important;
		}
        .select2-selection:hover,
        .select2-selection:focus,
        .select2-selection:focus-visible {
			border-color: #7abe73;
		}



		{# select2 drop down caret adapted #}
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 18px !important;
            font-weight: bold !important;
        }

		label {
			font-weight: bold !important;
		}
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

        .table thead th {
            padding-left: 1.5rem;
        }

		{# CHECKBOX STYLE #}


        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }


		{# TAB STYLING  #}
        .tabstyle {
            flex: 0 0 calc(50% - 0.50rem) !important;
        }

        input:invalid {
            border: red solid 3px;
        }

	</style>

{% endblock %}

{% block content %}

	<!-- begin:: warnings  -->
	<div class="alert alert-danger fade {{ (error is defined and error|length > 1) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon"><i class="flaticon-warning"></i></div>
		<div class="alert-text">{{ (error is defined and error|length > 1) ? error: '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	<!-- end:: warnings -->

	<!--begin:alert -->
	<div class="alert alert-light alert-elevate fade {{ (success is defined and success|length > 1) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon"><i class="far fa-check-square"></i></div>
		<div class="alert-text">{{ (success is defined and success|length > 5) ? success : '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	<!--end:alert -->

	{# begin:: Content Head #}
	<div class="kt-subheader   kt-grid__item" id="kt_subheader">

		<div class="kt-subheader__main">
			<button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
				<span></span>
			</button>

			<h3 class="kt-subheader__title">FTP Configuration</h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		</div>

		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<a id="cancelBtn" class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('auth.home') }}">
					<i class="la la-angle-left"></i>
					Cancel
				</a>
			</div>
		</div>

	</div>

	{# begin:: Content #}
	<div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
		{# begin: SITE TABS #}
		<div class="kt-wizard-v4__nav">
			<div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable ">
				{# BASE SETTINGS - TAB #}

				{# PLESK - TAB #}
				<div class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step" >
					<div class="kt-wizard-v4__nav-body">
						<div class="kt-wizard-v4__nav-number">
							1
						</div>
						<div class="kt-wizard-v4__nav-label">
							<div class="kt-wizard-v4__nav-label-title">
								Plesk
							</div>
							<div class="kt-wizard-v4__nav-label-desc">
								Access
							</div>
						</div>
					</div>
				</div>
				{# SFTP - TAB #}
				<div class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step">
					<div class="kt-wizard-v4__nav-body">
						<div class="kt-wizard-v4__nav-number">
							2
						</div>
						<div class="kt-wizard-v4__nav-label">
							<div class="kt-wizard-v4__nav-label-title">
								SFTP
							</div>
							<div class="kt-wizard-v4__nav-label-desc">
								Access
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# end: Form Wizard Nav #}
		<div class="kt-portlet">
			<div class="kt-portlet__body kt-portlet__body--fit">
				<div class="kt-grid">

					<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
						{# begin: Form Wizard Form #}
						<form id="projectWizForm" class="kt-form"> {# method="post" id="kt_form" #} {# enctype="multipart/form-data" #}


							{# begin: Form Wizard Step 1 #}
							{# PLESK  #}
							<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
								<div class="kt-heading kt-heading--md">Plesk access</div>
								<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v4__form">
										{# Plesk URL #}
										<div class="row">
											<div class="col-xl-9">
												<div class="form-group validated">
													<label class="col-form-label" for="plesk_url">Plesk URL</label>
													<div class="form-group row">
														<input id="plesk_url" name="plesk_url" type="url" class="form-control" placeholder="Plesk URL" maxlength="255" value="{{ serverConfiguration.plesk_url is defined and serverConfiguration.plesk_url|length>0 ? serverConfiguration.plesk_url : '' }}">
													</div>
												</div>
											</div>
										</div>
										{# Plesk User #}
										<div class="row">
											<div class="col-xl-9">
												<div class="form-group validated">
													<label class="col-form-label" for="plesk_user">Plesk User</label>
													<div class="form-group row">
															<input id="plesk_user" name="plesk_user" type="text" minlength="4" maxlength="60" class="form-control" placeholder="Plesk User" value="{{ serverConfiguration.plesk_user is defined and serverConfiguration.plesk_user|length>0 ? serverConfiguration.plesk_user : '' }}">
													</div>
												</div>
											</div>
										</div>
										{# Plesk Password #}
										<div class="row">
											<div class="col-xl-9">
												<div class="form-group validated">
													<label class="col-form-label" for="plesk_pw">Plesk Password</label>
													<div class="form-group row">
														<input id="plesk_pw" name="plesk_pw" type="text" maxlength="60" class="form-control" placeholder="Plesk Password" value="{{ serverConfiguration.plesk_pw is defined and serverConfiguration.plesk_pw|length>0 ? serverConfiguration.plesk_pw : '' }}">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{# end: Form Wizard Step 1 #}


							{# begin: Form Wizard Step 2 SFTP #}
							{# SFTP #}
							<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
								<div class="kt-heading kt-heading--md">SFTP access</div>
								<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v4__form">
										<div id="table" class="table-editable">

											<table id="customfieldtable" class="table table-bordered table-responsive-md table-striped text-center">
												<thead>
												<tr>
													<th class="text-left col-3">
														<strong>SFTP User</strong>
													</th>
													<th class="text-left col-3">
														<strong>SFTP Password</strong>
													</th>
													<th class="text-left">
														<strong>Comment</strong>
													</th>
												</tr>
												</thead>
												<tbody>
												{# since MVP, you can add up to six ftp connection to one server and not more, if mor are needed, simply change maxFtpConnections to the amount needed #}
												{% set maxFtpConnections = 6 %}
												{% set ftpConnectionsConfigured = 0 %}
												{# if ftpConfiguration is defined and ftpConfiguration is not empty #}
													{% for ftp in ftpConfiguration %}
														{% set ftpConnectionsConfigured = ftpConnectionsConfigured + 1 %}
														<tr id="ftp_{{ ftp.id }}"
															class="ftp_record update"
															data-ftpConnectionsConfigured="{{ ftpConnectionsConfigured }}"
															data-ftpid="{{ ftp.id }}"
															data-action="update"
															data-server_configuration_id="{{ ftp.server_configuration_id is defined ? ftp.server_configuration_id : '' }}"
															data-sftp_user="{{ ftp.sftp_user is defined ? ftp.sftp_user : '' }}"
															data-sftp_pw="{{ ftp.sftp_pw is defined ? ftp.sftp_pw : '' }}"
															data-comment="{{ ftp.comment is defined ? ftp.comment : '' }}"
															{# onclick="changedFtpRecord( ftp.id )"
															onkeyup="changedFtpRecord({{ ftp.id }})" #}
														>
															{# sftp_user #}
															<td class="pt-3-half">
																<input id="sftp_user_{{ ftp.id }}"
																	   name="sftp_user_{{ ftp.id }}"
																	   data-ftpid="{{ ftp.id }}"
																	   class="form-control ftp_user ftpval"
																	   type="text"
																	   maxlength="60"
																	   minlength="4"
																	   placeholder="SFTP User"
																	   value="{{ ftp.sftp_user is defined and ftp.sftp_user|length > 0 ? ftp.sftp_user : '' }}"
																>
															</td>
															{# sftp_pw #}
															<td class="pt-3-half">
																<input id="sftp_pw_{{ ftp.id }}"
																	   name="sftp_pw_{{ ftp.id }}"
																	   data-ftpid="{{ ftp.id }}"
																	   class="form-control ftp_pw ftpval"
																	   type="text"
																	   maxlength="60"
																	   minlength="8"
																	   placeholder="SFTP Password"
																	   title="In Plesk set 'Minimum password strength' to 'Very strong'. Enter at minimum 8 characters, numbers, special characters => more (>= 16) are better"
																	   value="{{ ftp.sftp_pw is defined and ftp.sftp_pw|length > 0 ? ftp.sftp_pw : '' }}"
																>
															</td>

															{# comment #}
															<td class="pt-3-half">
															<textarea id="comment_{{ ftp.id }}"
																	  name="comment__{{ ftp.id }}"
																	  data-ftpid="{{ ftp.id }}"
																	  class="form-control ftp_comment ftpval"
																	  type="text"
																	  maxlength="600"
																	  cols="300"
																	  rows="1"
																	  style="height:38.4px !important"
																	  placeholder="add an optional comment here"
															>{{ ftp.comment is defined and ftp.comment|length > 0 ? ftp.comment|trim : '' }}</textarea>
															</td>
														</tr>
													{% endfor %}

													{# show empty rows here =>  up to  all in all maxFtpConnections #}
													{% for row in (ftpConnectionsConfigured + 1) .. maxFtpConnections %}
														<tr id="new_ftp_{{ row }}"
															class="ftp_record insert"
															data-ftpid=""
															data-action="insert"
															{#
															onclick="changedFtpRecord( {{ row }} )"
															onkeyup="changedFtpRecord({{ row }})"
															#}
														>
															{# sftp_user #}
															<td class="pt-3-half">
																<input id="new_sftp_user_{{ row }}"
																	   name="new_sftp_user_{{ row }}"
																	   class="form-control ftp_user ftpval"
																	   type="text"
																	   maxlength="80"
																	   minlength="2"
																	   placeholder="SFTP User"
																	   value=""
																>
															</td>
															{# sftp_pw #}
															<td class="pt-3-half">
																<input id="new_sftp_pw_{{ row }}"
																	   name="new_sftp_pw_{{ row }}"
																	   class="form-control  ftp_pw ftpval"
																	   type="text"
																	   maxlength="80"
																	   minlength="8"
																	   placeholder="SFTP Password"
																	   title="In Plesk set 'Minimum password strength' to 'Very strong'. Enter at minimum 8 characters, numbers, special characters => more (>= 16) are better"
																	   value=""
																>
															</td>
															{# comment #}
															<td class="pt-3-half">
															<textarea id="new_comment_{{ row }}"
																	  name="new_comment__{{ row }}"
																	  data-ftpid="{{ row }}"
																	  class="form-control  ftp_comment ftpval"
																	  type="text"
																	  maxlength="600"
																	  cols="300"
																	  rows="1"
																	  style="height:38.4px !important"
																	  placeholder="add an optional comment here"
															></textarea>
															</td>
														</tr>
													{% endfor %}
												{# endif #}
												{# This is our clonable table line which will be generated automatically form script #}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							{# end: Form Wizard Step 2 #}


							{# begin: Form Actions #}
							<div class="kt-form__actions">

								<button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										data-ktwizard-type="action-prev">
									Previous
								</button>

								<button id="saveServer" type="button" data-route="{{ path("superadminServer.save") }}" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
									<i id="iconSaveServer" class="fa fa-save"></i>
									Save Server
								</button>

								<button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										id="cio-select-next" data-ktwizard-type="action-next">
									Next Step
								</button>
							</div>
							<div id="formMsg" class="kt-form__actions"></div>
							{# end: Form Actions #}
						</form>
						{# end: Form Wizard Form #}
					</div>

				</div>
			</div>
		</div>
	</div>

	{# end:: Content #}

{% endblock %}
{% block javascripts %}


{% endblock %}
