{% extends "app.twig" %}

{% block content %}

	<script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>

	<style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }
	</style>
	<br>
	<!-- begin:: warnings  -->
	<div class="alert alert-danger fade {{ (error is defined and error|length > 1) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon"><i class="flaticon-warning"></i></div>
		<div class="alert-text">{{ (error is defined and error|length > 1) ? error: '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	<!-- end:: warnings -->

	<!--begin:alert -->
	<div class="alert alert-light alert-elevate fade {{ (success is defined and success|length > 1) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon"><i class="far fa-check-square"></i></div>
		<div class="alert-text">{{ (success is defined and success|length > 5) ? success : '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	<!--end:alert -->


	<!-- begin:: WIZARD EMAIL-IN-ONE -->
	<!-- begin:: Content Head -->
	<div class="kt-subheader kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
			<h3 class="kt-subheader__title">Account Overview </h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<span class="kt-subheader__desc">Inbox-Monitor</span>
		</div>
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<!--begin:Back to campaigns -->
				<a class="btn btn-brand btn-elevate btn-icon-sm"
				   href="{{ path('auth.home') }}"><i class="la la-angle-left"></i>Cancel</a>
				<!--end:Back to campaigns -->
			</div>
		</div>
	</div>
	<div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
		<!--begin: Form Wizard Nav -->
		<div class="kt-wizard-v4__nav">
			<div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">
				<div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current"
					 style="flex:0 0 calc(100% - 0.30rem)">
				</div>
			</div>
		</div>
		<!--end: Form Wizard Nav -->
		<div class="kt-portlet">
			<div class="kt-portlet__body kt-portlet__body--fit">
				<div class="kt-grid">
					<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
						<!--begin: Form Wizard Form-->
						<form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
							<!--begin: Form Wizard Step 2-->

							<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
								{% set user = (config.user is defined) ? config.user: "" %}
								{% set apiKey = (config.apikey is defined) ? config.apikey: "" %}
								<div id="custom-server-type-title" class="kt-heading kt-heading--md">Configure
									Inbox-Monitor Settings
								</div>
								<div id="custom-server-type-section" class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v4__form">
										<div class="kt-section__body">


											<div class="form-group row">
												<label class="col-xl-2 col-lg-3 col-form-label">User</label>
												<div class="col-lg-9 col-xl-6">
													<input id="inbox-monitor-user" type="text" class="form-control"
														   value="{{ user }}" name="inbox-monitor-user"
														   placeholder="Enter your user name" autocomplete="false">
												</div>
											</div>


											<div class="form-group row">
												<label class="col-xl-2 col-lg-3 col-form-label">API Key</label>
												<div class="col-lg-7 col-xl-5">
													<input style="" id="inbox-monitor-apikey" type="text"
														   data-checktarget=""
														   name="inbox-monitor-apikey"
														   class="form-control form-control"
														   placeholder="Enter your API key"
														   value="{{ apiKey }}"
													>
													<div style="margin-top:10px; background-color:rgba(122,190,115,0.9)"
														 id="msg_success" class="alert alert-success hidden"
														 role="alert">
														<span style="font-size:14px;">Your connection was successfully established.</span>
													</div>

													<div id="msg_error" style="margin-top:10px;"
														 class="alert alert-danger hidden" role="alert">
														<span style="font-size:14px;"></span>
													</div>
												</div>
												<div class="col-lg-2 col-xl-1">
													<button id="config_test" type="button"
															style="font-size:10px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;"
															class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
														TEST
													</button>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xl-3 col-lg-3"></div>
												<div class="col-lg-9 col-xl-6">
													<div id="test_result" class="font-italic"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" name="token" value="{{ csrf_token('integration-email-server') }}"/>
							<!--end: Form Wizard Step 2-->
							<script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

							</script>
							<!--begin: Form Actions -->
							<div class="kt-form__actions">

								<button name="submit" type="submit" id="finalSubmit"
										class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										data-ktwizard-type="action-submit">
									save or update
								</button>

							</div>
							<!--end: Form Actions -->
						</form>
						<!--end: Form Wizard Form-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
	<script src="{{ jsurl }}/account/inbox-monitor.js" type="text/javascript"></script>
{% endblock %}
