{# called by /admintool/super/ftpplesk/{company_id} , AdministrationController::superadminManageFtpPlesk #}
{% extends "app.twig" %}

{% block pagehead %}



	<style>

        a.nav-link.filterbtn.selected {
			color: white;
		}

		.selected {
			background-color: #7abe73;
			border-color: #7abe73;
		}

        i.iconsmaller {
            font-size: initial !important;
            color: darkgray !important;
        }
        ul#account li {
            padding-left: 10px;
            padding-right: 10px;
            min-width: 400px;
            font-size: smaller;
        }

		{# description #}
        table td.text {
            max-width: 10px;
        }

        table td.text span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            max-width: 100%;
        }

        table td.text:hover {
            opacity: 1.0 !important;
        }

        table td.text:hover span:not(.empty) {
            padding: 2px 6px;
            background-color: #f5f5f5;
            border: 1px darkgray solid !important;
            border-radius: 3px;
            overflow: visible;
            white-space: normal;
            height: auto;
            position: absolute;
            opacity: 1.0 !important;
            z-index: 1000;
        }
        .ddLabel {
            color:black;
        }

        .ddLabel:hover {
            cursor: pointer;
            color:#7abe73;
        }

	</style>
{% endblock %}

{% block content %}
	{#begin:alert #}
	<div class="alert alert-light alert-elevate fade {{ (successMessage is defined and successMessage is not same as null) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon">
			<i class="far fa-check-square"></i>
		</div>
		<div class="alert-text">{{ (successMessage is defined) ? successMessage : '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	{#end:alert #}

	{# begin:: Content #}
	<div class="container-fluid">

		{# 1 ÜBERSCHRIFT #}
		<div class="kt-subheader   kt-grid__item" id="kt_subheader">
			<div class="kt-subheader__main">
				<button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
					<span></span>
				</button>
				<h3 class="kt-subheader__title">Server Overview</h3>
				<span class="kt-subheader__separator kt-subheader__separator--v"></span>
				<span class="kt-subheader__desc">{{company_name}}</span>
			</div>
		</div>

		{# 2 NEW SERVER #}
		<div class="kt-content kt-grid__item kt-grid__item--fluid">
			<div class="kt-subheader kt-grid__item" id="kt_subheader" style="padding-top:0px!important; padding-bottom:0px!important;">
				<div class="kt-subheader__toolbar">
					<div class="form-group row" style="margin:0">
						<a class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('superadminServer.wizard', {action:'new', id:company_id }) }}">New Server</a>
					</div>
				</div>
			</div>
		</div>
		{# 3 FILTER #}
		<div class="kt-content kt-grid__item kt-grid__item--fluid" style="padding-bottom: 0px">
			<div class="kt-subheader__toolbar">  {# 3.2 #}
				<div class="form-group row" style="margin:0">{# 3.3 #}

					<div class="col-lg-3 col-xl-3" style="padding-left: 0;"> {# 3.1.1 filter #}
						<form id="searchForm" class="kt-form">
							<div class="form-group" style="margin:0">
								<div class="input-group" id="show">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
									</div>
									<input id="filter" class="form-control" type="text" placeholder="filter ...">
								</div>
							</div>
						</form>
					</div>{# 3.1.1 filter #}

					<div id="actionmenu" class="col-lg-9 col-xl-9"> {# 3.1.2 actionmenu #}
						<ul class="nav nav-pills" style="float: right">
							<li class="nav-item">
								<div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Server Status 'Active'" data-placement="top" data-original-title="">
									<a id="filter_status_active" class="nav-link filterbtn" type="button">Active</a>
								</div>
							</li>
							<li class="nav-item">
								<div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Server Status 'Draft'" data-placement="top" data-original-title="">
									<a id="filter_status_draft" class="nav-link filterbtn" type="button">Draft</a>
								</div>
							</li>
							<li class="nav-item">
								<div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Server Status 'Inactive'" data-placement="top" data-original-title="">
									<a id="filter_status_inactive" class="nav-link filterbtn" type="button">Inactive</a>
								</div>
							</li>
						</ul>
					</div>{# 3.1.2 actionmenu #}


				</div>{# 3.3 #}
			</div>{# 3.2 #}
		</div>

		{# 4 TABLE #}
		<div class="kt-form__section kt-form__section--first">
			<div class="kt-wizard-v4__form">
				<div id="table" class="table-editable">
					<div style="margin-left: 12px;color:#959cb6;font-size: smaller">{{serverConfiguration|length}} Servers</div>
					<table id="serverTable" class="table table-bordered table-responsive-md table-striped text-left table-hover table-condensed" data-noOfBodyRows="{{ useroverview is defined ? useroverview | length : 0 }}">
						<thead class="text-left" style="background-color: white;">
						<tr class="headerrow">
							<th class="text-left col-1">
								<strong>Servername</strong>
							</th>
							<th class="text-left">
								<strong>IP Address</strong>
							</th>
							<th class="text-left">
								<strong>Hoster</strong>
							</th>
							<th class="text-left">
								<strong>Default Domain</strong>
							</th>
							<th class="text-left">
								<strong>Description</strong>
							</th>
							<th class="text-left">
								<strong>Segment</strong>
							</th>
							<th class="text-left col-sm-1">
								<strong>Seedpool Group</strong>
							</th>
							<th class="text-left col-1">
								<strong>SFTP</strong>
							</th>
							<th class="text-left">
								<strong>Plesk User</strong>
							</th>
							<th class="text-left">
								<strong>Plesk PW</strong>
							</th>
							<th class="text-left col-1">
								<strong>Plesk Url</strong>
							</th>
							{# not used
									<th class="text-center">
										<strong>E-Mail Config</strong>
									</th>
							#}
							<th class="text-left">
								<strong>Status</strong>
							</th>
							<th class="text-left">
								<strong>Updated</strong>
							</th>
							<th class="text-center">
								<strong>Actions</strong>
							</th>
						</tr>
						</thead>
						<tbody>

						{% if serverConfiguration is defined %}
							{% set index = 0 %}
							{% for srv in serverConfiguration %}

								{# ### set filter classes - used by js code in FILTER-SECTION ### #}
								{% set filter_status_active = ( srv.status_text is defined and 'active' == srv.status_text) ? 'filter_status_active' : '' %}
								{% set filter_status_draft = ( srv.status_text is defined and 'draft' == srv.status_text) ? 'filter_status_draft' : '' %}
								{% set filter_status_inactive = ( srv.status_text is defined and 'inactive' == srv.status_text) ? 'filter_status_inactive' : '' %}

								<tr id="server_{{ srv.id }}" data-server_id="{{ srv.id }}" class="filter {{ filter_status_active }} {{ filter_status_draft }} {{ filter_status_inactive }}">
									<td class="pt-3-half">
										<div class="dropdown">
											<a id="dLabelServerName_{{ srv.id }}" class="ddLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
												{{ srv.internal_name is defined ? srv.internal_name : '' }}
												<i class="fa fa-caret-down" style="font-size: small"></i>
											</a>

											<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<div class="table-responsive">
													<table class="table table-striped text-left table-bordered">
														<tr>
															{# title="{{ srv.id is defined ? 'SRV ID #' ~ srv.id : '' }}, {{ srv.objectregister_id is defined ? 'OBJRSTR ID#' ~ srv.objectregister_id : '' }}, {{ srv.object_unique_id is defined ? 'UUID #' ~ srv.object_unique_id : '' }}" #}
															<th>Cloudflare</th>
															<th>Server ID</th>
															<th>Objectregister ID</th>
															<th class="col-5">Objectregister UUID</th>
														</tr>
														<tr>
															<td>
																{% if srv.cloudflare is defined %}
																	{{ srv.cloudflare == 1 ? '<i class="fa fa-circle" style="color:#7abe73"></i>' : '<i class="fa fa-circle" style="color:red"></i>' }}
																{% else %}
																	<span>not def.</span>
																{% endif %}
															</td>
															<td>{{ srv.id is defined ? srv.id : '' }}</td>
															<td>{{ srv.objectregister_id is defined ? srv.objectregister_id : '' }}</td>
															<td class="col-5">{{ srv.object_unique_id is defined ? srv.object_unique_id : '' }}</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</td>
									<td class="pt-3-half">
										{{ srv.ip_address is defined ? srv.ip_address : '' }}
									</td>
									<td class="pt-3-half">
										{{ srv.hoster is defined ? srv.hoster : '' }}
									</td>
									<td class="pt-3-half">
										<a class="ddLabel" href="{{ srv.default_domain is defined ? srv.default_domain : '#' }}" target="_blank">{{ srv.default_domain is defined ? srv.default_domain : '' }}</a>
									</td>
									<td class="pt-3-half text">
										<span>{{ srv.description is defined ? srv.description : '' }}</span>
									</td>
									<td class="pt-3-half">
										{{ srv.segment is defined ? srv.segment : '' }}
									</td>
									<td class="pt-3-half" title="{{ srv.seed_pool_group_id is defined ? 'SPG ID #' ~ srv.seed_pool_group_id : '' }}">
										{{ srv.seedpoolgroup_name is defined ? srv.seedpoolgroup_name : '' }}
									</td>
									{# table in table: multiple FTP configurations assigned to one server configuration #}
									<td class="pt-3-half">
										{% set ftpSet = false %}
										{% for ftp in ftpConfiguration %}
											{% if ftp.server_configuration_id == srv.id %}
												{% set ftpSet = true %}
											{% endif %}
										{% endfor %}

										{% if ftpSet %}
											<div class="dropdown">

												<a id="dLabelSFTP{{ srv.id }}" class="ddLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
													Show
													<i class="fa fa-caret-down" style="font-size: small"></i>
												</a>
												<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
													<div class="table-responsive">
														<p style="font-size: small">SFTP Configuration</p>
														<table class="table table-condensed">
															<tr>
																<th>User</th>
																<th>Password</th>
																<th>Copy</th>
																<th>Test</th>
																<th>Comment</th>
																<th>Updated</th>
															</tr>
															{% for ftp in ftpConfiguration %}
																{% if ftp.server_configuration_id == srv.id %}
																	<tr id="ftp_{{ ftp.id }}" data-serverCfgId="{{ ftp.server_configuration_id }}">
																		<td>{{ ftp.sftp_user }}</td>
																		<td>***</td>
																		<td title="copy sftp password to clipboard">
																			<i id="copyFtpPw_{{ ftp.id }}"  data-id="{{ ftp.id }}" class="fas fa-copy copyPw" style="cursor: pointer; color:#7abe73" data-pw="{{ ftp.sftp_pw is defined ? ftp.sftp_pw : '' }}"></i><span id="wait_{{ ftp.id }}" style="display: none"> wait... </span><span id="done" style="display: none"> copied!</span>
																		</td>
																		<td class="config_test" data-id="{{ ftp.id }}" data-route="{{ path('superadminServer.decode') |base64encode }}" style="cursor: pointer"> {# id defined by public/assets/js/account/default-ftp.js #}
																			<div id="testConn_{{ftp.id }}">click</div>
																			<div id="msg_error_{{ ftp.id }}" style="display: none"><i class="fa fa-not-equal" style="color:darkred"></i></div> {# id defined by public/assets/js/account/default-ftp.js #}
																			<div id="msg_success_{{ ftp.id }}" style="display: none"><i class="fa fa-check" style="color:green"></i></div> {# id defined by public/assets/js/account/default-ftp.js #}
																			<ul id="connectionData" style="display: none">
																				<li id="ip_address_{{ftp.id }}" data-value="{{srv.ip_address}}"></li> {# id defined by public/assets/js/account/default-ftp.js #}
																				<li id="sftp_user_{{ftp.id }}" data-value="{{ftp.sftp_user}}"></li> {# id defined by public/assets/js/account/default-ftp.js #}
																				<li id="sftp_password_{{ftp.id }}" data-value="{{ ftp.sftp_pw }}"></li> {# id defined by public/assets/js/account/default-ftp.js #}
																			</ul>
																		</td>

																		<td class="text"><span>{{ ftp.comment }}</span></td>
																		<td title="{{ftp.updated}}">{{ ftp.updated|split(' ')[0] }}</td>
																	</tr>
																{% endif %}
															{% endfor %}
														</table>
													</div>
												</div>
											</div>
										{% else %}
											{# do nothing #}
										{% endif %}

									</td>{# END FTP #}
									<td class="pt-3-half">
										{{ srv.plesk_user is defined ? srv.plesk_user : '' }}
									</td>
									<td class="pt-3-half text-center">
										<i id="copyPleskPw_{{srv.id}}" class="fas fa-copy copyPw" data-id="{{srv.id ~ 'plesk'}}" style="cursor: pointer; color:#7abe73" data-pw="{{ srv.plesk_pw is defined ? srv.plesk_pw: '' }}" title="copy password to clipboard"></i><span id="wait_{{srv.id ~ 'plesk'}}" style="display: none"> wait ... </span><span id="done_{{srv.id ~ 'plesk'}}" style="display: none"> copied!</span>
										{#
										<div class="dropdown">
											<a id="dLabelPleskPw{{ srv.id }}" class="ddLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
												*****
												<i class="fa fa-caret-down" style="font-size: small"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1" style="left:0">
												<table class="table table-condensed">
													<tr>
														<th>Password</th>
														<th>Copy</th>
													</tr>
													<tr>
														<td>
															***
														</td>
														<td>
															<i id="copyPleskPw_{{srv.id}}" class="fas fa-copy copyPw" data-id="{{srv.id ~ 'plesk'}}" style="cursor: pointer; color:#7abe73" data-pw="{{ srv.plesk_pw is defined ? srv.plesk_pw: '' }}"></i><span id="wait_{{srv.id ~ 'plesk'}}" style="display: none"> wait ... </span><span id="done" style="display: none"> copied!</span>
														</td>
													</tr>
												</table>
											</div>
										</div>
										#}
									</td>
									<td class="pt-3-half">
										<a id="pleskLogin" class="ddLabel" href="{{ srv.plesk_url is defined ? srv.plesk_url : '#' }}" target="_blank" title="{{ srv.plesk_url is defined ? srv.plesk_url : ''}}">{{ srv.plesk_url is defined ? srv.plesk_url|split('/')[0] ~ srv.plesk_url|split('/')[1] ~ '//' ~ srv.plesk_url|split('/')[2]: '' }}</a>
									</td>

									{# table in table: multiple EMAIL configurations assigned to one server configuration #}
									{# NOT USED
											<td class="pt-3-half">
												<div class="dropdown">
													<a id="dLabelSftp{{ srv.id }}" class="account" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
														E-Mail Config.
														<i class="fa fa-arrow-down"></i>
													</a>

													<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
														<table class="table table-condensed">
															<tr>
																<th>Sender Mailbox</th>
																<th>Sender Mailbox PW</th>
																<th>Forwarding Mailbox</th>
																<th>Updated</th>
															</tr>
															{% for server_configuration_id, email in emailConfiguration %}
																{% if server_configuration_id == srv.id %}
																	<tr id="email_{{ email.id }}" data-serverCfgId="{{ server_configuration_id }}">
																		<td>email.sender_mailbox</td>
																		<td>email.sender_mailbox_pw</td>
																		<td>email.forwarding_mailbox</td>
																		<td>email.updated</td>
																	</tr>
																{% endif %}
															{% endfor %}
														</table>
													</div>
												</div>
											</td>
									#}{# END EMAIL #}
									<td class="pt-3-half" title="{{ srv.status_id is defined ? 'STS ID #' ~ srv.status_id : '' }}">
										{{ srv.status_text is defined ? srv.status_text : '' }}
									</td>
									<td class="pt-3-half" title="{{ srv.first_name is defined ? 'updated by ' ~ srv.first_name ~ ' ' ~ (srv.updated is defined ? srv.updated : '') ~ (srv.created is defined ? ', created at ' ~ srv.created : '' ) : ''  }}">
										{{ srv.updated is defined ? srv.updated|split(' ')[0] : '' }}
									</td>
									{# ACTION MENU #}
									<td class="pt-3-half">
										<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
											<i class="fa fa-ellipsis-h" style="font-size:16px;color:#7abe73"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="will-change: transform; top: 0; left: 0"> {# ; transform: translate3d(1164px, 125px, 0px); #}
											<a id="srvEdit" class="dropdown-item" data-server_id="{{ srv.id }}" href="{{ path('superadminServer.wizard', {action:'edit', id:srv.id }) }}">
												<i class="fas fa-edit iconsmaller"></i>
												Edit
											</a>
											<a id="srvActive" class="dropdown-item" data-server_id="{{ srv.id }}" href="{{ path('superadminServer.status', { status: 'active', company_id:company_id, objectregister_id:srv.objectregister_id }) }}">
												<i class="fa fa-battery-full iconsmaller"></i>
												Status Active
											</a>
											<a id="srvDraft" class="dropdown-item" data-server_id="{{ srv.id }}" href="{{ path('superadminServer.status', { status: 'draft', company_id:company_id, objectregister_id:srv.objectregister_id }) }}">
												<i class="fa fa-battery-half iconsmaller"></i>
												Status Draft
											</a>
											<a id="srvInactive" class="dropdown-item" data-server_id="{{ srv.id }}" href="{{ path('superadminServer.status', { status: 'inactive', company_id:company_id, objectregister_id:srv.objectregister_id}) }}">
												<i class="fa fa-battery-empty iconsmaller"></i>
												Status Inactive
											</a>
											<a id="srvLoginToPlesk" class="dropdown-item" data-server_id="{{ srv.id }}"  href="{{ srv.plesk_url }}" target="_blank">
												<i class="fas fa-sign-in-alt iconsmaller"></i>
												Login to Plesk
											</a>
											<a id="srvDelete" class="dropdown-item" data-server_id="{{ srv.id }}" href="{{ path('superadminServer.delete', { company_id:company_id, objectregister_id:srv.objectregister_id }) }}">
												<i class="fas fa-trash iconsmaller"></i>
												Delete
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
						</tbody>
					</table>
					<span id="decoderPath" data-route="{{ path('superadminServer.decode') |base64encode }}" style="display: none"></span> {# hide route for password decoding#}
					<p id="decContent" type="hidden" style="display: none"></p> {# hide for password decoding#}
					<span id="selectInitialStatus" data-status="{{ switchToStatus is defined and switchToStatus == 'draft' ? 'draft' : 'active'}}" style="display: none"></span>
				</div>
			</div>
		</div>
	</div>
	{# end:: Content #}


{% endblock %}
{% block javascripts %}


	<script type="text/javascript">
        // console.log = function() {}; // turn off all console.log
		{# FILTER-SECTION #}
        $(document).ready(function () {


            $('td.config_test').click(function () {
                //Event runner stops multiple clicks until the job is processed
				var $id = $(this).data('id');
                var $route =  atob($(this).data('route'));
                var $decoded = '';
                $encoded = $('#sftp_password_'+$id).data('value');
                console.log('$encoded', $encoded);

                $.ajaxSetup(
                    {
                        async: false,
                        beforeSend: function wait() {$('div#testConn_'+$id).text('wait').fadeOut(4000) },
                        complete: function done() { $('div#testConn_'+$id).css('display', 'none') }
                    }
                );

                $.post(
                    $route,
                    $encoded,
                    function (data, status) {
                        if (status == 'success' && data.status == true) {
                            console.log('data.string', data.string, 'btoa(data.string)', btoa(data.string), 'atob(data.string)', atob(data.string) );
                            $decoded = uAtob(data.string);
                            console.log('$decoded', $decoded);
                        }
                    });

                	console.log('CONECTION:', $('#ip_address_'+$id).data('value'), $('#sftp_user_'+$id).data('value'), $decoded)

                    let form = new FormData();
                    form.append("ip_address", $('#ip_address_'+$id).data('value'));
                    form.append("sftp_user", $('#sftp_user_'+$id).data('value'));
                    form.append("sftp_password", $decoded);
                    //test the connection
                    testConnection(form, $id);
            });

            function testConnection( payload, $id){
                //Get the data form mosento
				var $decoded = '';
				var errorDiv = $('div#msg_error_'+$id);
                var successDiv = $('div#msg_success_'+$id);


                $.ajax({
                    "url": "/advertorial/ftpcheck",
                    "method": "POST",
                    "async":"false",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": payload,
                    success: function (data) {
                        let statusMessage = JSON.parse(data).data;
                        console.log(statusMessage);
                        if (statusMessage.success === true) {
                            errorDiv.hide();
                            successDiv.show();
                        } else {
                            //show message on table
                            successDiv.hide();
                            errorDiv.show();
                        }
                    },
                    error:function (){
                        successDiv.hide();
                        errorDiv.show();
                    }
                });
            }


			{# run filter on filter input search element #}
            $("input#filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('a.filterbtn').removeClass('selected'); // remove class selected from all filter buttons
                $("table#serverTable tr.filter").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

			{# run filters of filter buttons #}
            $('a.filterbtn').on('click', function () {

                var $filterClass = $(this).attr('id');
                var $displayAll = true;

                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $displayAll = true;
                } else {
                    $('a.filterbtn').removeClass('selected'); // remove class selected from all filter buttons
                    $(this).addClass('selected');
                    $displayAll = false;
                }

                $('#serverTable tr.filter').each(function (i, row) {

                    if ($displayAll) {

                        if (!$(row).hasClass('headerrow')) {
                            $(row).css('display', 'table-row');
                        }

                    } else {

                        if ($(row).hasClass($filterClass) || $(row).hasClass('headerrow')) {
                            $(row).css('display', 'table-row');
                        } else {
                            $(row).css('display', 'none');
                        }

                    }
                })
            });

            {# switch status, depending from where overview was called #}
            $status = $('span#selectInitialStatus').data('status');


            if('active' == $status) {
                {# call from useroverview.twig -> action menu -> Ftp/Plesk Server Access #}
                $('a#filter_status_active').trigger('click');
            } else {
				{# call from server_wizard.html.twig -> button#saveServer #}
                $('a#filter_status_draft').trigger('click');
			}

        });

		{# POPOVER #}
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'

            })
        })

        $(".hide").hide();

        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });

        function uAtob(str) {
            return decodeURIComponent(atob(str).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
        }

		{# ======================================= #}
		{# copy password to clipboard (plesk, ftp) #}
		{# ======================================= #}
        $('i.copyPw').on('click', function cpyPw() {
            var $decoded = 'nix';
            var $temp = $("<input type='text'>");
            $("body").append($temp);
            var $decContent = $('p#decContent');
			var $route=atob($('span#decoderPath').data('route'));

            var $wait_id = 'wait_' + $(this).data('id');
            var $done_id = 'done_' + $(this).data('id');

            $.ajaxSetup(
                {
                    async: false,
                    beforeSend: function wait() {$('span#'+$wait_id).css('display', 'initial')},
                    complete: function done() { $('span#'+$wait_id).css('display', 'none'); $('span#'+$done_id).css('display', 'initial').fadeOut(1000)}
                }
			);
            $.post(
                $route,
                $(this).data('pw'),
                function (data, status) {
                    if (status == 'success' && data.status == true) {
                        console.log('data.string', data.string, 'btoa(data.string)', btoa(data.string), 'atob(data.string)', atob(data.string) );
                        $decoded = uAtob(data.string);
                        $decContent.html($decoded);
                        console.log('$decoded', $decoded);
                    } else {
                        $decoded = 'could not decode password';
                    }
                });

            $temp.val($('p#decContent').text()).select();
            console.log('$temp.val()', $temp.val());
            document.execCommand("copy");
            $temp.remove();
            $decContent.html('');
        })
	</script>
{% endblock %}
