{#
superadminServerWizard.html.twig is used by /super/server/wizard/{action}/{server_id}, AdministrationController::superadminServerWizard
action = 'edit' or 'new'
#}
{% extends "app.twig" %}

{% block pagehead %}

	{# SELECT2 STUFF #}
	<link href="{{ cssurl ~ '/vendor/select2.min.css' }}" rel="stylesheet" />
	<script src="{{ jsurl ~ '/vendor/select2.full.min.js' }}"></script>

	<style>

		{# select2 height adapted #}
		.select2-selection {
			height: 38.4px !important;
            border-color: #e2e5ec !important;
		}
        .select2-selection:hover,
        .select2-selection:focus,
        .select2-selection:focus-visible {
			border-color: #7abe73;
		}



		{# select2 drop down caret adapted #}
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 18px !important;
            font-weight: bold !important;
        }

		label {
			font-weight: bold !important;
		}
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

        .table thead th {
            padding-left: 1.5rem;
        }

		{# CHECKBOX STYLE #}


        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }


		{# TAB STYLING  #}
        .tabstyle {
            flex: 0 0 calc(25% - 0.25rem) !important;
        }

        input:invalid {
            border: red solid 3px;
        }
	</style>

{% endblock %}

{% block content %}
	{# begin:: Content Head #}
	<div class="kt-subheader   kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
				<span></span>
			</button>

			<h3 class="kt-subheader__title">Server Configuration</h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<span class="kt-subheader__desc">{{ mode | capitalize }} Server {{serverConfiguration.internal_name is defined and serverConfiguration.internal_name|length > 0 ? '"' ~serverConfiguration.internal_name ~ '"' :''}} for {{ company_name }}</span>
		</div>

		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<a id="cancelBtn" class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('superadminServer.overview', {company_id:company_id, switch_to_status:'active'}) }}">
					<i class="la la-angle-left"></i>
					Cancel
				</a>
				<div id="switchToDraft" data-route="{{ path('superadminServer.overview', {company_id:company_id, switch_to_status:'draft'}) }}" style="display: none"></div>
			</div>
		</div>
	</div>
	{# end:: Content Head #}
	{# begin:: warnings  #}
	{#   dead code
    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" :
    "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">"Error "{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error:
            '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    {# end:: warnings #}



	{# begin:alert #}
	{#
	<div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
		 role="alert">
		<div class="alert-icon">
			<i class="far fa-check-square"></i>
		</div>
		<div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	#}
	{# end:alert #}
	{# begin:: Content #}
	<div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
		{# begin: SITE TABS #}
		<div class="kt-wizard-v4__nav">
			<div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable ">
				{# BASE SETTINGS - TAB #}
				<div id="base" class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step" data-ktwizard-state="current">
					<div class="kt-wizard-v4__nav-body">
						<div class="kt-wizard-v4__nav-number">
							1
						</div>
						<div class="kt-wizard-v4__nav-label">
							<div class="kt-wizard-v4__nav-label-title brand-color">
								Base Settings
							</div>
							<div class="kt-wizard-v4__nav-label-desc">
								Server Data
							</div>
						</div>
					</div>
				</div>
				{# PLESK - TAB #}
				<div id="plesk" class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step">
					<div class="kt-wizard-v4__nav-body">
						<div class="kt-wizard-v4__nav-number">
							2
						</div>
						<div class="kt-wizard-v4__nav-label">
							<div class="kt-wizard-v4__nav-label-title">
								Plesk
							</div>
							<div class="kt-wizard-v4__nav-label-desc">
								Access
							</div>
						</div>
					</div>
				</div>
				{# SFTP - TAB #}
				<div id="sftp" class="kt-wizard-v4__nav-item tabstyle" data-ktwizard-type="step">
					<div class="kt-wizard-v4__nav-body">
						<div class="kt-wizard-v4__nav-number">
							3
						</div>
						<div class="kt-wizard-v4__nav-label">
							<div class="kt-wizard-v4__nav-label-title">
								SFTP
							</div>
							<div class="kt-wizard-v4__nav-label-desc">
								Access
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# end: Form Wizard Nav #}
		<div class="kt-portlet">
			<div class="kt-portlet__body kt-portlet__body--fit">
				<div class="kt-grid">

					<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
						{# begin: Form Wizard Form #}
						<form id="projectWizForm" class="kt-form"> {# method="post" id="kt_form" #} {# enctype="multipart/form-data" #}
							{# begin: Form Wizard Step 1 #}

							{# BASE SETTINGS #}
							<div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
								<div class="kt-heading kt-heading--md">{{ mode |capitalize }} Server Configuration</div>
								<div class="kt-form__section kt-form__section--first">

									<div class="kt-wizard-v4__form">

										{# ROW 01 #}
										<div class="row">
											{# SERVER NAME #}
											<div class="col-xl-6">
												<div class="form-group validated">
													<label class="form-control-label" for="server_name">Server Name</label>
													<div class="form-group">
														<input id="server_name"
															   name="server_name"
															   class="form-control"
															   type="text"
															   data-server_id="{{ serverConfiguration.id is defined and serverConfiguration.id|length > 0 ? serverConfiguration.id : '' }}" placeholder="Server Name" value="{{ serverConfiguration.internal_name is defined and serverConfiguration.internal_name|length > 0 ? serverConfiguration.internal_name : '' }}"
															   data-objectregister_id="{{ serverConfiguration.objectregister_id is defined and serverConfiguration.objectregister_id|length > 0 ? serverConfiguration.objectregister_id : '' }}"
															   data-statusdef_id="{{ serverConfiguration.statusdef_id is defined and serverConfiguration.statusdef_id|length > 0 ? serverConfiguration.statusdef_id : '' }}"
														>
														<input id="company_id" value="{{ company_id }}" type="hidden">
														<input id="mode" value="{{ mode }}" type="hidden">
													</div>
												</div>
											</div>
											{# SERVER STATUS #}
											{# removed by PO requirement
											<div class="col-xl-6">
												<div class="form-group validated">
													<label class="form-control-label" for="serverstatus">Server Status</label>

													{% if serverConfiguration.status_id is defined and serverConfiguration.status_id|length > 0 %}
														{% set serverStatusSelected = serverConfiguration.status_id %}
														{% set labelSelected = false %}
													{% else %}
														{% set serverStatusSelected = 'none' %}
														{% set labelSelected = true %}
													{% endif %}

													<select id="serverstatus" class="form-control" name="serverstatus" readonly="">
														<option class="select-option" value="none" {{ labelSelected ? 'selected' : '' }}>
															Server Status
														</option>
														{% for srvstat in serverStatusList %}
															{% if srvstat.status_id == serverStatusSelected %}
																<option class="select-option" value="{{ srvstat.status_id }}" selected>
																	{{ srvstat.status_text }}
																</option>
															{% else %}
																<option class="select-option" value="{{ srvstat.status_id }}">
																	{{ srvstat.status_text }}
																</option>
															{% endif %}
														{% endfor %}
													</select>

												</div>
											</div>
											#}
											{# SERVER-IP-ADDRESS #}
											<div class="col-xl-6">
												<div class="form-group">
													<label class="form-control-label" for="ip_address">IP Address</label>
													<input id="ip_address" name="ip_address" type="text" class="form-control" placeholder="IP Address" value="{{ serverConfiguration.ip_address is defined and serverConfiguration.ip_address|length>0 ? serverConfiguration.ip_address : '' }}">
												</div>
											</div>
										</div>

										{# ROW 02 #}
										<div class="row">
											{# HOSTER #}
											<div class="col-xl-6">
												<label class="form-control-label" for="hoster">Hosting Provider</label>
												<div class="form-group validated">
													<div class="form-group">
														{# <input id="hoster" name="hoster" type="text" class="form-control" placeholder="Hoster" value="{{ serverConfiguration.hoster is defined and serverConfiguration.hoster|length>0 ? serverConfiguration.hoster : '' }}">#}
														{% if serverConfiguration.server_hosting_id is defined and serverConfiguration.server_hosting_id | length > 0 %}
															{% set serverHostingSelected = serverConfiguration.server_hosting_id %}
															{% set labelSelected = false %}
														{% else %}
															{% set serverHostingSelected = 'none' %}
															{% set labelSelected = true %}
														{% endif %}

														<select id="hoster" class="hoster_select form-control select2" name="hoster" aria-hidden="true">
															{#
															<option class="select-option" value="none" {{ labelSelected ? 'selected' : '' }}>
																Hosting Provider
															</option>
															#}
															{% for hosting in serverHosting %}
																{% if hosting.id == serverHostingSelected %}
																	<option class="select-option" value="{{ hosting.id }}" selected>
																		{{ hosting.host_name }}
																	</option>
																{% else %}
																	<option class="select-option" value="{{ hosting.id }}">
																		{{ hosting.host_name  }}
																	</option>
																{% endif %}
															{% endfor %}
														</select>
													</div>
												</div>
											</div>

											{# CLOUDFARE #}
											<div class="col-xl-6">
												<label class="form-control-label" for="cloudflare">Protected by Cloudflare?</label>
												<div class="form-group validated">
													<div class="form-group">
														<div class="btn-group btn-group-toggle" data-toggle="buttons">
															<label class="btn btn-secondary active">
																<input type="radio" name="cloudflare" autocomplete="off" value="1" {{ serverConfiguration.cloudflare is defined and serverConfiguration.cloudflare ==1  ? 'checked' : '' }}>
																yes
															</label>
															<label class="btn btn-secondary ">
																<input type="radio" name="cloudflare" autocomplete="off" value="0" {{ serverConfiguration.cloudflare is defined and serverConfiguration.cloudflare ==0  ? 'checked' : '' }}>
																no
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>

										{# ROW 03 #}

										<div class="row">
											{# DEFAULT DOMAIN #}
											<div class="col-xl-6">
												<div class="form-group validated">
													<label class="form-control-label" for="default_domain">Default Domain (URL)</label>
													<div class="input-group">
														<input id="default_domain" type="url" name="default_domain" class="form-control" data-server_id="{{ serverConfiguration.id is defined and serverConfiguration.id|length > 0 ? serverConfiguration.id : '' }}" maxlength="255" placeholder="Default Domain URL" value="{{ serverConfiguration.default_domain is defined and serverConfiguration.default_domain|length > 0 ? serverConfiguration.default_domain : '' }}">
													</div>
												</div>
											</div>
											{# DESCRIPTION #}
											<div class="col-xl-6">
												<div class="form-group validated">
													<label class="form-control-label" for="description">Description</label>
													<div class="input-group">
														<textarea id="description" name="description" class="form-control" data-server_id="{{ serverConfiguration.id is defined and serverConfiguration.id|length > 0 ? serverConfiguration.id : '' }}" cols="200" rows="1" placeholder="Optional description">{{ serverConfiguration.description is defined and serverConfiguration.description|length > 0 ? serverConfiguration.description : '' }}</textarea>
													</div>
												</div>
											</div>
										</div>

										{# ROW 04 #}
										<div class="row">
											{# SEGMENT #}
											<div class="col-xl-6">
												<div class="form-group validated">
													<label class="form-control-label" for="segement">Segment</label>
													<div class="form-group">
														<input id="segement" name="segement" type="text" class="form-control" placeholder="Segment" value="{{ serverConfiguration.segment is defined and serverConfiguration.segment|length>0 ? serverConfiguration.segment : '' }}">
													</div>
												</div>
											</div>
											{# SEEDPOOL GROUP SELECT #}
											<div class="col-xl-6">
												<div class="form-group validated">
													<label class="form-control-label" for="seedpoolgroup">Seedpool-Group</label>

													{% if serverConfiguration.seed_pool_group_id is defined and serverConfiguration.seed_pool_group_id|length > 0 %}
														{% set seedPoolGroupSelected = serverConfiguration.seed_pool_group_id %}
														{% set labelSelected = false %}
													{% else %}
														{% set seedPoolGroupSelected = 'none' %}
														{% set labelSelected = true %}
													{% endif %}

													<select id="seedpoolgroup" class="form-control" name="seedpoolgroup">
														<option class="select-option" value="none" {{ labelSelected ? 'selected' : '' }}>
															Seedpool-Group
														</option>
														{% for spg in seedpoolGroups %}
															{% if spg.id == seedPoolGroupSelected %}
																<option class="select-option" value="{{ spg.id }}" selected>
																	{{ spg.name }}
																</option>
															{% else %}
																<option class="select-option" value="{{ spg.id }}">
																	{{ spg.name }}
																</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>

										{# ROW 05 #}
										{#	BLACKLIST - removed due to PO requirement
										<div class="row">
											<div class="col-xl-6">
												<label class="col-form-label" for="blacklist">Blacklist</label>
												<div class="form-group validated">
													<input id="blacklist" name="blacklist" type="text" class="form-control" placeholder="Blacklist" value="{{ serverConfiguration.blacklist is defined and serverConfiguration.blacklist|length>0 ? serverConfiguration.blacklist : '' }}">
												</div>
											</div>
										</div>
										#}
									</div>
								</div>
							</div>
							{# end: Form Wizard Step 1 #}

							{# begin: Form Wizard Step 2 #}
							{# PLESK  #}
							<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
								<div class="kt-heading kt-heading--md">Plesk access</div>
								<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v4__form">
										{# Plesk URL #}
										<div class="row">
											<div class="col-xl-9">
												<div class="form-group validated">
													<label class="col-form-label" for="plesk_url">Plesk URL</label>
													<div class="form-group row">
														<input id="plesk_url" name="plesk_url" type="url" class="form-control" placeholder="Plesk URL" maxlength="255" value="{{ serverConfiguration.plesk_url is defined and serverConfiguration.plesk_url|length>0 ? serverConfiguration.plesk_url : '' }}">
													</div>
												</div>
											</div>
										</div>
										{# Plesk User #}
										<div class="row">
											<div class="col-xl-9">
												<div class="form-group validated">
													<label class="col-form-label" for="plesk_user">Plesk User</label>
													<div class="form-group row">
															<input id="plesk_user" name="plesk_user" type="text" minlength="4" maxlength="60" class="form-control" placeholder="Plesk User" value="{{ serverConfiguration.plesk_user is defined and serverConfiguration.plesk_user|length>0 ? serverConfiguration.plesk_user : '' }}">
													</div>
												</div>
											</div>
										</div>
										{# Plesk Password #}
										<div class="row">
											<div class="col-xl-9">
												<div class="form-group validated">
													<label class="col-form-label" for="plesk_pw">Plesk Password</label>
													<div class="form-group row">
														<input id="plesk_pw" name="plesk_pw" type="text" maxlength="60" class="form-control" placeholder="Plesk Password" value="{{ serverConfiguration.plesk_pw is defined and serverConfiguration.plesk_pw|length>0 ? serverConfiguration.plesk_pw : '' }}">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{# end: Form Wizard Step 2 #}


							{# begin: Form Wizard Step 3 SFTP #}
							{# SFTP #}
							<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
								<div class="kt-heading kt-heading--md">SFTP access</div>
								<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v4__form">
										<div id="table" class="table-editable">

											<table id="customfieldtable" class="table table-bordered table-responsive-md table-striped text-center">
												<thead>
												<tr>
													<th class="text-left col-3">
														<strong>SFTP User</strong>
													</th>
													<th class="text-left col-3">
														<strong>SFTP Password</strong>
													</th>
													<th class="text-left">
														<strong>Comment</strong>
													</th>
													<th class="text-left">
														<strong>Test Connection</strong>
													</th>
												</tr>
												</thead>
												<tbody>
												{# since MVP, you can add up to six ftp connection to one server and not more, if mor are needed, simply change maxFtpConnections to the amount needed #}
												{% set maxFtpConnections = 6 %}
												{% set ftpConnectionsConfigured = 0 %}
												{# if ftpConfiguration is defined and ftpConfiguration is not empty #}
													{% for ftp in ftpConfiguration %}
														{% set ftpConnectionsConfigured = ftpConnectionsConfigured + 1 %}
														<tr id="ftp_{{ ftp.id }}"
															class="ftp_record update"
															data-ftpConnectionsConfigured="{{ ftpConnectionsConfigured }}"
															data-ftpid="{{ ftp.id }}"
															data-action="update"
															data-server_configuration_id="{{ ftp.server_configuration_id is defined ? ftp.server_configuration_id : '' }}"
															data-sftp_user="{{ ftp.sftp_user is defined ? ftp.sftp_user : '' }}"
															data-sftp_pw="{{ ftp.sftp_pw is defined ? ftp.sftp_pw : '' }}"
															data-comment="{{ ftp.comment is defined ? ftp.comment : '' }}"
															{# onclick="changedFtpRecord( ftp.id )"
															onkeyup="changedFtpRecord({{ ftp.id }})" #}
														>
															{# sftp_user #}
															<td class="pt-3-half">
																<input id="sftp_user_{{ ftp.id }}"
																	   name="sftp_user_{{ ftp.id }}"
																	   data-ftpid="{{ ftp.id }}"
																	   class="form-control ftp_user ftpval"
																	   type="text"
																	   maxlength="60"
																	   minlength="4"
																	   placeholder="SFTP User"
																	   value="{{ ftp.sftp_user is defined and ftp.sftp_user|length > 0 ? ftp.sftp_user : '' }}"
																>
															</td>
															{# sftp_pw #}
															<td class="pt-3-half">
																<input id="sftp_pw_{{ ftp.id }}"
																	   name="sftp_pw_{{ ftp.id }}"
																	   data-ftpid="{{ ftp.id }}"
																	   class="form-control ftp_pw ftpval"
																	   type="text"
																	   maxlength="60"
																	   minlength="8"
																	   placeholder="SFTP Password"
																	   title="In Plesk set 'Minimum password strength' to 'Very strong'. Enter at minimum 8 characters, numbers, special characters => more (>= 16) are better"
																	   value="{{ ftp.sftp_pw is defined and ftp.sftp_pw|length > 0 ? ftp.sftp_pw : '' }}"
																>
															</td>

															{# comment #}
															<td class="pt-3-half">
															<textarea id="comment_{{ ftp.id }}"
																	  name="comment__{{ ftp.id }}"
																	  data-ftpid="{{ ftp.id }}"
																	  class="form-control ftp_comment ftpval"
																	  type="text"
																	  maxlength="600"
																	  cols="300"
																	  rows="1"
																	  style="height:38.4px !important"
																	  placeholder="add an optional comment here"
															>{{ ftp.comment is defined and ftp.comment|length > 0 ? ftp.comment|trim : '' }}</textarea>
															</td>
															{# test connection #}
															<td id="config_test_{{ ftp.id }}" class="config_test" data-id="{{ ftp.id }}" style="cursor: pointer">
																<div id="checkConnection_{{ftp.id}}" class="checkConnection btn btn-success btn-md btn-tall btn-wide kt-font-bold" data-id="{{ ftp.id }}">
																	<span id="connectionOkay_{{ftp.id}}" style="display: none"><i class="fa fa-check" style="color:white; font-size: x-small"></i></span><span id="connectionError_{{ftp.id}}" style="display: none"><i class="fa fa-not-equal" style="color:red; font-size: x-small"></i></span>Connect
																</div>
																<div id="msgCheckConnection_{{ftp.id}}" style="color:red; font-size: smaller; display: none">missing connection data - check your input fields IP Address, SFTP User, SFTP Password</div>

															</td>
														</tr>
													{% endfor %}

													{# show empty rows here =>  up to  all in all maxFtpConnections #}
													{% for row in (ftpConnectionsConfigured + 1) .. maxFtpConnections %}
														<tr id="new_ftp_{{ row }}"
															class="ftp_record insert"
															data-ftpid="{{ row }}"
															data-action="insert"
															{#
															onclick="changedFtpRecord( {{ row }} )"
															onkeyup="changedFtpRecord({{ row }})"
															#}
														>
															{# sftp_user #}
															<td class="pt-3-half">
																<input id="new_sftp_user_{{ row }}"
																	   name="new_sftp_user_{{ row }}"
																	   class="form-control ftp_user ftpval"
																	   type="text"
																	   maxlength="80"
																	   minlength="2"
																	   placeholder="SFTP User"
																	   value=""
																>
															</td>
															{# sftp_pw #}
															<td class="pt-3-half">
																<input id="new_sftp_pw_{{ row }}"
																	   name="new_sftp_pw_{{ row }}"
																	   class="form-control  ftp_pw ftpval"
																	   type="text"
																	   maxlength="80"
																	   minlength="8"
																	   placeholder="SFTP Password"
																	   title="In Plesk set 'Minimum password strength' to 'Very strong'. Enter at minimum 8 characters, numbers, special characters => more (>= 16) are better"
																	   value=""
																>
															</td>
															{# comment #}
															<td class="pt-3-half">
															<textarea id="new_comment_{{ row }}"
																	  name="new_comment__{{ row }}"
																	  data-ftpid="{{ row }}"
																	  class="form-control  ftp_comment ftpval"
																	  type="text"
																	  maxlength="600"
																	  cols="300"
																	  rows="1"
																	  style="height:38.4px !important"
																	  placeholder="add an optional comment here"
															></textarea>
															</td>
															{# test connection #}
															<td id="config_test_{{ row}}" class="config_test" data-id="{{ row }}" style="cursor: pointer">
																<div id="checkConnection_{{row}}" class="checkConnection btn btn-success btn-md btn-tall btn-wide kt-font-bold" data-id="{{ row }}">
																	<span id="connectionOkay_{{row}}" style="display: none"><i class="fa fa-check" style="color:white; font-size:x-small"></i></span><span id="connectionError_{{row}}" style="display: none"><i class="fa fa-not-equal" style="color:red; font-size:x-small"></i></span> Connect
																</div>
																<div id="msgCheckConnection_{{row}}" style="color:red; font-size: smaller; display: none">missing connection data - check your input fields IP Address, SFTP User, SFTP Password</div>
															</td>
														</tr>
													{% endfor %}
												{# endif #}
												{# This is our clonable table line which will be generated automatically form script #}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							{# end: Form Wizard Step 4 #}


							{# begin: Form Actions #}
							<div class="kt-form__actions">
								<button id="actionPrev" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"	data-ktwizard-type="action-prev">
									Previous
								</button>

								<button id="saveServer" type="button" data-route="{{ path("superadminServer.save") }}" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
									<i id="iconSaveServer" class="fa fa-save"></i>
									Save Server
								</button>

								<button id="actionNext"  class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
									Next Step
								</button>
							</div>
							<div id="formMsg" class="kt-form__actions"></div>
							{# end: Form Actions #}
						</form>
						{# end: Form Wizard Form #}
					</div>

				</div>
			</div>
		</div>
	</div>

	{# end:: Content #}

{% endblock %}
{% block javascripts %}

	{# TODO: @jsr => remove all unused js !!!!! #}

	{# CREATE PROJECT BUTTON #}
	<script type="text/javascript">

		$('button#actionNext').on('click', function ckeckRequiredFields() {

            var $ipAddress = $('input#ip_address');
            var $defaultDomain = $('input#default_domain');

			var $goBack = false;

            console.log('$ipAddress', empty($ipAddress.val()));
            console.log('$defaultDomain', empty($defaultDomain.val()));

            if (empty($ipAddress.val())) {
                $ipAddress.css('border-color', 'red').focus();
                $goBack=true;
			} else {
                $ipAddress.css('border-color', 'initial');
			}

            if (empty($defaultDomain.val())) {
                $defaultDomain.css('border-color', 'red').focus();
                $goBack=true;
			} else {
                $defaultDomain.css('border-color', 'initial');
			}

            if ($goBack) {
				alert('Go back and specify "IP Address" and "Default Domain"');
                console.log('trigger click on previous');
                $('button#actionPrev').trigger('click');
            }

		})


		// start test ftp connection  -------------------------------------------------------------------
        $('div.checkConnection').click(function () {
            //Event runner stops multiple clicks until the job is processed
            $prefix = '';
            if( $(this).parent().parent().hasClass('insert') ) {
                $prefix = 'new_';
			}

			var $id = $(this).data('id');

            var $ip_address = $('input#ip_address').val();
            var $sftpPw = $('input#'+$prefix+'sftp_pw_' + $id).val();
            var $sftpUser = $('input#'+$prefix+'sftp_user_' + $id).val();


            console.log('CONECTION:', $ip_address, $sftpUser, $sftpPw);

			if(!empty($ip_address) && !empty($sftpUser) && !empty($sftpPw)) {
                $('div#msgCheckConnection_' + $id).css('display', 'none');
                let form = new FormData();
                form.append("ip_address", $ip_address);
                form.append("sftp_user", $sftpUser);
                form.append("sftp_password", $sftpPw);
                console.log('form', form, '$id', $id);
                //test the connection
                testConnection(form, $id);
            } else {
                $('div#msgCheckConnection_' + $id).css('display', 'initial').fadeOut(10000);

			}
        });

        function empty($value) {
            if('' === $value || undefined === $value || null === $value || 0 === $value || false === $value) {
                return true;
			} else {
                return false;
			}
		}

        function testConnection( payload, $id){
            //Get the data form mosento
            var $decoded = '';
            var errorSpan = $('span#connectionError_'+$id);
            var successSpan = $('span#connectionOkay_'+$id);


            $.ajax({
                "url": "/advertorial/ftpcheck",
                "method": "POST",
                "async":"true",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": payload,
                success: function (data) {
                    console.log('success');
                    let statusMessage = JSON.parse(data).data;
                    console.log('statusMessage', statusMessage);
                    if (statusMessage.success === true) {
                        errorSpan.css('display', 'none');
                        successSpan.css('display', 'initial');
                    } else {
                        //show message on table
                        successSpan.css('display', 'none');
                        errorSpan.css('display', 'initial');
                    }
                },
                error:function (){
                    console.log('error');
                    successSpan.css('display', 'none');
                    errorSpan.css('display', 'initial');
                    // $txt = $('div#msgCheckConnection_' + $id).text();
                    // $('div#msgCheckConnection_' + $id).text( $txt + ': ' + statusMessage).css('display', 'inherit');
                }
            });
        }
		// end test ftp connection -------------------------------------------------------------------





        $(".hoster_select").select2({
            tags: true,
            width: 'resolve'
        });

        $('button#saveServer').on('click', function saveServer() {
            // var $route = atob($(this).data('route'));
            var $route = $('button#saveServer').data('route');
            // console.log('$route', $route);
			{# console.log('path', {{ path('projectCreate') }} ); #}
            $data = btoa(getFormData());
            // console.log($data);

            $.post($route,
                $data,
                function (data, status) {
                    console.log("GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);
                    // $('div#formMsg').html(data);
                    if (status == 'success' && data.status == true) {
                        $gotoSite = $('div#switchToDraft').data('route');
                        $(location).attr('href', $gotoSite);
                        $('i#iconSaveServer').removeClass('fa-save').addClass('fa-thumbs-up');
                        $('button#saveServer').prop("disabled", true);
                    } else {
                        $('i#iconSaveServer').removeClass('fa-save').addClass('fa-bug');
                    }
                });
        });

		{#
		function createProject() {

			// var $route = atob($(this).data('route'));
			var $route = $('div#createProject').data('route');
			console.log('$route', $route);
			// console.log('path', {{ path('projectCreate') }} );
			$data = getFormData();
			console.log($data);

			$.post($route,
				$data,
				function (data, status) {
					console.log("GETTING RESPONSE DATA");
					console.debug(data);
					console.debug(status);
				});

			// $.ajax({
			//         url: $route,
			//         type: "POST",
			//         data: getFormData(),
			//         success: function (data) {
			//             alert(data);
			//         }
			//     })
			//     .done(function (data) {
			//         console.log('DONE');
			//     })
			//     .fail(function (data, textStatus, errorThrown) {
			//         console.log("request failed", textStatus, errorThrown);
			//     });
		}
		#}


        function getFormData() {

            var $ftp = [];

            $('tr.ftp_record').each( // loop over all ftp-table rows

                function getTr(i, tr) {
                    var $ftpRecord = {};
                    $ftpRecord.action = $(tr).data('action');
                    $ftpRecord.ftpid = $(tr).data('ftpid');

                    $(tr).find('input').each(function getInput(h, input_ele) { // loop over all input elements with a ftp-table row
                        if ($(input_ele).hasClass('ftp_user'))
                            $ftpRecord.ftp_user = $('#'+$(input_ele).prop('id')).val();
                        if ($(input_ele).hasClass('ftp_pw'))
                            $ftpRecord.ftp_pw = $('#'+$(input_ele).prop('id')).val();
                    });
                    $ftpRecord.comment  = $(tr).find('textarea').val(); // get comment text out of ftp-table rows textarea

                    if($ftpRecord.ftp_user !== '' && $ftpRecord.ftp_pw !=='') { // add and later submit only records where user/pw is defined
                        $ftp.push($ftpRecord);
                    }
                }
			);

            $ftp.forEach((record, index) => {
                console.log('ftp_user = ', record.ftp_user, 'record=', record, (record.ftp_user === undefined), (record.ftp_user === ''));

                if( record.ftp_user === undefined || record.ftp_user === '') {
                    console.log('remove index', index);
                    $ftp.splice(index,1);
				}
			}); // cleanup array

            console.log('$ftp', $ftp);

            var $data = {
                'mode': $('input#mode').val(),
                'company_id': $('input#company_id').val(),
                'internal_name': $('input#server_name').val(),
				'default_domain' : $('input#default_domain').val(),
				'id' : $('input#server_name').data('server_id'),
				'objectregister_id' : $('input#server_name').data('objectregister_id'),
                'objectregister_statusdef_id': $('input#server_name').data('statusdef_id'),
                'ip_address': $('input#ip_address').val(),
                // 'hoster': $('input#hoster').val(),
				'server_hosting_id' : $('select#hoster :selected' ).val(),
                'description': $('textarea#description').val(),
                'segment': $('input#segement').val(),
                'seedpoolgroup_id': $('select#seedpoolgroup :selected').val(),
                'cloudflare': ($('input[name="cloudflare"]:checked').val() === undefined) ? 1 : $('input[name="cloudflare"]:checked').val(), // INVERSE => NOT => !
                'blacklist': $('input#blacklist').val(),
                'plesk_url': $('input#plesk_url').val(),
                'plesk_user': $('input#plesk_user').val(),
                'plesk_pw': $('input#plesk_pw').val(),
				'ftp_records' : $ftp,
                // 'token': $('input#token').val(),
            };
            console.log('$data', $data);

            return JSON.stringify($data);
        }
	</script>



	{# ENABLE POPOVER ANED TOOLTIP #}
	<script>
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'
            })

            $('#menu-tracking').addClass("show");
            $('#track-web-url').addClass("kt-widget__item--active");
        })


        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
	</script>

	{# USABILITY & VALIDATION #}
	<script>

        // check all input with pattern that begins with "("
        $('input[pattern^="("]').on('keyup click blur', function (event) {
            var pattern = $(this).attr('pattern');
            var val = $(this).val();
            var customfield = new RegExp(pattern);
            console.log('PATTERN', pattern);
            console.log('VALUE', val);

            $result = customfield.exec(val);

            if ($result === null || $result.indexOf(val) === -1) {
                $(this).css('border-color', 'red').css('color', 'red');

            } else {
                $(this).css('border-color', 'green').css('color', 'inherit');
            }
        })

        function validateUrl(url) {
            let isValid = /^(?:(?:(?:https?):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:[/?#]\S*)?$/i.test(url);
            return isValid;
        }

        function validateEmail(email) {
            let isValid = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email);
            return isValid;
        }

	</script>

	{# CUSTOMFIELDTABLE #}
	<script>
        /**
		 * @deprecated
         */
        class CustomFieldTable {
            constructor(initialNoOfRows) {
                $('input#customfieldlist').val(''); // init on page load
                $("input#customfielddelete").val(''); // init on page load
                this.customfieldList = [];
                this.currentId = 0;
                this.lastId = 0;
                this.noOfInitiaRows = initialNoOfRows;
                this.noOfCurrentRows = initialNoOfRows;
                this.tbody = $('table#customfieldtable>tbody');
                this.template = $('template#customfieldrow');
                console.log('template', this.template);
                this.templateContent = this.template.toArray()[0].innerHTML;
                this.customfieldsObjectRegisterId = $('table#customfieldtable').data('customfieldsObjectRegisterId');
            }


            incNoOfCurrentRows() {
                this.noOfCurrentRows++;
                $('table#customfieldtable').data('noOfCurrentRows', this.noOfCurrentRows);
                return this.noOfCurrentRows;
            }


            addNewRow() {

                var rowNo = this.incNoOfCurrentRows();
                console.log('in addNewRow ... #', rowNo);
                var mystring = this.templateContent;
                var newRow = mystring.toString()
                    .replaceAll("_new", ("_" + rowNo))
                    .replaceAll("new_id", rowNo);

                this.tbody.append(newRow);
            }

            // triggered by click event
            save($tableRows) {

                console.log('this.noOfInitialRows', this.noOfInitialRows);
                console.log('this.noOfInitialRows', this.noOfInitialRows);
                var $customfieldList = [];
                var $noOfInitialRows = this.noOfInitiaRows;
                var $noOfCurrentRows = this.noOfCurrentRows;
                var $customfieldsObjectRegisterId = this.customfieldsObjectRegisterId;
                console.log('$customfieldsObjectRegisterId', $customfieldsObjectRegisterId);

                $tableRows.each(function (i, row) {
                    var field = {};

                    var $row = $(row),
                        $rowId = $row.data('index'),
                        $customfieldId = $row.data('customfield_id'),
                        $objectRegisterId = $row.data('objectregister_id'),
                        $campaignId = $row.data('campaign_id'),
                        $inputText = $row.find('input[type="text"]'),
                        $inputCb = $row.find('input[type="checkbox"]'),
                        $inputSelect = $row.find('select');


                    console.log('$noOfCurrentRows > this.noOfInitialRows', $noOfCurrentRows, $noOfInitialRows);
                    //if ($rowId >= $('table#customfieldtable').data('noofbodyrows')) {
                    if ($rowId === undefined) {
                        field['instruction'] = 'insert';

                    } else {
                        field['instruction'] = 'update';
                    }

                    field['id'] = $customfieldId;
                    field['objectregister_id'] = ($objectRegisterId === undefined) ? '' : $objectRegisterId;
                    field['campaign_id'] = ($campaignId === undefined) ? '' : $campaignId;


                    $inputText.each(function (i, e) {
                        console.log('Original Text', e.value);
                        // remove '.' in value.
                        let dotfield = e.value.split('.')
                        let evalue = (dotfield[1] !== undefined) ? dotfield[1] : e.value;
                        // remove '_' in evalue.
                        let underscorefield = evalue.split('_');
                        evalue = (underscorefield[1] !== undefined) ? underscorefield[0] : evalue;
                        console.log("evalue", evalue);
                        //field[e.id.split('_')[0]] = 'Contact_'+evalue;
                        field[e.id.split('_')[0]] = evalue;
                    });

                    $inputSelect.each(function (i, e) {
                        field[e.id.split('_')[0]] = e.value;
                    });


                    $inputCb.each(function (i, e) {
                        field[e.id.split('_')[0]] = e.checked;
                    })

                    $customfieldList[i] = field;
                })
                // update hidden input field
                $('input#customfieldlist').val(JSON.stringify($customfieldList));
                //$('input#customfieldlist').val($customfieldList);
                this.customfieldList = $customfieldList;
            }


            // triggered by events
            removefromUi(id) {
                // get current deleted customfield rows
                var $customfielddelete = new Array();

                var $oldEntries = $('input#customfielddelete').val()
                console.log('1 $oldEntries', $oldEntries)

                if ($oldEntries !== '' && $oldEntries !== undefined) {
                    // unpack old entries
                    $oldEntries = JSON.parse($oldEntries)
                    $customfielddelete = $oldEntries
                }

                if ($('div.cusfield-helptext').hasClass('kt-show')) {
                    let cus_id = $('div.cusfield-helptext').attr('data-customfield_id')
                    if (cus_id == id) {
                        $('div.cusfield-helptext').removeClass('kt-show').addClass('kt-hide').attr('data-customfield_id', '0')
                        $('span#addcustomfieldrow').removeClass('kt-hide').addClass('kt-show')
                        $('button#cio-select-next').prop('disabled', false)
                    }
                }

                console.log('1 $customfielddelete', $customfielddelete)

                var $cf = $('tr#customfield_' + id)

                $customfielddelete.push({
                    'instruction': 'delete',
                    'fieldname': $cf.data('fieldname'),
                    'customfield_id': $cf.data('customfield_id'),
                    'campaign_id': $cf.data('campaign_id'),
                    'objectregister_id': $cf.data('objectregister_id')
                });
                console.log('2 $customfielddelete', $customfielddelete);

                $('input#customfielddelete').val(JSON.stringify($customfielddelete));

                $cf.remove(); // remove from ui
            }

            // for tests
            getCustomfields() {
                return this.customfieldList;
            }

        }

        var $customFieldTable = new CustomFieldTable($('table#customfieldtable').data('noofbodyrows'))

        // click on plus to add a new custom field row to custom field table
        /**
		 * @deprecated
         */
        $('span#addcustomfieldrow').on('click', function () {
            $customFieldTable.addNewRow()

            // pattern check for the custom fields input.
            // Allow only numbers and alphabets.
            $('input.newcustomfield ').change(function () {
                let value = $(this).val()
                let id = $(this).closest('tr').attr('data-customfield_id')
                console.log('new cusfield id', id)
                if ($(this).is(':invalid')) {
                    $('div.cusfield-helptext').removeClass('kt-hide').addClass('kt-show').attr('data-customfield_id', id)
                    $('button#cio-select-next').prop('disabled', true)
                    $('span#addcustomfieldrow').removeClass('kt-show').addClass('kt-hide')
                } else {
                    $('div.cusfield-helptext').removeClass('kt-show').addClass('kt-hide').attr('data-customfield_id', '0')
                    $('span#addcustomfieldrow').removeClass('kt-hide').addClass('kt-show')
                    $('button#cio-select-next').prop('disabled', false)
                }
            })

            let remove = $('input.newcustomfield ').parent().parent().find('td.td_remove')
            remove.on('click', function () {
                console.log('remove click event')
            })
        })

        function changedFtpRecord(id) {

            $tableRows = $('table#customfieldtable>tbody tr')
            $customFieldTable.save($tableRows)
            console.log(id)
            console.log('getCustomfields', $customFieldTable.getCustomfields())

        };


        // click on the remove customfield bottom
        function removeCustomfield(id) {

            $tableRows = $('table#customfieldtable>tbody tr');
            $customFieldTable.removefromUi(id);
            $customFieldTable.save($tableRows);

        };


        // --------------------------------------------------------------------------------------------------------

        const $tableID = $('#table');
        const $BTN = $("#cio-select-next");
        const $EXPORT = $('#export');
        let campaignInOneParams = $('#table').data("isTest");
        console.log(campaignInOneParams)
        //deleting unwanted keys(new requirement)

        let tmp = '';
        // make a copy of params used for appending the standard field.
        let campaignParamsBackup = Object.assign(tmp, campaignInOneParams);

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {
                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {
                    i = 1;

                    switch (header) {
                        case "marketing-in-one":
                            // Fetch the Standard Fields
                            let CIOText = $(".CIO", this).find('option:selected').text();
                            let CIOValue = $(".CIO", this).find('option:selected').val();
                            h[header] = CIOText;
                            // Fetch the Custom Fields
                            if (CIOText.length === 0) {
                                let CIOCustomText = $(this).find('td.CIO > input').val();
                                let valSplit = CIOCustomText.split('.');
                                if (valSplit[1].length !== 0) {
                                    //CIOValue = 'Contact_' + valSplit[1];
                                    CIOValue = valSplit[1];
                                }
                                h[header] = CIOCustomText;
                            }
                            h['html form'] = CIOValue;
                            break;
                        case "data type":
                            h[header] = $(".DataType", this).find('option:selected').text();
                            break;
                        case "required":
                            h[header] = $(".required", this).find('option:selected').val();
                            break;
                        case "field type":
                            h[header] = $(".FT", this).find('option:selected').text();
                            break;
                        /*default:
                            h[header] = "";*/

                    }
                    if (h[header] === "") {
                        h[header] = $td.eq(i).text();
                    }
                });

                data.push(h);
            });
            value = JSON.stringify(data);
            encryptedValue = btoa(value);
            $("#urlID").attr('value', encryptedValue);
            $("#second").prop('disabled', true);
            $("#submit").click();
            // Output the result
            $EXPORT.text(JSON.stringify(data));
        });

        //This is to Generate html for select  to mapping table
        function generateSelect(array) {
            console.log(array);
            let innerHTML = "";

            //get mapping array from database but for now hard-coded
            $.each(array, function (key, value) {
                if (key !== 'campaign_id') {
                    /*                    let label = 'Contact.'+key;
                                        let select = `<option value="Contact_` + value + `">` + label + `</option>`;*/
                    let label = key;
                    let select = `<option value=` + value + `">` + label + `</option>`;
                    innerHTML += select;
                }
            });

            let HTML = ` <select  class="cio-select form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `;
            return HTML;
        }


        function getTableLength() {
            return $('.table tr').length;
        }

        function generateHTML() {
            // remove the selected option from CIO dropdown list
            removeCIOSelectedOptions();

            let i = getTableLength();
            let CIOSelect = generateSelect(campaignInOneParams);
            // TODO: @aravind => inject list from datatypes-table!!!
            let DataType = [
                'Text',
                'Decimal',
                'Integer',
                'Date',
                'DateTime',
                'Email',
                'URL',
                'Phone'
            ];
            let dataTypeHtml = generateSelectForDataType(DataType);
            let requiredHtml = `
                         <select class="form-control form-control-md fieldTypeSelect" style="opacity:1">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select> `;
            let fieldType = `
                         <select class="form-control form-control-md fieldTypeSelect" style="opacity:1">
                            <option value="standard">Standard</option>
                            <option value="custom">Custom</option>
                        </select> `;
            return `
                <tr class="defaultTableValue" id="` + i + `">
                    <td class="pt-3-half select2 CIO">` + CIOSelect + `</td>
                    <td class="pt-3-half select2 DataType">` + dataTypeHtml + `</td>
                    <td class="pt-3-half select2 required">` + requiredHtml + `</td>
                    <td class="pt-3-half select2 FT">` + fieldType + `</td>
                    <td valign="middle">
                        <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                    </td>
                </tr>`;
        }

        /**
         *  remove the selected fields from cio select options
         */
        function removeCIOSelectedOptions() {
            const rows = $tableID.find('tr:not(:hidden) >td >select.cio-select option:selected');
            let i = 0;
            // Currently remove the used standard param from the list.
            $.each(rows, function (key, value) {
                delete campaignInOneParams[value.value];
            });
        }

        /**
         *  This functions generate HTML for datatypes
         */
        function generateSelectForDataType(array) {
            let innerHTML = "";

            //get mapping array from database but for now hard-coded
            $.each(array, function (key, value) {
                let select = `<option value="` + value + `">` + value + `</option>`;
                innerHTML += select;
            });

            let HTML = ` <select  class="form-control form-control-md" style="opacity:1">
                          ` + innerHTML + `
                        </select> `;
            return HTML;

        }
	</script>


{% endblock %}
