{% extends "app.twig" %}

{% block content %}

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (successMessage is defined and successMessage is not same as null) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (successMessage is defined) ? successMessage : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-subheader__main">
                <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
                    <span></span>
                </button>
                <h3 class="kt-subheader__title">Account Overview</h3>
                {# <span class="kt-subheader__separator kt-subheader__separator--v"></span> #}
                <span class="kt-subheader__desc"> </span>
            </div>
        </div>

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app {{ page_css_id }}">
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content" data-ktwizard-type="step-content">
                {# TOOLBAR #}
                <div class="kt-subheader__toolbar" style="padding-top:20px;">
                    <div class="form-group row" style="margin:0">
                        {# FILTER INPUT ELEMENT #}
                        <div class="col-lg-5 col-xl-5" style="padding-left: 0;">
                            <form id="projectWizForm" class="kt-form">
                                <div class="form-group" style="margin:0">
                                    <div class="input-group" id="show">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
                                        </div>
                                        <input id="filter" class="form-control" type="text" placeholder="filter ...">
                                    </div>
                                </div>
                            </form>
                        </div>

                        {# FILTER BUTTONS #}
                        <div id="actionmenu" class="col-lg-7 col-xl-7">
                            <ul class="nav nav-pills" style="float:right">
                                <li class="nav-item">
                                    <div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Account Status 'New'" data-placement='top' data-original-title="">
                                        <a id="filter_acc_new" class="nav-link filterbtn" type="button">New</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Account Status 'Confirmed'" data-placement='top' data-original-title="">
                                        <a id="filter_acc_confirmed" class="nav-link filterbtn" type="button">Confirmed</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Account Status 'Active'" data-placement='top' data-original-title="">
                                        <a id="filter_acc_active" class="nav-link filterbtn" type="button">Active</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter User Status 'Blocked'" data-placement='top' data-original-title="">
                                        <a id="filter_usr_blocked" class="nav-link filterbtn" type="button">Blocked</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter User 'Marked for Deletion'" data-placement='top' data-original-title="">
                                        <a id="filter_usr_marked_del" class="nav-link filterbtn" type="button">Marked for Deletion</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Accounts with 'Advertorial'" data-placement='top' data-original-title="">
                                        <a id="filter_advertorial" class="nav-link filterbtn" type="button">Advertorial</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Filter Accounts with 'Seedpool'" data-placement='top' data-original-title="">
                                        <a id="filter_seedpool" class="nav-link filterbtn" type="button">Seed pool</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {# TABLE #}
                <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v4__form">
                        <div id="table" class="table-editable">
                            <table id="usertable" class="table table-bordered table-responsive-md table-striped text-center table-hover" data-noOfBodyRows="{{ useroverview is defined ? useroverview | length : 0 }}">
                                <thead style="background-color: white;">
                                <tr class="headerrow">
                                    <th class="text-center">
                                        <strong>Company</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Account Status</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Marked for Deletion</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Username</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Email</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Registered since</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Phone</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Failed Logins</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Last Login</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>User Status</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>DPA</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Role</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Action</strong>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% if useroverview is defined %}
                                    {% set index = 0 %}
                                    {% for usr in useroverview %}

                                        {# ### set filter classes - used by js code in FILTER-SECTION ### #}
                                        {% set filter_acc_new = ( usr.account_status is defined and 'new' == usr.account_status) ? 'filter_acc_new' : '' %}
                                        {% set filter_acc_confirmed = ( usr.account_status is defined and 'confirmed' == usr.account_status) ? 'filter_acc_confirmed' : '' %}
                                        {% set filter_acc_active = ( usr.account_status is defined and 'active' == usr.account_status) ? 'filter_acc_active' : '' %}
                                        {% set filter_usr_blocked = ( usr.status is defined and 'blocked' == usr.status) ? 'filter_usr_blocked' : '' %}
                                        {% set filter_usr_marked_del = ( usr.markedfordeletion is defined and (usr.markedfordeletion|length) > 0) ? 'filter_usr_marked_del' : '' %}
                                        {% set filter_advertorial = ( usr.account_advertorial_status is defined and (usr.account_advertorial_status == true) > 0) ? 'filter_advertorial' : '' %}
                                        {% set filter_seedpool = ( usr.account_seedpool_status is defined and (usr.account_seedpool_status == true) > 0) ? 'filter_seedpool' : '' %}

                                        <tr id="user_{{ usr.id }}" data-account="{{ current_user.company_id }}" class="filter {{ filter_acc_new }} {{ filter_acc_confirmed }} {{ filter_acc_active }} {{ filter_usr_blocked }} {{ filter_usr_marked_del }} {{ filter_advertorial }}">
                                            <td class="pt-3-half">

                                                <div class="dropdown">
                                                    <a id="dLabel{{ usr.company_id }}" class="account" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                                        {{ usr.account_name is defined ? usr.account_name : '' }}
                                                        {{ usr.account_advertorial_status is defined and (true == usr.account_advertorial_status) ? '<i class="fa fa-ad" style="color:red !important"></i>' : '' }}
                                                        {# usr.account_seedpool_status is defined and (1 == usr.account_seedpool_status) ? '<i class="fa  fa-strikethrough" style="color:red !important"></i>' : '' #}
                                                        <span style="display:none">{{ usr.account_advertorial_status is defined and (true == usr.account_advertorial_status) ? 'advertorial': '' }}</span>
                                                        <span class="caret"></span>
                                                    </a>
                                                    <style>
                                                        ul#account li {
                                                            padding-left: 10px;
                                                            padding-right: 10px;
                                                            min-width: 400px;
                                                            font-size: smaller;
                                                        }

                                                    </style>
                                                    <ul id="account" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <li>{{ usr.company_id is defined ? '#:  ' ~ usr.company_id : '' }}</li>
                                                        <li>{{ usr.account_no is defined ? 'Account No:  ' ~ usr.account_no : '' }}</li>
                                                        <li>{{ usr.account_object_unique_id is defined ? 'Account Identifier:  ' ~  usr.account_object_unique_id : '' }}</li>
                                                        {% if  usr.account_seedpool_status is defined and usr.account_seedpool_status == 1%}
                                                        {% set seedPoolsAssigned = 'true' %}
                                                        <li>Seedpool Assigned: {{  seedPoolsAssigned }}</li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="pt-3-half" title="{{ usr.id is defined ? 'ID #' ~ usr.id : '' }}">
                                                {{ usr.account_status is defined ? usr.account_status : '' }}
                                            </td>
                                            <td class="pt-3-half">
                                                {% if usr.markedfordeletion is defined and (usr.markedfordeletion|length) > 0 %}
                                                    <i class="fa fa-trash-alt" style="color: red"></i>&nbsp;
                                                    <span style="color: red">{{ usr.markedfordeletion }}</span>
                                                {% else %}
                                                    NO
                                                {% endif %}
                                            </td>
                                            <td class="pt-3-half" title="{{ usr.id is defined ? 'ID #' ~ usr.id : '' }}">
                                                {{ usr.username is defined ? usr.username : '' }}
                                            </td>
                                            <td class="pt-3-half">
                                                {{ usr.email is defined ? usr.email : '' }}
                                            </td>
                                            <td class="pt-3-half">
                                                {{ usr.created is defined ? usr.created : '' }}
                                            </td>
                                            <td class="pt-3-half">
                                                {{ usr.phone is defined ? usr.phone : '' }}
                                            </td>
                                            <td class="pt-3-half  {{ usr.failed_logins is defined and usr.failed_logins >= '3' ? 'style="color:red"' :'' }}">
                                                {{ usr.failed_logins is defined ? usr.failed_logins : '' }}
                                            </td>
                                            <td class="pt-3-half">
                                                {{ usr.login_date is defined ? usr.login_date : '' }}
                                            </td>
                                            <td class="pt-3-half" {{ usr.status is defined and 'active' != usr.status ? 'style="color:red"' :'' }}>
                                                {{ usr.status is defined ? usr.status : '' }}
                                            </td>
                                            <td class="pt-3-half">
                                                {{ usr.dpa is defined ? usr.dpa : '' }}
                                            </td>
                                            <td class="pt-3-half">
                                                {{ usr.userrole is defined ? usr.userrole : '' }}
                                            </td>
                                            <td class="pt-3-half">

                                                {# ACTION MENU #}
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="will-change: transform; top: 0; left: 0"> {# ; transform: translate3d(1164px, 125px, 0px); #}
                                                    <a class="dropdown-item" href="{{ url }}account/{{ usr.company_id }}/switch">
                                                        <i class="fas fa-exchange-alt"></i>
                                                        Switch to Account
                                                    </a>
                                                    <a id="checkdelaccount" class="dropdown-item" data-email="{{ usr.email is defined ? usr.email : '' }}" data-route="{{ (url ~ 'admintool/super/getcountaffectedusers')|base64encode }}" data-routeproceed="{{ (url ~ 'admintool/super/deleteaccountbyemail')|base64encode }}" type="button">
                                                        <i class="fas fa-trash"></i>
                                                        Delete Account
                                                    </a>
                                                    {% if usr.markedfordeletion is defined and (usr.markedfordeletion|length) > 0 %}
                                                        <a id="revokedelaccount" class="dropdown-item" data-routeproceed="{{ path('super.reactivateAccount') |base64encode }}" data-delete="{{ usr.email |base64encode }}" data-delete_at="{{ deletion_date }}" data-company_objectregister_id="{{ usr.account_objectregister_id }}" type="button">
                                                            <i class="fas fa-redo"></i>
                                                            Revoke Account Deletion
                                                        </a>
                                                    {% else %}
                                                        <a id="delaccount" class="dropdown-item" data-routeproceed="{{ path('super.markForDeletion') |base64encode }}" data-delete="{{ usr.email |base64encode }}" data-delete_at="{{ deletion_date }}" data-company_objectregister_id="{{ usr.account_objectregister_id }}" type="button">
                                                            <i class="fas fa-highlighter"></i>
                                                            Mark for Deletion
                                                        </a>
                                                    {% endif %}
                                                    {% if  usr.status is defined and 'blocked' == usr.status %}
                                                        <a id="unblockuser" class="dropdown-item" data-email="{{ usr.email is defined ? usr.email|base64encode : '' }}" data-route="{{ path('super.unblockuser')|base64encode }}" type="button">
                                                            <i class="fas fa-lock-open"></i>
                                                            Unblock User
                                                        </a>
                                                    {% else %}
                                                        <a id="blockuser" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email|base64encode : '' }}"
                                                           data-route="{{ path('super.blockuser')|base64encode }}"
                                                           title="User CAN (!) unblock himself by reset password"
                                                           type="button">
                                                            <i class="fas fa-lock"></i>
                                                            Block User
                                                        </a>
                                                    {% endif %}
                                                    {# Block and Unblock User from Admin #}
                                                    {% if  usr.status is defined and 'blockedbyadmin' == usr.status %}
                                                        <a id="unblockuserbyadmin" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email|base64encode : '' }}"
                                                           data-route="{{ path('super.unblockuserbyadmin')|base64encode }}"
                                                           type="button">
                                                            <i class="fas fa-lock-open"></i>
                                                            Unblock User by Admin
                                                        </a>
                                                    {% else %}
                                                        <a id="blockuserbyadmin" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email|base64encode : '' }}"
                                                           data-route="{{ path('super.blockuserbyadmin')|base64encode }}"
                                                           title="User CANNOT unblock himself by reset password"
                                                           type="button">
                                                            <i class="fas fa-lock"></i>
                                                            Block User by Admin
                                                        </a>
                                                    {% endif %}

                                                    {% if usr.account_status is defined and ('blocked' != usr.account_status) %}
                                                        {# block account #}
                                                        <a id="blockaccount" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email : '' }}"
                                                           data-route="{{ path('master.blockaccount') |base64encode }}"
                                                           data-company_objectregister_id="{{ usr.account_objectregister_id }}"
                                                           title="User CANNOT unblock himself by reset password"
                                                           type="button">
                                                            <i class="fas fa-lock"></i>
                                                            Block Account
                                                        </a>
                                                    {% else %}
                                                        {# unblock account #}
                                                        <a id="unblockaccount" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email : '' }}"
                                                           data-route="{{ path('super.unblockaccount') |base64encode }}"
                                                           data-company_objectregister_id="{{ usr.account_objectregister_id }}"
                                                           type="button">
                                                            <i class="fas fa-lock-open"></i>
                                                            Unblock Account
                                                        </a>
                                                    {% endif %}

                                                    {# SEED POOL #}
                                                    <a class="dropdown-item" href="{{ path('acc.assign_seedpool', {acc_id:usr.company_id}) }}" title="No Seedpool assigned to account? Then NO 'Delivery Management' Menu Point!">
                                                        <i class="fas fa-share-alt"></i>
                                                        <span id="seed_pool_txt">Assign Seed Pool</span>
                                                    </a>

                                                    {# TOGGLE ADVERTOIRAL ACCESS #}
                                                    {# feature toggle advertorial start #}
                                                    {# if(advertorial is not deactived) #}

                                                    {% if current_user.feature.Advertorial == false %}
                                                        <div id="inadvert" style="display: none">IM IN ADVERT</div>
                                                        {% if usr.account_advertorial_status is defined and (false == usr.account_advertorial_status) %}
                                                            {# enable advertorial access #}
                                                            {# CAUTION:  NEVER EVER CALL A CLASS "advertorail" => a bunch of tracking stuff will be added !!! #}
                                                            <a id="advertorial_on" class="dropdown-item treactionadvertorial"
                                                               data-route="{{ path('master.toggle.advertorial') |base64encode }}"
                                                               data-company_objectregister_id="{{ usr.account_objectregister_id }}"
                                                               title="enable or disable advertorial access"
                                                               type="button">
                                                                <i id="advertorial_icon" class="fas fa-lock"></i>
                                                                <span id="advertorial_menu_text">Advertorial enable</span>
                                                            </a>
                                                        {% else %}
                                                            {# disable advertorial access #}
                                                            <a id="advertorial_off" class="dropdown-item treactionadvertorial"
                                                               data-route="{{ path('master.toggle.advertorial') |base64encode }}"
                                                               data-company_objectregister_id="{{ usr.account_objectregister_id }}"
                                                               type="button">
                                                                <i id="advertorial_icon" class="fas fa-lock-open"></i>
                                                                <span id="advertorial_menu_text">Advertorial disable</span>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if current_user.feature.FtpPleskIntegration is defined and (false == current_user.feature.FtpPleskIntegration) %}
                                                        <a id="ftpPleskIntegration" class="dropdown-item" href="{{ path('superadminServer.overview', {company_id: usr.company_id, switch_to_status: 'active'} )}}" title="Maintain FTP-, Plesk-Access to Inboxplacement Servers">
                                                            <i class="fa fa-arrow-alt-circle-right"></i>
                                                            <span>Ftp/Plesk Server Access</span>
                                                        </a>
                                                    {% endif %}
                                                    {# feature toggle advertorial end #}

                                                    {# {% if  usr.dpa is defined and usr.dpa_date is defined and (usr.dpa_date|length) > 0 and 1 == usr.dpa %} #}
                                                    {#
                                                    {% if (usr.status is defined and 'new' == usr.status) %}
                                                        <a id="sendreminder" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email : '' }}"
                                                           data-remindertype="set_password"
                                                           data-route="{{ path('super.sendreminder')|base64encode }}">
                                                            <i class="fas fa-bell"></i>
                                                            Send Reminder
                                                        </a>
                                                    #}

                                                    {% if (usr.account_status is defined and 'confirmed' == usr.account_status) %}
                                                        <a id="sendreminder" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email : '' }}"
                                                           data-remindertype="finish_registration"
                                                           data-route="{{ path('super.accountActivationReminder')|base64encode }}"
                                                           type="button">
                                                            <i class="fas fa-bell"></i>
                                                            Send Reminder
                                                        </a>
                                                    {% endif %}
                                                    {% if (usr.account_status is defined and 'new' == usr.account_status and usr.status is defined and 'new' == usr.status) %}
                                                        <a id="sendreminderforpassword" class="dropdown-item"
                                                           data-email="{{ usr.email is defined ? usr.email : '' }}"
                                                           data-remindertype="set_password"
                                                           data-route="{{ path('super.userSetPasswordReminder')|base64encode }}"
                                                           type="button">
                                                            <i class="fas fa-key"></i>
                                                            Send PW Reminder
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
    {# TOKEN #}
    <input id="sa_token" type="hidden" name="sa_token" value="{{ csrf_token('superadmin-deleteaccount') }}"/>
    <input id="ma_token" type="hidden" name="ma_token" value="{{ csrf_token('masteradmin-deleteaccount') }}"/>
    <input id="ma_bl_token" type="hidden" name="ma_bl_token" value="{{ csrf_token('masteradmin-blockaccount') }}"/>
    <input id="um_token" type="hidden" name="um_token" value="{{ csrf_token('users-manage-account') }}"/>

    {# logoutModal #}
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal"
         aria-hidden="true" data-currentuseremail="{{ current_user.email }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #7abe73; color:white;">
                    <h4 class="modal-title" id="myModalLabel">Status</h4>
                </div>
                <div id="modaltext" class="modal-body" style="font-size:larger">
                </div>
                <div class="modal-footer">
                    <span id="logoutbutton" style="display: none">Please press&nbsp;<button id='logout' type="button" class="btn btn-brand" data-dismiss="modal" data-route="{{ path('app_logout') }}">Okay</button>&nbsp;to proceed.</span>
                    <span id="staybutton" style="display: none">Please press&nbsp;<button id='stay' type="button" class="btn btn-brand" data-dismiss="modal" data-route="{{ path('superadminUserOverview') }}">Okay</button>&nbsp;to proceed.</span>
                </div>
            </div>
        </div>
    </div>

    {# errorModal #}
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: red; color:white;">
                    <h4 class="modal-title" id="myErrorLabel">
                        <i class="fa fa-bug"></i>&nbsp;Error
                    </h4>
                </div>
                <div id="modalErrorText" class="modal-body" style="font-size:larger" data-username="{{ current_user.first_name }}">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# infoModal #}
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #7abe73; color:white;">
                    <h4 class="modal-title" id="myInfoLabel">
                        <i class="fa fa-info-circle"></i>&nbsp;Note
                    </h4>
                </div>
                <div id="modalInfoText" class="modal-body" style="font-size:larger" data-username="{{ current_user.first_name }}">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeConfirmDeleteButton()">Exit</button>
                    <button id="confirmDelete" type="button" class="btn btn-default" data-dismiss="modal" data-email="" style="display:none; background-color: red; color:white;" onclick="xDeleteTrue()">Yes, delete all data!</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        /**
         * @class EmailToHandle
         * used to store the selected email address due to action-button-links
         */
        class EmailToHandle {
            constructor() {
                this.email = '';
            }

            /**
             * set email address
             * @param email string
             */
            set(email) {
                this.email = email;
            }

            /**
             * get email address
             * @returns {string}
             */
            get() {
                return this.email;
            }
        }

        /**
         *
         * @type {EmailToHandle}
         * @desc used to <b>set</b> and <b>get</b> the selected email address due to action-button-links
         *
         */
        const handleEmail = new EmailToHandle();  {# global scope #}

        {# FILTER-SECTION #}
        $(document).ready(function () {

            {# run filter on filter input element #}
            $("input#filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('a.filterbtn').removeClass('selected'); // remove class selected from all filter buttons
                $("table#usertable tr.filter").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            {# run filters of filter buttons #}
            $('a.filterbtn').on('click', function () {

                var $filterClass = $(this).attr('id');
                var $displayAll = true;

                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $displayAll = true;
                } else {
                    $('a.filterbtn').removeClass('selected'); // remove class selected from all filter buttons
                    $(this).addClass('selected');
                    $displayAll = false;
                }

                $('#usertable tr').each(function (i, row) {

                    if ($displayAll) {

                        if (!$(row).hasClass('headerrow')) {
                            $(row).css('display', 'table-row');
                        }

                    } else {

                        if ($(row).hasClass($filterClass) || $(row).hasClass('headerrow')) {
                            $(row).css('display', 'table-row');
                        } else {
                            $(row).css('display', 'none');
                        }

                    }
                })
            })
        });

        {# POPOVER #}
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'

            })

            //$('#menu-tracking').addClass("show");
            //$('#track-web-url').addClass("kt-widget__item--active");
        })


        // turn off console log after debugging
        // console.log = function () {
        // };

        $(".hide").hide();

        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });

        {# ##################################### DELETE ACCOUNT ##################################### #}

        $('#logoutModal').modal({
            keyboard: false,
            show: false
        });

        $('#errorModal').modal({
            keyboard: true,
            show: false
        });

        $('button#logout').on('click', function () {
            $redirectTo = $(this).data('route');
            window.location = $redirectTo;
        });

        $('button#stay').on('click', function () {
            $redirectTo = $(this).data('route');
            window.location = $redirectTo;
        });


        var x_deleteTheData = false;

        {# ACTION Delete Account #}
        $('a#checkdelaccount').on('click', function () {
            // Todo: feddisch implementieren WEB-3737!

            var email = $(this).data('email');
            handleEmail.set(email);
            var route = atob($(this).data('route'));
            var routeproceed = atob($(this).data('routeproceed'));


            if (email === '' || email === undefined) {
                var $username = $('#modalErrorText').data('username');
                $('#modalErrorText').html('').html('Dear ' + $username + ', you should enter an email address ...');
                $('#errorModal').modal('show');

                // alert('Please enter an email address');
                return false;
            }

            console.log("email  = " + email, 162);
            console.log("route  = " + route, 163);

            var send_data = btoa(JSON.stringify({'email': email}));
            var x = false;

            var settings = {
                url: route,
                method: "POST",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                },
                data: send_data,
                success: function (data, x) {

                    if (data.status === true) {
                        console.log('status=' + data.status);
                        if (data.msg !== '' || data.msg !== undefined) {
                            console.log('msg=' + data.msg);
                            // x_deleteTheData = confirm(data.msg + ' Are you sure that you want to proceed?'); // modal here

                            var $username = $('#modalInfoText').data('username');
                            $('button#confirmDelete').css('display', 'initial').data('email', email);
                            $('#modalInfoText').html('').html(data.msg + '<hr><br>' + $username + ', are you really sure that you want to proceed?');
                            $('#infoModal').modal('show');
                            console.log("x in return confirm ist " + x_deleteTheData);
                        }
                    } else {
                        // alert(data.msg);

                        $('#modalErrorText').html('').html(data.msg);
                        $('#errorModal').modal('show');
                    }
                }
            };

            $.ajax(settings)
                .done(function (data) {
                    console.log('CHECK DONE');
                })
                .fail(function (data, textStatus, errorThrown) {
                    $('div#msg_delaccbyemail').text('The email address you entered does not exist.').css('color', 'red').css('display', 'initial').fadeOut(5000);

                    console.log("CHECK request failed");
                    console.debug('d:' + data.toString());
                });
        });


        function removeConfirmDeleteButton() {
            $('button#confirmDelete').css('display', 'none');
        }


        // onclick of button id="confirmDelete" in modal
        function xDeleteTrue() {
            x_deleteTheData = true;
            console.log("running deleteTheData ...");

            var email = handleEmail.get();
            console.log('email', email, 367);
            var currentuseremail = $('div#logoutModal').data('currentuseremail');
            var deletedUserIsCurrentUser = (email === currentuseremail);
            var send_data = btoa(JSON.stringify({'email': email}));
            var b64url = $('a#checkdelaccount').data('routeproceed');
            //
            var routeproceed = atob(b64url);
            console.log('currentuseremail', currentuseremail);
            console.log('deletedUserIsCurrentUser', deletedUserIsCurrentUser);

            console.log('send_data', send_data);
            console.log('routeproceed', routeproceed);

            var ret = deleteTheData(send_data, routeproceed);
            // for tests comment  ^  and uncomment  v
            // var ret = deleteTheData(send_data, "http://ciomgrsymf.test/test/ajaxjsontrue", deletedUserIsCurrentUser);

        }


        function deleteTheData(sendData, route, deletedUserIsCurrentUser) {
            $('#infoModal').modal('hide');
            console.log('deleteTheData', sendData, route);

            var settings = {
                url: route,
                method: "POST",
                timeout: 0,
                headers: {
                    'Content-Type': "application/x-www-form-urlencoded"
                },
                data: sendData,
                success: function (data) {
                    /*
                                    'status' => $ret['status'],
                                    'msg' => "the account of {$userToDeleteEmail} has been deleted. i" . __LINE__,
                                    'log' => $ret['data'],
                                    'redirect' => $redirect,
                     */

                    if (data.status === true) {

                        console.log('status=' + data.status);
                        console.log('msg=' + data.msg);
                        if (deletedUserIsCurrentUser) {
                            $('span#logoutbutton').css('display', 'initial')
                        } else {
                            $('span#staybutton').css('display', 'initial')
                        }

                        if (data.msg !== '' || data.msg !== undefined) {
                            console.log('msg=' + data.msg);
                            var moreInfo = '';

                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show');

                            // if (data.redirect !== '' && data.redirect !== undefined) {
                            //     window.location = data.redirect;
                            // }
                        }
                    } else {
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                            // alert(data.msg);
                        } else {
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                            //alert('Either user does not exist or you have lost your session.');
                        }
                    }
                }
            };

            console.log('DELETE CALL STARTS ...');

            $.ajax(settings)
                .done(function (data) {
                    console.log('SUCCESSFUL DELETION');
                    console.log(data);
                    return 'SUCCESSFUL DELETION';
                })
                .fail(function (data, textStatus, errorThrown) {
                    console.log("DELETION FAILED");
                    console.log('d:' + data.toString());
                    return 'DELETION FAILED';
                });


            return 'done!';
        }



        {# ACTION - Mark Account for Deletion #}

        $('a#delaccount').on('click', function deleteAccount() {
            // var $route = atob($(this).data('route'));
            var $route = atob($(this).data('routeproceed'));
            console.log('$route', $route);

            var $data = {
                'email': atob($(this).data('delete')),
                'delete_at': $(this).data('delete_at'),
                'company_objectregister_id': $(this).data('company_objectregister_id'),
                'token': $('input#sa_token').val()
            };

            // console.log($data);

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("Mark Account for Deletion - GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);
                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });

        {# ACTION - Revoke Account Deletion #}
        $('a#revokedelaccount').on('click', function reactivateAccount() {
            // var $route = atob($(this).data('route'));
            var $route = atob($(this).data('routeproceed'));
            console.log('$route', $route);

            $data = {
                'email': atob($(this).data('delete')),
                'company_objectregister_id': $(this).data('company_objectregister_id'),
                'token': $('input#sa_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);

                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });

        {# ACTION - Unblock User #}
        $('a#unblockuser').on('click', function unblockUser() {
            var $route = atob($(this).data('route'));

            $data = {
                'email': atob($(this).data('email')),
                'token': $('input#um_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("Unblock User GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);
                    // $('div#formMsg').html(data);
                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });


        {# ACTION - Block User #}
        $('a#blockuser').on('click', function blockUser() {

            var $route = atob($(this).data('route'));

            $data = {
                'email': atob($(this).data('email')),
                'token': $('input#um_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("Block User GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);

                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });

        {# ACTION - Unblock User #}
        $('a#unblockuserbyadmin').on('click', function unblockUserbyadmin() {
            var $route = atob($(this).data('route'));

            $data = {
                'email': atob($(this).data('email')),
                'token': $('input#um_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    if (status == 'success' && data.status == true) {
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }
                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });


        {# ACTION - Block User #}
        $('a#blockuserbyadmin').on('click', function blockUserbyadmin() {
            console.log('blockUserbyAdmin');
            var $route = atob($(this).data('route'));
            $data = {
                'email': atob($(this).data('email')),
                'token': $('input#um_token').val()
            };
            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    if (status == 'success' && data.status == true) {
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }
                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });

        {# ACTION - Block Account #}
        $('a#blockaccount').on('click', function blockAccount() {
            console.log('blockAccount');
            var $route = atob($(this).data('route'));

            $data = {
                'email': $(this).data('email'),
                'company_objectregister_id': $(this).data('company_objectregister_id'),
                'token': $('input#ma_bl_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("Block Account GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);

                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });


        {# ACTION - Unblock Account #}
        $('a#unblockaccount').on('click', function unblockAccount() {
            console.log('unblockAccount');
            var $route = atob($(this).data('route'));

            $data = {
                'email': $(this).data('email'),
                'company_objectregister_id': $(this).data('company_objectregister_id'),
                'token': $('input#ma_bl_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("Unblock Account GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);

                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });

        {# ACTION - Send Account Activation Reminder #}
        $('a#sendreminder').on('click', function sendReminder() {
            console.log('unblockAccount');
            var $route = atob($(this).data('route'));

            $data = {
                'email': $(this).data('email'),
                'remindertype' : $(this).data('remindertype'),
                'company_objectregister_id': $(this).data('company_objectregister_id'),
                'token': $('input#um_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("Unblock Account GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);

                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });

        {# ACTION - Toggle Avertorial Access #}
        $('a.treactionadvertorial').on('click', function sendReminder() {
            console.log('toogle advertorial');
            var $route = atob($(this).data('route'));

            $data = {
                'company_objectregister_id' : $(this).data('company_objectregister_id'),
                'token': $('input#um_token').val()
            };

            $.post($route,
                    btoa(JSON.stringify($data)),
                    function (data, status) {
                        console.log("Toogle Advertorial GETTING RESPONSE DATA");
                        console.log('data', data);
                        console.log('data.status', data.status);
                        console.log('status', status);

                        if (status == 'success' && data.status == true) {
                            console.log(data.msg);
                            // reload page
                            if (data.msg !== '' || data.msg !== undefined) {
                                $('span#staybutton').css('display', 'initial');
                                $('span#logoutbutton').css('display', 'none')
                                $('#modaltext').html('').html(data.msg);
                                $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                            }

                        } else {
                            // Error Modal
                            if (data.msg !== '') {
                                $('#modalErrorText').html('').html(data.msg);
                                $('#errorModal').modal('show');
                            } else {
                                console.log("error in", data.method, data.line);
                                $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                                $('#errorModal').modal('show');
                            }
                        }
                    });
        });



        {# ACTION - Send Reminder for Password #}
        $('a#sendreminderforpassword').on('click', function sendReminderForPassword() {
            console.log('sendReminderForPassword');
            var $route = atob($(this).data('route'));

            $data = {
                'email': $(this).data('email'),
                'remindertype' : $(this).data('remindertype'),
                'company_objectregister_id': $(this).data('company_objectregister_id'),
                'token': $('input#um_token').val()
            };

            $.post($route,
                btoa(JSON.stringify($data)),
                function (data, status) {
                    console.log("sendReminderForPassword GETTING RESPONSE DATA");
                    console.log('data', data);
                    console.log('data.status', data.status);
                    console.log('status', status);

                    if (status == 'success' && data.status == true) {
                        console.log(data.msg);
                        // reload page
                        if (data.msg !== '' || data.msg !== undefined) {
                            $('span#staybutton').css('display', 'initial');
                            $('span#logoutbutton').css('display', 'none')
                            $('#modaltext').html('').html(data.msg);
                            $('#logoutModal').modal('show'); // simply use the logoutModal to display the message
                        }

                    } else {
                        // Error Modal
                        if (data.msg !== '') {
                            $('#modalErrorText').html('').html(data.msg);
                            $('#errorModal').modal('show');
                        } else {
                            console.log("error in", data.method, data.line);
                            $('#modalErrorText').html('').html('Either user does not exist or you have lost your session.');
                            $('#errorModal').modal('show');
                        }
                    }
                });
        });


    </script>
{% endblock %}
