{% extends "app.twig" %}

{% block content %}
    <style>

        .modal {
            top: 70px !important;
            /* display: block;*/
            overflow: unset;
            background: rgba(255, 255, 255, 0.5);
        }

        h5.modal-title {
            color: #fff !important;
        }

        div.modal-header {
            background: #191919;
            color: #fff;
        }

        div.modal-body p {
            font-size: 20px !important;
        }

        .modal-footer button {
            background: #7abe73;
            color: #fff;
        }

        p#message {
            font-size: 15px !important;
            width: 75% !important;
            font-weight: 500;
            margin-bottom: 2px;
        }
    </style>

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Change password</h3>

            {# <span class="kt-subheader__separator kt-subheader__separator--v"></span> #}

            <span class="kt-subheader__desc">{# {{ auth.user }} #} </span>

        </div>

    </div>
    <!-- end:: Content Head -->
    <!-- begin:: Content -->



    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            {% if user is defined %}
                <!--Begin:: App Aside-->
                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                    <!--begin:: Widgets/Applications/User/Profile1-->
                    <div class="kt-portlet">
                        <p>&nbsp;</p>
                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <!--begin::Widget -->
                            {# Left Menu for the account level settings #}

                            {{ include('/account/leftmenu.twig') }}

                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--end:: Widgets/Applications/User/Profile1-->
                </div>
            {% endif %}
            <!--End:: App Aside-->

            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <!-- begin:: warnings  -->
                {% if error is defined %}
                    <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning"></i></div>
                        <div class="alert-text">{{ error }}</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <!-- end:: warnings -->


                <!--begin:alert -->
                {% if success is defined %}
                    <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}"
                         role="alert">
                        <div class="alert-icon"><i class="far fa-check-square"></i></div>
                        <div class="alert-text">{{ success }}</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <!--end:alert -->


                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title"><small>change or reset your account
                                            password</small></h3>
                                </div>
                                <div class="kt-portlet__head-toolbar kt-hidden">
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="la la-sellsy"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="kt-nav">
                                                    <li class="kt-nav__section kt-nav__section--first">
                                                        <span class="kt-nav__section-text">Quick Actions</span>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon flaticon2-graph-1"></i>
                                                            <span class="kt-nav__link-text">Statistics</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                                            <span class="kt-nav__link-text">Events</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon flaticon2-layers-1"></i>
                                                            <span class="kt-nav__link-text">Reports</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon flaticon2-bell-1o"></i>
                                                            <span class="kt-nav__link-text">Notifications</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon flaticon2-file-1"></i>
                                                            <span class="kt-nav__link-text">Files</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <form id="formpwdchge" class="kt-form kt-form--label-right" action="{{ path('auth.postresetpassword') }}" method="post" >
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            <!--div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                                                <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                                                <div class="alert-text">Password mismatch</div>
                                                <div class="alert-close">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                                    </button>
                                                </div>
                                            </div-->
                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    {# <h3 class="kt-section__title kt-section__title-sm">Change Or Recover Your Password:</h3> #}
                                                </div>
                                            </div>
                                            {# <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="password" class="form-control" name="c_password" value="{{ password.c_password is empty? "" : password.c_password }}" placeholder="Current password" >
                                            #}{# <a href="#" class="kt-link kt-font-sm kt-font-bold kt-margin-t-5">Forgot password ?</a>

                                                    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                            #}{#
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Password Policy</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <ul>
                                                   <li>Should have minimum 8 characters </li>
                                                   <li>Include capital Letters</li>
                                                   <li>Include have Number</li>
                                                   <li>Include have special character</li>
                                               </ul>
                                            </div>
                                        </div> #}
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>

                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="password" class="form-control pw" name="n1_password"
                                                           pattern="(?=.*\d)(?=.*[^a-zA-Z0-9]{1,})(?=.*[a-z])(?=.*[A-Z]).{12,}"
                                                            {# pattern="(?=.*\d)(?=.*[^a-zA-Z0-9]{1,})(?=.*[a-z])(?=.*[A-Z]).{12,}" #}
                                                           title="Must contain at least one number and one uppercase and lowercase letter and two special characters, and at least 12 or more characters"
                                                           value=""
                                                           placeholder="New password">
                                                    <div style="font-size: x-small">Your Password must contain at least
                                                        <b>one number</b>, <b>one uppercase</b>, <b>one lowercase
                                                            letter</b> and <b>one special characters</b>, and at least
                                                        12 or more characters.&nbsp;<span id="pwlen"
                                                                                          style="font-size: x-small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-last row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Verify Password</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="password" class="form-control pw" name="n2_password"
                                                           pattern="(?=.*\d)(?=.*[^a-zA-Z0-9]{1,})(?=.*[a-z])(?=.*[A-Z]).{12,}"
                                                           title="Must contain at least one number and one uppercase and lowercase letter and one special characters, and at least 12 or more characters"
                                                           value=""
                                                           placeholder="Verify password">
                                                </div>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="hidden" name="token"
                                                           value="{{ csrf_token('change-password') }}"/>
                                                    <input type="hidden" name="checkemail" value="{{ email }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal-pw-reset" class="modal" tabindex="-1" role="dialog" aria-labelledby="password change messages popup" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 id="exampleModalLabel" class="modal-title">
                                                    <span id="mod_okay" aria-label="Your Password was changed">Your Password was changed</span>
                                                    <span id="mod_error"  style="color:red; display: none" aria-label="Password mismatch">Password mismatch.</span>
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <p id="pwsdomatch" style="display: initial" aria-label="Please log on again with new password because of security reason.">Please log on again with new password because of security reason.</p>
                                                <p id="pwsdonotmatch" style="color:red; display: none" aria-label="The passwords you entered do not match. Press Okay button of this dialog to reload this page and enter your passwords again.">The passwords you entered do not match. Press Okay button of this dialog to reload this page and enter your passwords again.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <p id="message"></p>
                                                <button type="button" id="redirect-login-screen"
                                                        class="btn btn-secondary"
                                                        aria-label="Okay Button"
                                                        data-dismiss="modal">Okay
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="button" id="change-pwd-button"
                                                        class="btn btn-brand btn-bold">Change Password
                                                </button>&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        {# ********************************************************* #}
        {# !!! START: THIS JS MUST STAY OUT OF (DOCUMENT).READY !!!  #}
        {# ********************************************************* #}

        {#
        /* matchPassword
		 *
		 * @param {string} $p1
		 * @param {string} $p2
		 * @returns {undefined}
		 */
		 #}
        function matchPassword(p1, p2) {
            console.log('run match check')
            var status = false;

            if ( ( p1 == '' || p1.length <= 1 ) || ( p1 == '' || p1.length <= 1 ) ) {
                status = false;
            }else if ( p1 === p2 ) {
                status = true;
            } else {
                status = false;
            }

            console.log('MPW STATUS', status)
            return status;
        }


        {#  set modal messages when user presses button#change-pwd-button after he has entered the two passwords in the form  #}
        $( 'button#change-pwd-button' ).on('click', function (e) {
            var status=true;
            var f_obj = $ ( 'form' ).getForm2obj ();

            //match new and verify password
            if ( !matchPassword ( f_obj.n1_password, f_obj.n2_password ) ) {
                status = false;
            }

            if(status===false) {
                $('p#pwsdomatch').css('display', 'none');
                $('span#mod_okay').css('display', 'none');
                $('p#pwsdonotmatch').css ( 'display', 'initial' );
                $('span#mod_error').css('display', 'initial');
            }
            $('div#modal-pw-reset').show();
        } );

        {# when the modal okay-button (button#change-pwd-button) is clicked, then  #}
        $( 'button#redirect-login-screen' ).on('click', function (e) {
            console.log('click on modal button')

            var status = true;
            // convert form elements to Objects
            var f_obj = $ ( 'form' ).getForm2obj ();

            //match new and verify password
            if ( !matchPassword ( f_obj.n1_password, f_obj.n2_password ) ) {
                status = false;
            }

            console.log('STATUS', status)

            if ( !status ) { // on error reload same page again
                console.log('IF')
                location.reload();
            }else { // on okay goto login page
                console.log('ELSE')
                $('form#formpwdchge').submit();
                console.log('SUBMITTED, REDIRECTING ...')
                setTimeout(function(){
                    window.location.replace('{{ path('auth.signin') }}');
                }, 500);
            }
        } );
        {# ******************************************************* #}
        {# !!! END: THIS JS MUST STAY OUT OF (DOCUMENT).READY !!!  #}
        {# ******************************************************* #}



        $ ( document ).ready ( function () {
            //Hide Error Messages
            {# $('#p-alert').hide(); #}
            jQuery ( "input.pw" ).on ( 'change, keyup', function () {
                var name1 = jQuery ( 'input[name="n1_password"]' ).val ();
                var name2 = jQuery ( 'input[name="n2_password"]' ).val ();
                var currentInput = jQuery ( this ).attr ( 'name' );

                console.log ( 'n1: ' + name1 );
                console.log ( 'n2: ' + name2 );
                console.log ( 'ci: ' + currentInput );

                var str = jQuery ( this ).val ();
                var patternstring = jQuery ( this ).attr ( 'pattern' );
                var patt = new RegExp ( patternstring );
                var res = patt.test ( str );

                console.log ( str + '(' + str.length + ') = ' + res );
                if ( res ) {
                    jQuery ( this ).css ( 'border-color', 'green' );
                } else {
                    jQuery ( this ).css ( 'border-color', 'red' );
                }

                if ( currentInput === 'n2_password' && name2 === name1 ) {
                    console.log ( 'if' );
                    jQuery ( this ).css ( 'border-color', 'green' );
                } else if ( currentInput === 'n2_password' && name2 !== name1 ) {
                    console.log ( 'else' );
                    jQuery ( this ).css ( 'border-color', 'red' );
                } else {
                    // do nothing
                }

                jQuery ( 'span#pwlen' ).text ( '(' + str.length + ' / min. 12)' );
            } );
        } );
    </script>
    <script>
        $ ( ".hide" ).hide ();
        $ ( "#toogle" ).click ( function () {
            $ ( ".hide" ).toggle ( 'fast' );
        } );
    </script>
{% endblock %}
