{% extends "app.twig" %}

{% block content %}

	{# begin:: Content Head - top row #}
	<div class="kt-subheader kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<h3 class="kt-subheader__title" title="domain overview table">Domain</h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<span class="kt-subheader__desc">{{ account }}</span>
		</div>
		{#  Begin - Filter on Domain Status - radio filter buttons #}
		<div class="btn-group btn-group-toggle table-list-btn-group" data-toggle="buttons">
			{# Radio button - "ALL" #}
			<label class="btn table-list-btn active">
				<input id="all_domain_status_btn" class="filter" type="radio" name="domainStatusBtnGroup"
					   value="all" data-filter="domainstatus" autocomplete="off" checked> All
			</label>
			{# Radio button - "NEW" #}
			<label class="btn table-list-btn">
				<input id="new_domain_status_btn" class="filter" type="radio" name="domainStatusBtnGroup"
					   value="new" data-filter="domainstatus" autocomplete="off"> New
			</label>
			{# Radio button - "REGISTERED" #}
			<label class="btn table-list-btn">
				<input id="registered_domain_status_btn" class="filter" type="radio" name="domainStatusBtnGroup"
					   value="registered"  data-filter="domainstatus" autocomplete="off"> Registered
			</label>
			{# Radio button - "PREPARED" #}
			<label class="btn table-list-btn">
				<input id="prepared_domain_status_btn" class="filter" type="radio" name="domainStatusBtnGroup"
					   value="prepared" data-filter="domainstatus" autocomplete="off"> Prepared
			</label>
			{# Radio button - "ACTIVE" #}
			<label class="btn table-list-btn">
				<input id="active_domain_status_btn" class="filter" type="radio" name="domainStatusBtnGroup"
					   value="active" data-filter="domainstatus" autocomplete="off"> Active
			</label>
			{# Radio button - "REMOVED" #}
			<label class="btn table-list-btn">
				<input id="removed_domain_status_btn" class="filter" type="radio" name="domainStatusBtnGroup"
					   value="removed" data-filter="domainstatus" autocomplete="off"> Removed
			</label>
			{# Radio button - "DELETED" #}
			<label class="btn table-list-btn">
				<input id="deleted_domain_status_btn" class="filter" type="radio" name="domainStatusBtnGroup"
					   value="deleted" data-filter="domainstatus" autocomplete="off"> Deleted
			</label>
		</div>
		{# End - Filter on Domain Status - radio filter buttons #}
	</div>
	{# end:: Content Head - top row #}
	{# begin:: Content Head - secondary row #}
	<div class="kt-subheader kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
				{#  begin: Add Domain Modal Btn #}
				<button id="" class="btn btn-brand btn-elevate btn-icon-sm" data-toggle="modal"
						data-target="#AddDomainModal">+ New Domain(s)
				</button>
				{# end: filter button #}
			</ul>
		</div>
		{# begin:sub-control menu #}
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus"
					role="tablist">
					{# Search #}
					{# Show Custom Fields #}
					<li class="nav-item d-none">
						<button class="form-control" id="show-cus-fields">Show CustomFields</button>
					</li>
					{% set lead_url = "#{url}account/contacts" %}
					{# Begin - Domain - Full Text Search Input #}
					<li class="nav-item">
						<input id="contactSearch" style=""
							   class="filter select-2-domain filter form-control"
							   data-filter="fulltextsearch"
							   placeholder="Search-  - enter three characters as minimum" type="text">
					</li>
					{# End - Domain - Full Text Search Input #}

					{# Begin - Filter SeedPool-Group-Name #}
					<li class="nav-item">
						{# Dropdown SeedPoolGroup-Name  #}
						<select id="SeedPoolGroupName"
								class="filter btn btn-secondary dropdown-toggle form-control dropdown-shopqueustatus"
								data-filter="seedpoolgroupname" type="button" aria-haspopup="true" aria-expanded="true">
							<option id="seed_pool_grp_all" class="form-control dropdown-shopqueustatus-item" value="all"
									selected>Seedpool Group
							</option>
							{# Selection - SeedPool-Name - "ALL"  #}
							{# <option id="webhook_type_all" class="form-control dropdown-shopqueustatus-item" value="all">All</option> #}
							{# Selection - SeedPool-Name - loop throug seed pools and generate options"  #}
							{% for seed_pool_grp in seed_pool_groups %}
								{# <option id="{{ seed_pool_grp.id }}" class="seed_pool_id_{{seed_pool_grp.seed_pool_id}} form-control dropdown-seedpool-item" value="{{ seed_pool_grp.id }}">{{ seed_pool_grp.name }}</option> #}
								<option id="seed_pool_grp_{{ seed_pool_grp.id }}"
										class="form-control dropdown-seedpool-item"
										value="{{ seed_pool_grp.id }}">{{ seed_pool_grp.name }}</option>
							{% endfor %}
						</select>
					</li>
					{# End - Filter SeedPool-Group #}

					{# Begin - Filter Domain Health Status #}
					<li class="nav-item">
						{# Dropdown Domain #}
						<select id="DomainHealthStatus"
								class="filter btn btn-secondary dropdown-toggle form-control dropdown-shopqueustatus"
								data-filter="healthstatus"
								aria-haspopup="true" aria-expanded="true">
							{#  Selection - Domain "Health Status" #}
							<option id="" class="form-control dropdown-shopqueustatus-item" value="" disabled selected
									hidden>Health-Status
							</option>
							{#  Selection - Domain "OK" #}
							<option id="DomainHealthStatusOk" class="form-control dropdown-shopqueustatus-item"
									value="all">All
							</option>
							{#  Selection - Domain "Cyren Blacklist" #}
							<option id="DomainHealthStatusCyrenBlacklist"
									class="form-control dropdown-shopqueustatus-item" value="cyren_blacklisted">Cyren
								Blacklist
							</option>
							{#  Selection - Domain "Public Blacklist" #}
							<option id="DomainHealthStatusPublicBlacklist"
									class="form-control dropdown-shopqueustatus-item" value="publicBlacklist">Public
								Blacklist
							</option>
						</select>
					</li>
					{# End - Filter Domain #}

					<li id="startFilterLi" class="nav-item">
						<div id="startFilter" class="btn btn-brand btn-elevate btn-icon-sm" style="cursor: pointer">
							<i class="fa fa-filter"></i> Filter
						</div>
					</li>

					<li id="resetFilterLi" class="nav-item">
						<div id="resetFilter" class="btn btn-brand btn-elevate btn-icon-sm"  style="cursor: pointer">
							<i class="fa fa-filter"></i> Clear
						</div>
					</li>
					&nbsp;&nbsp;
					<li id="runSyncLi" class="nav-item">
						<div id="inbox-monitor-sync-button" class="btn btn-brand btn-elevate btn-icon-sm" style="cursor: pointer;" data-route="{{ path('inboxmonitor.sync') }}">
							Sync<span id="runsync" style="display: none; ">&nbsp;&nbsp;&nbsp;<img src="{{ imgurl~'/cio/loading.gif' }}" style="height: 20px"></span>
						</div>
					</li>
					{#- -end: sync button #}

					{# This is sync button #}
					{% if(lead_sync is defined) %}
						{% set show_sync_button = lead_sync.is_integration_configured == true ? 'true': 'false' %}
						{% set lead_sync_is_apikey_changed = lead_sync.is_apikey_changed == true ? 'true' : 'false' %}
						{% set lead_previous_sync_record = lead_sync.previous_sync_record == true ? 'true' : 'false' %}
						{% set lead_sync_error = lead_sync.error is defined ? lead_sync.error : '' %}
					{% endif %}

					{% if(lead_sync is defined and show_sync_button == 'true') %}
						<li class="nav-item">
							<div class="btn btn-brand btn-elevate btn-icon-sm" id="lead-sync-button"
								 style="cursor: pointer;"

								 data-route="{{ path('leads.sync',{integration_system:'email-in-one'}) }}"
								 data-lead-sync-is-apikey-changed="{{ lead_sync_is_apikey_changed }}"
								 data-lead-previous-sync-record="{{ lead_previous_sync_record }}"
								 data-lead-sync-error="{{ lead_sync_error }}">

								Sync
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{# end::sub-control menu #}
	</div>
	{# end:: Content Head #}

	{# begin:: Content #}
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
		{% if leads is defined and leads.error_leads %}
			{# begin:: warnings  #}
			<div class="alert alert-danger fade show" role="alert">
				<div class="alert-icon"><i class="flaticon-warning"></i></div>
				<div class="alert-text">{{ leads.error_leads }}</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="la la-close"></i></span>
					</button>
				</div>
			</div>
		{% endif %}
		{# end:: warnings #}

		{# begin:alert #}
		{% if leads is defined and leads.notify_leads %}
			<div class="alert alert-light alert-elevate fade show" role="alert">
				<div class="alert-icon"><i class="flaticon-warning"></i></div>
				<div class="alert-text">{{ leads.notify_leads }}</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="la la-close"></i></span>
					</button>
				</div>
			</div>
		{% endif %}
		{# end:alert #}
		{# end:: warnings #}


		{# BEGIN "DUMMY" DESIGN EXAMPLE FOR DOMAIN TABLE #}
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				{# Begin: Datatable - inbox monitor  #}
				<table class="table  table-striped table-bordered table-hover table-checkable" id="inboxMonitorTable">
					<thead>
					<tr>
					</tr>
					</thead>
					<tbody>
					<tr hidden id="body_row_template">
					</tr>
					</tbody>
				</table>
				<div hidden id="tbody_dropdown_template">
					 <span class="dropdown">
                          <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md"
							 data-toggle="dropdown" aria-expanded="true">
                          <i class="fa fa-ellipsis-h" style="font-size:24px;color:#7abe73"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="la la-times-circle-o"></i>Block Domain</a><hr>
								<a class="dropdown-item" href="#"><i class="la la-pencil-square"></i>Register</a>
								<a class="dropdown-item" href="#"><i class="la la-wrench"></i>Prepare</a>
								<a class="dropdown-item" href="#"><i class="la la-check-circle-o"></i>Activate</a>
								<a class="dropdown-item" href="#"><i class="la la-times-circle"></i>Remove</a>
								<a class="dropdown-item" href="#"><i class="la la-remove"></i>Delete</a>
                          </div>
                     </span>
				</div>
				<div id="pagination_bar">
					<nav aria-label="Page navigation" id="pagination_nav_bar" hidden>
						<ul class="pagination" id="paginationUl">
						</ul>
					</nav>
				</div>
				<template id="previous_template">
					<li class="page-item" id="previous">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
				</template>
				<template id="next_template">
					<li class="page-item" id="next">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</template>
				{# End: Datatable - Shopdataqueue  #}
			</div>
		</div>
		{#  END DUMMY DESIGN EXAMPLE #}

		{#  BEGIN - ADD DOMAIN MODAL #}
		<div id="AddDomainModal" class="modal fade add-domain-modal-content-modal" tabindex="-1" role="dialog"
			 aria-labelledby="AddDomainModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog" role="document">
				<div class="add-domain-modal-content modal-content">
					<div class="add-domain-modal-content-header modal-header">
						<h5 class="modal-title" id="AddDomainModalLongTitle">Add new Domain</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="add-domain-modal-content-body modal-body">
						<div class="form-group">
							<textarea id="doaminModalFormControlTextarea" class="form-control" rows="15"
									  placeholder="e.g. example.com, my-new-domain.net"></textarea>
						</div>
					</div>
					<div class="add-domain-modal-content-footer modal-footer">
						<button type="button" class="btn btn-brand btn-elevate">Save</button>
					</div>
				</div>
			</div>
		</div>
		{#  END - ADD DOMAIN MODAL #}
	</div>

{% endblock %}

{% block javascripts %}
	<script>
        //@internal - get the values from controller to use it in contact-overview.js
        const path = '/paging/domains/'; // @jsr Note : twig path(some_route) is not working here HINT: @Aravind pathes should not be exposed in JS => hide in some element base64 encoded and then get path by JS
        const viewName = 'domains';
		{# This array helps to create header of the view table => TODO: Hint @Aravind: this must be defined the table and not to JS #}
        let allAvailableFieldsForView = ['Received', 'Name', 'Seedpool', 'IP', 'Cyren Blacklist', 'Cyren Categories', 'Cyren Last Update', 'Public Blacklist', 'Public Blacklist Categories', 'Public Blacklist Last Update', 'Actions']
	</script>
	<script src="{{ jsurl }}/delivery-management/domains/domains.js" type="text/javascript"></script>

{% endblock %}