{% extends "app.twig" %}

{% block content %}

    {# begin:: Content Head #}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                {#  START SUBHEADER #}
                <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">Domain Detail View</h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">cooler-deal.de</span>
                    </div>
                </div>
                {# END SUBHEADER #}
                {#  START CONTENT #}
                <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                    <div class="row">
                        {# START LEFT #}
                        <div class="col-xl-4">
                            <div class="kt-portlet kt-portlet--mobile ">
                                <div class="kt-portlet__body">
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">
                                            <span style="background-color:#7abe73; color:#fff;"
                                                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-"><i style="font-size:20px;" class="la la-globe"></i></span>
                                            </div>
                                            <div class="kt-widget__content">
                                                <div class="kt-widget__section" style="margin-top:5px;">
                                                    <a href="#" class="kt-widget__username">
                                                        cooler-deal.de
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Updated:</span>
                                                    <a href="#" class="kt-widget__data">
                                                        2022-02-28 12:25:21
                                                    </a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">ID:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">18831</a>
                                                </div>

                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Name:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">cooler-deal.de</a>
                                                </div>

                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">SeedPool:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">RabattRiese</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">SeedPool-ID:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">12345678</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">IP:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">42.32.23.323</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Cyren Blacklist:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">Blacklisted</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Cyren Categories:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">Business, Popups</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Cyren Last Update:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">2022-02-28 12:25:21</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Public Blacklist:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">OK</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Public Blacklist Categories:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">-</a>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Public Blacklist Last Update:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">2022-02-28 12:25:21</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#  END LEFT #}

                        {#  START DOMAIN LIFECYCLE #}
                        <div class="col-xl-2">
                            <div class="kt-portlet kt-portlet--mobile ">
                                <div class="kt-portlet__body">
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content" style="padding-top:0px;">
                                                <div style="margin-bottom:20px;"><span class="domain-font-style" class="kt-widget__label">cooler-deal.de | Lifecycle</span></div>
                                                <div class="vtl">
                                                    <div class="event">
                                                        <div class="">
                                                            <span class="kt-widget__label"><b>New</b></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="kt-widget__label">2022-04-22 10:00:00</span>
                                                        </div>
                                                    </div>
                                                    <div class="event">
                                                        <div class="">
                                                            <span class="kt-widget__label"><b>Registered</b></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="kt-widget__label">2022-04-30 09:30:00</span>
                                                        </div>
                                                    </div>
                                                    <div class="event">
                                                        <div class="">
                                                            <span class="kt-widget__label"><b>Prepared</b></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="kt-widget__label">2022-05-15 19:30:00</span>
                                                        </div>
                                                    </div>
                                                    <div class="event">
                                                        <div class="">
                                                            <span class="kt-widget__label"><b class="domain-highlight-green">Active</b></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="kt-widget__label">2022-05-15 19:30:00</span>
                                                        </div>
                                                    </div>
                                                    <div class="event">
                                                        <div class="">
                                                            <span class="kt-widget__label"><b>Removed</b></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="kt-widget__label">2022-05-30 20:30:00</span>
                                                        </div>
                                                    </div>
                                                    <div class="event">
                                                        <div class="">
                                                            <span class="kt-widget__label"><b class="domain-highlight-red">Deleted</b></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="kt-widget__label">2022-06-30 20:30:00</span>
                                                        </div>
                                                    </div>
                                                    <div class="event">
                                                        <div class="">
                                                            <span class="kt-widget__label"><b>Product Life Time of Domain</b></span>
                                                        </div>
                                                        <div class="">
                                                            <span class="kt-widget__label">15 day, 1 hours</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#   END RIGHT #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    </div>
    {# end:: content #}


{% endblock %}

{% block javascripts %}
    <script>
        //@internal - get the values from controller to use it in contact-overview.js
        {# TODO: @Sven subsitude with correct PARAMS or leave it out, if not needed
        // const mioStandardFields = JSON.parse('{{ standard_fields_for_view | json_encode | raw }}');
        // const mioCustomFields = JSON.parse('{{ custom_fields_for_view | json_encode | raw }}');
        #}
        const applicationURL = '{{ app.request.server.get('APPLICATION_URL') }}';
        const viewName = 'shopdataqueue';
    </script>
    <script src="{{ jsurl }}/shopdataqueue/shopdataqueue_statuslist.js" type="text/javascript"></script>
    <script type="text/javascript">
        //@internal: may be deprecated , redirect the page
        $('select#filter_by_campaign').change(function () {
            var camp_url = $(this).children('option:selected').val()
            $(location).attr('href', camp_url)
        })
        //@internal: logic for sync of contacts
        const sync_data = $('#lead-sync-button')
        let is_apikey_changed = sync_data.data('lead-sync-is-apikey-changed')
        let sync_lead_error = sync_data.data('lead-sync-error')
        let previous_sync_record = sync_data.data('lead-previous-sync-record')
        let button_agreed = $('#lead_sync_yes')
        let button_not_agreed = $('#lead_sync_no')
        let button_all_contacts = $('#lead_sync_all_contacts')
        let route = sync_data.data('route')

        button_agreed.hide()
        button_not_agreed.hide()
        button_all_contacts.hide()

        console.log('previous_sync_record', previous_sync_record)
        console.log('is_apikey_changed', is_apikey_changed)
        let payload = ''
        sync_data.click(function () {
            let title = $('span#popup-title')
            let text = $('span#message')
            let hint = '<br><br><b><u>Note</u>: The process can take a long if there are many record to Synchronize</b>'
            if (previous_sync_record === true) {
                // Previous sync record is present
                if (is_apikey_changed === true) {
                    // APIKey changed ->
                    title.html('Integration Key is changed from previous synchronization')
                    text.html('Key is different from previous sync record' + hint)
                    //button_agreed.show().html('Continue from')
                    button_not_agreed.show().html('Dont Sync')
                    button_all_contacts.show()
                    $('#confirmation_sync_contacts').fadeIn()
                } else {
                    // No change in APIKey
                    title.html('Synchronize Contacts to eMail-In-One')
                    text.html('Would you like to continue sync' + hint)
                    // show buttons
                    button_agreed.show().html('Continue Sync')
                    button_not_agreed.show().html('Dont Sync')
                    button_all_contacts.show().html('Sync all contacts again')
                    // fade in popup
                    $('#confirmation_sync_contacts').fadeIn()

                }
            } else {
                // No previous sync record, sycn all.
                title.html('Synchronize Contacts to eMail-In-One')
                text.html('No Previous Synchronization found,Would you like to synchronize all contacts?' + hint)
                //button_agreed.show()
                button_not_agreed.show().html('Dont Synchronize')
                button_all_contacts.show()
                // Sync all contacts.
                $('#confirmation_sync_contacts').fadeIn()
            }

            // Behaviour after POPUp is present
            button_agreed.click(function () {
                payload = {'sync_all': false, 'continue_sync': true}
                postRequest(payload)
                $('#confirmation_sync_contacts').fadeOut()
            })
            button_all_contacts.click(function () {
                payload = {'sync_all': true, 'continue_sync': false}
                postRequest(payload)
                $('#confirmation_sync_contacts').fadeOut()
            })
            button_not_agreed.click(function () {
                payload = {'sync_all': false, 'continue_sync': false}
                //postRequest(payload);
                $('#confirmation_sync_contacts').fadeOut()
            })

            // Post request to service based on the payload
            function postRequest(payload) {
                let result = ''

                $.post(route, payload, function (data) {
                    console.log(data)
                    $('#confirmation_sync_contacts').fadeOut()
                })
            }

        })
    </script>
{% endblock %}