{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">Contacts Overview</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">{{ account }}</span>

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                    {# Search #}

                    <li class="nav-item">
                        <input class="form-control" placeholder="Search" type="text" id="contactSearch">
                    </li>


                    {# Show Custom Fields #}
                    <li class="nav-item d-none">
                        <button class="form-control" id="show-cus-fields">Show CustomFields</button>
                    </li>
                    {% set lead_url = "#{url}account/contacts" %}

                    {# Dropdown by Status #}
                    <li class="nav-item">
                        <!--begin:button filterRecords by status-->
                        <select class="btn btn-secondary dropdown-toggle form-control" type="button"
                                id="filter_by_status"
                                aria-haspopup="true"
                                aria-expanded="true">
                            <option class="form-control" value="" type="button" selected>Filter by status</option>
                            <option class="form-control" value="active">active</option>
                            <option class="form-control" value="inactive">inactive</option>
                            <option class="form-control" value="fraud">fraud</option>
                            <option class="form-control" value="blacklisted">blacklisted</option>
                        </select>
                    </li>

                    {# Filter by Date range #}
                    <li class="nav-item">
                        <!--begin:button filterRecords by date -->
                        <input type="text" name="daterange" id="contactFilterByDate" class="form-control"
                               placeholder="Filter By Date"/>
                        <!--end:button filterRecords by date-->
                    </li>

                    {# Export Table or selected rows #}
                    <li class="nav-item">
                        <div class="btn btn-brand btn-elevate btn-icon-sm" id="get_data">Search</div>
                    </li>

                </ul>
            </div>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->

    <!--begin:sub-control menu -->
    <div class="kt-subheader__toolbar" id="checkbox">
        <div class="kt-subheader__wrapper">
            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold float-right" role="tablist">
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-technical-fields" data-enpassusermodified="yes"
                               id="technical_fields">
                        Technical Fields&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-ecommerce-fields" data-enpassusermodified="yes"
                               id="eCommerce_fields">
                        eCommerce Fields&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-custom-fields" data-enpassusermodified="yes"
                               id="custom_fields">
                        Custom Fields&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-permission-fields" id="permission_fields"
                               data-enpassusermodified="yes">
                        Permission&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        {% if leads is defined and leads.error_leads %}
            <!-- begin:: warnings  -->
            <div class="alert alert-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.error_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!-- end:: warnings -->

        <!--begin:alert -->
        {% if leads is defined and leads.notify_leads %}
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.notify_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!--end:alert -->
        <!-- end:: warnings -->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                <table class="table  table-striped table-bordered table-hover table-checkable" id="contactViewTable">
                    <thead>
                    <tr>

                    </tr>
                    </thead>
                    <tbody>
                    <tr hidden id="body_row_template">

                    </tr>
                    </tbody>
                </table>
                <div hidden id="tbody_dropdown_template">
					 <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                               data-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-ellipsis-h" style="font-size:24px;color:#7abe73"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">

                                        </div>
                                    </span>
                </div>
                <div id="pagination_bar">
                    <nav aria-label="Page navigation example" id="pagination_nav_bar" hidden>
                        <ul class="pagination" id="paginationUl">

                        </ul>
                    </nav>
                </div>
                <template id="previous_template">
                    <li class="page-item" id="previous" >
                        <a class="page-link"  href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                </template>
                <template id="next_template">
                    <li class="page-item" id="next">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </template>

                <!--end: Datatable -->
            </div>


            <div class="modal" id="confirmation_sync_contacts" data-source="" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><span id="popup-title"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span id="message"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="lead_sync_yes" class="btn btn-secondary"
                                    data-dismiss="modal">Yes
                            </button>
                            <button type="button" id="lead_sync_no" class="btn btn-secondary"
                                    data-dismiss="modal">No
                            </button>
                            <button type="button" id="lead_sync_all_contacts" class="btn btn-secondary"
                                    data-dismiss="modal" style="background-color:red; color:white">Sync all contacts
                                again
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->



{% endblock %}

{% block javascripts %}
    <script>
        //@internal - get the values from controller to use it in contact-overview.js
        const mioStandardFields = JSON.parse('{{ standard_fields_for_view | json_encode | raw }}');
        const mioCustomFields = JSON.parse('{{ custom_fields_for_view | json_encode | raw }}');
        const applicationURL = '{{ app.request.server.get('APPLICATION_URL') }}';
        const viewName = 'contacthistory';
        const viewType = 'history';

    </script>
    <script src="{{ jsurl }}/contact/contact-overview.js" type="text/javascript"></script>
{% endblock %}

