{% extends "app.twig" %}

{% block pagehead %}
    <style>
        a#backbutton:hover {
            background-color:#497245 !important;
            border-color:#497245 !important;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                <!-- START SUBHEADER -->
                <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">Contact Details</h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">{{ lead.email is empty? '-' : lead.email }}</span>
                    </div>
                    <div class="kt-subheader__toolbar" style="padding-top:20px">
                        <a id="backbutton" class="btn btn-brand btn-icon-sm" href="{{path('contact.viewType', {viewType:'overview'})}}"><i class="la la-angle-left"></i>Back</a>
                    </div>
                </div>
                <!-- ENDE SUBHEADER -->
                <!-- START CONTENT -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                    <div class="row">
                        <!-- START SPALTE LINKS -->
                        <div class="col-xl-6">
                            <div class="kt-portlet kt-portlet--mobile ">
                                <div class="kt-portlet__body">
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">
                                            <span style="background-color:#7abe73; color:#fff;"
                                                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">S</span>
                                            </div>
                                            <div class="kt-widget__content">
                                                <div class="kt-widget__section">
                                                    <a href="#" class="kt-widget__username">
                                                        {{ lead.email is empty? '-' : lead.email }}
                                                        <i class="flaticon2-correct kt-font-success"></i>
                                                    </a>
                                                    <span class="kt-widget__subtitle">
													Contact
												</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Source:</span>
                                                    <a href="#" class="kt-widget__data">
                                                        {{ lead.c_name is defined ? lead.c_name : '' }}
                                                    </a>
                                                </div>

                                                {% set unique_object_id = lead.objectregister_id is defined ? lead
                                                .objectregister_id : '' %}
                                                {% set unique_object = lead.unique_object is defined ? lead
                                                .unique_object : '' %}

                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Unique Object:</span>
                                                    <a href="#"
                                                       class="kt-widget__data">{{ unique_object }}</a>
                                                </div>

                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Unique Object ID(UOID):</span>
                                                    <a href="#"
                                                       class="kt-widget__data">{{ unique_object_id }}</a>
                                                </div>

                                                {% if standard_fields is defined %}
                                                    {% for sd_field_name, sd_field_value in standard_fields %}
                                                        <div class="kt-widget__info">
                                                            <span class="kt-widget__label">{{ sd_field_name }}:</span>
                                                            <a href="#"
                                                               class="kt-widget__data">{{ sd_field_value }}</a>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ENDE SPALTE LINKS -->

                        <!-- START SPALTE RECHTS -->
                        <div class="col-xl-6">
                            <div class="accordion accordion-solid accordion-toggle-svg" id="accordionExample8">
                                <div class="card" style="box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);">
                                    <div class="card-header" id="headingOne8">
                                        <div class="card-title " data-toggle="collapse" data-target="#collapseOne8"
                                             aria-expanded="true" aria-controls="collapseOne8"
                                             style="background-color: #ffffff;">
                                            Custom Fields
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                 viewBox="0 0 24 24" version="1.1" class="kt-svg-icon"
                                                 style="margin: auto 0 auto auto; transform: rotate(90deg); transition: all .3s;">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero"></path>
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                          transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div id="collapseOne8" class="collapse" aria-labelledby="headingOne8"
                                         data-parent="#accordionExample8" style="">
                                        <div class="card-body">
                                            <div class="kt-widget kt-widget--user-profile-1">
                                                <div class="kt-widget__body">
                                                    <div class="kt-widget__content">

                                                        {% if custom_fields is defined %}
                                                            {% for cus_field_name, cus_field_value in custom_fields %}
                                                                <div class="kt-widget__info">
                                                                    <span class="kt-widget__label">{{ cus_field_name }}:</span>
                                                                    <a href="#"
                                                                       class="kt-widget__data">{{ cus_field_value }}</a>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);">
                                    <div class="card-header" id="headingFour8">
                                        <div class="card-title " data-toggle="collapse" data-target="#collapseFour8"
                                             aria-expanded="true" aria-controls="collapseFour8"
                                             style="background-color: #ffffff;">
                                            eCommerce Fields
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                 viewBox="0 0 24 24" version="1.1" class="kt-svg-icon"
                                                 style="margin: auto 0 auto auto; transform: rotate(90deg); transition: all .3s;">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero"></path>
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                          transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div id="collapseFour8" class="collapse" aria-labelledby="headingFour8"
                                         data-parent="#accordionExample8" style="">
                                        <div class="card-body">
                                            <div class="kt-widget kt-widget--user-profile-1">
                                                <div class="kt-widget__body">
                                                    <div class="kt-widget__content">

                                                        {% if ecommerce_fields is defined %}
                                                            {% for ec_field_name, ec_field_value in ecommerce_fields %}
                                                                <div class="kt-widget__info">
                                                                    <span class="kt-widget__label">{{ ec_field_name }}:</span>
                                                                    <a href="#"
                                                                       class="kt-widget__data">{{ ec_field_value }}</a>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card"
                                     style="box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05); background-color: #ffffff;">
                                    <div class="card-header" id="headingTwo8">
                                        <div class="card-title collapsed" data-toggle="collapse"
                                             data-target="#collapseTwo8"
                                             aria-expanded="false" aria-controls="collapseTwo8"
                                             style="background-color: #ffffff;">
                                            Technical Fields
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                 viewBox="0 0 24 24" version="1.1" class="kt-svg-icon"
                                                 style="margin: auto 0 auto auto; transform: rotate(90deg); transition: all .3s;">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero"></path>
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                          transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div id="collapseTwo8" class="collapse" aria-labelledby="headingTwo8"
                                         data-parent="#accordionExample8" style="">
                                        <div class="card-body">
                                            <div class="kt-widget kt-widget--user-profile-1">
                                                <div class="kt-widget__body">
                                                    <div class="kt-widget__content">

                                                        {% if technical_fields is defined %}
                                                            {% for tc_field_name, tc_field_value in technical_fields %}
                                                                <div class="kt-widget__info">
                                                                    <span class="kt-widget__label">{{ tc_field_name }}:</span>
                                                                    <a href="#"
                                                                       class="kt-widget__data">{{ tc_field_value }}</a>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# <div class="card"
                                     style="box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05); background-color: #ffffff;">
                                    <div class="card-header" id="headingThree8">
                                        <div class="card-title collapsed" data-toggle="collapse"
                                             data-target="#collapseThree8" aria-expanded="false"
                                             aria-controls="collapseThree8" style="background-color: #ffffff;">
                                            Source
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                 viewBox="0 0 24 24" version="1.1" class="kt-svg-icon"
                                                 style="margin: auto 0 auto auto; transform: rotate(90deg); transition: all .3s;">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero"></path>
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                          id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                          transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                 <div id="collapseThree8" class="collapse" aria-labelledby="headingThree8"
                                         data-parent="#accordionExample8" style="">
                                        <div class="card-body">
                                            <div class="kt-widget kt-widget--user-profile-1">
                                                <div class="kt-widget__body">
                                                    <div class="kt-widget__content">
                                                        <div class="kt-widget__info">
                                                            <span class="kt-widget__label">Campaign:</span>
                                                            <a href="#"
                                                               class="kt-widget__data">{{ lead.c_name is not empty ? lead.c_name : '-' }}</a>
                                                        </div>
                                                        <div class="kt-widget__info">
                                                            <span class="kt-widget__label">CampaignURL:</span>
                                                            <a href="#"
                                                               class="kt-widget__data">{{ lead.c_url is empty? '-' : lead.c_url }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                        <!-- ENDE SPALTE RECHTS -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}

        {% if leads is defined and leads.notification|length > 0 %}
            <script>
                var msg = '{{ leads.notification }}';
                $ ( document ).ready ( function () {
                    $.notify ( {
                        message: msg
                    }, {
                        type: 'inverse', // 'inverse', 'info', 'success', or 'danger'
                        placement: {
                            from: 'top', // 'top' or 'bottom'
                            align: 'right' // 'left', 'center' or 'right',
                        },
                        allow_dismiss: true,
                        template: '<div data-notify="container" class="alert alert-dismissible alert-{0} alert--notify" role="alert">' +
                            '<span data-notify="icon"></span> ' +
                            '<span data-notify="title">{1}</span> ' +
                            '<span data-notify="message">{2}</span>' +
                            '<div class="progress" data-notify="progressbar">' +
                            '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                            '</div>' +
                            '<a href="{3}" target="{4}" data-notify="url"></a>' +
                            '<button type="button" aria-hidden="true" data-notify="dismiss" class="close"><span>×</span></button>' +
                            '</div>'
                    } );
                } );
            </script>
        {% endif %}
    {% endblock %}

