
{% extends "app.twig" %}

{% block content %}

	<!-- begin:: Content Head -->
	<div class="kt-subheader kt-grid__item " id="kt_subheader">
		<div class="kt-subheader__main">
			<button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

			<h3 class="kt-subheader__title">Cleanup Html</h3>

			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			{% if account is defined  %}
				<span class="kt-subheader__desc">{{ account }} </span>
			{% endif %}

		</div>
	</div>
	<!-- end:: Content Head -->


	{% set error  = 0 %}
	{% if fgpwd is defined and fgpwd.failure is defined %}
		{% set error  = 1 %}
	{% endif %}

	<!-- begin:: Password Reset Error  -->
	<div class="alert alert-danger alert-dismissible fade {{error == '1'? "show" : "kt-hide"}}"  id="p-alert" role="alert">
		<div class="alert-icon"><i class="flaticon-warning"></i></div>
		<div class="alert-text">{{error == 1? fgpwd.failure : " "}}</div>
		<div class="alert-close">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="la la-close"></i></span>
			</button>
		</div>
	</div>
	<!-- end:: error -->


	<div class="kt-content kt-grid__item kt-grid__item--fluid">
		<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
			<!--Begin:: App Aside Mobile Toggle-->
			<button class="kt-app__aside-close" id="kt_user_profile_aside_close">
				<i class="la la-close"></i>
			</button>
			<!--End:: App Aside Mobile Toggle-->

			<div class="kt-grid__item kt-grid__item--fluid">
				<div class="row">
					<div class="col-xl-5">
						<div class="kt-portlet kt-portlet--height-fluid">
							<div class="kt-portlet__head">
								<div class="kt-portlet__head-label">
									<h3 class="kt-portlet__head-title">Cleanup HTML Test
										<small>paste advertorial html code</small>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"  style="margin-top: 20px">
					<div class="col-xl-10">
						<div class="kt-checkbox-inline">
							<label><input id="changeTelNoAnkers" type="checkbox" checked value="1">&nbsp;replace one line ankers with phone number</label>
						</div>
					</div>
				</div>

				<div class="row"  style="margin-top: 20px">
					<div class="col-xl-5">
						<label for="html_in"><h5>Paste HTML <i>without inline CSS</i> HTML here</h5></label>
						<br>
						<textarea id="html_in" cols="100" rows="20"></textarea>
					</div>


					<div class="col-xl-2" style="text-align: center">
						<button id="cleanHtml" type="button" class="btn btn-brand btn-elevate btn-icon-sm" aria-label="Clean Up Html" data-url="{{ path('mvpCleanUpHtmlRun') }}"  style="margin-top: 150px">
							<span aria-hidden="true"><i class="fa fa-angle-right"></i>Clean Up&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></span>
						</button>
					</div>


					<div class="col-xl-5">
						<label for="html_out"><h5>Clean HTML</h5></label>
						<br>
						<textarea id="html_out" cols="100" rows="20"></textarea><br>
						<button id="copytoclipboard" type="button" class="btn btn-brand btn-elevate btn-icon-sm" aria-label="Copy to Clipboard">
							<span aria-hidden="true"><i class="fa fa-copy"></i> Copy to Clipborad</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
        $(document).ready(function() {

            function uatob(str) {
                return decodeURIComponent(atob(str).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));
            }

            console.log('dok ready');

            $("button#copytoclipboard").click(function() {
                console.log('copytoclipboard');
                $("textarea#html_out").select();
                document.execCommand('copy');
            });


            $("button#cleanHtml").click(function() {
                console.log('cleanHtml');
                currentURL = $(location).attr('href');

                let protokoll = currentURL.split('/')[0];
                let domain = currentURL.split('/')[2];
                var url = protokoll + "//" + domain + '{{ path('testCleanUpHtmlRun') }}';

                // url = 'https://mshtmloptimiser.dev-api-in-one.net/advertorial/inlinecss/cleanup/html'; {#  TODO: remove hardcoding in real code #}

                var htmlContent = $("textarea#html_in").val();
                var replaceTelNoAnkers =  $('#changeTelNoAnkers').prop('checked');
                console.log('htmlContent', htmlContent);
                console.log('call url', url);

                var postdata = {html:btoa(htmlContent), replaceTelNoAnkers:replaceTelNoAnkers };
                var postDataJson = JSON.stringify(postdata);

                $.ajax({
                    url: url,
                    headers: {
                        Accept: "application/json"
                    },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    // data: htmlContent,
					data : postDataJson,
                    success: function (data) {
                        if (data.response.success === true) {
                            console.log('cleanhtml', data.response.cleanhtml);
                            console.log('cleanhtml atob', uatob(data.response.cleanhtml));

                            $("textarea#html_out").val(uatob(data.response.cleanhtml));
                        } else {
                            $("textarea#html_out").val('ups, something went wrong ... ');
                        }
                    }
                });
            });
        });
	</script>
{% endblock %}

