{% extends "app.twig" %}

{% block content %}

    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>

    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }
    </style>
    <br>
    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (error is defined and error|length > 1) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (error is defined and error|length > 1) ? error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (success is defined and success|length > 1) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (success is defined and success|length > 5) ? success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: WIZARD EMAIL-IN-ONE -->
    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Integrations wizard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Email server </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('integrations.available', {status:'available'}) }}"><i class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">

                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(100% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Basic settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Email Server
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            {% set server_type = emailserver.settings.server_type %}
                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Please select your Email Server</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="kt-section__body">
                                            <div class="form-group row settings-splittest">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Select the Email server you want to use:</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    {% set server_type = emailserver.settings.server_type %}
                                                    <select id="email-server-type" name="server-type" class="form-control">
                                                        <option value="default_server"
                                                                {{ (server_type is defined and server_type == 'default_server') ? 'selected':'' }}>
                                                            Marketing-In-One Email server [Default]</option>
                                                        <option value="custom_server"
                                                                {{ (server_type is defined and server_type == 'custom_server') ? 'selected':'' }}>
                                                            Custom Email server</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-xl-3 col-lg-3"></div>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div id="test_result" class="font-italic"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% set custom_email_server = emailserver.settings.custom_server %}
                                {% set smtp_server_domain = (custom_email_server.smtp_server_domain is defined) ? custom_email_server.smtp_server_domain: "" %}
                                {% set sender_user_email = (custom_email_server.sender_user_email is defined) ? custom_email_server.sender_user_email: "" %}
                                {% set sender_user_name = (custom_email_server.sender_user_name is defined) ? custom_email_server.sender_user_name :  sender_user_email %}
                                {% set sender_password = (custom_email_server.sender_password is defined) ? custom_email_server.sender_password: "" %}
                                {% set port = (custom_email_server.port is defined) ? custom_email_server.port: "" %}
                                {% set b64msmail = (emailserver.b64msmail is defined) ? emailserver.b64msmail : "" %}
                                <div id="custom-server-type-title" class="kt-heading kt-heading--md">Configure custom Email server basic settings</div>
                                <div id="custom-server-type-section" class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Smtp Server Domain *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_host" type="text" class="form-control" value="{{ smtp_server_domain }}" name="smtp-server-domain" placeholder="smtp.example.org" autocomplete="false" required>
                                                    <input type="text" class="form-control" value="{{ emailserver.relation.integration_object_register_meta_id is defined ? emailserver.relation.integration_object_register_meta_id : "" }}" name="object-register-meta-id" autocomplete="false" hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Sender User Email *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_user" type="email" class="form-control" value="{{ sender_user_email }}" name="sender-user-email" placeholder="user email address" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" title="In most cases the same as Sender User Email. But Sender User Name can be different from Sender User Email e.g. for an AWS-SES configuration">Sender User Name * <i class="fa fa-info-circle" title="In most cases the same as Sender User Email. But Sender User Name can be different from Sender User Email e.g. for an AWS-SES configuration"></i></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="sender_user_name" type="text" class="form-control" value="{{ sender_user_name }}" name="sender-user-name" placeholder="sender user name" autocomplete="false" required>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Sender Password *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_pw" type="Password" class="form-control" value="{{ sender_password }}" name="sender-password" placeholder="sender user password" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Port *<i class="fa fa-info-circle" title="Most hosting providers will block Port 25 for outbound SMTP! It is strongly recommended to configure your custom email server with Port 587 for outgoing emails!"></i></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="email_port" type="number" min="465" class="form-control" value="{{ port }}" name="port" placeholder="configure Port 587!" autocomplete="false" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Test configuration</label>
                                                <div class="col-lg-8 col-xl-5">
                                                    <input style="" id="email_receiver" type="email" data-checktarget="{{ b64msmail }}" class="form-control form-control"  placeholder="enter test Email address">
                                                    <div style="margin-top:10px; background-color:rgba(122,190,115,0.9)" id ="email_smtp_msg_success" class="alert alert-success hidden" role="alert">
                                                        <span style="font-size:14px;">Your connection was successfully established.</span>
                                                    </div>

                                                    <div id ="email_smtp_msg_error" style="margin-top:10px;" class="alert alert-danger hidden" role="alert">
                                                        <span style="font-size:14px;">We were not able to establish a connection. Please check your configuration</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-xl-1">
                                                    <button id="email_twig_test" type="button"  style="font-size:10px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                        TEST
                                                    </button>
                                                </div>
                                                <div id="username" style="display: none" data-firstname="{{ user_first_name }}" data-lastname="{{ user_last_name }}"></div>


                                            </div>

                                            <div class="form-group row">
                                                <div class="col-xl-3 col-lg-3"></div>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div id="test_result" class="font-italic"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('integration-email-server') }}"/>
                            <!--end: Form Wizard Step 2-->
                            <script>
                                var input = document.querySelector ( 'input[name=basic]' );

                                // init Tagify script on the above inputs
                                new Tagify ( input )

                            </script>
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">

                                <button id="prev-page"
                                        class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Cancel
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    ADD INTEGRATION TO PROJECT
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
    <script src="{{ jsurl }}/account-email-twig.js" type="text/javascript"></script>
    <script>
        $ ( "#toogle" ).click ( function () {
            $ ( ".hide" ).toggle ( 'fast' );
        } );
    </script>
    <script>
        // Go back to previous Page.
        $ ( '#prev-page' ).click ( function () {
            window.history.back ();
        } );

        $ ( 'div#email_smtp_msg_error' ).hide ();
        $ ( 'div#email_smtp_msg_success' ).hide ();

        let select_server_type = $ ( '#email-server-type' );

        // if the configured server is default_server.
        let server_type = select_server_type.val ();
        if ( server_type === 'default_server' ) {
            $ ( '#custom-server-type-title' ).hide ();
            $('#custom-server-type-section').hide();
        }
        // On change server type from custom to default or default to custom
        select_server_type.change(function(e){
            let server_type = $('#email-server-type').val();

            if(server_type === 'default_server') {
                console.log('defualtserver');
                $('#custom-server-type-title').hide();
                $('#custom-server-type-section').hide();
            }else{
                console.log('customserver');
                $('#custom-server-type-title').show();
                $('#custom-server-type-section').show();
            }
        });
    </script>


{% endblock %}
