{% extends "app.twig" %}

{% block content %}

    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script> {# TODO: why that? => remove! #}

    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

    </style>
    <br>
    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (error is defined and error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (error is defined and error|length > 2) ? error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (success is defined and success |length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (success is defined and success |length > 5) ? success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: WIZARD EMAIL-IN-ONE -->
    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Integrations wizard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">eMail-In-One </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm"
                   href="{# {{ path('integrations.available', {status:'available'}) }} #}"><i
                            class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-wizard-clickable="true" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable" style="justify-content: start">

                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current"
                     style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Connection settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                establish a connection to eMail-In-One
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Basic settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                configure eMail-In-One basic settings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(33% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Mapping
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                configure eMail-In-One mapping fields
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        {% set endpoint = (endpoint is defined) ? endpoint: '' %}
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data"
                              data-endpoint="{{ endpoint }}">

                            {% set apikey = (emailinone.settings.apikey is defined) ? emailinone.settings.apikey : '' %}
                            {% set blacklist_id = (emailinone.settings.blacklist_id is defined) ? emailinone.settings.blacklist_id : '' %}
                            {% set blacklisting_flagged_name = (emailinone.settings.blacklisting_flagged_name is defined) ? emailinone.settings.blacklisting_flagged_name : '' %}
                            {% set reactivate_unsubscibers = (emailinone.settings.reactivate_unsubscibers is defined) ? emailinone.settings.reactivate_unsubscibers : '' %}
                            {% set mapping = (emailinone.settings.mapping is defined) ? emailinone.settings.mapping : '' %}
                            {% set doi_mailing = (emailinone.settings.doi_mailing is defined) ? emailinone.settings.doi_mailing : '' %}

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Please enter your eMail-In-One API Key:
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-row ">
                                                    <div class="col-md-8 mb-3">
                                                        <input style="color:#7abe73;" type="text" name="apikey"
                                                               class="form-control form-control is-valid"
                                                               id="validate-apikey" value="{{ apikey }}">
                                                        <div style="margin-top:10px; background-color:rgba(122,190,115,0.9)"
                                                             class="alert alert-success" id="alert-apikey-valid"
                                                             role="alert">
                                                            <span style="font-size:14px;">API Key correct. Your connection was successfully established.</span>
                                                        </div>
                                                        <div style="margin-top:10px;" class="alert alert-danger"
                                                             role="alert" id="alert-apikey-invalid">
                                                            <span style="font-size:14px;">API Key incorrect. We were not able to establish a connection. Please try again later, or contact our support <u>here.</u></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button"
                                                                style="font-size:11px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;"
                                                                id="test-connection"
                                                                class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u test-apikey-connection">
                                                            TEST CONNECTION
                                                        </button>
                                                        <button type="button"
                                                                style="font-size:11px; color:#7abe73; border:1px solid #7abe73; background-color:transparent; height:38px;"
                                                                id="retry-connection"
                                                                class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u test-apikey-connection">
                                                            RETRY CONNECTION
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->


                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">eMail-In-One basic settings</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <!--Here comes Mapping table for the campaign-->
                                        {# Begin : Blacklisting Id #}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Blacklisting Id
                                                <a data-html="true" class="cio-popover"
                                                   data-toggle="popover"
                                                   title="Please specify Blacklisting Id from eMail-In-One"
                                                   data-content="">
                                                    <i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i>
                                                </a>
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <select class="form-control" id="blacklist" name="blacklist_id"
                                                        data-blacklist= {{ blacklist_id }}>
                                                </select>
                                                <div class="spinner-border text-success" id="blacklist-key-loading"
                                                     role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                        {# End : Blacklisting Id #}

                                        {# Begin : Blacklisting Filter Name #}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Blacklisting Flagged Name
                                                <a data-html="true" class="cio-popover"
                                                   data-toggle="popover"
                                                   title="Please specify Blacklisting filter name which is created automatically
                                               for the specified blacklisting Id for eMail-In-One."
                                                   data-content="">
                                                    <i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i>
                                                </a>
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input type="text" class="form-control"
                                                       value="{{ blacklisting_flagged_name }}"
                                                       name="blacklisting_flagged_name"
                                                       placeholder="MIO blacklisting filter name"
                                                       autocomplete="false">
                                            </div>
                                        </div>
                                        {# End : Blacklisting Filter Name #}

                                        {# Begin : Reactivate Unsubscriber #}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Reactivate Unsubscribers&nbsp;&nbsp;&nbsp;<a
                                                        data-html="true" class="cio-popover" data-toggle="popover"
                                                        title="" data-content=""><i style="color:#c5c5c5;"
                                                                                    class="fas fa-info-circle fa-lg"></i></a></label>
                                            <div class="col-lg-9 col-xl-6">
                                             <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                  <label>
                                                       {% set sync_status = "" %}
                                                      {% if reactivate_unsubscibers ==  "on" %}
                                                          {% set sync_status = "checked" %}
                                                      {% endif %}
                                                       <input type="hidden" name="reactivate_unsubscibers" value="off">
                                                       <input type="checkbox" {{ sync_status }} name="reactivate_unsubscibers">
                                                       <span></span>
                                                  </label>
                                             </span>
                                                <i class="toggle-switch__helper"></i>
                                            </div>
                                        </div>
                                        {# End : Reactivate Unsubscriber #}
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('emailinone-integrations') }}"/>
                            <!--end: Form Wizard Step 2-->


                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure custom field mapping for eMail-In-One
                                </div>
                                <span class="kt-subheader__desc"><span style="font-size: 14px; color:#a7abc3;"><i
                                                class="far fa-info-circle"></i> All standard fields are automatically mapped by Marketing-In-One and cannot be changed. Custom fields can be defined here and mapped to the eMail-In-One counterpart. </span></span>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">

                                        <!--Here comes Mapping table for the campaign-->

                                        <div id="table" class="table-editable"
                                             data-is-test=" {{ (mio_customfiedls is defined) ? mio_customfiedls | json_encode() : '' }}"
                                             data-sd-cus-fields=" {{ (mio_standard_custom_fields is defined) ?
                                             mio_standard_custom_fields | json_encode() : '' }}"
                                             data-mapping-from-db="{{ mapping }}">

                                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><strong>Marketing-In-One custom
                                                            field</strong></th>
                                                    <th class="text-center"><strong>eMail-In-One custom field</strong>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- This is our cloneable table line which will be generated automatically form script-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#" class="text-success">
                                                <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                            </a>
                                        </span>
                                        <label for="urlID"></label>
                                        <input type="text" class="form-control" id="emio-mapping"
                                               name="mapping"
                                               autocomplete="false" hidden>

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('campaign-create') }}"/>
                            <input type="text" class="form-control" value="{{ emailinone.relation.integration_object_register_meta_id is defined ? emailinone.relation.integration_object_register_meta_id : "" }}" name="object-register-meta-id" autocomplete="false" hidden>
                            <!--end: Form Wizard Step 3-->


                            <script>
                                var input = document.querySelector ( 'input[name=basic]' );

                                // init Tagify script on the above inputs
                                new Tagify ( input )

                            </script>

                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button id="prev-page"
                                        class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-pre1v">
                                    Previous
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    ADD INTEGRATION TO PROJECT
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: WIZARD EMAIL-IN-ONE -->


{% endblock %}
{% block javascripts %}
    {# begin  fraud checking script #}
    <script type="text/javascript" src="{{ jsurl }}/integrations/integration-emio-twig.js"></script>
    <script type="text/javascript">
        // Go back to previous Page.
        $ ( '#prev-page' ).click ( function () {
            window.history.back ();
        } );
    </script>

{% endblock %}
