{%- block content -%}


    <!DOCTYPE html>
    <html lang="de">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- @CUSTOMER: change title to your own -->
        <title> Webhook Page - Marketing-In_one</title>

        <!--Bootstrap 5 CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">

        <!--Bootstrap 5 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

    </head>

    <body>

    <div class="section-clearspace"></div>

    <!-- OPTIONS -->
    <section class="optin" id="form" style="background-color:transparent;">
        <div class="container">
            <div class="row">
                <div class=" col-md-12" style="text-align: center;">
                    <img class="center" src="img/marketing-in-one_logo-lg_black.png" width="60%" height="auto"
                         style="margin-bottom:100px">
                </div>
                <div class=" col-md-12">
                    <h1 class="align-middle"
                        style="text-align: center; color: #7abe73">{{ hdata['base']['CampaignName'] }}</h1>
                </div>
                <div class="col-lg-12" style="padding-top: 8px;">
                    <!-- FORM BEGIN -->
                    <form style="background-color:#fff; padding:25px; border-radius:15px;" id="api-data-form"
                          action="./submit.php"
                          enctype="multipart/form-data" method="post" accept-charset="utf-8"
                          class="form-horizontal " role="form">

                        <div id="generateForm">
                            <!-- @CUSTOMER: To add the new fields or remove use page wizard in Marketing-in-one.net  -->
                            {%- set mapping = hdata['mapping'] -%}
                            {% for mappingField in mapping['contact'] %}

                                {% set fieldName = mappingField['field_name'] %}
                                {% set dataType = mappingField['datatype']|trim %}
                                {% set fieldType = mappingField['category'] is defined ?
                                    mappingField['category']|trim : 'Custom' %}
                                {% set placeholder = mappingField['placeholder'] is defined ?
                                    mappingField['placeholder']|trim : fieldName|capitalize %}

                                {% if fieldName == 'salutation' %}
                                    <div class="form-row"><!-- BEGIN {{ fieldName }} -->
                                        <div class="form-group col-md-12">
                                            <select name="salutation" id="salutation" class="form-control">
                                                <option value="" disabled selected>Saluation</option>
                                                <option value="Frau">Frau</option>
                                                <option value="Herr">Herr</option>
                                            </select>
                                            {# <div style="width:100%;" marketingInOneField="salutation"
                                                 class="btn-group btn-group-toggle"
                                                 data-toggle="buttons">
                                                <label style="cursor:pointer; width:100%; font-family: 'Titillium Web',
										 sans-serif !important; font-weight: 300 !important; font-size: 1.1rem !important;"
                                                       class="btn">
                                                    <input id="frau" class="salutation_event"
                                                           style="color:#fff; ;background:transparent;" value="Frau"
                                                           type="radio" name="salutation" id="option1"
                                                           autocomplete="off" required>
                                                    Frau
                                                </label>
                                                <label style="cursor:pointer; width:100%; font-family: 'Titillium Web', sans-serif !important; font-weight: 300 !important; font-size: 1.1rem !important;"
                                                       class="btn">
                                                    <input id="herr" class="salutation_event"
                                                           style=" color:#fff; ;background:transparent;"
                                                           value="Herr" type="radio" name="salutation" id="option2"
                                                           autocomplete="off" required>
                                                    Herr
                                                </label>
                                            </div> #}
                                        </div>
                                    </div><!-- END {{ fieldName }} -->
                                    <br>
                                {% else %}

                                    {# Technical fields are always hidden and doesnot need any form-row or form-group
                                    classes #}
                                    {% if fieldType != 'Technical' %}
                                        <div class="form-row"><!-- BEGIN {{ fieldName }} -->
                                        <div class="form-group col-md-12">
                                    {% endif %}
                                    {% set label = '<label for="' ~ fieldName ~ '" style="color: white">' ~ placeholder ~ ':</label>' %}

                                    <!-- {{ label | raw }} -->
                                    <input style="color:#000; background:#FFF;"
                                           class="input-fields form-control"
                                           id="{{ fieldName }}"

                                            {% if dataType == 'Email' %}
                                                required
                                                type="email"
                                            {% elseif dataType == 'URL' %}
                                                        type="url"
                                                    {% elseif dataType == 'Decimal' %}
                                                        type="number" step=".01"
                                                    {% elseif dataType == 'Integer' %}
                                                        type="number"
                                                    {% elseif dataType in ['Date', 'DateTime'] %}
                                                        {# Shows the placeholder and changes to date format on click on
                                                        the inputfield. #}
                                                        type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                                                    {% else %}
                                                        type="text"
                                            {% endif %}

                                           name="{{ fieldName }}"
                                           data-dtype="{{ dataType }}"
                                           placeholder="{{ placeholder }}"
                                           data-marketingInOneField="{{ fieldName }}"
                                           data-fieldtype="{{ fieldType }}"
                                            {# Hide all technical fields #}
                                            {% if fieldType == 'Technical' %}
                                                hidden
                                            {% endif %}

                                           value="">
                                    {# Technical fields are always hidden and doesnot need any form-row or form-group
                                    classes #}
                                    {% if fieldType != 'Technical' %}
                                        <br>
                                        </div>
                                        </div><!-- END {{ fieldName }} -->
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input style="color: #fff; cursor: pointer; background-color: #7abe73; border-color: #7abe73;"
                                       type="submit" class="col-sm-12 btn btn-xl js-scroll-trigger" value="Test Webhook"
                                       name="submit" style="width: 100%;">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ./OPTIONS -->

    <div class="section-clearspace"></div>

    <!-- Bootstrap core JavaScript -->


    </body>
    </html>

{%- endblock -%}