{% extends "app.twig" %}

{% block content %}
    {% block stylesheets %}
        <link href="{{ cssurl }}/settings/spectrum.css" type="text/css" rel="stylesheet"/>
    {% endblock %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Settings</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">messages</span>

        </div>

    </div>
    <!-- end:: Content Head -->

    <!-- begin:: warnings  -->
    {% if error is not defined %}
        {% set error = app.request.get('error') %}
    {% endif %}
    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ app.request.get('error') }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}
    <!-- end:: warnings -->


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon"><i class="far fa-check-square"></i></div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}
    <!--end:alert -->


    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->


            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Messages <small></small></h3>
                                </div>
                            </div>


                            <form id="accupdate" class="kt-form kt-form--label-right" method="post"
                                  data-canEditForm="">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Single submit error Text&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Define the error message of the unique user registration feature, if the user is already registred."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.single_submit_error_text }}"
                                                           name="single_submit_error_text"
                                                           placeholder="This is the error message for single user(ex:Email) storing in cookie "
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Countdown expire message&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title="" data-content=""><i style="color:#c5c5c5;"
                                                                                        class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.countdown_expire_message }}"
                                                           name="countdown_expire_message"
                                                           placeholder="This Error message appears when the counter is experied "
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Color of error messages&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title="" data-content=""><i style="color:#c5c5c5;"
                                                                                        class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control basic" id="basic"
                                                           value="{{ messages.error_msg_color }}" name="error_msg_color"
                                                           placeholder="colour" autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Error message for
                                                    duplicate email adresses&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                                 class="cio-popover"
                                                                                                 data-toggle="popover"
                                                                                                 title=""
                                                                                                 data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_duplicate }}"
                                                           name="error_msg_duplicate"
                                                           placeholder="Error message if email already exits in database "
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Error message for
                                                    incorrect email address&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                                class="cio-popover"
                                                                                                data-toggle="popover"
                                                                                                title=""
                                                                                                data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_email }}" name="error_msg_email"
                                                           placeholder="This error message is for email not meeting the requirments"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Error message for
                                                    incorrect telephone number&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                                   class="cio-popover"
                                                                                                   data-toggle="popover"
                                                                                                   title=""
                                                                                                   data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_telefon }}" name="error_msg_telefon"
                                                           placeholder="This error message is for telephone nummber not meeting the requirments"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Error message for failed
                                                    image upload&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                     class="cio-popover"
                                                                                     data-toggle="popover" title=""
                                                                                     data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_image_upload }}"
                                                           name="error_msg_image_upload"
                                                           placeholder="This is Error message for image uploaded is not according to required standards "
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Error message for
                                                    incorrect postalcode&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                             class="cio-popover"
                                                                                             data-toggle="popover"
                                                                                             title="" data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_postalcode }}"
                                                           name="error_msg_postalcode"
                                                           placeholder="This message occurs when postal code submitted does not match the street (taken from Google API)"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Message for preventing
                                                    freemailer addresses&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                             class="cio-popover"
                                                                                             data-toggle="popover"
                                                                                             title="" data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_block_free_mailer }}"
                                                           name="error_msg_block_free_mailer"
                                                           placeholder="This message occurs when email provided is in blocked email list"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Error message for
                                                    incorrect address&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                          class="cio-popover"
                                                                                          data-toggle="popover" title=""
                                                                                          data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_address }}" name="error_msg_address"
                                                           placeholder="This is  error message if address submited is not valid "
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Landing page expiration
                                                    notification&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                     class="cio-popover"
                                                                                     data-toggle="popover" title=""
                                                                                     data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ messages.error_msg_campaign_end_date }}"
                                                           name="error_msg_campaign_end_date"
                                                           placeholder="This message is shown when the campagin is ended"
                                                           autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Landing page expiration
                                                    background overlay colour&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                                  class="cio-popover"
                                                                                                  data-toggle="popover"
                                                                                                  title=""
                                                                                                  data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" id="colorPicker2" class="form-control"
                                                           value="{{ messages.expiration_color }}" name="expiration_color"
                                                           placeholder="#ffff" autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-4 col-lg-4 col-form-label">Landing page expiration
                                                    background overlay transparancy&nbsp;&nbsp;&nbsp;<a data-html="true"
                                                                                                        class="cio-popover"
                                                                                                        data-toggle="popover"
                                                                                                        title=""
                                                                                                        data-content=""><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-8 col-xl-6">
                                                    <input type="text" id="slider"
                                                           value="{{ messages.expiration_transparency }}"
                                                           name="expiration_transparency" autocomplete="false">
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <input type="hidden" name="token" value="{{ csrf_token('messages-update') }}"/>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-5 col-xl-5">
                                            </div>
                                            <div class="col-lg-2 col-xl-2">
                                                <button type="submit"
                                                        class="btn btn-brand btn-elevate kt-login__btn-primary">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
{% endblock %}

{% block javascripts %}
    <!--begin::Spectrum-->
    <script src="{{ jsurl }}/settings/spectrum.js" type="text/javascript"></script>
    <script src="{{ jsurl }}/settings/colorpicker.js" type="text/javascript"></script>
    <!--end::Spectrum -->

    <script type="text/javascript">
        let err_color = $(".basic").val();
        let expiration_color = $("#colorPicker2").val();
        let expiration_transparency = $("#slider").val();

        jQuery(".basic").spectrum({
            color: err_color,
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            localStorageKey: "spectrum.demo",
            move: function (color) {

            },
            show: function () {

            },
            beforeShow: function () {

            },
            hide: function () {

            },
            change: function () {

            },
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)", "rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
                    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });

        jQuery("#colorPicker2").spectrum({
            color: expiration_color,
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            localStorageKey: "spectrum.demo",
            move: function (color) {

            },
            show: function () {

            },
            beforeShow: function () {

            },
            hide: function () {

            },
            change: function () {

            },
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)", "rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
                    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });

        jQuery("#slider").ionRangeSlider({
            min: 0.1,
            max: 1.0,
            from: expiration_transparency,
            step: 0.1,
            skin: "modern"
        });

        jQuery(function () {
            jQuery('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'
            })
        });

        $('#menu-settings').addClass("show");
        $('#set-msg').addClass("kt-widget__item--active");
    </script>

    <script>
        let viewType = "{{ messages.view_type is defined ? messages.view_type:'' }}"
        if (viewType === 'view') {
            setTimeout(function () {
                $("input").attr({
                    "readonly": true,
                    disabled: "disabled"
                });
                $("select").attr({
                    disabled: "disabled"
                });
            }, 100);
        }
    </script>

{% endblock %}
