{% extends "app.twig" %}
{% block content %}
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
      <span>
      </span>
            </button>
            <h3 class="kt-subheader__title">Profile settings
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v">
    </span>
            <span class="kt-subheader__desc">{#{{ auth.user }}#}
    </span>
        </div>
    </div>
    <!-- end:: Content Head -->
    <!-- begin:: warnings  -->
    {% if error is defined %}
    <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon">
            <i class="flaticon-warning">
            </i>
        </div>
        <div class="alert-text">{{ error }}
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="la la-close">
        </i>
      </span>
            </button>
        </div>
    </div>
    {% endif %}
    <!-- end:: warnings -->
    <!--begin:alert -->
    {% if success is defined %}
    <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon">
            <i class="far fa-check-square">
            </i>
        </div>
        <div class="alert-text">{{ success }}
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="la la-close">
        </i>
      </span>
            </button>
        </div>
    </div>
    {% endif %}
    <!--end:alert -->
    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">
        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close">
                </i>
            </button>
            <!--End:: App Aside Mobile Toggle-->
            <!--End:: App Aside-->
            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Personal Information
                                        <small>update your personal
                                            informaiton
                                        </small>
                                    </h3>
                                </div>
                            </div>
                            <form class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            <div class="row">
                                                <label class="col-xl-3">
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Personal
                                                        information:
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Salutation</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control" id="name3" name="salutation">
                                                        <option class="select-option"
                                                                value="Mr" {{ userInfo.salutation == "Mr" ? "selected" : "" }}>
                                                            Mr
                                                        </option>
                                                        <option class="select-option"
                                                                value="Mrs" {{ userInfo.salutation == "Mrs" ? "selected" : "" }}>
                                                            Mrs
                                                        </option>
                                                        <option class="select-option"
                                                                value="Mx" {{ userInfo.salutation == "Mx" ? "selected" : "" }}>
                                                            Mx
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">First Name
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control"
                                                           value="{{ userInfo.first_name is defined ? userInfo.first_name:'' }}"
                                                           value="{{ userInfo.last_name is defined ? userInfo.last_name:'' }}"
                                                           type="text"
                                                           name="first_name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Last Name
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" type="text"
                                                           value="{{ userInfo.last_name is defined ? userInfo.last_name:''  }}" name="last_name">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-xl-3">
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Contact
                                                        Information:
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          <i
                                                                  class="la la-phone">
                                                          </i>
                                                        </span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               value="{{ userInfo.phone is defined ? userInfo.phone:'' }}" name="phone"
                                                               aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Email Address
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              <i
                                                                      class="la la-at">
                                                              </i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               value="{{ userInfo.email is defined ? userInfo.email:'' }}" name="email"
                                                               aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="token" value="{{ csrf_token('user-update') }}"/>
                                            <input type="hidden" name="id" value="{{ userInfo.id is defined ? userInfo.id:'' }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button name="submit" type="submit"
                                                        class="btn btn-brand btn-elevate kt-login__btn-primary">Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->
{% endblock %}
{% block javascripts %}
    <script>
        $ ( ".hide" ).hide ();
        $ ( "#toogle" ).click ( function () {
                $ ( ".hide" ).toggle ( 'fast' );
            }
        );
    </script>
{% endblock %}
