{#
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
CAUTION: YOU'LL FIND FURTHER RELEVANT HTML CODE (GENERATED, E.G. FOR TABLE) in ciomgrcode/public/assets/js/delivery-management/inbox-monitor.js
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#}
{% extends "app.twig" %}

{% block pagehead %}
	<script src="{{jsurl ~ '/delivery-management/inbox-monitor/circle-progress.min.js'}}"></script>
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/delivery-management/inbox-monitor/inbox_monitor.twig.css">
{%endblock%}

{% block content %}
	{# begin:: Content Head  #}
	<div  id="kt_subheader1" class="kt-subheader   kt-grid__item">
		<div class="kt-subheader__main">
			<h3 class="kt-subheader__title" title="Check the inbox status">Inbox Monitor</h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<span class="kt-subheader__desc">{{ current_user.company_name is defined ? current_user.company_name : "" }}</span>
		</div>

		<div class="kt-subheader__toolbar" style="padding-top:20px;">
			<div class="btn-group btn-group-toggle table-list-btn-group" data-toggle="buttons">
						{# Radio button - "ALL"  #}
						<label class="btn table-list-btn active">
							<input id="radioAll" class="filter" name="seedpooltype" data-filter="seedpooltype" value="all" type="radio" autocomplete="off" checked>
							All
						</label>
						{# Radio button - "MONITORING"  #}
						<label class="btn table-list-btn">
							<input id="radioMonitoring" class="filter" name="seedpooltype" data-filter="seedpooltype" value="monitoring" type="radio" autocomplete="off">
							Monitoring
						</label>
						{# Radio button - "TESTING"  #}
						<label class="btn table-list-btn">
							<input id="radioTesting" class="filter" name="seedpooltype" data-filter="seedpooltype" value="testing" type="radio" autocomplete="off">
							Testing
						</label>
						{# Radio button - "MONITORING/TESTING"  #}
						<label class="btn table-list-btn">
							<input id="radioMonitoringTesting" class="filter" name="seedpooltype" data-filter="seedpooltype" value="monitoring&testing" type="radio" autocomplete="off">
							Monitoring/Testing
						</label>
			</div>
		</div>
	</div>
	{# end:: Content Head  #}

	{# begin:: Content Head  #}
	<div  id="kt_subheader2" class="kt-subheader   kt-grid__item">
		<div class="kt-subheader__main">
			<ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
				{# Begin - Inbox Monitor - Full Text Search Input  #}
				<li class="nav-item">
					<input id="fullTextSearch" type="text" class="filter form-control" placeholder="Search - enter three characters as minimum" data-filter="fulltextsearch" style="width:300px;" minlength="3">
				</li>
				{# End - Inbox Monitor - Full Text Search Input  #}
			</ul>
		</div>

		{# begin:sub-control menu  #}
		<div style="" class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold nav-shopqueuestatus" role="tablist">
					{# Search #}

					{# Show Custom Fields #}
					{#
					<li class="nav-item d-none">
						<button class="form-control" id="show-cus-fields">Show CustomFields</button>
					</li>
					#}

					{# Begin - Filter SeedPoolGroup-Name  #}
					<li class="nav-item">
						{# Dropdown SeedPoolGroup-Name  #}
						<select id="SeedPoolGroupName" class="filter btn btn-secondary dropdown-toggle form-control dropdown-shopqueustatus" data-filter="seedpoolgroupname" type="button" aria-haspopup="true" aria-expanded="true">
							<option id="seed_pool_grp_all" class="form-control dropdown-shopqueustatus-item" value="all" selected>Seedpool Group</option>
							{# Selection - SeedPool-Name - "ALL"  #}
							{# <option id="webhook_type_all" class="form-control dropdown-shopqueustatus-item" value="all">All</option> #}
							{# Selection - SeedPool-Name - loop throug seed pools and generate options"  #}
							{% for seed_pool_grp in seed_pool_groups %}
								{#<option id="{{ seed_pool_grp.id }}" class="seed_pool_id_{{seed_pool_grp.seed_pool_id}} form-control dropdown-seedpool-item" value="{{ seed_pool_grp.id }}">{{ seed_pool_grp.name }}</option>#}
								<option id="seed_pool_grp_{{ seed_pool_grp.id }}" class="form-control dropdown-seedpool-item" value="{{ seed_pool_grp.id }}">{{ seed_pool_grp.name }}</option>
							{% endfor %}
						</select>
					</li>
					{# End - Filter SeedPoolGroup-Name  #}

					{# Begin - Filter SeedPool-Name  #}
					<li class="nav-item">
						{# Dropdown SeedPool-Name  #}
						<select id="SeedPoolName" class="filter btn btn-secondary dropdown-toggle form-control dropdown-shopqueustatus" data-filter="seedpoolname" type="button" aria-haspopup="true" aria-expanded="true">
							<option id="seedpool_all" class="form-control dropdown-shopqueustatus-item" data-seedpoolgroupid="all" value="all" selected>SeedPool-Name</option>
							{# Selection - SeedPool-Name - "ALL"  #}
							{# <option id="webhook_type_all" class="form-control dropdown-shopqueustatus-item" value="all">All</option> #}
							{# Selection - SeedPool-Name - loop throug seed pools and generate options"  #}
							{% for key, seed_pool in seed_pools %}
								<option id="seedpool_{{ key }}" class="seed_pool_group_id_{{seed_pool.seed_pool_group_id}} form-control dropdown-seedpool-item" data-seedpoolgroupid="{{ seed_pool.seed_pool_group_id }}" value="{{ key }}">{{ seed_pool.name }}</option>
							{% endfor %}
						</select>
					</li>
					{# End - Filter SeedPool-Name  #}

					{# Begin - Filter Domain  #}
					<li class="nav-item">
						{# Dropdown Domain  #}
						<select id="domainName" class="filter domains-dropdown btn btn-secondary dropdown-toggle form-control" data-filter="domainname" type="button" aria-haspopup="true" aria-expanded="true">
							<option id="all" class="form-control dropdown-shopqueustatus-item" value="all" selected>Domains</option> {#disabled selected hidden#}
							{# Selection - Domain "Examples"  #}
							{# Selection - SeedPool-Name - loop throug seed pools and generate options"  #}
							{% for key, domain in domains %}
								<option id="domain_id_{{ key }}" class="form-control dropdown-seedpool-item" value="{{ key }}">{{ domain }}</option>
							{% endfor %}
						</select>
					</li>
					{# End - Filter Domain  #}

					{# Begin - Filter Spam-Reason  #}
					<li class="nav-item">
						{# Dropdown - Spam-Reason  #}
						{# @Aravind: can we get spam resaons from the API ? #}
						<select id="spamReasonName" class="filter btn btn-secondary dropdown-toggle form-control dropdown-shopqueustatus" data-filter="spamreason" type="button" aria-haspopup="true" aria-expanded="true">
							<option id="" class="form-control dropdown-shopqueustatus-item" value="all" disabled selected hidden>Spam-Reason</option>
							{# Selection - Spam-Reason Type - "ALL"  #}
							{# <option id="" class="form-control dropdown-shopqueustatus-item" value="999">All</option> #}
							<option id="" class="form-control dropdown-shopqueustatus-item" value="nospamreason">no spam reason</option>
							{# Selection - Spam-Reason Type - "5(eXpurgate)"  #}
							<option id="" class="form-control dropdown-shopqueustatus-item" value="eXpurgate">5 (eXpurgate)</option>
							{# Selection - Spam-Reason Type - "20(nemesis spam protection)"  #}
							<option id="" class="form-control dropdown-shopqueustatus-item" value="protection">20 (nemesis spam protection)</option>
							{# Selection - Spam-Reason Type - "4(nemesis spam server blocker)"  #}
							<option id="" class="form-control dropdown-shopqueustatus-item" value="blocker">4 (nemesis spam server blocker)</option>
							{# Selection - Spam-Reason Type - "5(nemesis mail header analyzer)"  #}
							<option id="" class="form-control dropdown-shopqueustatus-item" value="analyzer">5 (nemesis mail header analyzer)</option>{# why is that also "5" ??? #}
							{# Selection - Spam-Reason Type - "6(nemesis text pattern profiler)"  #}
							<option id="" class="form-control dropdown-shopqueustatus-item" value="profiler">6 (nemesis textpattern profiler)</option>
						</select>
					</li>
					{# End - Filter Spam-Reason  #}

					{# Begin - Filter on SeedPool-Type - radio filter buttons  #}
					{# TODO: clean up bad code
						1) type radio, but missing radio setup (must have the same name)
						2) id's and values do not match what has to done
						3) formating:lat attr of input is wrapped
						4) in TWIG never use HTML comment style => use TWIG comment style !!!


					<div class="btn-group btn-group-toggle table-list-btn-group" data-toggle="buttons">

						<label class="btn table-list-btn active">
							<input id="new_webhook_filter_btn" value="webhookFilterNew" type="radio" autocomplete="off"
								   checked> All
						</label>

						<label class="btn table-list-btn">
							<input id="working_webhook_filter_btn" value="webhookFilterWorking" type="radio"
								   autocomplete="off"> Monitoring
						</label>

						<label class="btn table-list-btn">
							<input id="failed_webhook_filter_btn" value="webhookFilterFailed" type="radio"
								   autocomplete="off"> Testing
						</label>

						<label class="btn table-list-btn">
							<input id="done_webhook_filter_btn" value="webhookFilterDone" type="radio"
								   autocomplete="off"> Monitoring/Testing
						</label>
					</div>
					#}
					{# End - Filter on SeedPool-Type - radio filter buttons  #}

					{# TODO: @???: if this should be a radio set, then implement it as radio !!! #}
					{#
					<div class="btn-group btn-group-toggle table-list-btn-group" data-toggle="buttons">


						<label class="btn table-list-btn active">
							<input id="radioAll" class="filter" name="seedpooltype" data-filter="seedpooltype" value="all" type="radio" autocomplete="off" checked>
							All
						</label>

						<label class="btn table-list-btn">
							<input id="radioMonitoring" class="filter" name="seedpooltype" data-filter="seedpooltype" value="monitoring" type="radio" autocomplete="off">
							Monitoring
						</label>

						<label class="btn table-list-btn">
							<input id="radioTesting" class="filter" name="seedpooltype" data-filter="seedpooltype" value="testing" type="radio" autocomplete="off">
							Testing
						</label>

						<label class="btn table-list-btn">
							<input id="radioMonitoringTesting" class="filter" name="seedpooltype" data-filter="seedpooltype" value="monitoring&testing" type="radio" autocomplete="off">
							Monitoring/Testing
						</label>
					</div>
					#}
					{# End - Filter on SeedPool-Type - radio filter buttons #}
					<li id="startFilterLi" class="nav-item">
						<div id="startFilter" class="btn btn-brand btn-elevate btn-icon-sm" style="cursor: pointer">
							<i class="fa fa-filter"></i> Start
						</div>
					</li>

					<li id="resetFilterLi" class="nav-item">
						<div id="resetFilter" class="btn btn-brand btn-elevate btn-icon-sm"  style="cursor: pointer">
							<i class="fa fa-filter"></i> Clear
						</div>
					</li>
					&nbsp;&nbsp;
					<li id="runSyncLi" class="nav-item">
						<div id="inbox-monitor-sync-button" class="btn btn-brand btn-elevate btn-icon-sm" style="cursor: pointer;" data-route="{{ path('inboxmonitor.sync') }}">
							Sync<span id="runsync" style="display: none; ">&nbsp;&nbsp;&nbsp;<img src="{{ imgurl~'/cio/loading.gif' }}" style="height: 20px"></span>
						</div>
					</li>

				</ul>
			</div>
		</div>
		{# end::sub-control menu #}
	</div>
	{# end:: Content Head  #}

	{# begin:: Content  #}
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
		{# TODO: REMOVE => dead code #}
		{% if status is defined and status.error %}
			{# begin:: warnings   #}
			<div class="alert alert-danger fade show" role="alert">
				<div class="alert-icon">
					<i class="flaticon-warning"></i>
				</div>
				<div class="alert-text">error</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="la la-close"></i></span>
					</button>
				</div>
			</div>
		{% endif %}
		{# end:: warnings  #}

		{# begin:alert  #}
		{% if status is defined and status.success %}
			<div class="alert alert-light alert-elevate fade show" role="alert">
				<div class="alert-icon">
					<i class="flaticon-warning"></i>
				</div>
				<div class="alert-text">success</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="la la-close"></i></span>
					</button>
				</div>
			</div>
		{% endif %}
		{# end:alert  #}
		{# end:: warnings  #}

		{# BEGIN Table  #}
		{# @Aravind: fill this table the TWIG standard way => by controller provided data, but not with javascript !!! #}
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				{# Begin: Datatable - inbox monitor  #}
				<table class="table  table-striped table-bordered table-hover table-checkable" id="inboxMonitorTable">
					<thead>
					<tr>
					</tr>
					</thead>
					<tbody>
					<tr hidden id="body_row_template">
					</tr>
					</tbody>
				</table>
				<div hidden id="tbody_dropdown_template">
					 <span class="dropdown">
                          <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md"
							 data-toggle="dropdown" aria-expanded="true">
                          <i class="fa fa-ellipsis-h" style="font-size:24px;color:#7abe73"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                          </div>
                     </span>
				</div>
				<div id="pagination_bar">
					<nav aria-label="Page navigation" id="pagination_nav_bar" hidden>
						<ul class="pagination" id="paginationUl">
						</ul>
					</nav>
				</div>
				<template id="previous_template">
					<li class="page-item" id="previous">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
				</template>
				<template id="next_template">
					<li class="page-item" id="next">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</template>
				{# End: Datatable - Shopdataqueue  #}
			</div>
		</div>
		{# END Table  #}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
        //@internal - get the values from controller to use it in contact-overview.js
        const path = '/paging/inboxmonitor/'; // @jsr Note : twig path(some_route) is not working here HINT: @Aravind pathes should not be exposed in JS => hide in some element base64 encoded and then get path by JS
        const viewName = 'inboxmonitor';
		{# @internal
        	columns for table
        	1.Updated (Sorted newest created to oldest)
        	2.Name (Name of inbox monitor)
        	3.SeedPool (seed pool name with inbox monitor is connect to)
        	4.SeedPool-Type (Monitoring || Testing || Monitoring/Testing)
        	5.SenderAlias (Data form mosento)
        	6.SenderAddress (Data form mosento)
        	7.ReceivedEmails (Data form mosento)
        	8.InboxEmails (Data form mosento)
        	9.SpamEmails (Data form mosento)
        	10.SpamReason (Data form mosento)
        	11.InboxQuota (Data visualization (receivedEmails)/(InboxEmails))
        	Note all the ordering of table body is done keeping this array in mind
		#}
		{# This array helps to create header of the view table => TODO: Hint @Aravind: this must be defined the table and not to JS #}
        let allAvailableFieldsForView = ['Received', 'Name', 'Seedpool Group', 'Seedpool', 'SeedPool Type', 'Subject', 'Sender Address', 'Received Emails', 'Inbox Emails', 'Spam Emails', 'Spam Reason', 'Inbox Quota', 'Actions']
	</script>
	<script src="{{ jsurl }}/delivery-management/inbox-monitor/inbox-monitor.js" type="text/javascript"></script>
{% endblock %}

