{% extends "app.twig" %}

{% block pagehead %}
	<script src="{{jsurl ~ '/delivery-management/inbox-monitor/circle-progress.min.js'}}"></script>
	<link rel="stylesheet" type="text/css" href="{{ cssurl }}/delivery-management/inbox-monitor/inbox_monitor_single_view.twig.css">
{%  endblock %}

{% block content %}

	{# SWITCH SPAM RESAON EXPLANATION #}
	{%if ('expurgate' in (inboxmonitor.spam_reason | lower)) %}
		{% set ref_spamreason = 'expurgate' %}
	{% elseif ('protection' in (inboxmonitor.spam_reason | lower)) %}
		{% set ref_spamreason = 'protection' %}
	{% elseif ('blocker' in (inboxmonitor.spam_reason | lower)) %}
		{% set ref_spamreason = 'blocker' %}
	{% elseif ('analyzer' in (inboxmonitor.spam_reason | lower)) %}
		{% set ref_spamreason = 'analyzer' %}
	{% elseif ('profiler' in (inboxmonitor.spam_reason | lower)) %}
		{% set ref_spamreason = 'profiler' %}
	{%else %}
		{% set ref_spamreason = 'notdefined' %}
	{% endif %}
	{# this setting is taken at document ready event by JS #}
	<div id="spam_reason_explanation" data-spam_reason_explanation="{{ ref_spamreason }}"></div>

	{# begin:: Content #}
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
		<div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

				{# START SUBHEADER #}
				<div class="kt-subheader   kt-grid__item" id="kt_subheader">
					<div class="kt-subheader__main">
						<h3 class="kt-subheader__title">Inbox Monitor Detail View</h3>
						<span class="kt-subheader__separator kt-subheader__separator--v"></span>
						<span class="kt-subheader__desc">{{ inboxmonitor.name }}</span>
					</div>
					<div class="kt-subheader__toolbar" style="padding-top:20px;">
						<a id="backbutton" class="btn btn-brand btn-icon-sm" href="{{path('inbox_monitor.view')}}"><i class="la la-angle-left"></i>Back</a>
					</div>
				</div>
				{# ENDE SUBHEADER #}
				{# START CONTENT #}
				<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
					<div class="row">
						{# START SPALTE LINKS #}
						<div class="col-xl-6">
							<div class="kt-portlet kt-portlet--mobile ">
								<div class="kt-portlet__body">
									<div class="kt-widget kt-widget--user-profile-1">
										<div class="kt-widget__head">
											<div class="kt-widget__media">
                                                <span style="background-color:#7abe73; color:#fff;" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-"><i style="font-size:20px;" class="fas fa-envelope"></i></span>
											</div>
											<div class="kt-widget__content">
												<div class="kt-widget__section">
													<a href="#" class="kt-widget__username">
														{{ inboxmonitor.name }}
													</a>
													{# data not available ...
                                                <span class="kt-widget__subtitle">
													Hauptversand
												</span>
													#}
												</div>
											</div>
										</div>
										<div class="kt-widget__body">
											<div class="kt-widget__content">
												<div class="kt-widget__info">
													<span class="kt-widget__label">Updated:</span>
													<div class="kt-widget__data">{{ inboxmonitor.updated }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">ID:</span>
													<div class="kt-widget__data">{{ inboxmonitor.id }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Name:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.name }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Seedpool:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.SeedPool }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Seedpool-ID:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.seed_pool_id }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Seedpool-Type:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.SeedPoolType }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Sender Alias:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.sender_alias }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Sender Address:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.sender_address }}</div>
												</div>
												{# data 'local part' n.a.
                                            <div class="kt-widget__info">
                                                <span class="kt-widget__label">LocaPart:</span>
                                                <div
                                                   class="kt-widget__data">123</div>
                                            </div>
												#}
												<div class="kt-widget__info">
													<span class="kt-widget__label">Sender Domain:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.sender_address |split('@')[1] }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Received Emails:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.received_emails }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Inbox Emails:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.inbox_emails }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Spam Emails:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.spam_emails }}</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Inbox Quota:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.InboxQuota * 100 }}%</div>
												</div>
												<div class="kt-widget__info">
													<span class="kt-widget__label">Spam Reason:</span>
													<div  class="kt-widget__data">{{ inboxmonitor.spam_reason|length > 1 ? inboxmonitor.spam_reason : './.' }}</div>
												</div>
												<div id="ref_spamreason" style="display: none">


												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{# ENDE SPALTE LINKS #}

						{# START SPALTE MITTE #}
						<div id="inboxQuota" class="col-xl-3">
							<div class="kt-portlet kt-portlet--mobile ">
								<div class="kt-portlet__body">
									<div class="kt-widget kt-widget--user-profile-1">
										<div class="kt-widget__body">
											<div class="kt-widget__content">

												{# display circle title / header #}
												<div style="margin-bottom:30px;" class="row">
													<div class="col-xl-12">
														<div class="text-center">
															<span style="font-size:xx-large;">Inbox Quota</span>
														</div>
													</div>
												</div>

												{# draw circle progressbar #}
												<section id="circleBar">
													<div class="container">
														<div class="row">
															<div class="col-md-12">
																<div class="round"
																	{# data-value="{{0.33 }}"  <=== test #}
																	 data-value="{{inboxmonitor.InboxQuota }}"
																	 data-size="200"
																	 data-thickness="6">
																	<strong>{{inboxmonitor.InboxQuota * 100 }}%</strong>
																</div>
															</div>
														</div>
													</div>
												</section>

												{# text below circle progressbar #}
												<div style="margin-top:30px;" class="row">
													<div class="col-xl-4">
														<div class="text-center">
															<span style="font-size:40px;">{{ inboxmonitor.received_emails }}</span>
															<br>
															<span style="font-size:16px;">ReceivedEmails</span>
														</div>
													</div>
													<div class="col-xl-4">
														<div class="text-center">
															<span style="font-size:40px;">{{ inboxmonitor.inbox_emails }}</span>
															<br>
															<span style="font-size:16px;">InboxEmails</span>
														</div>
													</div>
													<div class="col-xl-4">
														<div class="text-center">
															{% set redOrGreen = (inboxmonitor.spam_emails > 0) ? '#dc143c' : '#7abe73' %}
															<span style="color: {{redOrGreen}}; font-size:40px;">{{ inboxmonitor.spam_emails }}</span>
															<br>
															<span style="font-size:16px;">SpamEmails</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{# ENDE SPALTE MITTE #}

						{# START SPALTE RECHTS #}
						<div class="col-xl-3">
							<div class="kt-portlet kt-portlet--mobile ">
								<div class="kt-portlet__body">
									<div class="kt-widget kt-widget--user-profile-1">

										<div class="kt-widget__body">
											<div class="kt-widget__content">

												<div style="margin-bottom:30px;" class="row">
													<div class="col-xl-12">
														<div class="text-center">
															<span style="font-size:16px;">SpamReason:</span>
															<div style="font-size:16px;"><b>{{ inboxmonitor.spam_reason|length > 1 ? inboxmonitor.spam_reason : './.' }}</b></div>
														</div>
													</div>
												</div>
												{# SPAM RESON EXPLANATION #}
												<div style="margin-top:50px;" class="row">
													<div class="col-xl-12">
														<div id="expurgate" class="spamreason" style="display: none">
															{#
															<span style="font-size:16px;"><b>5 (eXpurgate)</b></span>
															#}
															<div style="font-size:14px; line-height: 26px;">
                                                            SpamCode provided Cyren. Cyren is used by ISP e.g. 1und1, Google. If you have this error,
                                                            we recommend to test the domain with a simple hello-world - without tracking, links just
                                                            a normal email you will write a friend to meet up for a beer. Please Personalize the content
                                                            with First Name, City etc. Cyren is analysing the webpage associated with domain. Cyren
                                                            calculates fuzzy hashes for the content, domain, IP etc. This could also trigger this error.
                                                            You can raise a ticket and request removal by Cyren. If Cyren has removed you, some ISP
                                                            ignore the updated status of your webpage.
															</div>
														</div>
														<div id="protection" class="spamreason" style="display: none">
															{#
															<span style="font-size:16px;"><b>20 (nemesis spam protection)</b></span>
															#}
															<div style="font-size:14px; line-height: 26px;">
                                                            Newsletter was classified as Bulk Advertising. This is an error code of 1und1.
                                                            It was introduce 2019/20 to differentiate between shop-newsletters classified
                                                            as Bulk Email/Newsletter and Email Publisher sending advertising emails on
                                                            behalf of an advertisers. With this error most likely your emails will be moved
                                                            to the junk folder.
															</div>
														</div>
														<div id="blocker" class="spamreason" style="display: none">
															{#
															<span style="font-size:16px;"><b>4 (nemesis spam server blocker)</b></span>
															#}
															<div style="font-size:14px; line-height: 26px;">
                                                            So far only noticed in connection with non-CSA dispatches, perhaps shows the
															internal domain or IP blacklist of 1&1.
															</div>
														</div>
														<div id="analyzer" class="spamreason" style="display: none">
															{#
															<span style="font-size:16px;"><b>5 (nemesis mail header analyzer)</b></span>
															#}
															<div style="font-size:14px; line-height: 26px;">
                                                            Rules out technical problems with the IP addresses (such as missing RDNS) and here the
															filter signals that, for example, the complete sender (local part, sender alias, recipient alias,
															rarely domain) has been noticed. You can bypass the filter if you change the corresponding parts.
															</div>
														</div>
														<div id="profiler" class="spamreason" style="display: none">
															{#
															<span style="font-size:16px;"><b>6 (nemesis text pattern profiler)</b></span>
															#}
															<div style="font-size:14px; line-height: 26px;">
															Indicates email html problems.
                                                            </div>
														</div>
														<div id="notdefined" class="spamreason" style="display: none">
															{#
															<span style="font-size:16px;"><b>./.</b></span>
															#}
															<div style="font-size:14px; line-height: 26px;">
															no email has ended up in spam so far
                                                            </div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{# ENDE SPALTE LINKS #}

					</div>
				</div>
			</div>
		</div>
	</div>
	{# end:: content #}
{% endblock %}

{% block javascripts %}
	<script src="{{jsurl ~ '/delivery-management/inbox-monitor/inbox_monitor_single_view.twig.js'}}"></script>
{% endblock %}
