{% extends "app.twig" %}

{% block content %}

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{campaigns[0].error is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{campaigns[0].error is defined ? campaigns[0].error :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->



    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{campaigns[0].success is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{campaigns[0].success is defined ? campaigns[0].success :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">Archived Pages</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{campaigns[0].account}}</span>

            <!--
            <a href="#" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10">
                Add New
            </a>
            -->

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:button filter by campaigns-->
                {# <button class="btn btn-secondary" type="button">Tracking</button> #}
                <!--end:button filter by campaigns -->

                <!--begin:button filter by lead status -->
                {# <button class="btn btn-secondary" type="button">Integrations</button> #}
                <!--end:filter by lead status -->

                <!--begin:button filter by date -->
                {# <button class="btn btn-secondary" type="button">Settings</button> #}
                <!--end:button filter by date-->



            </div>
        </div>



        <!--end::sub-control menu-->
    </div>

 <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader" style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main">

            <!--begin:create new campaign -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="{{path('camp.create')}}">Create Page</a>
                <!--end:create new campaign -->

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar" style="padding-top:20px;">

                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('camp.active') }}">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "  href="{{ path('camp.draft') }}">Draft</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  style="background-color: #fd397a;" href="{{ path('camp.archive') }}">Archive</a>
                        </li>
                    </ul>
                </div>






        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->







{% set id = 1 %}
    {% if campaigns|length > 0 and campaignHasRecords %}
{% for campaign in campaigns %}


<!-- begin:: Content -->
<div class="campaign-list-wrapper kt-grid__item">
		<!--begin:: Portlet-->
<div class="kt-portlet kt-portlet-campaigns">
    <div class="kt-portlet__body">
        <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">

                <!--
                <div class="kt-widget__media kt-hidden-">
                    <img src="/metronic/themes/metronic/theme/default/demo2/dist/assets/media/users/100_1.jpg" alt="image">
                </div>
                -->


                <div class="kt-widget__content">


                    <div class="kt-widget__head">
                        <a href="{{campaign.url}}" target="_blank" class="kt-widget__username">

                            <span style="background-color:#fff; border:1px solid #fd397a;" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-"><span style="color:#000; font-size:14px;">V {{ campaign.version }}</span></span>
                            &nbsp;{{ campaign.name }}&nbsp;<small>-&nbsp;{{ campaign.url }}<i style="font-size:10px; color:#e1e1ef!important;" class="fas fa-external-link-alt"></i></small>
                        </a>

                       <div class="kt-widget__action">




                           <i style="color: #e1e1ef!important;" class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;<span>0</span>

                           &nbsp; &nbsp; &nbsp;

                           <i style="color: #e1e1ef!important;" class="fas fa-users fa-lg"></i>&nbsp;&nbsp;<span>0</span>

                            &nbsp; &nbsp; &nbsp;

                            <i style="color: #e1e1ef!important;" class="fas fa-crosshairs fa-lg"></i>&nbsp;&nbsp;<span>0</span>

                            &nbsp; &nbsp; &nbsp;

                            <i style="color: #e1e1ef!important;" class="fas fa-percentage fa-lg"></i>&nbsp;&nbsp;<span>0,00</span>

                            &nbsp; &nbsp; &nbsp;
                             &nbsp; &nbsp; &nbsp;

                            <button type="button" class="showhr btn btn-secondary btn-sm btn-upper">details</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-sm btn-upper" data-toggle="dropdown" aria-expanded="true">action</button>

                            <div class="dropdown-menu dropdown-menu-right">
                               <a class="dropdown-item" href="{{campaign.url}}" target="_blank">Campaign</a>
                                                            <a class="dropdown-item" href={{ campaign.revise_url }}>Revise</a>
                                <a class="dropdown-item" href="{{path('page.download',{page_id: campaign.id,page_type: 'archive'})}}">Download</a>

                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="kt-widget__subhead">
                        <a href="#"><i class="flaticon2-new-email"></i>jason@siastudio.com</a>
                        <a href="#"><i class="flaticon2-calendar-3"></i>PR Manager </a>
                        <a href="#"><i class="flaticon2-placeholder"></i>Melbourne</a>
                    </div>
                     -->

                    <!--
                    <div class="kt-widget__info">
                        <div class="kt-widget__desc">
                            I distinguish three main text objektive could be merely to inform people.
                            <br> A second could be persuade people.You want people to bay objective
                        </div>
                        <div class="kt-widget__progress">
                            <div class="kt-widget__text">
                                Progress
                            </div>
                            <div class="progress" style="height: 5px;width: 100%;">
                                <div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="kt-widget__stats">
                                78%
                            </div>
                        </div>
                    </div>
                    -->


                </div>
            </div>


        <div class="child-row">
           <div class="kt-widget__bottom" style="padding-top:20px;">

              <table class="table table-borderless">

                  <tbody>
                    <tr>

                      <td class="text-cente"><small>creation date:</small><br> {{ campaign.created }}</td>
                      <td class="text-cente"><small>created by:</small><br> {{ campaign.created }}</td>
                      <td class="text-cente"><small>last update:</small><br> {{ campaign.updated }}</td>
                      <td class="text-cente"><small>last updated by:</small><br> {{ campaign.updated_by }}</td>
                      <td class="text-cente"><small>archived date:</small><br> {{ campaign.archivedate  is defined ? campaign.archivedate  : campaign.created}}</td>
                      <td class="text-cente"><small>archived by:</small><br> {{ campaign.updated_by }}</td> {# TODO : change to archive by#}
                      <td class="text-cente"><small>version:</small><br> {{ campaign.version }}</td>
                      <td class="text-cente"><small>Object Register UUID:</small><br> {{ campaign.object_unique_id is defined ? campaign.object_unique_id : 'xxxx' }}</td>
                      <td class="text-cente"><small>Object Register ID:</small><br> {{ campaign.objectregister_id is defined? campaign.objectregister_id : 'xxxx' }}</td>

                    </tr>
                  </tbody>
                </table>

            </div>
         </div>



        </div>
    </div>
</div>


</div>


 <style>

.kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
    width: 100%;
    padding-left: 0rem!important;

}

.kt-portlet-campaigns
    {

        border-left: 15px solid #fd397a;
        margin-bottom: 15px;
    }

    .fas
    {

        color: #7abe73!important;
    }

    .campaign-item-wrapper{

    }
</style>

{% set id = id + 1 %}
{% endfor %}
{% endif %}


<p>&nbsp;</p>

{% endblock %}
