{% extends "app.twig" %}

{% block content %}

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{campaigns[0].error is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{campaigns[0].error is defined ? campaigns[0].error :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->



    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{campaigns[0].success is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{campaigns[0].success is defined ? campaigns[0].success :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>

    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">Active Pages</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ campaigns[0].account }}</span>

            <!--
            <a href="#" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10">
                Add New
            </a>
            -->

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:button filter by campaigns-->
                {# <button class="btn btn-secondary" type="button">Tracking</button> #}
                <!--end:button filter by campaigns -->

                <!--begin:button filter by lead status -->
                {# <button class="btn btn-secondary" type="button">Integrations</button> #}
                <!--end:filter by lead status -->

                <!--begin:button filter by date -->
                {# <button class="btn btn-secondary" type="button">Settings</button> #}
                <!--end:button filter by date-->


            </div>
        </div>


        <!--end::sub-control menu-->
    </div>

    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader"
         style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main">

            <!--begin:create new campaign -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path('camp.create') }}">Create
                Page</a>
            <!--end:create new campaign -->

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar" style="padding-top:20px;">

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('camp.active') }}">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('camp.draft') }}">Draft</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('camp.archive') }}">Archive</a>
                </li>
            </ul>
        </div>


        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->




    {% set id = 1 %}
    {% if (campaigns is defined) and campaignHasRecords %}

        {% for campaign in campaigns %}

            <!-- begin:: Content -->
            <div class="campaign-list-wrapper kt-grid__item">
                <!--begin:: Portlet-->
                <div class="kt-portlet kt-portlet-campaigns MatomoCampaigns">
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-3">
                            <div class="kt-widget__top">

                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <a href="{{ campaign.preview_url is defined ? campaign.preview_url:'' }}" target="_blank"
                                           class="kt-widget__username">
                                            <span style="background-color:#7abe73;"
                                                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">
                                                <span style="color:#fff; font-size:14px;">{{ id }}</span>
                                            </span>
                                            {% if campaign.name is defined  and campaign.url is defined %}
                                                &nbsp;{{ campaign.name }}&nbsp;<small>-&nbsp;{{ campaign.url }}<i style="font-size:10px;" class="fas fa-external-link-alt"></i></small>
                                            {% endif %}
                                        </a>

                                        <div class="kt-widget__action logos">

                                            <i class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;<span class="impressionsLogo">0</span>

                                            &nbsp; &nbsp; &nbsp;

                                            <i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;<span class="visitorsLogo">0</span>

                                            &nbsp; &nbsp; &nbsp;

                                            <i class="fas fa-hourglass-half"></i>&nbsp;&nbsp;<span class="averagetimeLogo">0</span>

                                            &nbsp; &nbsp; &nbsp;

                                            <i class="fas fa-crosshairs fa-lg"></i>&nbsp;&nbsp;<span class="conversionsLogo">{{ campaign.conversions is defined ? campaign.conversions:'0' }}</span>

                                            &nbsp; &nbsp; &nbsp;

                                            <i class="fas fa-percentage fa-lg"></i>&nbsp;&nbsp;<span class="conversionRateLogo">0,00</span>

                                            &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp;


                                            <button type="button" class="showhr btn btn-secondary btn-sm btn-upper detailsButton">
                                                details
                                            </button>&nbsp;
                                            <button type="button" class="btn btn-brand btn-sm btn-upper"
                                                    data-toggle="dropdown" aria-expanded="true">action
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{{ campaign.preview_url }}"
                                                   target="_blank">Preview</a>
                                                <a class="dropdown-item" href="{{ campaign.archive_url }}">Archive</a>
                                                <a class="dropdown-item" href="{{path('page.download',{page_id: campaign.id,page_type: 'active'})}}">Download</a>
                                                <a class="dropdown-item" href="{{ campaign.revise_url }}">Start Wizard</a>
                                                <a class="dropdown-item" href="{{ campaign.copy_url }}">Copy</a>
                                                {#todo: create copy #}
                                                {#<a class="dropdown-item" href="#">Copy</a>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="child-row">
                                <div class="kt-widget__bottom">

                                    <div class="kt-widget__item">
                                        <i class="fas fa-eye fa-2x"></i>
                                        <div class="kt-widget__details impressions">
                                            <span class="kt-widget__title">IMPRESSIONS</span>
                                            <span class="kt-widget__value impressionsSpan"><span></span>0</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-users fa-2x"></i>
                                        <div class="kt-widget__details visitors">
                                            <span class="kt-widget__title">VISITORS</span>
                                            <span class="kt-widget__value visitorsSpan" data-url="{{ campaign.preview_url is defined ? campaign.preview_url:'' }}"><span></span>0</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-hourglass-half fa-2x"></i>
                                        <div class="kt-widget__details averageTime">
                                            <span class="kt-widget__title">AVERAGE TIME in sec</span>
                                            <span class="kt-widget__value averageTimeSpan"><span></span>0</span>
                                        </div>
                                    </div>


                                    <div class="kt-widget__item">
                                        <i class="fas fa-crosshairs fa-2x"></i>
                                        <div class="kt-widget__details conversions">
                                            <span class="kt-widget__title">CONVERSIONS</span>
                                            <span class="kt-widget__value conversionsSpan"><span></span>{{ campaign.conversions is defined ? campaign.conversions:'0' }}</span>
                                        </div>
                                    </div>


                                    <div class="kt-widget__item">
                                        <i class="fas fa-percentage fa-2x"></i>
                                        <div class="kt-widget__details conversionRate">
                                            <span class="kt-widget__title">CONVERSION RATE </span>
                                            <span class="kt-widget__value conversionRateSpan"><span>%</span> 0</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-flag-checkered fa-2x"></i>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">END DATE </span>
                                            <span class="kt-widget__value"><span></span>{{ campaign.created is defined ? campaign.created:'' }}</span>
                                        </div>
                                    </div>


                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Active since:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.created is defined ? campaign.created:'' }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Activated by:</span>
                                            {# TODO : change to activation by#}
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.email }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">version:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.version }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Object Register UUID:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.object_unique_id }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Object Register ID:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.objectregister_id is defined? campaign.objectregister_id : 'xxxx' }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Splittest:
                                            {% if campaign.splittest is defined and campaign.splittest.status is defined and campaign.splittest.status == 'on' %}
                                                {% set splittest_status = campaign.splittest.status %}
                                                <span class="kt-font-brand">active</span>
                                            {% else %}
                                                <span class="kt-font-brand">inactive</span>
                                            {% endif %}
                                            </span>
                                            {% if campaign.splittest is defined and campaign.splittest.status is defined and campaign.splittest.status == 'on' %}
                                            <span class="kt-widget__value kt-font-brand" hidden>
                                                <small>
                                                    <a href="#" class="show-splittest">
                                                        <i class="fas fa-search"></i> show variants</a>
                                                </small>
                                            </span>
                                            {% endif %}

                                        </div>
                                    </div>


                                </div>


                            </div>


                        </div>
                    </div>
                </div>

                <!--end:: Portlet-->
                {% if campaign.splittest is defined and campaign.splittest.status is defined and campaign.splittest.status == 'on' %}
                <div class="child-row-splitest">
                    {% set sp_config = campaign.splittest %}
                    <!--begin:: Widgets/Best Sellers-->
                    <div class="kt-portlet kt-portlet--height-fluid" style="margin-left:50px;">
                        <!-- begin :: splittest variants body -->
                        <div class="kt-portlet__body" style="padding-bottom:0px!important; padding-top:35px!important;">
                            <!-- begin :: splittest variants  -->

                            <div class="kt-widget5">
                                {% for variant in sp_config.variants %}
                                    <div class="kt-widget5__item">

                                        <div class="kt-widget5__content">
                                            <div class="kt-widget5__pic">
                                                <span style="border: 1px solid #7abe73; background-color:#fff;"
                                                      class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-"><span
                                                            style="color:#7abe73; font-size:14px;">{{ campaign.version }}</span></span>
                                            </div>
                                            <div class="kt-widget5__section">
                                                <a href="{{ campaign.url }}/{{ sp_config.name }}/{{ variant.variant_id }}/" class="kt-widget5__title" target="_blank">
                                                     {{ campaign.url }}/{{ sp_config.name }}/{{ variant.variant_id }}/
                                                     <i style="font-size:10px;" class="fas fa-external-link-alt"></i>
                                                </a>
                                                <div class="kt-widget5__info">
                                                    <span>Created:</span>
                                                    <span class="kt-widget__value kt-font-brand">{{ campaign.activationdate is defined ? campaign.activationdate:" " }}</span>
                                                    <span>Created by:</span>
                                                    <span class="kt-widget__value kt-font-brand">{{ campaign.email is defined ? campaign.email:"" }}</span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-widget5__content">
                                            <span style="padding-right:60px;"><i
                                                        class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;<span>0.00</span></span>
                                            <span style="padding-right:60px;"><i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;<span>0.00</span></span>
                                            <span style="padding-right:60px;"><i class="fas fa-crosshairs fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                            <span style="padding-right:60px;"><i class="fas fa-percentage fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                            <span style="padding-right:20px;"><i class="fas fa-flag-checkered fa-lg"></i>&nbsp;&nbsp;<span>00.00.0000</span></span>

                                            {#<button type="button" class="btn btn-secondary btn-sm btn-upper"
                                                    data-toggle="dropdown" aria-expanded="true">action
                                            </button>#}

                                            {#<div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{{ campaign.preview_url }}" target="_blank">Preview
                                                    Campaign</a>
                                                <a class="dropdown-item" href="{{ campaign.archive_url }}">Archive</a>
                                                <a class="dropdown-item" href="{{ campaign.revise_url }}">Revise</a>
                                                #}{#                                            <a class="dropdown-item" href="#">View Settings</a>#}{#
                                                #}{# {% set overview_url = "https://campaign-in-one.net/account/#{campaign.account_no}/campaigns/#{campaign.id}/survey"%}
                                                <a class="dropdown-item" href={{ overview_url }}>More Infomation</a> #}{#

                                            </div>#}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--end:: splittest variants -->
                        </div>
                        <!--end:: splittest variants body-->
                    </div>
                </div>
                {% endif %}
                <!--end:: Widgets/Best Sellers-->

            </div>



            <style>

                .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
                    width: 100%;
                    padding-left: 0rem !important;

                }

                .kt-portlet-campaigns {

                    border-left: 15px solid #7abe73;
                    margin-bottom: 15px;
                }

                .fas {

                    color: #7abe73 !important;
                }

                .campaign-item-wrapper {

                }

                .child-row {


                }
            </style>

            {% set id = id + 1 %}
        {% endfor %}
    {% endif %}


{% endblock %}

{% block javascripts %}
    <script>
        //on page-load loop through campaigns and load matomo data
        $( document ).ready(function() {
            const matomoUrl = "{{ app.request.server.get('MATOMO_URL') }}";
            const matomoAuthToken ="{{ app.request.server.get('MatomoAuthToken') }}";
            let campaignsDiv = $(".MatomoCampaigns");
            campaignsDiv.each(function() {
                let parentDiv = $(this).closest('div:has("div.visitors")');
                let visitorsHtml = parentDiv.find('div.visitors');
                let visitorsSpanHtml = visitorsHtml.find('span.visitorsSpan');
                let url = visitorsSpanHtml.data("url");
                let impressionsHtml = parentDiv.find('div.impressions');
                let conversionsHtml = parentDiv.find('div.conversions');
                let averageTimeHtml = parentDiv.find('div.averageTime');
                let conversionRateHtml = parentDiv.find('div.conversionRate');
                let impressionsSpanHtml = impressionsHtml.find('span.impressionsSpan');
                let conversionsSpanHtml = conversionsHtml.find('span.conversionsSpan');
                let averageTimeSpanHtml = averageTimeHtml.find('span.averageTimeSpan');
                let conversionRateSpanHtml = conversionRateHtml.find('span.conversionRateSpan');
                let queryUrlForId = matomoUrl+"/?module=API&method=SitesManager.getSitesIdFromSiteUrl&url="+url+"&format=JSON&token_auth="+matomoAuthToken;
                //to get matomo Id from URL
                let matomoAjaxforsiteId  = {
                    "url": queryUrlForId,
                    "method": "GET",
                    "dataType": "jsonp",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "text/plain"
                    },
                };
                $.ajax(matomoAjaxforsiteId ).done(function (response) {
                    let MatomoSiteId = response[0]['idsite'];
                    if(MatomoSiteId) {
                        let queryForvisitSummery = matomoUrl+"/?module=API&method=VisitsSummary.get&idSite=" + MatomoSiteId + "&period=year&date=today&format=JSON&token_auth="+matomoAuthToken;
                        //this is to get summery analytics
                        let matomoAjaxforViews = {
                            "url": queryForvisitSummery,
                            "method": "GET",
                            "dataType": "jsonp",
                            "timeout": 0,
                            "headers": {
                                "Content-Type": "text/plain"
                            },
                        };
                        $.ajax(matomoAjaxforViews ).done(function (response) {
                            let impressions = response['nb_actions'];
                            let averageTime = response['avg_time_on_site'];
                            //let conversions = response['nb_visits_converted']; This value is from Matomo
                            //take logo values span tag to js variables
                            let logos = parentDiv.find('div.logos');
                            let visitsLogo = logos.find('span.visitorsLogo');
                            let impressionsLogo = logos.find('span.impressionsLogo');
                            let averageVisitTimeLogo = logos.find('span.averagetimeLogo');
                            let conversionsLogo = logos.find('span.conversionsLogo');
                            let conversionRateLogo = logos.find('span.conversionRateLogo');
                            let conversions = parseInt(conversionsLogo.text(),10);
                            let views = response['nb_visits'];
                            let conversionRate = (conversions/views).toFixed(2)*100;
                            //removing infinity and nan
                            if(!isFinite(conversionRate)){
                                conversionRate = 0;
                            }
                            //appending text to logos
                            visitsLogo.text(views);
                            impressionsLogo.text(impressions);
                            averageVisitTimeLogo.text(averageTime);
                            conversionRateLogo.text(conversionRate);
                            //appending text inside details
                            visitorsSpanHtml.text(views);
                            impressionsSpanHtml.text(impressions);
                            averageTimeSpanHtml.text(averageTime);
                            conversionRateSpanHtml.text(conversionRate);
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}

