{% extends "app.twig" %}

{% block content %}


    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {

            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

         body.dragging, body.dragging * {
             cursor: move !important;
         }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        ol.example li.placeholder {
            position: relative;
            /** More li styles **/
        }
        ol.example li.placeholder:before {
            position: absolute;
            /** Define arrowhead **/
        }
        ol.example li{
            list-style-type: none !important;
        }
        .myButton {
            background-color:#44c767;
            border-radius:42px;
            border:1px solid #7abe73;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:13px;
            padding:9px 28px;
            text-decoration:none;
        }
        .myButton:hover {
            background-color:#7abe73;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

    </style>

    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <style>
        /* BEGIN - DUAL LIST BOX DRAG & DROP STYLES */
        .process-hooks-list, .process-hooks-list-2 {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-right: 10px;
            background: #fff;
            padding: 5px;
            width: 100%;
            min-height: 1.5em;
            font-size: 0.85em;
            min-height: 100px;
            border-radius: 5px;
            border: 1px solid #F5f5f5;
        }

        .process-hooks-list-2 {
            border-radius: 5px;
            border: 1px solid rgba(122, 190, 115, 0.5);
        }

        .process-hooks-list li {
            margin: 10px;
            padding: 10px;
            font-size: 1.2em;
            width: 90%;
            border-radius: 3px;
            background-color: #F5f5f5;
        }

        .process-hooks-list-2 li {
            margin: 10px;
            padding: 10px;
            font-size: 1.2em;
            width: 90%;
            border-radius: 3px;
            background-color: #7abe73;
            color: #ffffff;
        }

        .process-hook {
            /*border: 1px solid #bbb;*/
            background-color: #fafafa;
            cursor: grab;
        }

        .process-hook.ui-sortable-helper {
            opacity: 0.5;
        }

        .process-hooks-list .placeholder {
            border: 1px solid #f5f5f5;
            background-color: #fffffd;
            height: 40px;
        }

        .process-hooks-list-2 .placeholder {
            border: 1px solid #7abe73;
            background-color: #fffffd;
            height: 40px;
        }

        .process-hooks-arrow {
            margin-top: 150px;
        }

        .process-hooks-arrow-icon {
            color: #ababab;
            font-size: 30px;
        }

        /* END - DUAL LIST BOX DRAG & DROP STYLES */
    </style>


    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Create Page</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">Page wizard </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/pages/draft"><i
                            class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>
    <!-- end:: Content Head -->
    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->



    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    <!-- begin:: Content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable">
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Settings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Mapping
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure mapping fields
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Page Flow
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Page flow
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            4
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Workflow
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Workflow Actions
                            </div>
                        </div>
                    </div>
                </div>
                {% if current_user.feature.Splittest %}
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            5
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Splittest
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure page splittest
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!--end: Form Wizard Nav -->
        {% if campaign is defined %}
            {% set c_set = campaign %}
        {% endif %}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Page Settings
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group validated">
                                                    <label class="form-control-label" id='campaignName'
                                                           for="inputSuccess1">Name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text"
                                                                                               id="basic-addon1">https://{{ app.request.server.get('CAMPAIGN_DOMAIN') }}/{{ campaign.company_name is defined ? campaign.company_name:'' }}/</span>
                                                        </div>
                                                        <input type="text"
                                                               data-urlprefix="{{ url }}account/campaigns/checkNameOfCampaign/"
                                                               data-getparams="{{ campaign.company_id is defined ? campaign.company_id:"" }}"
                                                               class="form-control is-valid"
                                                               placeholder=""
                                                               id="name1"
                                                               name="campaign[settings][name]"
                                                               aria-describedby="basic-addon1"
                                                               value="{{ c_set.settings.name is defined ? c_set.settings.name : '' }}"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Description of new page to generate new leads."
                                                           name="campaign[settings][description]"
                                                           value="{{ c_set.settings.description is defined ? c_set.settings.description : '' }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">Start Date</label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.settings.beginDate is defined ? c_set.settings.beginDate : '' }}"
                                                           name="campaign[settings][beginDate]" id="kt_datetimepicker_3">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                           <i class="fas fa-play"></i></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">End
                                                    Date</label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" readonly=""
                                                           value="{{ c_set.settings.expireDate is defined ? c_set.settings.expireDate : '' }}"
                                                           name="campaign[settings][expireDate]"
                                                           id="kt_datetimepicker_2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-flag-checkered"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate2"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6" style="margin-top:15px">
                                                <div class="kt-form__section kt-form__section--first">
                                                    {% set permission = c_set.settings.permission is defined ? c_set.settings.permission : '' %}
                                                    <label for="permission">Permission</label>
                                                    <select class="form-control" id="permission"
                                                            name="campaign[settings][permission]" id="permission"
                                                            required>
                                                        <option value="1" {{ permission == 1 ? 'selected':'' }}>No
                                                            Permission
                                                        </option>
                                                        <option value="2" {{ permission == 2 ? 'selected':'' }}>Single
                                                            Opt-In
                                                        </option>
                                                        <option value="3" {{ permission == 3 ? 'selected':'' }}>
                                                            Confirmed Opt-In
                                                        </option>
                                                        <option value="4" {{ permission == 4 ? 'selected':'' }}>Double
                                                            Opt-In
                                                        </option>
                                                        <option value="5" {{ permission == 5 ? 'selected':'' }}>Double
                                                            Opt-In Single User Tracking etc.
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure mapping for MIO and HTML fields</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <!--Here comes Mapping table for the campaign-->

                                        <div id="table" class="table-editable"
                                             data-is-test="{{ c_set.standard_fields |  json_encode() }}">

                                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><strong>Marketing-In-One</strong></th>
                                                    <th class="text-center"><strong>Data type</strong></th>
                                                    <th class="text-center"><strong>Required</strong></th>
                                                    <th class="text-center"><strong>Action</strong></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- This is our clonable table line which will be generated automatically form script-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                            </a>
                                        </span>
                                        <label for="urlID"></label>
                                        <input type="text" class="form-control" id="urlID"
                                               name="campaign[mapping][mappingTable]"
                                               autocomplete="false" hidden>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 2-->

                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure page flow</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form" id="pageFlow">
                                       {#  TODO: instead of loading from createPage.js, add something like {% block pageflow %}{% endblock %}  to import pageFlow.twig here #}
                                        <!--Here comes page  flow configuration logic for the campaign-->
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 3-->

                            <!--begin: Form Wizard Step 4-->
                            <div style="margin-top:50px;" class="kt-wizard-v4__content"
                                 data-ktwizard-type="step-content">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        {% if campaign.processhooks is defined %}
                                            {% set processhooks = campaign.processhooks %}
                                        {% endif %}
                                        <div class="kt-heading kt-heading--md">Assign Workflow Actions to Buttons.</div>
                                        <span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle" aria-hidden="true"></i>  If you do not want any Workflow Actions on your Page, just click the Button "NEXT STEP"</span>
                                        <p>&nbsp;</p>
                                        <div class="btn-group" style="width:100%!important;">
                                            <button style="width:100%!important; background-color: #fff!important; color:#222!important;" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select your Button to configure with Workflow Actions
                                            </button>
                                            <div class="dropdown-menu" id="processhookConfigureDropdownMenu" style="width:100%!important;">
                                                        <a class="dropdown-item" id="Submit" role="button">[index.html]Submit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="buttonProcesshookBuilder" hidden>
                                    <center>
                                        <div style="margin-top:50px;" class="kt-heading kt-heading--md buttonName"></div>
                                    </center>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div style="border:none;"
                                                 class="card card-custom card-stretch gutter-b example example-compact">
                                                <div class="card-body">
                                                    <center>
                                                        <div class="row">
                                                            <!-- FIRST DRAG&DROP COLLUM -->
                                                            <div class="col-5">
                                                                <div class="kt-heading kt-heading--md">Defined Workflow Actions
                                                                </div>
                                                                <ul id="definedProcesshooks" class="process-hooks-list">

                                                                </ul>
                                                            </div>
                                                            <!-- ./ FIRST DRAG&DROP COLLUM -->
                                                            <div class="col-2">
                                                                <div class="process-hooks-arrow">
                                                                    <center>
                                                                        <i class="process-hooks-arrow-icon far fa-exchange-alt"></i>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                            <!-- SECOND DRAG&DROP COLLUM -->
                                                            <div class="col-5">
                                                                <div class="kt-heading kt-heading--md">Active Workflow Actions</div>
                                                                <ul id="activeProcesshooks" class="process-hooks-list-2">

                                                                </ul>
                                                            </div>
                                                            <!-- ./ SECOND DRAG&DROP COLLUM -->
                                                            <input type="text" id="selectedProcesshooks"
                                                                   name="campaign[processhooks]"
                                                                   autocomplete="false" hidden>
                                                            {% if not current_user.feature.Splittest %}
                                                                <input type="hidden" name="campaign[splittest][name]" value="">
                                                            {% endif %}
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 4-->

                            {%   if current_user.feature.Splittest %}
                            <!--begin: Form Wizard Step 5-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">

                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Activate&nbsp;&nbsp
                                                    <a data-html="true" class=" cio-popover" data-toggle="popover"
                                                       title="" data-content="Activate or deactivate splittest for this landing page.">
                                                        <i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i>
                                                    </a>
                                                </label>
                                                <div class="col-lg-9 col-xl-6 ">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                {% if campaign.splittest is defined %}
                                                    {% set c_set = campaign.splittest %}
                                                {% endif %}
                                                    {% set sync_status = "" %}
                                                    {% if c_set.status is defined and c_set.status ==  "on" %}
                                                        {% set sync_status = "checked" %}
                                                    {% endif %}
                                                        <label>
                                                            <input class="show-splittest-settings" type="checkbox"
                                                                   name="campaign[splittest][status]" {{ sync_status }}>
                                                            <span></span>
                                                </label>
                                                </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="settings-splittest">

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Name&nbsp;&nbsp;&nbsp;
                                                        <a data-html="true" class="cio-popover" data-toggle="popover"
                                                           title=""
                                                           data-content="Please specify the name of the splittest."><i
                                                                    style="color:#c5c5c5;"
                                                                    class="fas fa-info-circle fa-lg"></i></a></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input type="text" class="form-control" name="campaign[splittest][name]"
                                                               placeholder="name of splittest" autocomplete="false"
                                                               pattern="[A-Za-z]{1,255}"
                                                               value="{{ c_set.name is defined ? c_set.name : '' }}">

                                                    </div>
                                                </div>

                                                <div class=" form-group row">

                                                    <label class="col-xl-3 col-lg-3 col-form-label">Number of Variants&nbsp;&nbsp;&nbsp;
                                                        <a data-html="true" class="cio-popover" data-toggle="popover"
                                                           title=""
                                                           data-content="Please select number of variants for this splittest."><i
                                                                    style="color:#c5c5c5;"
                                                                    class="fas fa-info-circle fa-lg"></i></a></label>

                                                    <div class="col-lg-9 col-xl-6">
                                                        <select class="form-control kt-select2" id="total_variants"
                                                                name="campaign[splittest][total_variants]">
                                                            <option>Please select</option>
                                                            {% for i in range(1,10) %}
                                                                {% if c_set.total_variants is defined and i == c_set.total_variants %}
                                                                    <option value="{{ i }}" selected>{{ i }}</option>
                                                                {% else %}
                                                                    <option value="{{ i }}">{{ i }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Cookie expiration&nbsp;&nbsp;&nbsp;
                                                        <a data-html="true" class="cio-popover" data-toggle="popover"
                                                           title=""
                                                           data-content="Please specify expiration time of the cookie (stored on client system)."><i
                                                                    style="color:#c5c5c5;"
                                                                    class="fas fa-info-circle fa-lg"></i></a></label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input type="number" class="form-control"
                                                               value="{{ c_set.cookie_expiration is defined and c_set.cookie_expiration > 0 ? c_set.cookie_expiration : '90' }}"
                                                               name="campaign[splittest][cookie_expiration]" placeholder="enter value"
                                                               autocomplete="false">
                                                    </div>
                                                </div>

                                                <hr>
                                                <p>&nbsp;</p>

                                                <div class="form-group row">
                                                    <label class="col-3 col-form-label">Sticky Configuration&nbsp;&nbsp;&nbsp;
                                                        <a data-html="true" class="cio-popover"
                                                           data-toggle="popover" title=""
                                                           data-content="Please select configuration of sticky for this splittest.">
                                                            <i style="color:#c5c5c5;"
                                                               class="fas fa-info-circle fa-lg"></i>
                                                        </a>
                                                    </label>
                                                    <div class="col-3">
                                                        {% if  c_set.sticky_config is defined %}
                                                            {% set cls_sticky_ip = c_set.sticky_config == 'IP' ? 'active' : '' %}
                                                            {% set chk_sticky_ip = c_set.sticky_config == 'IP' ? 'checked' : '' %}
                                                            {% set cls_sticky_cookie = c_set.sticky_config == 'Cookie' ? 'active' : '' %}
                                                            {% set chk_sticky_cookie = c_set.sticky_config == 'Cookie' ? 'checked' : '' %}
                                                            {% set cls_sticky_none = c_set.sticky_config == 'None' ? 'active' : '' %}
                                                            {% set chk_sticky_none = c_set.sticky_config == 'None' ? 'checked' : '' %}
                                                        {% endif %}
                                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                            <label class="btn btn-secondary {{ cls_sticky_ip is defined ? cls_sticky_ip :'' }}">
                                                                <input type="radio" name="campaign[splittest][sticky_config]" id="option1"
                                                                       autocomplete="off"
                                                                        {% if  chk_sticky_ip is defined %}
                                                                            checked="{{ chk_sticky_ip }}"
                                                                        {% endif %}
                                                                       value="IP"> IP
                                                            </label>
                                                            <label class="btn btn-secondary {{ cls_sticky_cookie is defined ? cls_sticky_cookie : '' }}">
                                                                <input type="radio" name="campaign[splittest][sticky_config]" id="option2"
                                                                       autocomplete="off"
                                                                        {% if  chk_sticky_cookie is defined %}
                                                                            checked="{{ chk_sticky_cookie }}"
                                                                        {% endif %}
                                                                       value="Cookie"> Cookie
                                                            </label>
                                                            <label class="btn btn-secondary {{ cls_sticky_none is defined ? cls_sticky_none : '' }}">
                                                                <input type="radio" name="campaign[splittest][sticky_config]" id="option2"
                                                                       autocomplete="off"
                                                                        {% if  chk_sticky_none is defined %}
                                                                            checked="{{ chk_sticky_none }}"
                                                                        {% endif %}
                                                                       value="None"> None
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="myGroup">
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label">Expiration criteria &nbsp;&nbsp;&nbsp;
                                                            <a data-html="true" class="cio-popover"
                                                               data-toggle="popover" title=""
                                                               data-content="Please select the criteria of expiration for the splittest."><i
                                                                        style="color:#c5c5c5;"
                                                                        class="fas fa-info-circle fa-lg"></i>
                                                            </a>
                                                        </label>
                                                        <div class="col-6">
                                                            {% if c_set.expiration_criteria is defined %}
                                                                {% set cls_active = c_set.expiration_criteria == 'visitors' ? 'active':'' %}
                                                                {% set chk_status = c_set.expiration_criteria == 'visitors' ? "checked='checked'":'' %}
                                                            {% endif %}
                                                            <label class="btn btn-secondary {{ cls_active is defined ? cls_active : '' }}"
                                                                   id="label-button-visitors">
                                                                <input data-parent="#myGroup" class="btn btn-secondary"
                                                                       data-target="#value-visitors"
                                                                       data-toggle="collapse" type="radio"
                                                                       id="button-visitors"
                                                                       name="campaign[splittest][expiration_criteria]"
                                                                       value="visitors"
                                                                        {{ chk_status is defined ? chk_status :'' }}
                                                                       style="display: none" disabled> Visitors
                                                            </label>
                                                            {% if c_set.expiration_criteria is defined %}
                                                                {% set cls_active = c_set.expiration_criteria == 'conversions' ? 'active':'' %}
                                                                {% set chk_status = c_set.expiration_criteria == 'conversions' ? "checked='checked'":'' %}
                                                            {% endif %}
                                                            <label class="btn btn-secondary {{ cls_active is defined ?  cls_active : '' }}"
                                                                   id="label-button-conversions">
                                                                <input data-parent="#myGroup" class="btn btn-secondary"
                                                                       data-target="#value-conversions"
                                                                       data-toggle="collapse" type="radio"
                                                                       id="button-conversions"
                                                                       name="campaign[splittest][expiration_criteria]"
                                                                       value="conversions"
                                                                        {{ chk_status is defined ?  chk_status : '' }}
                                                                       style="display: none" disabled> Conversions
                                                            </label>
                                                            {% if c_set.expiration_criteria is defined %}
                                                                {% set cls_active = c_set.expiration_criteria == 'date' ? 'active':'' %}
                                                                {% set chk_status = c_set.expiration_criteria == 'date' ? "checked='checked'":'' %}
                                                            {% endif %}
                                                            <label class="btn btn-secondary {{ cls_active is defined ?  cls_active : '' }}"
                                                                   id="label-button-date">
                                                                <input data-parent="#myGroup" class="btn btn-secondary"
                                                                       data-target="#value-date"
                                                                       data-toggle="collapse" type="radio"
                                                                       name="campaign[splittest][expiration_criteria]"
                                                                       id="button-date"
                                                                       value="date"
                                                                        {{ chk_status is defined ? chk_status : '' }}
                                                                       style="display: none"> Date
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="accordion-group form-group row">
                                                        <label class="col-3 col-form-label" data-toggle="collapse">Expiration
                                                            Value &nbsp;&nbsp;&nbsp;
                                                            <a data-html="true" class="cio-popover"
                                                               data-toggle="popover" title=""
                                                               data-content="Please specify expiration value depending on the selected criteria."><i
                                                                        style="color:#c5c5c5;"
                                                                        class="fas fa-info-circle fa-lg"></i>
                                                            </a>
                                                        </label>
                                                        <div class="col-6">
                                                            {% set exp_value
                                                                = c_set.expiration_value_visitors is defined ?
                                                                c_set.expiration_value_visitors : '' %}
                                                            {% set cls_show = c_set.expiration_criteria is defined and
                                                                c_set.expiration_criteria == 'visitors' ? 'show':'' %}
                                                            <div class="collapse indent {{ cls_show is defined ? cls_show : '' }}"
                                                                 id="value-visitors"
                                                                 aria-labelledby="button-visitors">
                                                                <div class="form-group row">
                                                                    <input type="text" class="form-control"
                                                                           name="campaign[splittest][expiration_value_visitors]"
                                                                           value="{{ exp_value is defined ? exp_value : '' }}"
                                                                           placeholder="Max number of Visitors">
                                                                </div>
                                                            </div>
                                                            {% set exp_value
                                                                = c_set.expiration_value_conversions is defined ?
                                                                c_set.expiration_value_conversions : '' %}
                                                            {% set cls_show = c_set.expiration_criteria is defined and
                                                                c_set.expiration_criteria == 'conversions' ? 'show':'' %}
                                                            <div class="collapse indent {{ cls_show is defined ? cls_show : '' }}"
                                                                 id="value-conversions"
                                                                 aria-labelledby="button-conversions">
                                                                <div class="form-group row">
                                                                    <input type="text" class="form-control"
                                                                           name="campaign[splittest][expiration_value_conversions]"
                                                                           value="{{ exp_value is defined ? exp_value : '' }}"
                                                                           placeholder="Max number of Conversions">
                                                                </div>
                                                            </div>
                                                            {% set exp_value
                                                                = c_set.expiration_value_date is defined ?
                                                                c_set.expiration_value_date : '' %}
                                                            {% set cls_show = c_set.expiration_criteria is defined and
                                                                c_set.expiration_criteria == 'date' ? 'show':'' %}
                                                            <div class="collapse {{ cls_show is defined ? cls_show : '' }}"
                                                                 id="value-date"
                                                                 aria-labelledby="button-date">
                                                                <div class="form-group row">
                                                                    <input type="text" class="form-control"
                                                                           id="datetimepicker"
                                                                           name="campaign[splittest][expiration_value_date]"
                                                                           value="{{ exp_value is defined ? exp_value : '' }}"
                                                                           placeholder="Expiration Date">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p>&nbsp;</p>
                                                <div class="form-group row">
                                                    <div class="col-lg-12">
                                                        <table class="table table-hover splittestTable">
                                                            <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col">VARIANT</th>
                                                                <th scope="col">NAME</th>
                                                            </tr>
                                                            </thead>
                                                            {% if( c_set.variants is not defined) %}
                                                                <tbody id="split-variant"></tbody>
                                                            {% else %}
                                                                <tbody id="split-with-variants">
                                                                {% set count = c_set.variants | length %}
                                                                {% set i = 1 %}
                                                                {% for variant in  c_set.variants %}
                                                                    <tr>
                                                                        <th class="align-middle" scope="row">
                                                                            <input type="text" class="form-control"
                                                                                   name="campaign[splittest][variants[{{ i }}][variant_id]]"
                                                                                   autocomplete="off"
                                                                                   value="{{ variant.variant_id is defined ? variant.variant_id : '' }}" readonly>
                                                                        </th>
                                                                        <td class="align-middle">
                                                                            <input type="text" class="form-control"
                                                                                   name="campaign[splittest][variants[{{ i }}][variant_name]]"
                                                                                   autocomplete="off"
                                                                                   value="{{ variant.variant_name is defined ? variant.variant_name : '' }}">
                                                                        </td>
                                                                    </tr>
                                                                    {% set i = i +1 %}
                                                                {% endfor %}
                                                                </tbody>
                                                            {% endif %}
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <style>
                                                .btn-secondary.dropdown-toggle,
                                                .btn-secondary:focus,
                                                .btn-secondary.active,
                                                .btn-secondary:active,
                                                .btn-secondary:hover {
                                                    background-color: #7abe73 !important;
                                                    cursor: pointer !important;
                                                    color: #fff !important;
                                                }
                                            </style>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 4-->
                            {%  endif %}
                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>
                            <!--begin: CSRF token -->
                            <input type="hidden" name="token" value="{{ csrf_token('campaign-create') }}"/>
                            <!--End Csrf token -->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit"
                                        id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Create page
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}
    {#begin  fraud checking script#}
    <script type="text/javascript" src="{{ jsurl }}/data-local.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    {#endof fraud checking script#}
    <script>
        //Declaration of variables used in js file
        let companyName = "{{ campaign.company_name is defined ? campaign.company_name:'' }}";
        let campaignName = "{{ campaign.settings.name is defined ? campaign.settings.name:'undefined' }}";
        let pageFlowSettings = {{ campaign.page_flow|json_encode|raw }} ;
        let settings = {{ campaign|json_encode|raw }}
    </script>
    <script type="text/javascript" src="{{ jsurl }}/create-page-webhook/createPage.js"></script>
{% endblock %}
