{% extends "app.twig" %}

{% block content %}


    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->


    <!-- COMMENT: NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <style>
        /* BEGIN - process hooks menus style */
        .ph-full-width-table-collum{
            width:100%;
        }
        .ph-wrapper-drop-down-button{
            width:100%;
            padding-top:15px!important;
        }
        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }
        .text-green{
            color:#7abe73;"
        }
        /* END - process hooks menu styles */
    </style>
    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->




    <!-- BEGIN:: HTML PROCESS HOOK MENUS OVERVIEW -->

    {# BEGIN - process hooks-interface - AVAILABLE #}

    <!-- begin: integration interface AVAILABLE - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">{{ settings['overview']['name'] }}</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">configure Workflow Actions</span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm"
                   href="{{ path('processhook.status', {status:'available'}) }}">
                    <i class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <!--end::sub-control menu-->
    <!-- end: integration interface AVAILABLE - head -->


    <!-- begin: process hooks- interface AVAILABLE - content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable">
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(100% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-label">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Workflow Actions Settings
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    {% set setting = settings.settings %}
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <data id="phNames"
                                                          value="{{ (settings.additional.processhooknames ) is defined ? settings.additional.processhooknames |jsonEncode : '' }}"></data>
                                                    <label>Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Name of processhook."
                                                           name="settings[name]"
                                                           id="processhookname"
                                                           pattern="{{ setting['name']['validation'] is defined ? setting['name']['validation']:"" }}"
                                                           value="{{ setting['name']['value'] is defined ? setting['name']['value']:"" }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label>Marketing Automation Number</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Marketing Automation Number"
                                                           name="settings[marketing_automation_number]"
                                                           pattern="{{ setting['marketing_automation_number']['validation'] is defined ? setting['marketing_automation_number']['validation']:"" }}"
                                                           value="{{ setting['marketing_automation_number']['value'] is defined ? setting['marketing_automation_number']['value']:"" }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <script>
                                var input = document.querySelector ( 'input[name=basic]' );

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>
                            <!--begin: CSRF token -->
                            <input type="hidden" name="token" value="{{ csrf_token('processhook-create') }}"/>
                            <!--End Csrf token -->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button name="submit" type="submit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    configure Workflow Action
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: process hooks- interface AVAILABLE - content  -->

    {# END - process hooks interface - AVAILABLE #}


{% endblock %}

{% block javascripts %}
    <script>
        // check for duplicate processhook names
        $('input#processhookname').on('blur', function () {
            var phName = $(this).val();
            var namesInUse = JSON.parse( $('data#phNames').val());
            var myself = this;
            var $found = false;

            console.log('namesInUse',namesInUse)

            if (namesInUse === null) {
                return;
            } else {
                $.each(namesInUse, function (i, usedName) {
                    if (usedName.processhook_name === phName) {
                        $found = true;
                        return;
                    }
                })
            }

            if($found) {
                $(this).css('border-color', 'red').focus().val('').attr('placeholder', phName +' is already in use! Please chose another name.');
                $('button#next').attr('disabled', true);
            } else {
                $(this).css('border-color', 'inherit').attr('placeholder','Processhook Name');
                $('button#next').removeAttr('disabled');
            }
        });
    </script>
{% endblock %}