{% extends "app.twig" %}

{% block content %}


    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->


    <!-- COMMENT: NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <style>
        /* BEGIN - workflow action (prior: "process hook") menus style */
        .ph-full-width-table-collum{
            width:100%;
        }
        .ph-wrapper-drop-down-button{
            width:100%;
            padding-top:15px!important;
        }
        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }
        .text-green{
            color:#7abe73;"
        }
        /* END - workflow action (prior: "process hook") menu styles */
    </style>
    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->




    <!-- BEGIN:: HTML workflow action (prior: "process hook") MENUS OVERVIEW -->

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{processhooks[0].error is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{campaigns[0].error is defined ? campaigns[0].error :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{processhooks[0].success is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{campaigns[0].success is defined ? campaigns[0].success :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    {# BEGIN - workflow actions (prior: "process hook") -interface - AVAILABLE #}

    <!-- begin: integration interface AVAILABLE - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">{{ settings['overview']['name'] }}</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">configure your workflow action</span>
        </div>
    </div>
    <!--end::sub-control menu-->
    <!-- end: integration interface AVAILABLE - head -->


    <!-- begin: workflow action (prior: "process hook")s- interface AVAILABLE - content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable">
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(100% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                {{ settings['overview']['name'] }}
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure settings
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Workflow Action Settings
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Name of processhook."
                                                           name="settings[name]"
                                                           value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label>Marketing Automation Number</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Marketing Automation Number"
                                                           name="settings[marketing_automation_number]"
                                                           value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>
                            <!--begin: CSRF token -->
                            <input type="hidden" name="token" value="{{ csrf_token('processhook-create') }}"/>
                            <!--End Csrf token -->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button name="submit" type="submit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    configure workflow action
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: workflow actions (prior: "process hooks")- interface AVAILABLE - content  -->

    {# END - workflow actions (prior: "process hooks") interface - AVAILABLE #}


{% endblock %}

{% block javascripts %}

{% endblock %}
