{% extends "app.twig" %}

{% block content %}


    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->


    <!-- COMMENT: NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <style>
        /* BEGIN - process hooks menus style */
        .ph-full-width-table-collum {
            width: 100%;
        }

        .ph-wrapper-drop-down-button {
            width: 100%;
            padding-top: 15px !important;
        }

        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }

        .text-green {
            color: #7abe73;
        "
        }

        /* END - process hooks menu styles */
    </style>
    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->

    <!-- BEGIN:: HTML PROCESS HOOK MENUS OVERVIEW -->

    {# BEGIN - process hooks-interface - AVAILABLE #}

    <!-- begin: integration interface AVAILABLE - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">{{ settings['overview']['name'] is defined ? settings['overview']['name'] :'' }}</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">configure Workflow Actions</span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm"
                   href="{{ path('processhook.status', {status:'available'}) }}"><i class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <!--end::sub-control menu-->
    <!-- end: integration interface AVAILABLE - head -->


    <!-- begin: process hooks- interface AVAILABLE - content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable">
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current"
                     style="flex:0 0 calc(100% - 0.30rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-label">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Notification Settings
                                </div>
                                {% set setting = settings.settings %}
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <data id="phNames"
                                                          value="{{ settings.additional.processhooknames is defined ? settings.additional.processhooknames |jsonEncode :'' }}"></data>
                                                    <label>Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Name of Workflow Actions."
                                                           pattern="{{ setting['name']['validation'] is defined ? setting['name']['validation']:"" }}"
                                                           name="settings[name]"
                                                           id="processhookname"
                                                           value="{{ setting['name']['value'] is defined ? setting['name']['value'] :'' }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label>List of Recipients</label>
                                                    <input type="text" class="form-control"
                                                           id="forwardEmail"
                                                           placeholder="List of Emails separated by Comma"
                                                           name="settings[list_of_recipients]"
                                                           value="{{ setting['list_of_recipients']['value'] is defined ? setting['list_of_recipients']['value'] :'' }}">
                                                    <!-- ^ add class  is-valid after email check -->
                                                    <div id="msgforwardEmailRecipient" class="valid-feedback"
                                                         style="display: none">All email addresses are correct.
                                                    </div>
                                                    <div id="errMsgforwardEmailRecipient" class="invalid-feedback"
                                                         style="display: none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label>Subject-Line</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Subject line for E-mail"
                                                           pattern="{{ setting['subject_line']['validation'] is defined ? setting['subject_line']['validation']:"" }}"
                                                           name="settings[subject_line]"
                                                           value="{{ setting['subject_line']['value'] is defined ? setting['subject_line']['value'] : "" }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <!--begin: CSRF token -->
                            <input type="hidden" name="token" value="{{ csrf_token('processhook-create') }}"/>
                            <input type="hidden" name="twig_name" value="{{ _self }}"/>
                            <!--End Csrf token -->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">

                                <button name="submit" type="submit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    configure Workflow Action
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: process hooks- interface AVAILABLE - content  -->

    {# END - process hooks interface - AVAILABLE #}


{% endblock %}

{% block javascripts %}
    <script>
        // validate email input
        $('input#forwardEmail').on('blur', function () {

            if ($(this).val() === '') return;

            var validEmails = "";
            var badEmails = "";
            var emails = this.value.split(',');
            var emailList = [];

            for (let i = 0; i < emails.length; i++) {
                emailList.push(emails[i]);
            }


            for (let i = 0; i < emailList.length; i++) {
                let isValidEmail = validateEmail(emails[i]);
                console.log('isValidEmail=', isValidEmail);
                if (isValidEmail) {
                    validEmails += emails[i] + ',';
                } else {
                    console.log('bad', emails[i]);
                    badEmails += emails[i] + ',';
                }
            }
            validEmails = validEmails.slice(0, -1); // remove last ","

            if (badEmails.length > 0) {
                badEmails = badEmails.slice(0, -1); // remove last ","
            }


            $(this).val(validEmails);

            if (badEmails.length > 0) {
                $(this).css('border-color', 'red');
                $('input#forwardEmailRecipient').removeClass('is-valid');
                $('div#errMsgforwardEmailRecipient').text(badEmails + ' => invalid email address/es').css('display', 'initial');
                $('div#msgforwardEmailRecipient').css('display', 'none');

            } else {
                $(this).css('border-color', '#7abe73');
                $('input#forwardEmailRecipient').addClass('is-valid');
                $('div#msgforwardEmailRecipient').css('display', 'initial');
                $('div#errMsgforwardEmailRecipient').css('display', 'none');
            }

        });

        function validateEmail(email) {
            let isValid = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email);
            return isValid;
        }

        // check for duplicate processhook names
        $('input#processhookname').on('blur', function () {
            var phName = $(this).val();
            var namesInUse = JSON.parse( $('data#phNames').val());
            var myself = this;
            var $found = false;

            console.log('namesInUse',namesInUse)

            if (namesInUse === null) {
                return;
            } else {
                $.each(namesInUse, function (i, usedName) {
                    if (usedName.processhook_name === phName) {
                        $found = true;
                        return;
                    }
                })
            }

            if($found) {
                $(this).css('border-color', 'red').focus().val('').attr('placeholder', phName +' is already in use! Please chose another name.');
                $('button#next').attr('disabled', true);
            } else {
                $(this).css('border-color', 'inherit').attr('placeholder','Processhook Name');
                $('button#next').removeAttr('disabled');
            }
        });
    </script>

{% endblock %}

