{% extends "app.twig" %}


{% block content %}


    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->


    <!-- COMMENT: NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <style>
        /* BEGIN - process hooks menus style */
        .ph-full-width-table-collum {
            width: 100%;
        }

        .ph-wrapper-drop-down-button {
            width: 100%;
            padding-top: 15px !important;
        }

        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }

        .text-green {
            color: #7abe73;
        "
        }

        .select2-selection__arrow { top: 20px !important}
        .select2-selection--single { height: inherit !important; }

        .tableheader  { font-weight: bold}

        .standardfields {
            background: rgba(252, 208, 208, 0.3);
        }

        .customfields {
            background: rgba(223, 255, 209, 0.3);
        }

        /* END - process hooks menu styles */
    </style>
    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->




    <!-- BEGIN:: HTML PROCESS HOOK MENUS OVERVIEW -->

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ processhooks[0].error is defined ? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon">
            <i class="flaticon-warning"></i>
        </div>
        <div class="alert-text">{{ campaigns[0].error is defined ? campaigns[0].error :'' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ processhooks[0].success is defined ? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon">
            <i class="far fa-check-square"></i>
        </div>
        <div class="alert-text">{{ campaigns[0].success is defined ? campaigns[0].success :'' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    {# BEGIN - process hooks-interface - AVAILABLE #}

    <!-- begin: integration interface AVAILABLE - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Workflow Actions</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">configure {{ settings['overview']['name'] |lower }}</span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm"
                   href="{{ path('processhook.status', {status:'defined'}) }}">
                    <i class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <!--end::sub-control menu-->
    <!-- end: integration interface AVAILABLE - head -->


    <!-- begin: process hooks- interface AVAILABLE - content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav" >

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable">

                {# erster reiter  #}
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(50% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                {{ settings['overview']['name'] }}
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Basic Configuration
                            </div>
                        </div>
                    </div>
                </div>

                {# zweiter reiter  #}
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(50% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number" >
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                {{ settings['overview']['name'] }}
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Assign Field Mappings
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--end: Form Wizard Nav -->
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">


                            {# erster reiter #}
                            <!-- start: Form Wizard Step 1 -->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">

                                <div class="kt-heading kt-heading--md">
                                    {{ settings['overview']['name'] }}
                                </div>

                                <div class="kt-form__section kt-form__section--first">

                                    <div class="kt-wizard-v4__form">

                                        <div class="row">

                                            <div class="col-xl-6">
                                                {% if settings.additional.contactEventAttributes is defined %}
                                                <div class="form-group">

                                                    {#
                                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                        dump
                                                    </button>
                                                    <div class="collapse" id="collapseExample">
                                                        <div class="card card-body">
                                                            {{ dump(settings) }}
                                                            {{ dump(settings.additional) }}
                                                        </div>
                                                    </div>
                                                    #}


                                                    {# important data sets for jQuery / JS #}
                                                    <data id="contactEventAttributes"
                                                          value="{{ settings.additional.contactEventAttributes |jsonEncode }}"></data>
                                                    <data id="phNames"
                                                          value="{{ settings.additional.processhooknames  is defined ? settings.additional.processhooknames |jsonEncode : '' }}"></data>
                                                    <data id="contactEventFromDB"
                                                          value="{{ settings.settings.contact_event_id is defined ? settings.settings.contact_event_id | jsonEncode : '' }}"></data>
                                                    <data id="mappingFromDB"
                                                          value="{{ settings.settings.field_mappings is defined ? settings.settings.field_mappings |jsonEncode : '' }}"></data>
                                                    {% set setting_from_db = settings.settings is defined ? settings.settings: '' %}
                                                    <label class="form-control-label" for="processhookname">Name</label>
                                                    {% set processhookname_from_db = settings.settings.name is defined ? settings.settings.name : '' %}
                                                    <input id="processhookname" type="text" class="form-control"
                                                           placeholder="Name of processhook."
                                                           name="processhookname"
                                                           pattern="[A-Za-z0-9 \-_]+"
                                                           class="form-control"
                                                           value="{{ processhookname_from_db }}"> {# TODO: SET VALUE OF STORED SETTING #}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label> DOI-Mailing</label>
                                                    <select class="form-control kt-hide"
                                                            id="doiSelect"
                                                            name="settings[DOI_mailing]">
                                                        <option value="0" id="DoiLoading">Please Select</option>
                                                    </select>
                                                    <br id="hideLine">
                                                    <div class="spinner-border text-success" id="doi-mailing-key-loading"
                                                         role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label> DOI-Type</label>
                                                    <select class="form-control"
                                                            name="settings[type_of_DOI]"
                                                            id=doiType>
                                                        <option value="0">Please Select</option>
                                                        <option value="DOI with Single User Tracking">DOI with Single
                                                            User Tracking
                                                        </option>
                                                        <option value="DOI without Single User Tracking">DOI without
                                                            Single User Tracking
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6">
                                                {% if settings.additional.contactEvents is defined %}
                                                <div class="form-group">
                                                    <label class="form-control-label">Contact Events</label>
                                                    {% set ce_field_key_from_db = settings_from_db.contact_event_id is defined ? settings_from_db.contact_event_id : '' %}
                                                    <select id="contactevents" data-placeholder="Select a Contact Event"
                                                            class="form-control selectnr2 dropdownCssClass"
                                                            data-preselect_ce_field_id="{{ ce_field_key_from_db }}">
                                                        <option id="initial" value="0" selected><b>Select a Contact
                                                                Event</b></option>
                                                        {% for key, value in settings.additional.contactEvents %}
                                                            <option id="ce_{{ key }}"
                                                                    value="{{ key }}">{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- end: Form Wizard Step 1 -->

                            {# zweiter reiter #}
                            <!-- start: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">
                                    Assign Field Mappings
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">

                                        <div id="tableblock" class="row" style="display: none">
                                            <div class="col-xl-6">
                                                <table id="mappingtable" class="table table-bordered table-responsive-md table-hover">
                                                    <thead>
                                                    <tr class="tableheader">
                                                        <th><b>Contact Event Field</b></th>
                                                        <th><b>Marketing-In-One Field</b></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="mappingtablecontent">
                                                    {# content generated by js #}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        {% set route = path('processhook.configure', {'processhook':'send_double_opt_in_mail_or_call_contact_event'}) | base64encode %}
                                        {% if 'processhook.update' is same as  app.request.get('_route') %}
                                            {% set route = path('processhook.update', {user_processhook_name:'send_double_opt_in_mail_or_call_contact_event' ,processhook_id:processhook.id}) | base64encode %}
                                        {% endif %}


                                        <div class="row">
                                            <div class="col-xl-6"></div>
                                            <div class="col-xl-6">

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6"></div>
                                            <div class="col-xl-6">
                                                <div id="msg" style="display: none; font-size: xx-small; float: right"></div>
                                            </div>
                                        </div>
                                        {% if settings.additional.mioFields is defined %}
                                        {# used by js to dynamically genenerate content of 2nd tab #}
                                        <template id="miofieldlisttemplate">
                                            <select id="miofieldlist" class="form-control selectMioField dropdownCssClass" required onchange="checkDuplicates(this)">
                                                <option id="initial" value="0" selected><b>Assign a Mapping Field </b></option>
                                                {% set fieldGroup ="" %}
                                                {% for field in settings.additional.mioFields %}

                                                    {# Categorizing the fields into different Grorps (i,e standardfields, trackingfields, customfields) #}
                                                    {% if field  is empty or fieldGroup !=  field.sourcetable %}
                                                        {# initiate optGroup if the field sourcetable is different. #}
                                                        {% set fieldGroup =  field.sourcetable %}
                                                        {% set optLabel = "" %}
                                                        {% if fieldGroup == "standardfields" %}
                                                            {% set optLabel = "Standard Fields" %}
                                                        {% elseif fieldGroup == "trackingfields" %}
                                                            {% set optLabel = "Technical Fields" %}
                                                        {% elseif fieldGroup == "customfields" %}
                                                            {% set optLabel = "Custom Fields" %}
                                                        {% endif %}

                                                        <optgroup label="{{ optLabel }}">
                                                    {% endif %}

                                                    <option id="{{ (field.sourcetable == 'standardfields') ? 'sf_' : 'cf_' }}{{ field.id }}"
                                                            class="{{ field.sourcetable }}"
                                                            data-sourcetable="{{ field.sourcetable }}"
                                                            data-fieldname="{{ field.fieldname }}"
                                                            value="{{ field.id }}">
                                                        {{ field.fieldViewName }}
                                                    </option>

                                                    {% if fieldGroup is empty or fieldGroup !=  field.sourcetable %}
                                                        {# close the optGroup tag when the feild sourcetable is
                                                        different. #}
                                                        {% set fieldGroup =  field.sourcetable %}
                                                        </optgroup>
                                                    {% endif %}


                                                    {# <option id="{{ (field.sourcetable == 'standardfields') ? 'sf_' : 'cf_' }}{{ field.id }}" class="{{ field.sourcetable }}" data-sourcetable="{{ field.sourcetable }}" data-fieldname="{{ field.fieldname }}" value="{{ field.id }}">{{ field.fieldViewName }}</option> #}
                                                {% endfor %}
                                            </select>
                                        </template>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 2-->

                            <!--begin: CSRF token -->
                            <input id="token" type="hidden" name="token" value="{{ csrf_token('processhook-create') }}"/>
                            <!--End Csrf token -->

                            {# form navigation #}
                            <div class="kt-form__actions">
                                <button id="prev" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                                    Previous
                                </button>
                                <button id="next" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                                <button id="saveContactEventConfig" name="submit" type="button"
                                        data-route="{{ route }}"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-redirect="{{ path('processhook.defined',{'processhook_id':'XXXX'}) }}"
                                        data-baseurl="{{ absolute_url('/') }}"
                                        data-ktwizard-type="action-submit"
                                        style="float: right"
                                        disabled>
                                    configure Workflow Action
                                </button>
                            </div>


                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end: process hooks- interface AVAILABLE - content  -->

    {# END - process hooks interface - AVAILABLE #}


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        const msMio = "{{ app.request.server.get('MSMIO_URL') }}"
    </script>

    <script>
        let doiKeyValueFromSettings = "{{ settings.settings.doi_mailing_key is defined ? settings.settings.doi_mailing_key:'undefined' }}";
        let processhookType = "{{ settings['overview']['name'] }}";
        $(document).ready(function () {
            let $route = '{{ path('processhook.get.mio_api_key') }}';
            //$('#doiSelect').hide();
            $.get($route,
                function (data, status) {
                    if (status == 'success' && data.status == true) {
                        //generate list
                        getDIOMailingList(data['apikey']);
                    } else {
                        //show error
                        showError('Please integration to eMail-In-One');
                        //disable button
                        $("#button").hide();
                    }
                });
            if (doiTypeValueFromSettings === "DOI with Single User Tracking") {
                $("#doiType option[value='DOI with Single User Tracking']").attr("selected","selected");
            }else if(doiTypeValueFromSettings === "DOI without Single User Tracking"){
                $("#doiType option[value='DOI without Single User Tracking']").attr("selected","selected");
            }
        });

        /**
         * @param apikey
         * @internal
         * @author aki
         */
        function getDIOMailingList(apikey) {
            let settings = {
                "url": msMio+"/getMailingsDoiKeys?apikey=" + apikey,
                "async": true,
                "method": "GET",
                "timeout": 0,
            };
            $.ajax(settings)
                .done(function (response) {
                    $.each(response['doiKeyList'], function (key, value) {
                        let doiName = value['name'];
                        let doiKey = value['doiKey'];
                        if(doiKeyValueFromSettings === doiKey){
                            $('#doiSelect').append($('<option/>', {
                                value: doiKey,
                                text: doiName,
                                selected:true
                            }));
                        }else{
                            $('#doiSelect').append($('<option/>', {
                                value: doiKey,
                                text: doiName
                            }));
                        }
                        $('#doi-mailing-key-loading').hide();
                        $('#hideLine').hide();
                        $('#doiSelect').removeClass("kt-hide");
                    });
                })
                .fail(function (request, status, error) {
                    showError(error);
                })
        }
    </script>
    <script src="{{ jsurl }}/wizard_call_contact_event.html.twig.js" type="text/javascript"></script>
{% endblock %}

