{% block content %}


<form method="post" action="{{ path('feature_toggle_delete', {'id': feature_toggle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feature_toggle.id) }}">
    <button class="btn">Delete</button>
</form>

{% endblock %}
