{% extends 'app.twig' %}
{% block content %}
	<style>
        section#form > a,
        section#form > button,
        form > button {
            margin-bottom: 5px
        }
	</style>
	<section id="form">
		<h1>Edit Feature Toggle</h1>
		<p style="font-size: x-small; text-align: left; color: darkred">CAUTION:<br>Neither change the feature name, when it 's in use, nor delete the feature-record!!! You can change Status and Description.</p>
		<p style="font-size: x-small; text-align: left;; color: darkred">After changing the status of an in-use-feature you MUST log off and log on again get the effect.</p>
		{{ include('feature_toggle/_form.html.twig', {'button_label': 'Update'}) }}
		<a href="{{ path('feature_toggle_index') }}">back to list</a>

		{{ include('feature_toggle/_delete_form.html.twig') }}
	</section>
{% endblock %}
{% block javascripts %}
	<script type="application/javascript">
        $(document).ready(function () {
            $('input#feature_toggle_created').css('display', 'none')
            $('label[for="feature_toggle_created"]').css('display', 'none')
            $('input#feature_toggle_updated').css('display', 'none')
            $('label[for="feature_toggle_updated"]').css('display', 'none')

            $('input#feature_toggle_createdBy').val({{ current_user.user_id }}).css('display', 'none')
            $('label[for="feature_toggle_createdBy"]').css('display', 'none')
            $('input#feature_toggle_updatedBy').val({{ current_user.user_id }}).css('display', 'none')
            $('label[for="feature_toggle_updatedBy"]').css('display', 'none')

            $('section#form>a').addClass(['btn', 'btn-brand', 'btn-elevate', 'btn-icon-sm'])
            $('form>button').addClass(['btn-brand', 'btn-elevate', 'btn-icon-sm'])
            // $('form>button').addClass([ 'btn-brand', 'btn-md', 'btn-md', 'btn-tall', 'btn-wide', 'kt-font-bold'])
        });
	</script>
{% endblock %}
