{% extends 'app.twig' %}

{% block title %}FeatureToggle Overview{% endblock %}

{% block content %}
	<section id="form">
		<h1>Feature Toggle Overview</h1>

		<table class="table">
			<thead>
			<tr>
				<th>Id</th>
				<th>Feature</th>
				<th title="Deactivated?">Status</th>
				<th>Description</th>
				<th>Created</th>
				<th>Updated</th>
				<th>CreatedBy</th>
				<th>UpdatedBy</th>
				<th>actions</th>
			</tr>
			</thead>
			<tbody>
			{% for feature_toggle in feature_toggles %}
				<tr>
					<td>{{ feature_toggle.id }}</td>
					<td>{{ feature_toggle.feature }}</td>
					<td>{{ feature_toggle.status ? 'Yes' : 'No' }}</td>
					<td>{{ feature_toggle.description }}</td>
					<td>{{ feature_toggle.created ? feature_toggle.created|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ feature_toggle.updated ? feature_toggle.updated|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ feature_toggle.createdBy }}</td>
					<td>{{ feature_toggle.updatedBy }}</td>
					<td>
						<a href="{{ path('feature_toggle_show', {'id': feature_toggle.id}) }}">show</a>&nbsp;|
						<a href="{{ path('feature_toggle_edit', {'id': feature_toggle.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('feature_toggle_new') }}">Create new</a>
	</section>
{% endblock %}
{% block javascripts %}
	<script type="application/javascript">
        $(document).ready(function () {
            $('section#form a').addClass(['btn', 'btn-brand', 'btn-elevate', 'btn-icon-sm'])
            $('form>button').addClass([ 'btn-brand', 'btn-elevate', 'btn-icon-sm'])
        });
	</script>
{% endblock %}
