{% extends 'app.twig' %}
{% block content %}
	<style>
        section#form>a,
        section#form>button,
        form>button {
            margin-bottom: 5px
        }
	</style>
	<section id="form">
		<h1>New Feature Toggle</h1>
		{{ include('feature_toggle/_form.html.twig') }}

		<a href="{{ path('feature_toggle_index') }}">back to list</a>
	</section>
{% endblock %}
{% block javascripts %}
	<script type="application/javascript">
        $(document).ready(function () {
            $('input#feature_toggle_created').css('display', 'none')
            $('label[for="feature_toggle_created"]').css('display', 'none')
            $('input#feature_toggle_updated').css('display', 'none')
            $('label[for="feature_toggle_updated"]').css('display', 'none')

            $('input#feature_toggle_createdBy').val({{ current_user.user_id }}).css('display', 'none')
            $('label[for="feature_toggle_createdBy"]').css('display', 'none')
            $('input#feature_toggle_updatedBy').val({{ current_user.user_id }}).css('display', 'none')
            $('label[for="feature_toggle_updatedBy"]').css('display', 'none')

            $('section#form>a').addClass(['btn', 'btn-brand', 'btn-elevate', 'btn-icon-sm'])
            $('form>button').addClass([ 'btn-brand', 'btn-elevate', 'btn-icon-sm'])
        });
	</script>
{% endblock %}
