{% extends 'app.twig' %}

{% block content %}
    <style>
        section#form>a,
        section#form>button,
        form>button {
            margin-bottom: 5px
        }
    </style>
    <section id="form">
    <h1>Feature Toggle Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feature_toggle.id }}</td>
            </tr>
            <tr>
                <th>Feature</th>
                <td>{{ feature_toggle.feature }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ feature_toggle.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ feature_toggle.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ feature_toggle.created ? feature_toggle.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ feature_toggle.updated ? feature_toggle.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ feature_toggle.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ feature_toggle.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('feature_toggle_index') }}">back to list</a>

    <a href="{{ path('feature_toggle_edit', {'id': feature_toggle.id}) }}">edit</a>

    {{ include('feature_toggle/_delete_form.html.twig') }}
    </section>
{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('section#form a').addClass(['btn', 'btn-brand', 'btn-elevate', 'btn-icon-sm'])
            $('form>button').addClass([ 'btn-brand', 'btn-elevate', 'btn-icon-sm'])
        });
    </script>
{% endblock %}
