{% extends "app.twig" %}

{% block content %}


    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->


    <!-- COMMENT: NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <style>
        /* BEGIN - process hooks menus style */
        .ph-full-width-table-collum {
            width: 100%;
        }

        .ph-wrapper-drop-down-button {
            width: 100%;
            padding-top: 15px !important;
        }

        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }

        .text-green {
            color: #7abe73;
        "
        }

        /* END - process hooks menu styles */
    </style>
    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->




    <!-- BEGIN:: HTML PROCESS HOOK MENUS OVERVIEW -->

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ campaigns[0].error is defined ? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ processhook[0].error is defined ? campaigns[0].error :'' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->
    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ processhooks[0].success is defined ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ processhooks[0].success is defined ? processhooks[0].success :'' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    {# BEGIN - process hooks interface - DEFINED #}

    <!-- begin: process hooks interface DEFINED - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Workflow Actions</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">manage your project Workflow Actions</span>
        </div>
    </div>
    <div class="kt-subheader kt-grid__item" id="kt_subheader"
         style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main"></div>
        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('processhook.status', {status:'available'}) }}">Available</a>
                </li>
                <li class="nav-item active">
                    <a style="background-color: #7abe73;" class="nav-link"
                       href="{{ path('processhook.status', {status:'defined'}) }}">Defined</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="{{ path('processhook.status', {status:'archived'}) }}">Archived</a>
                </li>
            </ul>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- begin: integration interface DEFINED - head -->

    {#
    {% set id = 1 %}
    {% if (campaigns is defined) and campaignHasRecords %}

        {% for campaign in campaigns %}
    #}

    <!-- begin: process hooks- interface DEFINED - content -->
    <div class="kt-wizard-v4">

        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">

                            <div class="kt-heading kt-heading--md">Overview of your defined <strong>Workflow Actions</strong></div>
                            <hr>
                            <span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle"
                                                                             aria-hidden="true"></i> In the table below you can find all your Workflow Actions which you have configured.
                            Once you have added your Workflow Actions through the Wizards to your Page or Webhook, the table will show data
                            on which Page(s) or Webhook(s) the Workflow Actions is active on, which Button or Event the Workflow Actions is defined to and which date your Workflow Actions
                            was created. </span>

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" style="border-bottom:none;">
                                <div class="kt-form__section kt-form__section--first">
                                    <!--Begin: all process hooks-->
                                    <!--begin::Advance Table Widget 1-->
                                    <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                        <!--begin::Body-->
                                        <div class="card-body py-0">
                                            <!--begin::Table-->
                                            <div class="table-responsive">
                                                <table class="table table-head-custom table-vertical-center"
                                                       id="kt_advance_table_widget_1">
                                                    <tbody>
                                                    {% for processhook in processhooks %}
                                                        <tr>

                                                            <td class="pl-0">
                                                                <span style="color:#7abe73;"
                                                                      class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ processhook.view_name is defined ? processhook.view_name :'' }}</span>
                                                                <span class="text-muted font-weight-bold text-muted d-block">{{ processhook.name is defined ? processhook.name :'' }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                                {% for activeDetails in processhook.active_details %}
                                                                    <span class="text-muted font-weight-bold">[{{ activeDetails.type is defined ? activeDetails.type :'' }}]{{ activeDetails.activeOn is defined ? activeDetails.activeOn :'' }}</span>
                                                                    <br>
                                                                {% endfor %}
                                                                {% if  processhook.active_details is empty %}
                                                                    <span class="text-muted font-weight-bold">Not in use</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Event:</span>
                                                                {% for activeDetails in processhook.active_details %}
                                                                    <span class="text-muted font-weight-bold">{{ activeDetails.action is defined ? activeDetails.action :'' }}</span>
                                                                    <br>
                                                                {% endfor %}
                                                                {% if  processhook.active_details is empty %}
                                                                    <span class="text-muted font-weight-bold">No Action set</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                                {% for activeDetails in processhook.active_details %}
                                                                    <span class="text-muted font-weight-bold">{{ activeDetails.date is defined ? activeDetails.date :'' }}</span>
                                                                    <br>
                                                                {% endfor %}
                                                                {% if  processhook.active_details is empty %}
                                                                    <span class="text-muted font-weight-bold">{{ "now"|date("Y-m-d","Europe/Paris") }}</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td class="pr-0 text-right">
                                                                <button type="button"
                                                                        class="btn btn-success btn-sm btn-upper"
                                                                        data-toggle="dropdown" aria-expanded="true">
                                                                    action
                                                                </button>

                                                                <div class="dropdown-menu dropdown-menu-left">
                                                                    <a class="dropdown-item"
                                                                       href="{{ path('processhook.update', {user_processhook_name:processhook.user_processhook_name ,processhook_id:processhook.id}) }}">StartWizard</a>
                                                                    <a class="dropdown-item"
                                                                       href="{{ path('processhook.archive', {processhook_id:processhook.id}) }}">Archive
                                                                        Workflow Actions</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    {#
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Lead Notification]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">Lead Email to treaction WebDevs (TESTING) </span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] TRE_test_page_V1</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] TRE_test_page_V2</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] TRE_test_page_V3</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Button] Submit</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">01.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Process Hook</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Double Opt-In Email]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">DOI Email for enfair leads</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] enfair-b2b-campaign-SEA-2012</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Button] Submit</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">05.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Process Hook</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Show Popup]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">trigger Popup when user changes the tab </span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[not defined]</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Event] ChangeTab</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">03.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Process Hook</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Hide or Unhide Section]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">Hide Female Header / Load Male Header based on Parameter</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] Sport LP B2C Gewinnspiel</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Event] LoadPage</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">09.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Process Hook</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Hide or Unhide Section]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">Hide Male Header / Load Female Header based on Parameter</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] Sport LP B2C Gewinnspiel</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Event] LoadPage</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">09.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Process Hook</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    #}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--end::Table-->
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Advance Table Widget 1-->
                                    <!--End: all process hooks- -->
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>


                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: process hooks- interface DEFINED - content  -->

    {# END - process hooks interface - DEFINED #}

    <!-- END:: HTML PROCESS HOOK MENUS OVERVIEW  -->

{% endblock %}

{% block javascripts %}

{% endblock %}

