{% extends "app.twig" %}

{% block content %}


    <!-- DRAFT - DESIGN CREATE PAGE - MODIFIED PAGE FLOW STEP 3 AND ADDED STEP 4 WORKFLOW ACTIONS IN WIZARD -->


    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->

    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <!-- BEGIN STYLES -->
   <style>
        /* BEGIN - DUAL LIST BOX DRAG & DROP STYLES */
        .process-hooks-list,.process-hooks-list-2  {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-right: 10px;
            background: #fff;
            padding: 5px;
            width: 100%;
            min-height: 1.5em;
            font-size: 0.85em;
            min-height: 100px;
            border-radius: 5px;
            border:1px solid #F5f5f5;
        }
        .process-hooks-list-2{
            border-radius: 5px;
            border:1px solid rgba(122, 190, 115,0.5);
        }
        .process-hooks-list li {
            margin: 10px;
            padding: 10px;
            font-size: 1.2em;
            width: 90%;
            border-radius: 3px;
            background-color: #F5f5f5;
        }
        .process-hooks-list-2  li {
            margin: 10px;
            padding: 10px;
            font-size: 1.2em;
            width: 90%;
            border-radius: 3px;
            background-color: #7abe73;
            color:#ffffff;
        }
        .process-hook {
            /*border: 1px solid #bbb;*/
            background-color: #fafafa;
            cursor: grab;
        }
        .process-hook.ui-sortable-helper {
            opacity: 0.5;
        }
        .process-hooks-list .placeholder {
            border: 1px solid #f5f5f5;
            background-color: #fffffd;
            height:40px;
        }
        .process-hooks-list-2 .placeholder {
            border: 1px solid #7abe73;
            background-color: #fffffd;
            height:40px;
        }
        .process-hooks-arrow{
            margin-top:150px;
        }
        .process-hooks-arrow-icon{
            color: #ababab;
            font-size: 30px;
        }
        /* END - DUAL LIST BOX DRAG & DROP STYLES */
    </style>

    <!-- COMMENT:  STYLES TAKEN FROM THE ORIGINAL CREATE CAMPAIGN FILE -->
    <style>
        .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {
            background-color: #7abe73 !important;
            cursor: pointer !important;
            color: #fff !important;
        }

        body.dragging, body.dragging * {
            cursor: move !important;
        }
        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }
        ol.example li.placeholder {
            position: relative;
            /** More li styles **/
        }
        ol.example li.placeholder:before {
            position: absolute;
            /** Define arrowhead **/
        }
        ol.example li{
            list-style-type: none !important;
        }
        .myButton {
            background-color:#44c767;
            border-radius:42px;
            border:1px solid #7abe73;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:13px;
            padding:9px 28px;
            text-decoration:none;
        }
        .myButton:hover {
            background-color:#7abe73;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }
    </style>
    <!-- END STYLES -->



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">Create Page</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Page wizard </span>
        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/pages/draft"><i
                            class="la la-angle-left"></i>Cancel</a>
                <!--end:Back to campaigns -->
            </div>
        </div>
    </div>
    <!-- end:: Content Head -->
    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ (campaign.error is defined and campaign.error|length > 2) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ (campaign.error is defined and campaign.error|length > 2) ? campaign.error: '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->
    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ (campaign.success is defined and campaign.error|length > 5) ? "show" : "kt-hide" }}"
         role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ (campaign.success is defined and campaign.error|length > 5) ? campaign.success : '' }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    <!-- begin:: Content -->
    <div class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">

            <div class="kt-wizard-v4__nav-items kt-wizard-v4__nav-items--clickable">
                <!--begin: Form Wizard Step 1 (General Options) -->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title brand-color">
                                Settings
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Settings
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Step 1 (General Options) -->
                <!--begin: Form Wizard Step 2 (Mapping table)-->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Mapping
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure mapping fields
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Step 2 (Mapping table)-->
                <!--begin: Form Wizard Step 3 (Page Control) -->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Page Control
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure Page Control
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Step 3 (Page Control) -->
                <!--begin: Form Wizard Step 4 (Process Control)-->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            4
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Process Control
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure button events & actions
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Step 4 (Process Control)-->
                <!--begin: Form Wizard Step 5 (splittest)-->
                <div class="kt-wizard-v4__nav-item" data-ktwizard-type="step" style="flex:0 0 calc(20% - 0.25rem)">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            5
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Splittest
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Configure page splittest
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Step 5 (splittest)-->
            </div>
        </div>

        <!--end: Form Wizard Nav -->
        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">

                            <!--begin: Form Wizard Step 1 (General Options) -->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Page Settings
                                </div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">

                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group validated">
                                                    <label class="form-control-label" id='campaignName'
                                                           for="inputSuccess1">Name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text"
                                                                                               id="basic-addon1">https://treaction.marketing-in-one.net/</span>
                                                        </div>
                                                        <input type="text"
                                                               data-urlprefix="{{ url }}account/campaigns/checkNameOfCampaign/"
                                                               data-getparams="{#  {{ campaign.company_id }}#}"
                                                               class="form-control is-valid"
                                                               placeholder=""
                                                               id="name1"
                                                               name="campaign[name]"
                                                               aria-describedby="basic-addon1"
                                                               value="{{ c_set.name is defined ? c_set.name : '' }}"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Description of new page to generate new leads."
                                                           name="campaign[description]"
                                                           value="{{ c_set.description is defined ? c_set.description : '' }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">Start Date</label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.general.beginDate is defined ? c_set.general.beginDate : '' }}"
                                                           name="campaign[general][beginDate]" id="kt_datetimepicker_3">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                           <i class="fas fa-play"></i></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="inputSuccess1">End
                                                    Date</label>
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" readonly=""
                                                           value="{{ c_set.general.expireDate is defined ? c_set.general.expireDate : '' }}"
                                                           name="campaign[general][expireDate]"
                                                           id="kt_datetimepicker_2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-flag-checkered"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted" id="clearDate2"><i
                                                            class="fas fa-exclamation-circle"
                                                            style="color:darkseagreen"></i>&nbsp Clear</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1 (General Options)-->

                            <!--begin: Form Wizard Step 2 (Mapping table)-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure mapping for MIO and HTML fields</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <!--Here comes Mapping table for the campaign-->

                                        <div id="table" class="table-editable"
                                             data-is-test="{#  {{ c_set.standard_fields |  json_encode() }}#}">

                                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><strong>Marketing-In-One</strong></th>
                                                    <th class="text-center"><strong>Data type</strong></th>
                                                    <th class="text-center"><strong>Required</strong></th>
                                                    <th class="text-center"><strong>Action</strong></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if c_set.mapping is defined %}

                                                    {% for mp_field in c_set.mapping %}

                                                        <tr>
                                                            {#  select cio fields#}
                                                            <td class="pt-3-half select2 CIO">
                                                                {% if  mp_field['field type'] is defined and mp_field['field type'] == "standard" %}
                                                                    <select class="cio-select form-control form-control-md"
                                                                            style="opacity:1">
                                                                        {% for stnd_field in c_set.standard_fields %}
                                                                            {% if mp_field['marketing-in-one'] is defined and stnd_field['label'] == mp_field['marketing-in-one'] %}
                                                                                <option value="{{ stnd_field['label'] }}"
                                                                                        selected>{{ stnd_field['label'] }}</option>
                                                                            {% else %}
                                                                                <option value="{{ stnd_field['label'] }}">{{ stnd_field['label'] }}</option>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </select>
                                                                {% else %}
                                                                    <input class="form-control cioCustom" type="text"
                                                                           placeholder="CIO Custom Field"
                                                                           value="{{ mp_field['marketing-in-one'] is defined? mp_field['marketing-in-one'] : '' }}">
                                                                {% endif %}
                                                            </td>
                                                            {#input dataType#}
                                                            <td class="pt-3-half select2 DataType">
                                                                <select class="form-control form-control-md"
                                                                        style="opacity:1">
                                                                    {% if mp_field['data type'] is defined %}
                                                                        <option value="{{ mp_field['data type'] is defined? mp_field['data type'] : '' }}" selected>
                                                                            {{ mp_field['data type'] is defined? mp_field['data type'] : '' }}
                                                                        </option>
                                                                    {% else %}
                                                                        <option value="Text">Text</option>
                                                                        <option value="Decimal">Decimal</option>
                                                                        <option value="Integer">Integer</option>
                                                                        <option value="Date">Date</option>
                                                                        <option value="DateTime">DateTime</option>
                                                                        <option value="Email">Email</option>
                                                                        <option value="Email">URL</option>
                                                                        <option value="Email">Phone</option>
                                                                    {% endif %}
                                                                </select>
                                                            </td>
                                                            {# select required standard or custom#}
                                                            <td class="pt-3-half select2 required">
                                                                <select class="form-control form-control-md"
                                                                        style="opacity:1">
                                                                    {% if mp_field['required'] is defined and 'true' == mp_field['required'] %}
                                                                        <option value="true" selected>Yes
                                                                        </option>
                                                                    {% elseif mp_field ['required'] is defined and 'false' == mp_field ['required'] %}
                                                                        <option value="false" selected>No</option>
                                                                    {% else %}
                                                                        <option value="true">Yes</option>
                                                                        <option value="false">No</option>
                                                                    {% endif %}
                                                                </select>
                                                            </td>
                                                            {# select field type standard or custom#}
                                                            <td class="pt-3-half select2 FT">
                                                                <select class="form-control form-control-md"
                                                                        style="opacity:1">
                                                                    {% if mp_field['field type'] is defined and 'standard' == mp_field['field type'] %}
                                                                        <option value="standard" selected>standard
                                                                        </option>
                                                                    {% elseif mp_field ['field type'] is defined and 'custom' ==mp_field ['field type'] %}
                                                                        <option value="custom">custom</option>
                                                                    {% else %}
                                                                        <option value="custom">custom</option>
                                                                        <option value="standard">standard</option>
                                                                    {% endif %}
                                                                </select>
                                                            </td>
                                                            {#remove row#}
                                                            <td>
                                                                <span class="table-remove"><i
                                                                            style="color:red;cursor: pointer;"
                                                                            class="fas fa-minus-circle"></i></span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}

                                                <!-- This is our clonable table line which will be generated automatically form script-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success">
                                                <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                            </a>
                                        </span>
                                        <label for="urlID"></label>
                                        <input type="text" class="form-control" id="urlID"
                                               name="campaign[mapping][mappingTable]"
                                               autocomplete="false" hidden>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 2 (Mapping table) -->

                            <!--begin: Form Wizard Step 3 (Page Control) -->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Configure Page Control</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form" id = "pageFlow">
                                        <div class="kt-portlet__body" >
                                            <div class="kt-notes">
                                                <div class="kt-notes__items sortable-item">
                                                    {% set page_count =  0 %}
                                                    <ol class="example">
                                                        <div id="flowControlPages">
                                                            {% if c_set.pages.custom is defined and c_set.pages.custom|length > 0 %}
                                                                {% set page_count =  c_set.pages.custom|length %}
                                                                <!--Begin::example survey - subpage 2-->
                                                                {% set i = 1 %}
                                                                {% for page in c_set.pages.custom %}
                                                                    {% if page.name is not empty %}
                                                                        <!--begin:: pages with values-->
                                                                        <li style="list-style-type: none;" class="pageFlowLi" id="pageFlowList{{ i }}">
                                                                            <div class="kt-notes__item" style="padding-bottom: 20px;">
                                                                                <div class="kt-notes__media">
                                                                        <span class="kt-notes__icon" style="background-color: #7abe73; border-color: #7abe73;">
                                                                            <span class="pageValue" style="color:#fff; font-size: 18px;">#{{ i }}</span>
                                                                        </span>
                                                                                </div>
                                                                                <div class="kt-notes__content">
                                                                                    <div class="kt-notes__section">
                                                                                        <div class="kt-notes__info">
                                                                                <span class="kt-notes__desc pageName">
                                                                                    {{ c_set.campaign.url }}/{{ page.name }}
                                                                                </span>
                                                                                        </div>
                                                                                        <div class="kt-notes__dropdown">
                                                                                            <a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse"
                                                                                               href="#multiCollapseExample_{{ i }}" role="button" aria-expanded="false"
                                                                                               aria-controls="multiCollapseExample1">
                                                                                                <i style="color: #7abe73;" class="fas fa-cog"></i>
                                                                                            </a>
                                                                                            <a class="btn btn-sm btn-icon-md btn-icon" href="#">
                                                                                                <i style="color: crimson;" class="fas fa-trash"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col" style="padding-top:15px;">
                                                                                        <div class="collapse multi-collapse pageCollapseId" id="multiCollapseExample_{{ i }}">
                                                                                            <div class="form-row">
                                                                                                <div class="form-group col-12">
                                                                                                    <label for="inputZip">title url</label>
                                                                                                    <div class="input-group mb-2">
                                                                                                        <div class="input-group-prepend">
                                                                                                            <div class="input-group-text">{{ c_set.campaign.url }}/</div>
                                                                                                        </div>
                                                                                                        <input type="text" class="form-control PageinputValue" name="campaign[pages][custom][{{ i }}][name]" id="inlineFormInputGroup" value="{{ page.name }}">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <!--end:: pages with values-->
                                                                        {% set i=i+1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>

                                                        <!--bein::example PAGE #1--->
                                                        <div class="kt-notes__item sortable-item" style="padding-bottom: 20px;">
                                                            <div class="kt-notes__media">
                                                            <span class="kt-notes__icon" style="background-color: #7abe73; border-color: #7abe73;">
                                                                <span class="" style="color:#fff; font-size: 18px;">#1</span>
                                                            </span>
                                                            </div>
                                                            <div class="kt-notes__content">
                                                                <div class="kt-notes__section">

                                                                    <div class="kt-notes__info">
                                                                        <a href="#" class="kt-notes__title">
                                                                            <strong>[Lead-Generation Form] </strong>
                                                                        </a>
                                                                        <span class="kt-notes__desc">
                                                                       https://treaction.marketing-in-one.net/lead-generation-form.html
                                                                    </span>
                                                                    </div>
                                                                    <div class="kt-notes__dropdown">
                                                                        <a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample7">
                                                                            <i style="color: #7abe73;" class="fas fa-cog"></i>
                                                                        </a>
                                                                        <i style="color: crimson!important;" class="fas fa-trash"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="buttonsSettings">
                                                                <div class="col" style="padding-top:15px;">
                                                                    <div class="collapse multi-collapse" id="multiCollapseExample7">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-12">
                                                                                <label>title url</label>
                                                                                <div class="input-group mb-2">
                                                                                    <div class="input-group-prepend">
                                                                                        <div class="input-group-text">https://treaction.marketing-in-one.net</div>
                                                                                    </div>
                                                                                    <input type="text" class="form-control" name="campaign[pages][success_page]" id="inlineFormInputGroup" value="lead-generation-form.html">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-12">
                                                                                <!-- dropdown with all available buttons -->
                                                                                <div class="btn-group" style="width:100%!important;">
                                                                                    <button style="width:100%!important; background-color: #fff!important; color:#222222!important;" class="btn btn-secondary btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        Configure an existing button or add a new button to the page
                                                                                    </button>
                                                                                    <!-- available buttons in the page -->
                                                                                    <div class="dropdown-menu" style="width:100%!important;">
                                                                                        <a class="dropdown-item" data-toggle="collapse" href="#multiCollapseExistingButton" data-parent="#buttonsSettings" role="button" aria-expanded="false"  href="#">[button] submit</a>
                                                                                        <a class="dropdown-item" href="#">[button] custom button 1</a>
                                                                                        <a class="dropdown-item" href="#">[button] custom button 2</a>
                                                                                        <a class="dropdown-item" href="#">[button] custom button 3</a>
                                                                                        <hr>
                                                                                        <a class="dropdown-item" data-toggle="collapse" href="#multiCollapseNewButton" data-parent="#buttonsSettings" role="button" aria-expanded="false"  href="#"><strong>+</strong>&nbsp;&nbsp;Add a new button to the page</a>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- Begin - accordion - configure existing button -->
                                                                                <div style="border: #F5F5F5; border-radius: 5px;" class="collapse multi-collapse" id="multiCollapseExistingButton">
                                                                                    <center><div style="margin-top:50px;" class="kt-heading kt-heading--md">Settings for <strong>[button] submit</strong></div>
                                                                                        <span style="font-size: 14px; color:#a7abc3; margin-bottom:15px;"><i class="far fa-info-circle" aria-hidden="true"></i> Here you can customise the name of the submit button that is on the page e.g. "submit form", "Request free demo now!". </span>
                                                                                    </center>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 text-center">
                                                                                            <div style="border:none;" class="card card-custom card-stretch gutter-b example example-compact">
                                                                                                <div class="card-body">
                                                                                                    <!-- here the user can define the button value / name -->
                                                                                                    <div class="form-group row">
                                                                                                        <label class="col-3 col-form-label">Button name:</label>
                                                                                                        <div class="col-7">
                                                                                                            <div class="form-group validated">
                                                                                                                <div class="input-group" id="show">
                                                                                                                    <input type="text" class="form-control" value="Send Data">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <hr>
                                                                                                    <button style="float:right;" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-toggle="collapse" href="#multiCollapseExistingButton" role="button" aria-expanded="false" aria-controls="multiCollapseExistingButton">
                                                                                                        Close
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- End - accordion - configure existing button -->
                                                                                <!-- Begin - accordion - configure new button -->
                                                                                <div style="border: #F5F5F5; border-radius: 5px;" class="collapse multi-collapse" id="multiCollapseNewButton">
                                                                                    <center><div style="margin-top:50px;" class="kt-heading kt-heading--md">Settings for <strong>[button] custom button 4</strong></div>
                                                                                        <div style="padding-bottom:30px;"><span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle" aria-hidden="true"></i> Here you can configure the name and position of your new button on the page. </span></div>
                                                                                    </center>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 text-center">
                                                                                            <div style="border:none;" class="card card-custom card-stretch gutter-b example example-compact">
                                                                                                <div class="card-body">
                                                                                                    <!-- here the user can define the button value / name -->
                                                                                                    <div class="form-group row">
                                                                                                        <label class="col-3 col-form-label">Button name:</label>
                                                                                                        <div class="col-7">
                                                                                                            <div class="form-group validated">
                                                                                                                <div class="input-group" id="show">
                                                                                                                    <input type="text" class="form-control" value="Join for free now!">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="form-group row">
                                                                                                        <label class="col-3 col-form-label">Button postion:</label>
                                                                                                        <div class="col-7">
                                                                                                                <select class="form-control" name="">
                                                                                                                    <option class="select-option" value="">
                                                                                                                        Bottom of page
                                                                                                                    </option>
                                                                                                                    <option class="select-option" value="">
                                                                                                                        Top of page
                                                                                                                    </option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    <hr>
                                                                                                    <button style="float:right;" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-toggle="collapse" href="#multiCollapseNewButton" role="button" aria-expanded="false" aria-controls="multiCollapseNewButton">
                                                                                                        Close
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- End - accordion - configure new button -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::example PAGE #1--->

                                                        <!--bein::DRAFT example PAGE #2--->
                                                        <div class="kt-notes__item sortable-item" style="padding-bottom: 20px;">
                                                            <div class="kt-notes__media">
                                                            <span class="kt-notes__icon" style="background-color: #7abe73; border-color: #7abe73;">
                                                                <span class="" style="color:#fff; font-size: 18px;">#2</span>
                                                            </span>
                                                            </div>
                                                            <div class="kt-notes__content">
                                                                <div class="kt-notes__section">
                                                                    <div class="kt-notes__info">
                                                                        <a href="#" class="kt-notes__title">
                                                                            <strong>[Survey] </strong>
                                                                        </a>
                                                                        <span class="kt-notes__desc">
                                                                       https://treaction.marketing-in-one.net/survey.html

                                                                    </span>
                                                                    </div>
                                                                    <div class="kt-notes__dropdown">
                                                                        <a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse" href="#multiCollapseExample14" role="button" aria-expanded="false" aria-controls="multiCollapseExample14">
                                                                            <i style="color: #7abe73;" class="fas fa-cog"></i>
                                                                        </a>
                                                                        <i style="color: crimson!important;" class="fas fa-trash"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col" style="padding-top:15px;">
                                                                    <div class="collapse multi-collapse" id="multiCollapseExample14">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-12">
                                                                                <label for="inputZip">title url</label>
                                                                                <div class="input-group mb-2">
                                                                                    <div class="input-group-prepend">
                                                                                        <div class="input-group-text">https://treaction.marketing-in-one.net/</div>
                                                                                    </div>
                                                                                    <input type="text" class="form-control" name="campaign[pages][success_page]" id="inlineFormInputGroup" value="{#  {{ success_page }}#}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::DRAFT example PAGE #2--->

                                                        <!--bein::DRAFT example PAGE #3--->
                                                        <div class="kt-notes__item sortable-item" style="border:none!important; padding-bottom: 20px;">
                                                            <div class="kt-notes__media">
                                                            <span class="kt-notes__icon" style="background-color: #7abe73; border-color: #7abe73;">
                                                                <span class="" style="color:#fff; font-size: 18px;">#3</span>
                                                            </span>
                                                            </div>
                                                            <div class="kt-notes__content">
                                                                <div class="kt-notes__section">
                                                                    <div class="kt-notes__info">
                                                                        <a href="#" class="kt-notes__title">
                                                                            <strong>[Custom]</strong>
                                                                        </a>
                                                                        <span class="kt-notes__desc">
                                                                       https://treaction.marketing-in-one.net/custom.html

                                                                    </span>
                                                                    </div>
                                                                    <div class="kt-notes__dropdown">
                                                                        <a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse" href="#multiCollapseExample11" role="button" aria-expanded="false" aria-controls="multiCollapseExample11">
                                                                            <i style="color: #7abe73;" class="fas fa-cog"></i>
                                                                        </a>
                                                                        <i style="color: crimson!important;" class="fas fa-trash"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col" style="padding-top:15px;">
                                                                    <div class="collapse multi-collapse" id="multiCollapseExample11">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-12">
                                                                                <label for="inputZip">title url</label>
                                                                                <div class="input-group mb-2">
                                                                                    <div class="input-group-prepend">
                                                                                        <div class="input-group-text">https://treaction.marketing-in-one.net/</div>
                                                                                    </div>
                                                                                    <input type="text" class="form-control" name="campaign[pages][success_page]" id="inlineFormInputGroup" value="{#  {{ success_page }}#}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::DRAFT example PAGE #3--->

                                                        <!--Begin::success page-->
                                                        {% set success_page = c_set.success_page is defined ? c_set.success_page : 'success.html' %}
                                                        <div class="kt-notes__item sortable-item" style="padding-bottom: 20px;">
                                                            <div class="kt-notes__media">
                                                            <span class="kt-notes__icon" style="background-color: #7abe73; border-color: #7abe73;">
                                                                <span class="" style="color:#fff; font-size: 18px;"><i style="color:#fff!important;" class="fas fa-flag-checkered"></i></span>
                                                            </span>
                                                            </div>
                                                            <div class="kt-notes__content">
                                                                <div class="kt-notes__section">
                                                                    <div class="kt-notes__info">
                                                                        <a href="#" class="kt-notes__title">
                                                                            Success -

                                                                        </a>
                                                                        <span class="kt-notes__desc">
                                                                       https://treaction.marketing-in-one.net/Sven Banks Firma/lkl/success.html
                                                                    </span>
                                                                    </div>
                                                                    <div class="kt-notes__dropdown">
                                                                        <a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">
                                                                            <i style="color: #7abe73;" class="fas fa-cog"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col" style="padding-top:15px;">
                                                                    <div class="collapse multi-collapse" id="multiCollapseExample4">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-12">
                                                                                <label for="inputZip">title url</label>
                                                                                <div class="input-group mb-2">
                                                                                    <div class="input-group-prepend">
                                                                                        <div class="input-group-text">{#  {{ c_set.campaign.url }}#}</div>
                                                                                    </div>
                                                                                    <input type="text" class="form-control" name="campaign[pages][success_page]" id="inlineFormInputGroup" value="{{ success_page }}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end:: success page-->

                                                        <!--Begin::error page-->
                                                        {% set page_error = c_set.error_page is defined ? c_set.error_page : 'error.html' %}
                                                        <div class="kt-notes__item sortable-item" style="padding-bottom: 20px;">
                                                            <div class="kt-notes__media">
                                                            <span class="kt-notes__icon" style="background-color: crimson; border-color: crimson;">
                                                                <span class="" style="color:#fff; font-size: 18px;"><i style="color:#fff!important;" class="fas fa-exclamation-triangle"></i></span>
                                                            </span>
                                                            </div>
                                                            <div class="kt-notes__content">
                                                                <div class="kt-notes__section">
                                                                    <div class="kt-notes__info">
                                                                        <a href="#" class="kt-notes__title">
                                                                            Error -
                                                                        </a>
                                                                        <span class="kt-notes__desc">
                                                                       https://treaction.marketing-in-one.net/Sven Banks Firma/lkl/error.html

                                                                    </span>
                                                                    </div>
                                                                    <div class="kt-notes__dropdown">
                                                                        <a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5">
                                                                            <i style="color: #7abe73;" class="fas fa-cog"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col" style="padding-top:15px;">
                                                                    <div class="collapse multi-collapse" id="multiCollapseExample5">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-12">
                                                                                <label for="inputZip">title url</label>
                                                                                <div class="input-group mb-2">
                                                                                    <div class="input-group-prepend">
                                                                                        <div class="input-group-text">{#  {{ c_set.campaign.url }#}</div>
                                                                                    </div>
                                                                                    <input type="text" class="form-control" name="campaign[pages][error_page]" id="inlineFormInputGroup" value="{{ page_error }}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::error page-->

                                                        <!--Begin::redirect page-->
                                                        {% set page_redirect = c_set.redirect_page is defined ? c_set.redirect_page : 'treaction.net' %}
                                                        <div class="kt-notes__item" style="border:none!important;padding-bottom: 20px;">
                                                            <div class="kt-notes__media">
                                                    <span class="kt-notes__icon" style="background-color: #7abe73; border-color: #7abe73;">
                                                        <span class="" style="color:#fff; font-size: 18px;"><i style="color:#fff!important;" class="fas fa-external-link-alt"></i></span>
                                                    </span>
                                                            </div>
                                                            <div class="kt-notes__content">
                                                                <div class="kt-notes__section">
                                                                    <div class="kt-notes__info">
                                                                        <a href="#" class="kt-notes__title">
                                                                            Redirect -
                                                                        </a>
                                                                        <span class="kt-notes__desc" >
                                                                    {{ page_redirect }}
                                                                </span>
                                                                    </div>
                                                                    <div class="kt-notes__dropdown">
                                                                        <a class="btn btn-sm btn-icon-md btn-icon" data-toggle="collapse" href="#multiCollapseExample6" role="button" aria-expanded="false" aria-controls="multiCollapseExample6">
                                                                            <i style="color: #7abe73;" class="fas fa-cog"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col" style="padding-top:15px;">
                                                                    <div class="collapse multi-collapse" id="multiCollapseExample6">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-8">
                                                                                <label for="inputZip">title url</label>
                                                                                <div class="input-group mb-2">
                                                                                    <input type="text" class="form-control" name="campaign[pages][redirect_page]" id="inlineFormInputGroup" value="{{ page_redirect }}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-4">
                                                                                <label for="inputZip">redirection time&nbsp;</label>
                                                                                <div class="input-group mb-2">
                                                                                    <input type="text" class="form-control" name="campaign[pages][re_time]" id="inlineFormInputGroup" value="{{c_set.re_time is defined and c_set.re_time > 0 ? c_set.re_time : '3'}}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::redirect page-->

                                                        <!--Begin::create new page-->
                                                        <div class="kt-notes__item" style="padding-bottom: 20px;">
                                                            <!-- BEGIN: DRAFT - dropdown menu to add existing pages into the pageflow -->
                                                            <!--<div class="btn-group" style="width:100%!important;">
                                                                <button style="width:100%!important; background-color: #fff!important; color:#222222!important;" class="btn btn-secondary btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Select a page to add to the flow
                                                                </button>
                                                                <div class="dropdown-menu" style="width:100%!important;">
                                                                    <a class="dropdown-item" href="#"><strong>[Lead-Generation Form]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/lead-generation-form-2.html</a>
                                                                    <a class="dropdown-item" href="#"><strong>[Lead-Generation Form]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/lead-generation-form-3.html</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#"><strong>[Survey]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/survey-test.html</a>
                                                                    <a class="dropdown-item" href="#"><strong>[Survey]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/survey-test-2.html</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#"><strong>[Custom]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/custom-client-lp.html</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#"><strong>[Error]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/error.html</a>
                                                                    <a class="dropdown-item" href="#"><strong>[Redirect]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/redirect.html</a>
                                                                    <a class="dropdown-item" href="#"><strong>[Success]</strong>&nbsp;&nbsp;https://treaction.marketing-in-one.net/success.html</a>
                                                                </div>
                                                            </div>-->
                                                            <!-- END: DRAFT - dropdown menu to add existing pages into the pageflow -->
                                                             <div class="kt-notes__media">
                                                                 <span style="color: #7abe73; font-size: 16px; margin-top:20px; margin-left:20px;"><a data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-plus"></i> create subpage</a></span>
                                                             </div>
                                                            <div class="collapse" id="collapseExample7">
                                                                <div class="row">
                                                                    <div class="col" style="padding-top:50px;">
                                                                        <div class="collapse multi-collapse" id="collapseExample7">
                                                                            <div class="form-row">
                                                                                <div class="form-group col-10">
                                                                                    <label for="inputZip">title url</label>
                                                                                    <div class="input-group mb-2">
                                                                                        <div class="input-group-prepend">
                                                                                            <div class="input-group-text">{#  {{ c_set.campaign.url }}#}/</div>
                                                                                        </div>
                                                                                        <input type="text" class="form-control pagetext" name="pages[custom][{{ page_count+1 }}][name]" id="inlineFormInputGroup" value="">
                                                                                        &nbsp;&nbsp;<a href="#" onclick="addPage();" class="myButton" id="addPage">Add Page</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::crate new page-->
                                                    </ol>
                                                    <label>
                                                        <input type="text" class="form-control"
                                                               value="{{ c_set.id is defined ? c_set.id : '' }}"
                                                               name="id" autocomplete="false" hidden>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 3 (Page Control) -->

                            <!--begin: Form Wizard Step 4 (Process Control)-->
                            <div style="margin-top:50px;" class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="kt-heading kt-heading--md">Assign Workflow Actions to Buttons.</div>
                                        <span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle" aria-hidden="true"></i>  If you do not want any Workflow Actions on your Page, just click the Button "NEXT STEP"</span>
                                        <p>&nbsp;</p>
                                        <div class="btn-group" style="width:100%!important;">
                                            <button style="width:100%!important; background-color: #fff!important; color:#222!important;" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select your Button to configure with Workflow Actions
                                            </button>
                                            <div class="dropdown-menu" style="width:100%!important;">
                                                <a class="dropdown-item" data-toggle="collapse" href="#multiCollapseExample10" role="button" aria-expanded="false" aria-controls="multiCollapseExample10" href="#">[Button] submit </a>
                                                <a class="dropdown-item" href="#">[Button] custom 1</a>
                                                <a class="dropdown-item" href="#">[Button] custom 2</a>
                                                <a class="dropdown-item" href="#">[Button] custom 3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse multi-collapse" id="multiCollapseExample10">
                                    <center><div style="margin-top:50px;" class="kt-heading kt-heading--md"><strong>[Button] Lead Generation Form button</strong></div>
                                    </center>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div style="border:none;" class="card card-custom card-stretch gutter-b example example-compact">
                                                <div class="card-body">
                                                    <center>
                                                        <div class="row">
                                                            <!-- FIRST DRAG&DROP COLLUM -->
                                                            <div class="col-5">
                                                                <div class="kt-heading kt-heading--md">Available Workflow Actions</div>
                                                                <ul id="allFacets" class="process-hooks-list">
                                                                    <li class="process-hook"><strong>[Show Popup]</strong><br>Trigger Popup when user changes the tab</li>
                                                                    <li class="process-hook"><strong>[Hide or Unhide Section]</strong><br>Hide Female Header / Load Male Header based on Parameter</li>
                                                                    <li class="process-hook"><strong>[Hide or Unhide Section]</strong><br>Hide Male Header / Load Female Header based on Parameter</li>
                                                                    <li class="process-hook"><strong>[Send Lead Notification]</strong><br>Send Lead Data to Careflex partner and treaction consultants</li>
                                                                </ul>
                                                            </div>
                                                            <!-- ./ FIRST DRAG&DROP COLLUM -->
                                                            <div class="col-2">
                                                                <div class="process-hooks-arrow">
                                                                    <center>
                                                                        <i class="process-hooks-arrow-icon far fa-exchange-alt"></i>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                            <!-- SECOND DRAG&DROP COLLUM -->
                                                            <div class="col-5">
                                                                <div class="kt-heading kt-heading--md">Active Workflow Actions</div>
                                                                <ul id="userFacets" class="process-hooks-list-2">

                                                                    <li class="process-hook"><strong>[Send Lead Notification]</strong><br>Lead Email to treaction WebDevs (TESTING)</li>
                                                                    <li class="process-hook"><strong>[Send Double Opt-In Email]</strong><br>DOI Email for enfair leads</li>
                                                                </ul>
                                                            </div>
                                                            <!-- ./ SECOND DRAG&DROP COLLUM -->
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 4(Process Control)-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>
                            <!--begin: CSRF token -->
                            <input type="hidden" name="token" value="{{ csrf_token('campaign-create') }}"/>
                            <!--End Csrf token -->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Create page
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-ne" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->

{% endblock %}
{% block javascripts %}


    <!-- JAVASCRIPT FOR DRAG AND DROP WORKFLOW ACTION CONTROL -->
    <script>
        $(function() {
            $("#allFacets, #userFacets").sortable({
                connectWith: "ul",
                placeholder: "placeholder",
                delay: 150
            })
                .disableSelection()
                .dblclick( function(e){
                    var item = e.target;
                    if (e.currentTarget.id === 'allFacets') {
                        //move from all to user
                        $(item).fadeOut('fast', function() {
                            $(item).appendTo($('#userFacets')).fadeIn('slow');
                        });
                    } else {
                        //move from user to all
                        $(item).fadeOut('fast', function() {
                            $(item).appendTo($('#allFacets')).fadeIn('slow');
                        });
                    }
                });
        });
    </script>
    <!-- ./JAVASCRIPT FOR DRAG AND DROP WORKFLOW ACTION CONTROL -->

    {#begin  fraud checking script#}
    <script type="text/javascript" src="{{ jsurl }}/data-local.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    {#endof fraud checking script#}
    <script src="{{ jsurl }}/jquery-sortable.js"></script>
    <script>
        //Declaration of variables used in js file
        let companyName = "{{ campaign.company_name is defined ? campaign.company_name:'' }}";
        let pageFlowSettings = {#  {{ campaign.pageFlowDefaultSettings|json_encode|raw }} #};
    </script>
    <script type="text/javascript" src="{{ jsurl }}/create/createPage.js"></script>

{% endblock %}
