{# ############################################################################### #}
{# NOTE: The term "Workflow Action"  was substitued by so called "Workflow Action"    #}
{#  if code deals with something called "workflow action", "workflow action" is meant #}
{# ############################################################################### #}
{% extends "app.twig" %}

{% block content %}


    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->
    <script src="https://kit.fontawesome.com/452d9f64c6.js" crossorigin="anonymous"></script>
    <!-- COMMENT: FONT AWESOME SCRIPT - NEEDS TO BE ADDED GLOBALLY -->


    <!-- COMMENT: NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->
    <style>
        /* BEGIN - workflow actions menus style */
        .ph-full-width-table-collum{
            width:100%;
        }
        .ph-wrapper-drop-down-button{
            width:100%;
            padding-top:15px!important;
        }
        .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
            width: 100%;
            padding-left: 0rem !important;
        }
        .text-green{
            color:#7abe73;"
        }
        /* END - workflow actions menu styles */
    </style>
    <!-- COMMENT:  NEEDS TO BE ADDED TO PUBLIC/ ASSETS CSS FILE -->




    <!-- BEGIN:: HTML WORKFLOW ACTION MENUS OVERVIEW -->

    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{campaigns[0].error is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{campaigns[0].error is defined ? campaigns[0].error :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->

    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{campaigns[0].success is defined ? "show" : "kt-hide"}}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{campaigns[0].success is defined ? campaigns[0].success :''}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->

    {# BEGIN - workflow actions-interface - AVAILABLE #}

    <!-- begin: integration interface AVAILABLE - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Workflow Actions</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">manage your project workflow actions</span>
        </div>
    </div>
    <div class="kt-subheader kt-grid__item" id="kt_subheader" style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main"></div>
        <!--begin:sub-control menu - with available, defined, archived buttons -->
        <div class="kt-subheader__toolbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a style="background-color: #c2bfbf;" class="nav-link active" href="{#  {{ path('webhook.active') }} #}">available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{# {{ path('webhook.draft') }} #}">defined</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{# {{ path('webhook.archive') }} #}">archived</a>
                </li>
            </ul>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- end: integration interface AVAILABLE - head -->

    {#
    {% set id = 1 %}
    {% if (campaigns is defined) and campaignHasRecords %}
        {% for campaign in campaigns %}
    #}

    <!-- begin: workflow actions- interface AVAILABLE - content -->
    <div class="kt-wizard-v4">
        {#
        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}
        #}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">

                            <div class="kt-heading kt-heading--md">Choose a <strong>Workflow Action</strong> to configure for your Page or Webhook</div>
                            <hr>
                            <span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle" aria-hidden="true"></i> Workflow Actions are bound to your project. You can create different and many of the same Workflow Actions in your project. In the table below you
                            can choose a pre-defined Workflow Action and configure it to your needs. Once configured, you can add the Workflow Action to your Page or Webhook through the Page- or Webhook Wizard.</span>

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" style="border-bottom:none;">
                                <div class="kt-form__section kt-form__section--first">
                                        <!--Begin: all workflow actions-->
                                            <!--begin::Advance Table Widget 1-->
                                            <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                                <!--begin::Body-->
                                                <div class="card-body py-0">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                                            <tbody>
                                                            <!-- BEGIN: Workflow Action 1 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Lead Notification]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Forward information from your Leads to one or more Email Addresses</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 1 -->

                                                            <!-- BEGIN: Workflow Action 2 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Start Marketing Automation]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Trigger a Marketing Automation in eMail-In-One or other platforms</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 2 -->
                                                            <!-- BEGIN: Workflow Action 3 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Double Opt-In Email]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Send your lead an Email through eMail-In-One to confirm their subscription</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 3 -->
                                                            <!-- BEGIN: Workflow Action 4 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Call Contact Event]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Call a Contact Event through eMail-In-One to trigger Email events</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 4 -->
                                                            <!-- BEGIN: Workflow Action 5 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Double Opt-In Email or Call Contact Event]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">A combination of both DOI Email and calling a Contact Event through eMail-In-One</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 5 -->
                                                            <!-- BEGIN: Workflow Action 6 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Set Smart Tag]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Define the names of Smart Tags used on your Page</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 6 -->
                                                            <!-- BEGIN: Workflow Action 7 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Remove Smart Tag]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Remove Smart Tags defined on your Page</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 7 -->
                                                            <!-- BEGIN: Workflow Action 8 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Show Popup]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Configure and show a Popup on your Page triggered by an Event</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 8 -->
                                                            <!-- BEGIN: Workflow Action 9 -->
                                                            <tr>
                                                                <td class="pl-0 ph-full-width-table-collum">
                                                                    <span class="text-green font-weight-bolder text-hover-primary mb-1 font-size-lg">[Hide or Unhide Section]</span>
                                                                    <span class="text-muted font-weight-bold text-muted d-block">Hide Content on your Page based on target group or traffic category</span>
                                                                </td>
                                                                <td class="pr-0 text-right ph-wrapper-drop-down-button">
                                                                    <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                            data-toggle="dropdown" aria-expanded="true">action
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                        <a class="dropdown-item" href="#">Workflow Action information</a>
                                                                        <a class="dropdown-item" href="#">Configure Workflow Action</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END: Workflow Action 9 -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Advance Table Widget 1-->
                                        <!--End: all workflow actions- -->
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>

                            {#
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Create Webhook
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Install integration
                                </button>
                            </div>
                            <!--end: Form Actions -->
                            #}

                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: workflow actions- interface AVAILABLE - content  -->

    {# END - workflow actions interface - AVAILABLE #}

    {# BEGIN - workflow actions interface - DEFINED #}

    <!-- begin: workflow actions interface DEFINED - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Workflow Actions</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">manage your project workflow actions</span>
        </div>
    </div>
    <div class="kt-subheader kt-grid__item" id="kt_subheader" style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main"></div>
        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a  class="nav-link " href="{#  {{ path('webhook.active') }} #}">available</a>
                </li>
                <li class="nav-item">
                    <a style="background-color: #7abe73;" class="nav-link active" href="{# {{ path('webhook.draft') }} #}">defined</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{# {{ path('webhook.archive') }} #}">archived</a>
                </li>
            </ul>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- begin: integration interface DEFINED - head -->

    {#

    {% set id = 1 %}
    {% if (campaigns is defined) and campaignHasRecords %}

        {% for campaign in campaigns %}
    #}

    <!-- begin: workflow actions- interface DEFINED - content -->
    <div class="kt-wizard-v4">
        {#
        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}
        #}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">

                            <div class="kt-heading kt-heading--md">Overview of your defined <strong>Workflow Actions</strong></div>
                            <hr>
                            <span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle" aria-hidden="true"></i> In the table below you can find all your Workflow Actions which you have configured.
                            Once you have added your Workflow Actions through the Wizards to your Page or Webhook, the table will show data
                            on which Page(s) or Webhook(s) the Workflow Action is active on, which Button or Event the Workflow Action is defined to and which date your Workflow Action
                            was created. </span>

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" style="border-bottom:none;">
                                <div class="kt-form__section kt-form__section--first">
                                    <!--Begin: all workflow actions-->
                                    <!--begin::Advance Table Widget 1-->
                                    <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                        <!--begin::Body-->
                                        <div class="card-body py-0">
                                            <!--begin::Table-->
                                            <div class="table-responsive">
                                                <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                                    <tbody>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Lead Notification]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">Send Lead Data to Careflex partner and treaction consultants</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold">[Page] CareFlex-campaign-KITA-10.2020</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Button] Submit</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">10.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Lead Notification]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">Lead Email to treaction WebDevs (TESTING) </span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] TRE_test_page_V1</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] TRE_test_page_V2</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] TRE_test_page_V3</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Button] Submit</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">01.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Double Opt-In Email]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">DOI Email for enfair leads</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] enfair-b2b-campaign-SEA-2012</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Button] Submit</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">05.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Show Popup]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">trigger Popup when user changes the tab </span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[not defined]</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Event] ChangeTab</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">03.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Hide or Unhide Section]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">Hide Female Header / Load Male Header based on Parameter</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] Sport LP B2C Gewinnspiel</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Event] LoadPage</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">09.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Hide or Unhide Section]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">Hide Male Header / Load Female Header based on Parameter</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] Sport LP B2C Gewinnspiel</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Event] LoadPage</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">09.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--end::Table-->
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Advance Table Widget 1-->
                                    <!--End: all workflow actions- -->
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>

                            {#
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Create Webhook
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Install integration
                                </button>
                            </div>
                            <!--end: Form Actions -->
                            #}


                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: workflow actions- interface DEFINED - content  -->

    {# END - workflow actions interface - DEFINED #}

    {# BEGIN - integration interface - ARCHIVED #}

    <!-- begin: integration interface ARCHIVED - head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Workflow Actions</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">manage your project workflow actions</span>
        </div>
    </div>
    <div class="kt-subheader kt-grid__item" id="kt_subheader" style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main"></div>
        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{#  {{ path('webhook.active') }} #}">available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{# {{ path('webhook.draft') }} #}">defined</a>
                </li>
                <li class="nav-item">
                    <a style="background-color: #ffb822; " class="nav-link active" href="{# {{ path('webhook.archive') }} #}">archive</a>
                </li>
            </ul>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- begin: integration interface ARCHIVED - head -->

    {#

    {% set id = 1 %}
    {% if (campaigns is defined) and campaignHasRecords %}

        {% for campaign in campaigns %}

    #}

    <!-- begin: integration interface ARCHIVED - content -->
    <div class="kt-wizard-v4">
        {#
        {% if campaign.settings is defined %}
            {% set c_set = campaign.settings %}
        {% endif %}
        #}
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form method="post" class="kt-form" id="kt_form" enctype="multipart/form-data">
                            <div class="kt-heading kt-heading--md">Overview of your archived <strong>Workflow Actions</strong></div>
                            <hr>
                            <span style="font-size: 14px; color:#a7abc3;"><i class="far fa-info-circle" aria-hidden="true"></i> In the table below you can find all your Workflow Actions which you have
                            archived. </span>
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" style="border-bottom:none;">
                                <div class="kt-form__section kt-form__section--first">
                                    <!--Begin: all workflow actions-->
                                    <!--begin::Advance Table Widget 1-->
                                    <div class="card card-custom card-stretch gutter-b" style="margin-top:40px;">
                                        <!--begin::Body-->
                                        <div class="card-body py-0">
                                            <!--begin::Table-->
                                            <div class="table-responsive">
                                                <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                                    <tbody>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Send Double Opt-In Email]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">DOI Email for enfair leads</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[Page] enfair-b2b-campaign-SEA-2012</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Button] Submit</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">05.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="pl-0">
                                                            <span style="color:#7abe73;" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">[Show Popup]</span>
                                                            <span class="text-muted font-weight-bold text-muted d-block">trigger Popup when user changes the tab </span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Active on:</span>
                                                            <span class="text-muted font-weight-bold d-block">[not defined]</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Action:</span>
                                                            <span class="text-muted font-weight-bold">[Event] ChangeTab</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Date:</span>
                                                            <span class="text-muted font-weight-bold">03.12.2020</span>
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td class="pr-0 text-right" style="padding-top:20px;">
                                                            <button type="button" class="btn btn-success btn-sm btn-upper"
                                                                    data-toggle="dropdown" aria-expanded="true">action
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" style="margin-top:40px;">
                                                                <a class="dropdown-item" href="#">Archive Workflow Action</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--end::Table-->
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Advance Table Widget 1-->
                                    <!--End: all workflow actions- -->
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <script>
                                var input = document.querySelector('input[name=basic]');

                                // init Tagify script on the above inputs
                                new Tagify(input)

                            </script>

                            {#
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-prev">
                                    Previous
                                </button>

                                <button name="submit" type="submit" id="finalSubmit"
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        data-ktwizard-type="action-submit">
                                    Create Webhook
                                </button>

                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                        id="cio-select-next" data-ktwizard-type="action-next">
                                    Install integration
                                </button>
                            </div>
                            <!--end: Form Actions -->
                            #}
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: integration interface ARCHIVED - content  -->

    {# END - integration interface - ARCHIVED #}


    {#
    {% set id = id + 1 %}
{% endfor %}
{% endif %}
    #}

    </div>
    </div>

    <!-- END:: HTML WORKFLOW ACTION MENUS OVERVIEW  -->

{% endblock %}

{% block javascripts %}

{% endblock %}

