{% extends "app.twig" %}

{% block content %}
    <style>
        /* jsr: added for permission handling hints WEB-3850 */
        button:disabled:hover:after {
            content: " : unsufficient privileges!";
        }

        .modal {
            top: 70px !important;
            /* display: block;*/
            overflow: unset;
            background: rgba(255, 255, 255, 0.5);
        }

        h5.modal-title {
            color: #fff !important;
        }

        div.modal-header {
            background: #191919;
            color: #fff;
        }

        div.modal-body p {
            font-size: 20px !important;
        }

        .modal-footer button {
            background: #7abe73;
            color: #fff;
        }

        div#company_msg p {
            font-size: 14px;
        }

        p#message {
            font-size: 15px !important;
            width: 75% !important;
            font-weight: 500;
            margin-bottom: 2px;
        }
    </style>

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
                <span></span>
            </button>

            <h3 class="kt-subheader__title">Account Settings</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">account information</span>

        </div>

    </div>
    <!-- end:: Content Head -->

    <!-- begin:: warnings  -->
    {% if error is not defined %}
        {% set error = app.request.get('error') %}
    {% endif %}
    {% if error is defined %}
        <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon">
                <i class="flaticon-warning"></i>
            </div>
            <div class="alert-text">{{ app.request.get('error') }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}
    <!-- end:: warnings -->


    <!--begin:alert -->
    {% if success is defined %}
        <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
            <div class="alert-icon">
                <i class="far fa-check-square"></i>
            </div>
            <div class="alert-text">{{ success }}</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>
    {% endif %}
    <!--end:alert -->


    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            {# Hide menu for DPA acceptance #}

            {# removed
            {% if hide_menu is defined and hide_menu == false %}
                <!--Begin:: App Aside-->
                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                    <!--begin:: Widgets/Applications/User/Profile1-->
                    <div class="kt-portlet ">

                        <p>&nbsp;</p>

                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <!--begin::Widget -->
                            <!--Left Menu for the account level settings -->
                            {{ include('/account/leftmenu.twig') }}
                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--end:: Widgets/Applications/User/Profile1-->

                </div>
                <!--End:: App Aside-->
            {% endif %}
            #}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Account information
                                        <small>{{ company.name ? company.name : '' }}</small>
                                    </h3>
                                </div>
                            </div>

                            {% if (user_is_master_admin or user_is_super_admin) or (user_is_admin and (user_company_name == company.name )) %}
                                {% set caneditform = "true" %}
                                {% set readonly = "" %}
                                {% set disabled = "" %}
                            {% else %}
                                {% set caneditform = "false" %}
                                {% set readonly = "readonly style=cursor:not-allowed" %}
                                {% set disabled = "disabled='true' style=cursor:not-allowed" %}
                            {% endif %}

                            <form id="accupdate" class="kt-form kt-form--label-right" method="post"
                                  data-canEditForm="{{ caneditform }}">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            {# removed => redundant
                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Account
                                                        information:</h3>
                                                </div>
                                            </div>
                                            #}

                                            {% if deletion_date is defined and (deletion_date | length) > 0 %}
                                                <div class="form-group row" style="color: red">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">This account will expire on</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input class="form-control border-0" value="{{ deletion_date }}" type="text" readonly style="color: red">
                                                    </div>
                                                </div>
                                            {% endif %}


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"
                                                       title="{{ company.id }}-{{ company.account_no }}">Account Number
                                                </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control border-0"
                                                           value="{{ company.account_no }}" type="text" disabled>
                                                </div>
                                            </div>
                                            <div id="company_msg" style="font-size: small"></div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Company Name *</label>
                                                <div class="col-lg-9 col-xl-6">

                                                    <input class="form-control" id="company_name" value="{{ company.name }}"
                                                           name="company_name" data-action="update_company" type="text"
                                                            {{ readonly }}>
                                                    <select class="form-control" id="company_name_recomedations">
                                                        <option class="form-control">Available Company Names</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Contact
                                                        Information:</h3>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text"><i
                                                                        class="la la-phone"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               value="{{ company.phone }}" name="phone" type="text"
                                                               aria-describedby="basic-addon1" {{ readonly }}>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Website Domain *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="website"
                                                           class="form-control"
                                                           value="{{ company.website }}"
                                                           name="website"
                                                           type="text"
                                                           placeholder="e.g. https://marketing-in-one.net"
                                                            {{ readonly }}
                                                           required>
                                                </div>
                                            </div>

                                            {# REMOVED: replaced in Project Wizard
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">URL Options *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control" name="url_option" {{ disabled }}
                                                            required>
                                                        <option class="select-option"
                                                                value="folder" {{ company.url_option == "folder" ? "selected" : "" }} >
                                                            Folder
                                                        </option>
                                                        <option class="select-option"
                                                                value="sub-domain" {{ company.url_option == "sub-domain" ? "selected" : "" }}>
                                                            SubDomain
                                                        </option>
                                                        <option class="select-option"
                                                                value="delegate-domain" {{ company.url_option == "delegate-domain" ? "selected" : "" }}>
                                                            Delegate Domain
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            #}

                                            <div class="form-group row" id="input_domain">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Delegated Domain</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" value="{{ company.delegated_domain }}"
                                                           id="input_domain_value" name="delegated_domain"
                                                           type="text" {{ readonly }}>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Street / house number *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" value="{{ company.street }}"
                                                           name="address" type="text" {{ readonly }} required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Postal code *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" value="{{ company.postal_code }}"
                                                           name="plz" type="text" {{ readonly }} required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">City *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" value="{{ company.city }}" name="city"
                                                           type="text" {{ readonly }} required>
                                                </div>
                                            </div>

                                            {% set eu_countries = [
                                                'Austria','Belgium','Bulgaria','Croatia',
                                                'Cyprus','Czechia','Denmark', 'Estonia',
                                                'Finland','France','Germany','Greece',
                                                'Hungary','Ireland','Italy','Latvia',
                                                'Lithuania','Luxembourg','Malta','Netherlands',
                                                'Poland','Portugal','Romania','Slovakia',
                                                'Slovenia','Spain','Sweden','Switzerland'
                                            ] %}
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Country *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control"
                                                            name="advancedsettings_country" {{ readonly }} required>
                                                        <option value="0">None</option>

                                                        {% for country in eu_countries %}
                                                            {% if company.country is defined and country == company.country %}
                                                                <option value="{{ country }}" selected="">{{ country }}</option>
                                                            {% else %}
                                                                {% if( company.country is not defined and country == 'Germany' ) %}
                                                                    <option value="{{ country }}" selected="">{{ country }}</option>
                                                                {% else %}
                                                                    <option value="{{ country }}" >{{ country }}</option>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    {# <input class="form-control" value="{{ company.country }}"
                                                           name="country"
                                                           type="text" {{ readonly }}> #}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">VAT</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" value="{{ company.vat }}" name="vat"
                                                           type="text" {{ readonly }}>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Policy Information:</h3>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">URL Imprint</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="url_imprint"
                                                           class="form-control checkurl"
                                                           value="{{ company.url_imprint }}"
                                                           name="url_imprint"
                                                           type="text"
                                                           placeholder="url for generated pages imprint e.g.  https://marketing-in-one.net/imprint"
                                                            {{ readonly }}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">URL Privacy Policy</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="url_privacy_policy"
                                                           class="form-control checkurl"
                                                           value="{{ company.url_privacy_policy }}"
                                                           name="url_privacy_policy"
                                                           type="text"
                                                           placeholder="url for generated pages privacy policy e.g. e.g.  https://marketing-in-one.net/privacypolicy"
                                                            {{ readonly }}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">URL GTC/AGB</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input id="url_privacy_policy"
                                                           class="form-control checkurl"
                                                           value="{{ company.url_gtc }}"
                                                           name="url_gtc"
                                                           type="text"
                                                           placeholder="url for generated pages privacy policy e.g. e.g.  https://marketing-in-one.net/agb"
                                                            {{ readonly }}>
                                                </div>
                                            </div>


                                            {% if current_user.dpa != '1' %}
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                                    <div class="col-lg-9 col-xl-6">

                                                        <input type="checkbox" id="dpa" name="dpa"
                                                               required {{ current_user.dpa == '1'? 'checked':'' }}>
                                                        {# TODO: this text must be configurable in some admin area #}
                                                        <small>&nbsp;&nbsp;Ich, stimme der Verarbeitung von Daten im Auftrag
                                                            gemäß
                                                            Art. 28 DSGVO zu.
                                                            Die Regelungen im
                                                            <a href="https://treaction.net/dpa_deutsch/"
                                                               target="_blank">Vertrag
                                                            </a>
                                                            zur
                                                            Auftragsdatenverarbeitung habe ich gelesen und akzeptiert. Ich
                                                            werde per
                                                            E-Mail eine Ausfertigung des Vertrags erhalten.
                                                        </small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <input type="checkbox" id="dpa" name="dpa" required checked style="display:none">
                                            {% endif %}

                                            {# removed => went under cog wheel in main menu
                                            {% if user_is_super_admin %}

                                                 <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">

                                                    </label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <button class="btn btn-brand btn-elevate kt-login__btn-primary dropdown-toggle"
                                                                type="button" data-toggle="collapse"
                                                                data-target="#collapseDelAccount" aria-expanded="false"
                                                                aria-controls="collapseExample" style="float: right">
                                                            Delete Account By Email
                                                        </button>

                                                    </div>
                                                </div>


                                                 <div class="collapse" id="collapseDelAccount">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">

                                                        </label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <p style="color:red"><i
                                                                        class="fas  fa-exclamation-triangle fa-lg"
                                                                        aria-hidden="true"></i> <b>WARNING:</b><br>Deleteing
                                                                an account by email-address means, you'll delete all
                                                                objects like the <b>assigned company</b>, company users,
                                                                campaigns, campaign landing pages and leads along with
                                                                all data assigned to mentioned objects!
                                                                <br></br><b>If your current login belongs to the <b>assigned
                                                                        company</b> your own user will be deleted as
                                                                    well!</b>
                                                                <br><br><i class="fas  fa-info-circle fa-lg"
                                                                           aria-hidden="true" style="color:#191919"></i><span
                                                                        class="kt-widget__desc" style="color: #191919"> <b>Delete User only:</b><br>If you just want to delete a user and keep the users company assigned data objects, goto <a
                                                                            href="{{ url }}admintool/master/manageusers">Manage Users</a>.</span>
                                                            </p>
                                                            <input id="delbyemail" class="form-control" value=""
                                                                   name="delbyemail" type="email"
                                                                   placeholder="enter user email address" {{ readonly }}>
                                                            <button id="checkdelaccount" type="button"
                                                                    class="col-xl-3 col-lg-3 col-form-label btn btn-brand"
                                                                    style="background-color:red;border-color: red"
                                                                    data-route="{{ (url ~ 'admintool/super/getcountaffectedusers')|base64encode }}"
                                                                    data-routeproceed="{{ (url ~ 'admintool/super/deleteaccountbyemail')|base64encode }}">
                                                                Delete
                                                            </button>
                                                            <div id="msg_delaccbyemail" style="display: none"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            #}


                                        </div>
                                    </div>
                                    <input type="hidden" name="token" value="{{ csrf_token('company-update') }}"/>
                                    <input type="hidden" name="id" value="{{ company.id }}"/>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            {% if (caneditform == 'true' ) %}
                                                <div class="col-lg-2 col-xl-2">
                                                    <button id="saveaccount" name="submit" type="submit"
                                                            class="btn btn-brand btn-elevate kt-login__btn-primary">
                                                        Update
                                                    </button>
                                                </div>
                                                <div class="col-lg-7 col-xl-7">
                                                    {% if user_is_master_admin %}

                                                        <a href="{{ path('master.deleteaccount') }}" class="btn btn-default btn-xs" role="button" style="background-color: red; color:white;float:right">
                                                            <span class="kt-menu__link-text">Go to Delete Account</span>&nbsp;&nbsp;<i class="fa fa-trash fa-sm" style="color:white; opacity: 0.7"></i>
                                                        </a>

                                                    {% endif %}

                                                    {% if user_is_super_admin %}

                                                        <a href="{{ path('super.deleteaccount') }}" class="btn btn-default btn-xs" role="button" style="background-color: red; color:white; float:right">
                                                            <span class="kt-menu__link-text">Go to Delete Account</span>&nbsp;&nbsp;<i class="fa fa-trash fa-sm" style="color:white;opacity: 0.7"></i>
                                                        </a>

                                                    {% endif %}
                                                </div>

                                            {% else %}
                                                <div class="col-lg-9 col-xl-9">


                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        const apiInOne = "{{ app.request.server.get('APIINONE_URL') }}"
    </script>
    {# {% if (user_is_super_admin or user_is_master_admin) %} #}
    <script src="{{ jsurl }}/accupdate-twig.js" type="text/javascript"></script>
    {# {% endif %} #}
    <script type="text/javascript">
        // Account Deligated Domain
        var ddomain = $('#input_domain_value').val();

        if (!ddomain.trim() && ($('form select option:selected').val() != 'delegate-domain')) {
            $('#input_domain').hide();
        }

        $('form select[name=url_option]').change(function () {
            if ($('form select option:selected').val() == 'delegate-domain') {
                $('#input_domain').show();
            } else {
                $('#input_domain').hide();
            }
        });

        $(".hide").hide();
        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });

        let apikey = $('#shopware-apikey-show').data('source');
        if (apikey) {
            let encryptApiKey = apikey.replace(/.(?=.{4})/g, 'x');
            $('p#key').text(encryptApiKey);
            //POPUP : FadeIn popup
            $('#shopware-apikey-show').fadeIn();
            //POPUP : close APIKey
            $('button#close-apikey-popup').click(function () {
                $('#shopware-apikey-show').fadeOut();
            });
            //POPUP : copy APIKey
            $('button#copy-apikey').click(function () {
                copyToClipboard('#masterkey');
                $('#message').text('APIKey is copied to clipboard');
                $('#shopware-apikey-show').delay(800).fadeOut();
            });
        }

        /**
         * Function to copy content to Clipboard.
         * @param element
         */
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>

{% endblock %}
